<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition>
	<title>#{applicationBean.appName}</title>
	<h:outputStylesheet library="css" name="template.css" />
	<h:outputStylesheet library="css" name="sm-core-css.css" />
	<h:outputStylesheet library="css" name="sm-blue/sm-blue.css" />
	<h:outputStylesheet name="css/aplicacion.css" />
	<h:outputStylesheet name="css/aplicacion.skin.css" />
	<h:outputScript name="jsf.js" library="javax.faces" />
	<h:outputScript name="jquery.js" />
	<h:outputScript library="maxlength" name="jquery.maxlength-min.js" />
	<h:outputScript library="alphanum" name="jquery.alphanum.js" />	 
	<h:outputScript library="js" name="util.js" />
	<h:outputScript library="js" name="validaciones.js" />
	<h:outputScript library="js" name="exco-util.js"/>

	<div class="header">
		<h1 class="logo">
			<h:graphicImage
				value="/resources/images/logos/petroecuador_blanco.png"
				title="PetroEcuador" />
		</h1>
		<div class="inside-head">
			<div class="sesion-status">
				<h:form>
					<h:panelGrid columns="15">
						<h:outputLink value="../pages/main.jsf"></h:outputLink>
						<h:commandLink action="#{loginBean.logout}" value="logout" />
						<h:graphicImage value="/resources/images/icons/user-petro.png"
							title="icon" />
						<h:outputText class="name-user" value="#{controlBB.user.username}" />
					</h:panelGrid>
				</h:form>
			</div>
			<h2>
				<small>Departamento de Aduanas</small> <span class="violeta">GERENCIA</span>
				DE COMERCIO <span class="azulado">INTERNACIONAL</span>
			</h2>
			<h:form>
				<p:menubar  autoDisplay="true"  model="#{menuHorizontalBean.modelo}" />
			</h:form>
		</div>
	</div>
</ui:composition>
</html>