<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<f:view locale="#{localeBean.locale}" contentType="text/html">
<h:outputStylesheet library="css" name="template.css"  />
<h:outputStylesheet library="css" name="excoCSS.css"  />
<h:outputStylesheet library="css" name="sm-core-css.css" />
	<h:outputStylesheet library="css" name="sm-blue/sm-blue.css" />
	<h:outputStylesheet name="css/aplicacion.css" />
	<h:outputStylesheet name="css/aplicacion.skin.css" />
	<h:outputScript name="jsf.js" library="javax.faces" />
	<h:outputScript name="jquery.js" />
	<h:outputScript library="maxlength" name="jquery.maxlength-min.js" />
	<h:outputScript library="alphanum" name="jquery.alphanum.js" />	 
	<h:outputScript library="js" name="util.js" />
	<h:outputScript library="js" name="validaciones.js" />
	<h:outputScript library="js" name="exco-util.js"/>
  <h:head>
    <ui:insert name="header">
      <ui:include src="header.xhtml" />
    </ui:insert>
  </h:head>
  <h:body>        
        <h:panelGroup layout="block"  styleClass="aside">
           <ui:insert name="menu">
              <ui:include src="menu.xhtml" />
            </ui:insert>
        </h:panelGroup>
        
		 <h:panelGroup layout="block" styleClass="information">
		 
		 <h:panelGroup styleClass="box-info" layout="block">
            <ui:insert name="content" />
		</h:panelGroup>
        </h:panelGroup>
        
        <div id="dialogos">
			<ui:insert name="dialogos" />
		</div>
		
		<div id="evento">
			<ui:insert name="evento">			
			</ui:insert>
		</div>
        
    	<ui:insert name="footer">
            <ui:include src="footer.xhtml" />
        </ui:insert>
  </h:body>
</f:view>
</html>