<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<f:view locale="#{localeBean.locale}" contentType="text/html">
	<h:head>

	</h:head>
	<h:body>
		<h:outputStylesheet library="css" name="template.css" />
		<h:outputStylesheet library="css" name="responsive.css" />

		<h1 class="logo_inicio">
			<h:graphicImage
				value="/resources/images/logos/petroecuador_blanco.png"
				title="Petroecuador" />
		</h1>


		<h1 class="introtitle">Error en Sistema</h1> 
		<br/>
		<br/>
		<br/>
		<br/>
		<h3 align="center" > 
			<strong style="color:red ">Ha ocurrido un error en la aplicaci&oacute;n:</strong>
			<p:messages id="msgs" showDetail="true" redisplay="true"
				autoUpdate="true" closable="true" />
			<br></br>
			<h:link value="Ir al Inicio" outcome="/pages/main.jsp" />
		</h3>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<div class="footer">Powered by CONSORCIO QUALITY-CORPORATIVA ©
			2015 - Todos los derechos reservados</div>

	</h:body>
</f:view>
</html>