.rich-stglpanel {
	padding: 0px;
	margin-bottom: 5px;
	/*border: none;*/
}

.rich-stglpanel-header {
	border-left: none;
	border-top: none;
	border-right: none;
	height: 18px;
	padding-left: 10px;
	padding-top: 5px;
	height: 15px;
}

.rich-stglpanel-body {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.rich-panel {
	margin-bottom: 0px;
	border: none;
}

.rich-panel-header {
	padding-left: 10px;
	padding-top: 5px;
}

.rich-panel-body {
	background-color: #E4EAEF;
	margin: 0px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.rich-table {
	width: 100%;
	/*border: none;*/
}

.rich-table-header {
	height: 18px;
}

.rich-table-subheader { /*border: none;*/
	background-color: #bbb;
}

.rich-table-footercell { /*border: none;*/
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.rich-pmenu-hovered-element {
	background-color: #C6D2DD;
}

.rich-pmenu-selected-element {
	background-color: #C6D2DD;
}



