<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../../templates/layout.xhtml">
	<ui:define name="content">

		<h:form id="form">
			<p:messages id="msgs" showDetail="true" redisplay="true"
				closable="true" />
			<p:contextMenu for="cars">
				<p:menuitem value="View" update="carDetail" icon="ui-icon-search"
					oncomplete="PF('carDialog').show()" />
				<p:menuitem value="Delete" update="cars" icon="ui-icon-close"
					actionListener="#{accionBB.modificarAccion}" />
			</p:contextMenu>

			<p:dataTable id="cars" var="car" value="#{accionBB.listaAcciones}"
				rowKey="#{car.id}" selection="#{accionBB.selectedAccion}"
				selectionMode="single">
				<f:facet name="header">
            RightClick to View Options
        </f:facet>
				<p:column headerText="Id">
					<h:outputText value="#{car.id}" />
				</p:column>
				<p:column headerText="Year">
					<h:outputText value="#{car.descripcion}" />
				</p:column>
				<p:column headerText="Brand">
					<h:outputText value="#{car.estado}" />
				</p:column>
				<p:column headerText="Color">
					<h:outputText value="#{car.usuario_crear}" />
				</p:column>
			</p:dataTable>

			<p:dialog header="Car Info" widgetVar="carDialog" modal="true"
				showEffect="fade" hideEffect="fade" resizable="false">
				<p:outputPanel id="carDetail" style="text-align:center;">
					<p:panelGrid columns="2"
						rendered="#{not empty accionBB.selectedAccion}">

						<h:outputText value="Id:" />
						<h:outputText value="#{accionBB.selectedAccion.id}" />

						<h:outputText value="Year" />
						<h:outputText value="#{accionBB.selectedAccion.descripcion}" />

						<h:outputText value="Color:" />
						<h:outputText value="#{accionBB.selectedAccion.estado}" />

						<h:outputText value="Price" />
						<h:outputText value="$#{accionBB.selectedAccion.usuario_crear}" />
					</p:panelGrid>
				</p:outputPanel>
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>
</html>