<f:view xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"> 
<h:form>
			<p:dialog header="Eliminar Menu" widgetVar="menuEliminarDialog" modal="true"
				showEffect="fade" hideEffect="fade" resizable="false"
				styleClass="form-column">
				<h:panelGroup layout="block" styleClass="box-info">
					<p:panelGrid columns="2">
						<h:outputLabel value="ID" styleClass="enlinea" />
						<h:outputLabel value="ID" styleClass="enlinea" />
						<h:outputLabel value="Descripcion" styleClass="enlinea" />
						<h:outputLabel value="ID" styleClass="enlinea" />
						<h:outputLabel value="Estado" styleClass="enlinea" />
						<h:outputLabel value="ID" styleClass="enlinea" />
						<h:outputLabel value="Creado Por" styleClass="enlinea" />
						<h:outputLabel value="ID" styleClass="enlinea" />
						<h:outputLabel value="Creado el dia " styleClass="enlinea" />
						<h:outputLabel value="ID" styleClass="enlinea" />
						<h:outputLabel value="Modificado por " styleClass="enlinea" />
						<h:outputLabel value="ID" styleClass="enlinea" />
						<h:outputLabel value="Ultima Modificacion" styleClass="enlinea" />
						<h:outputLabel value="ID" styleClass="enlinea" />
					</p:panelGrid>
                    <h:commandButton value="Eliminar" styleClass="" action="#{accionBB.eliminarAccion}" />
				</h:panelGroup>
			</p:dialog>
		</h:form>
</f:view>