<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/layout.xhtml">
	<ui:define name="content">

		<h:panelGroup styleClass="box-info" layout="block">
			<h1>Creación Acciones</h1>
			<p:messages id="msgs" showDetail="true" redisplay="true"
				closable="true" />


			<br />
			<h:form id="table_accion">

				<h:outputFormat id="noRecordsFound"
					value="#{messages.label_no_records_found}">
					<f:param value="Acciones" />
				</h:outputFormat>


				<p:contextMenu for="table_accion">
					<p:menuitem value="Visualizar" icon="ui-icon-search"
						oncomplete="PF('menuDialog').show()" />
					<p:menuitem value="Modificar" icon="ui-icon-modificate" />
					<p:menuitem value="Eliminar" icon="ui-icon-close" />
				</p:contextMenu>

				<p:dataTable id="table_accion" paginator="true"
					paginatorPosition="bottom" resizableColumns="false"
					value="#{accionBB.listaAcciones}" var="accion" editable="true"
					styleClass="info-box"
					paginatorTemplate="   {FirstPageLink} {PreviousPageLink} {CurrentPageReport}  
				                                 {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

					<p:ajax event="rowEdit" listener="#{accionBB.modificarAccion}"
						update=":msgs" />
					<p:ajax event="rowEditCancel" listener="#{accionBB.eliminarAccion}" />


					<p:column headerText="Descripcion de Accion">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{accion.descripcion}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText id="modelInput" value="#{accion.descripcion}"
									style="width:100%">

								</p:inputText>
							</f:facet>
						</p:cellEditor>
					</p:column>
					<p:column headerText="Estado">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{accion.estado}" />
							</f:facet>
							<f:facet name="input">
								<h:selectOneMenu id="estado" styleClass="enlinea"
									value="#{accion.estado}">
									<f:selectItem itemDescription="Activado" itemLabel="Activado"
										itemValue="true" />
									<f:selectItem itemDescription="Desactivado"
										itemLabel="Desactivado" itemValue="false" />
									<f:validateRequired />

								</h:selectOneMenu>

							</f:facet>
						</p:cellEditor>
					</p:column>
				</p:dataTable>
			</h:form>
			<br />
			<h:form id="create_usuario" styleClass="form-column">
				<h:panelGroup styleClass="box-info" layout="block">
					<h:panelGroup styleClass="form-column" layout="block">
						<h:outputLabel styleClass="enlinea"
							value="Descripcion de la Accion " />
						<h:inputText styleClass="enlinea"
							value="#{accionBB.accion.descripcion}">
							<f:validateLength minimum="2" />
							<f:validateRequired />
						</h:inputText>
					</h:panelGroup>
					<h:panelGroup styleClass="form-column" layout="block">
						<h:outputLabel styleClass="enlinea" value="Estado de la Accion " />
						<h:selectOneMenu styleClass="enlinea"
							value="#{accionBB.accion.estado}">
							<f:validateRequired />
							<f:selectItem itemLabel="Seleccione un Estado.."
								noSelectionOption="true" itemDisabled="true" />
							<f:selectItem itemDescription="Activado" itemLabel="Activado"
								itemValue="true" />
							<f:selectItem itemDescription="Desactivado"
								itemLabel="Desactivado" itemValue="false" />
						</h:selectOneMenu>

					</h:panelGroup>

					<h:panelGroup styleClass="form-column" layout="block">
						<h:panelGroup styleClass="form-column" layout="block">
							<h:commandButton styleClass="guardar" value="Guardar"
								action="#{accionBB.guardar}" />
							<h:commandButton styleClass="cancelar" value="Cancelar"
								type="reset" />
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>
			</h:form>
		</h:panelGroup>

		<h:form>
			<p:dialog header="Detalles Menu" widgetVar="menuDialog" modal="true"
				showEffect="fade" hideEffect="fade" resizable="false"
				styleClass="form-column">
				<h:panelGroup layout="block" styleClass="box-info">
					<p:panelGrid columns="2">
						<h:outputLabel value="ID" styleClass="enlinea" />
						<h:outputLabel value="ID" styleClass="enlinea" />
						<h:outputLabel value="Descripcion" styleClass="enlinea" />
						<h:outputLabel value="ID" styleClass="enlinea" />
						<h:outputLabel value="Estado" styleClass="enlinea" />
						<h:outputLabel value="ID" styleClass="enlinea" />
						<h:outputLabel value="Creado Por" styleClass="enlinea" />
						<h:outputLabel value="ID" styleClass="enlinea" />
						<h:outputLabel value="Creado el dia " styleClass="enlinea" />
						<h:outputLabel value="ID" styleClass="enlinea" />
						<h:outputLabel value="Modificado por " styleClass="enlinea" />
						<h:outputLabel value="ID" styleClass="enlinea" />
						<h:outputLabel value="Ultima Modificacion" styleClass="enlinea" />
						<h:outputLabel value="ID" styleClass="enlinea" />
					</p:panelGrid>

				</h:panelGroup>
			</p:dialog>
		</h:form>

	</ui:define>
</ui:composition>
</html>