<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui">
<composite:interface>
	<composite:attribute name="label" />
	<composite:attribute name="value" />
	<composite:attribute name="required" default="false"
		type="java.lang.Boolean" />
	<composite:attribute name="idInput" />
	<composite:attribute name="length"
		shortDescription="Número de caracteres que definen el ancho del input asociado al componente" />
	<composite:attribute name="maxLength" default="255"
		shortDescription="Número máximo de caracteres que soporta el componente" />
	<composite:attribute name="disabled" type="java.lang.Boolean"
		default="false" />
	<composite:attribute name="labelRendered" type="java.lang.Boolean"
		default="true"
		shortDescription="Bandera que indica si el label asociado al componente debe o no ser mostrado" />
	<composite:attribute name="tooltipRendered" type="java.lang.Boolean"
		default="true"
		shortDescription="Bandera que indica si el tooltip asociado al componente debe o no ser mostrado" />



	<composite:implementation>
		<p:row>
			<p:column rendered="#{cc.attrs.labelRendered}">
				<h:outputLabel value="#{cc.attrs.label}: "
					styleClass="exco_form_label" />
				<h:panelGroup rendered="#{cc.attrs.required}" styleClass="exco_req">*</h:panelGroup>
			</p:column>
			<p:column>
				<p:inputText id="#{cc.attrs.idInput}" value="#{cc.attrs.value}"
					required="#{cc.attrs.required}" label="#{cc.attrs.label}"
					size="#{cc.attrs.length}" maxlength="#{cc.attrs.maxLength}"
					disabled="#{cc.attrs.disabled}">				
					<f:validator validatorId="validadorDouble" for="#{cc.attrs.idInput}"></f:validator>
					<p:ajax event="blur" update="@this" />
					<p:tooltip id="toolTip#{cc.attrs.idInput}" for="#{cc.attrs.idInput}"
						value="#{msg.inputDoubleTooltipText}" showEvent="focus"
						hideEvent="blur" rendered="#{cc.attrs.tooltipRendered}"/>
				</p:inputText>
			</p:column>
		</p:row>
	</composite:implementation>
</composite:interface>
</html>