<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/layout.xhtml">
	<ui:define name="content">
		<h:panelGroup styleClass="box-info" layout="block"
			rendered="#{not passwordBB.admin}">
			<h1 style="font-color: red">No puede Cambiar Contraseña de Super
				Usuario</h1>
		</h:panelGroup>
		<h:panelGroup styleClass="box-info" layout="block"
			rendered="#{passwordBB.admin}">
			<h1>Cambiar Contraseña</h1>

			<p:messages id="msgs" showDetail="true" redisplay="true" severity="info,error" autoUpdate="false"
				closable="true" />
			<br />
			<h:form id="change_pass" styleClass="form-column"
				rendered="#{passwordBB.admin}">
				<h:panelGroup styleClass="box-info" layout="block">
					<h2>
						<h:outputLabel styleClass="enlinea" value="Usuario Actual " />
						<br></br>
						<h:outputLabel styleClass="enlinea"
							value="#{passwordBB.usuario.username}" />
					</h2>
					<br></br>
					<h:outputLabel styleClass="enlinea" value="Contraseña Actual " />
					<h:inputText styleClass="enLinea" value="#{passwordBB.oldpassword}" />

					<h:outputLabel styleClass="enlinea" value="Nueva Contraseña" />
					<p:password id="p1" match="p2" styleClass="enlinea" required="true"
						value="#{passwordBB.nuevaContra}" />
					<h:outputLabel styleClass="enlinea"
						value="Repita su Nueva Contraseña" />
					<p:password id="p2" required="true" styleClass="enlinea"
						label="Contraseña" lang="es" value="#{passwordBB.nuevaContra}"
						feedback="true" />
					<h:panelGroup styleClass="form-column" layout="block">
						<h:panelGroup styleClass="form-column" layout="block">
							<h:commandButton styleClass="guardar" value="Guardar"
								action="#{passwordBB.cambiarPassword}" />
							<h:commandButton styleClass="cancelar" value="Cancelar"
								type="reset" />
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>
			</h:form>
		</h:panelGroup>
	</ui:define>
</ui:composition>
</html>