<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout.xhtml">
	<ui:define name="content">

		<h:panelGroup styleClass="box-info" layout="block"
			>
			<h1>Creación Menus</h1>
			<p:messages id="msgs" showDetail="true" redisplay="true" severity="info,error" autoUpdate="false"
				closable="true" />

			<h:form id="form" rendered="#{controlBB.tienePermisoUsuarioListar}">

				<p:dataTable id="basicDT" var="menus" value="#{menuBB.listaMenus}"
					paginator="true" paginatorPosition="bottom" rows="7"
					rendered="#{not empty menuBB.listaMenus}"
					paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

					<p:column headerText="
					Nombre delMenu">
						<h:outputText value="#{menus.nombreMenu}" />
					</p:column>

					<p:column headerText="Descripción del Menu">
						<h:outputText value="#{menus.descripcion}" />
					</p:column>
					<p:column headerText="URL del Menu">
						<h:outputText value="#{menus.url}" />
					</p:column>
					<p:column headerText="Padre del Menu">
						<h:outputText value="#{menus.menuPadre.nombreMenu}" />
					</p:column>
					<p:column headerText="Tipo de Menu ">
						<h:outputText value="#{menus.vertical}" />
					</p:column>
					<p:column headerText="Estado del Menu">
						<h:outputText value="#{menus.estado}" />
					</p:column>

					<p:column styleClass="form-colummn"
						style="width:100px;text-align: center" headerText="Opciones">
						<p:commandButton update=" :form :viewPanel"
							oncomplete="PF('menusViewDialog').show()" icon="ui-icon-info"
							title="View" rendered="#{controlBB.tienePermisoUsuarioListar}">
							<f:setPropertyActionListener value="#{menus}"
								target="#{menuBB.selectedMenu}" />
						</p:commandButton>

						<p:commandButton update=" :form :formDialogEdit"
							oncomplete="PF('menuEditDialog').show()" icon="ui-icon-wrench"
							title="Modificar" rendered="#{controlBB.tienePermisoUsuarioModificar}">
							<f:setPropertyActionListener value="#{menus}"
								target="#{menuBB.selectedMenu}" />
						</p:commandButton>
						<p:commandButton update=" :form :msgs " icon="ui-icon-trash"
							action="#{menuBB.eliminar}" title="Eliminar Menus" rendered="#{controlBB.tienePermisoUsuarioModificar}">
							<f:setPropertyActionListener value="#{menus}"
								target="#{menuBB.selectedMenu}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>

			<!-- Dialog para Vizualizar elementos . -->

			<p:dialog header="Vizualizar Menu" widgetVar="menusViewDialog"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				closeOnEscape="true">
				<h:panelGroup id="viewPanel" styleClass="box-info" layout="block">

					<h:panelGrid id="Panel" styleClass="form-column" layout="block"
						columns="2">
						<h:outputLabel styleClass="enlinea" value="ID" />
						<h:outputText value="#{menuBB.selectedMenu.id}"
							styleClass="enlinea" />
						<h:outputLabel styleClass="enlinea" value="Nombre del Menu" />
						<h:outputText value="#{menuBB.selectedMenu.nombreMenu}"
							styleClass="enlinea" />
						<h:outputLabel styleClass="enlinea" value="Descripción del Menus" />
						<h:outputText value="#{menuBB.selectedMenu.descripcion}"
							styleClass="enlinea" />
						<h:outputLabel styleClass="enlinea" value="Estado del Menus" />
						<h:outputText styleClass="enlinea"
							value="#{menuBB.selectedMenu.estado}" />
					</h:panelGrid>
				</h:panelGroup>
			</p:dialog>



			<!-- Dialog para Modificar Accion  -->
			<p:dialog header="Modificar Menus" widgetVar="menuEditDialog"
				styleClass="box-info" modal="true" showEffect="fade"
				hideEffect="fade" resizable="false" closeOnEscape="true">
				<h:form id="formDialogEdit" styleClass="box-info">

					<h:inputHidden value="#{menuBB.selectedMenu.id}" />
					<h:outputLabel styleClass="enlinea" value="Nombre del Menu" />
					<h:inputText styleClass="enlinea"
						value="#{menuBB.selectedMenu.nombreMenu}">
						<f:validateRequired />
						<f:validateLength minimum="2" />
					</h:inputText>
					<h:outputLabel styleClass="enlinea" value="Descripción del Menu" />
					<h:inputText styleClass="enlinea"
						value="#{menuBB.selectedMenu.descripcion}" />
					<h:outputLabel styleClass="enlinea" value="Url del Menu" />
					<h:inputText styleClass="enlinea"
						value="#{menuBB.selectedMenu.url}">
						<f:validateRequired />
						<!-- 	<f:validateRegex
							pattern="^(http?://)?(([\\w!~*'().&=+$%-]+: )?[\\w!~*'().&=+$%-]+@)?(([0-9]{1,3}\\.){3}[0-9]{1,3}|([\\w!~*'()-]+\\.)*([\\w^-][\\w-]{0,61})?[\\w]\\.[a-z]{2,6})(:[0-9]{1,4})?((/*)|(/+[\\w!~*'().;?:@&=+$,%#-]+)+/*)$"/>
					 -->
					</h:inputText>

					<h:outputLabel styleClass="enlinea" value="Orden del Menu" />
					<h:inputText styleClass="enlinea"
						value="#{menuBB.selectedMenu.orden}">
					</h:inputText>
					<h:outputLabel styleClass="enlinea" value="Padre del Menu" />
					<h:selectOneMenu styleClass="enlinea"
						value="#{menuBB.selectedMenu.menuPadre}"
						converter="#{MenuConverter}">
						<f:selectItem itemLabel="Seleccione Menu Padre.."
							noSelectionOption="true" />
						<f:selectItems value="#{menuBB.listaMenus}" var="men"
							itemLabel="#{men.nombreMenu}" itemValue="#{men}" />


					</h:selectOneMenu>
					<h:outputLabel styleClass="enlinea" value="Tipo de Menu" />
					<h:selectOneMenu styleClass="enlinea"
						value="#{menuBB.selectedMenu.vertical}">
						<f:selectItem itemLabel="Seleccione Tipo de Menu.."
							noSelectionOption="true" />
						<f:selectItem itemDescription="Vertical" itemLabel="Vertical"
							itemValue="true" />
						<f:selectItem itemDescription="Horizontal" itemLabel="Horizontal"
							itemValue="false" />
						<f:validateRequired />
					</h:selectOneMenu>
					<h:outputLabel styleClass="enlinea" value="Transversal" />
					<h:selectOneMenu styleClass="enlinea"
						value="#{menuBB.selectedMenu.transversales}">
						<f:selectItem itemLabel="Seleccione Tipo de Menus.."
							noSelectionOption="true" />
						<f:selectItem itemDescription=" Vertical-Transversal"
							itemLabel="Transversal" itemValue="true" />
						<f:selectItem itemDescription="Acceso" itemLabel="Vertical-Acceso"
							itemValue="false" />
							<f:selectItem itemDescription="Acceso" itemLabel="Horizontal"
							itemValue="null" />
						
					</h:selectOneMenu>

					<h:outputLabel styleClass="enlinea" value="Estado del Menu" />
					<h:selectOneMenu styleClass="enlinea"
						value="#{menuBB.selectedMenu.estado}">
						<f:selectItems value="#{dataBean.valoresEstados}" />
					</h:selectOneMenu>

					<h:commandButton styleClass="guardar" value="Modificar"
						action="#{menuBB.modificar}" style="aling: center" />
				</h:form>
			</p:dialog>

			<h:form id="create_menu" styleClass="form-column" rendered="#{controlBB.tienePermisoUsuarioCrear}">
				<h:panelGroup styleClass="box-info" layout="block"
					rendered="#{controlBB.tienePermisoUsuarioCrear}">
					<h:panelGroup styleClass="form-column" layout="block">
						<h:outputLabel styleClass="enlinea" value="Nombre del Menu" />
						<h:inputText styleClass="enlinea"
							value="#{menuBB.menu.nombreMenu}">
							<f:validateRequired />
							<f:validateLength minimum="2" />
						</h:inputText>
						<h:outputLabel styleClass="enlinea" value="Descripción del Menu" />
						<h:inputText styleClass="enlinea"
							value="#{menuBB.menu.descripcion}" />
						<h:outputLabel styleClass="enlinea" value="Url del Menu" />
						<h:inputText styleClass="enlinea" value="#{menuBB.menu.url}">
							<f:validateRequired />
						</h:inputText>

						<h:outputLabel styleClass="enlinea" value="Orden del Menu" />
						<h:inputText styleClass="enlinea" value="#{menuBB.menu.orden}">
						</h:inputText>

						<h:outputLabel styleClass="enlinea" value="Tipo de Menu" />
						<h:selectOneMenu id="tipoMenu" styleClass="enlinea"
							value="#{menuBB.menu.vertical}">
							<f:selectItem itemLabel="Seleccione Tipo de Menu.."
								noSelectionOption="true" itemDisabled="true" />
								<p:ajax listener="#{menuBB.onChange}"/>
							<f:selectItem itemDescription="Vertical" itemLabel="Vertical"
								itemValue="true" />
							<f:selectItem itemDescription="Horizontal" itemLabel="Horizontal"
								itemValue="false" />
						</h:selectOneMenu>
                       
						<h:outputLabel id="verticalMessage" styleClass="enlinea" value="Tipo de Menu Vertical" />
						<h:selectOneMenu id="verticalMenu" styleClass="enlinea" 
							value="#{menuBB.menu.transversales}" >
							<f:selectItem itemLabel="Seleccione Tipo de Menus.."
							noSelectionOption="true" />
						<f:selectItem itemDescription=" Vertical-Transversal"
							itemLabel="Transversal" itemValue="true" />
						<f:selectItem itemDescription="Acceso" itemLabel="Vertical-Acceso"
							itemValue="false" />
							<f:selectItem itemDescription="Acceso" itemLabel="Horizontal"
							itemValue="null" />
							
						</h:selectOneMenu>
                        



						<h:outputLabel styleClass="enlinea" value="Padre del Menu" />
						<h:selectOneMenu styleClass="enlinea"
							value="#{menuBB.menu.menuPadre}" converter="#{MenuConverter}">
							<f:selectItem itemLabel="Seleccione Menu Padre.."
								noSelectionOption="true" />
							<f:selectItems value="#{menuBB.listaMenus}" var="men"
								itemLabel="#{men.nombreMenu}" itemValue="#{men}" />


						</h:selectOneMenu>
						<h:outputLabel styleClass="enlinea" value="Estado del Menu" />
						<h:selectOneMenu styleClass="enlinea"
							value="#{menuBB.menu.estado}">
							<f:selectItems value="#{dataBean.valoresEstados}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<h:panelGroup styleClass="form-column" layout="block">
						<h:panelGroup styleClass="form-column" layout="block">
							<h:commandButton styleClass="guardar" value="Guardar  "
								action="#{menuBB.guardar}" />
							<h:commandButton styleClass="cancelar" value="Cancelar "
								type="reset" />
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>
			</h:form>
		</h:panelGroup>
	</ui:define>
</ui:composition>
</html>
