<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout.xhtml">
	<ui:define name="content">
		<h:panelGroup layout="block" styleClass="box-info" rendered="#{controlBB.tienePermisoUsuarioListar}">
			<h1>Relacion Perfiles-Menus</h1>
			<p:messages id="msgs" showDetail="true" redisplay="true" severity="info,error" autoUpdate="false"
				closable="true" />
			<h:panelGroup styleClass="form-column" layout="block">

				<h:form id="form">

					<p:dataTable id="basicDT" var="menuroles" rendered="#{not empty rolmenuBB.listaRolesMenus}"
						value="#{rolmenuBB.listaRolesMenus}" styleClass="box-info">

						<p:column headerText="Perfil Acreditado">
							<h:outputText value="#{menuroles.rol.nombre}" />
						</p:column>

						<p:column headerText="Menu Acreditado">
							<h:outputText value="#{menuroles.menu.nombreMenu}" />
						</p:column>



						<p:column styleClass="form-colummn"
							style="width:100px;text-align: center" headerText="Opciones">
							<p:commandButton update=" :form :viewPanel"
								oncomplete="PF('menusViewDialog').show()" icon="ui-icon-info"
								title="View">
								<f:setPropertyActionListener value="#{menuroles}"
									target="#{rolmenuBB.selectedRolMenu}" />
							</p:commandButton>

							<p:commandButton update=" :form :formDialogEdit"
								oncomplete="PF('menuEditDialog').show()" icon="ui-icon-wrench"
								title="Modificar" rendered="#{controlBB.tienePermisoUsuarioModificar}">
								<f:setPropertyActionListener value="#{menuroles}"
									target="#{rolmenuBB.selectedRolMenu}" />
							</p:commandButton>
							<p:commandButton update=":form:basicDT :msgs :form"
								action="#{rolmenuBB.eliminar}" icon="ui-icon-trash"
								title="Eliminar" rendered="#{controlBB.tienePermisoUsuarioEliminar}">
								<f:setPropertyActionListener value="#{menuroles}"
									target="#{rolmenuBB.selectedRolMenu}" />
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</h:form>


				<p:dialog header="Vizualizar Perfil-Menu"
					widgetVar="menusViewDialog" modal="true" showEffect="fade"
					hideEffect="fade" resizable="false" closeOnEscape="true">
					<h:panelGroup id="viewPanel" styleClass="box-info" layout="block">

						<h:panelGrid id="Panel" styleClass="form-column" layout="block"
							columns="2">
							<h:outputText value="Id:" />
							<h:outputText value="#{rolmenuBB.selectedRolMenu.id}" />
							<h:outputText value="Perfil" />
							<h:outputText value="#{rolmenuBB.selectedRolMenu.rol.nombre}" />
							<h:outputText value="Menu" />
							<h:outputText
								value="#{rolmenuBB.selectedRolMenu.menu.nombreMenu}" />

						</h:panelGrid>
					</h:panelGroup>
				</p:dialog>



				<!-- Dialog para Modificar Accion  -->
				<p:dialog header="Modificar Perfil - Menus"
					widgetVar="menuEditDialog" styleClass="box-info" modal="true"
					showEffect="fade" hideEffect="fade" resizable="false"
					closeOnEscape="true">
					<h:form id="formDialogEdit" styleClass="box-info">
						<h:inputHidden value="#{rolmenuBB.selectedRolMenu.id}" />
						<h:outputLabel value="Rol Asignar" />
						<h:selectOneMenu converter="#{RolConverter}"
							value="#{rolmenuBB.selectedRolMenu.rol}" label="Perfil Asignado">
							<f:selectItem itemLabel="Seleccione un Perfil..."
								noSelectionOption="true" />
							<f:selectItems value="#{rolesBB.listaRoles}" var="rol"
								itemLabel="#{rol.nombre}" itemValue="#{rol}" />
							<f:validateRequired />
						</h:selectOneMenu>

						<h:panelGroup layout="block" styleClass="form-column">
							<h:outputLabel value="Nombre de Menu" />
							<h:selectOneMenu converter="#{MenuConverter}"
								value="#{rolmenuBB.selectedRolMenu.menu}" label="Menu Asignado">
								<f:selectItem itemLabel="Seleccione un Menu"
									noSelectionOption="true" />
								<f:selectItems value="#{menuBB.listaMenus}" var="cont"
									itemLabel="#{cont.nombreMenu}" itemValue="#{cont}" />
								<f:validateRequired />
							</h:selectOneMenu>
						</h:panelGroup>



						<h:commandButton styleClass="guardar" value="Modificar"
							action="#{rolmenuBB.modificar}" style="aling: center" />
					</h:form>
				</p:dialog>


				<h:form id="form_permiso" styleClass="box-info" rendered="#{controlBB.tienePermisoUsuarioCrear}">
					<h:panelGroup layout="block" styleClass="form-column">
						<h:panelGroup layout="block" styleClass="form-column">
							<h:outputLabel value="Perfil Asignar" />
							<h:selectOneMenu converter="#{RolConverter}"
								value="#{rolmenuBB.rolmenu.rol}" label="Perfil Asignado">
								<f:selectItem itemLabel="Seleccione un Perfil..."
									noSelectionOption="true" />
								<f:selectItems value="#{rolesBB.listaRoles}" var="rol"
									itemLabel="#{rol.nombre}" itemValue="#{rol}" />
								<f:validateRequired />
							</h:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup layout="block" styleClass="form-column">
							<h:outputLabel value="Menu Asignar" />
							<h:selectOneMenu converter="#{MenuConverter}"
								value="#{rolmenuBB.rolmenu.menu}" label="Menu Asignado">
								<f:selectItem itemLabel="Seleccione un Menu"
									noSelectionOption="true" />
								<f:selectItems value="#{menuBB.listaMenus}" var="cont"
									itemLabel="#{cont.nombreMenu}" itemValue="#{cont}" />
								<f:validateRequired />
							</h:selectOneMenu>
						</h:panelGroup>


					</h:panelGroup>
					<h:panelGroup layout="block" styleClass="form-column">
						<h:commandButton styleClass="guardar" value="Guardar Relacion"
							action="#{rolmenuBB.guardar}" />
						<h:commandButton styleClass="cancelar" value="Cancelar"
							type="reset" />
					</h:panelGroup>
				</h:form>
			</h:panelGroup>
		</h:panelGroup>
	</ui:define>
</ui:composition>
</html>