<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/layout.xhtml">
	<ui:define name="content">

		<h:panelGroup styleClass="box-info" layout="block">
			<h1>Lista de Registro del Sistema</h1>
			<p:messages id="msgs" showDetail="true" redisplay="true" severity="info,error" autoUpdate="false"
				closable="true" />
			<br />
			<h:form id="table_accion">
				<p:dataTable paginator="true" paginatorPosition="bottom" rows="50"
					widgetVar="registroTable" emptyMessage="No existen Registro de Acciones del Sistema "
					
					resizableColumns="false" value="#{registroBB.listaRegistro}"
					var="registro"  styleClass="info-box"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
			
					<p:column headerText="Usuario"
						>
						<h:outputText value="#{registro.usuarioRegistro}" />
					</p:column>
					<p:column headerText="IP Acceso"
						>
						<h:outputText value="#{registro.ipSesion}" />
					</p:column>
					<p:column headerText="Tipo de Entidad"
						>
						<h:outputText value="#{registro.tipoEntidad}" />
					</p:column>
					<p:column headerText="URL ">
						<h:outputText value="#{registro.urlContenido}" />
					</p:column>
					<p:column headerText="Fecha de Acceso">
						<h:outputText value="#{registro.fechaFegistro}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</h:panelGroup>
	</ui:define>
</ui:composition>
</html>