<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/layout.xhtml">


	<ui:define name="content">

		<h:panelGroup styleClass="box-info" layout="block" rendered="#{controlBB.tienePermisoUsuarioListar}">
			<h1>Creación Perfiles</h1>
			<p:messages id="msgs" showDetail="true" redisplay="true" severity="info,error" autoUpdate="false"
				closable="true" />
			<h:panelGroup styleClass="form-column" layout="block">

				<h:form id="form">

					<p:dataTable id="basicDT" var="roles" value="#{rolesBB.listaRoles}"
						rendered="#{not empty rolesBB.listaRoles}" paginator="true"
						paginatorPosition="bottom" rows="7" styleClass="box-info"
						paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
						<p:column headerText="Nombre del Perfil">
							<h:outputText value="#{roles.nombre}" />
						</p:column>

						<p:column headerText="Descripción del Perfil">
							<h:outputText value="#{roles.descripcion}" />
						</p:column>

						<p:column headerText="Estado del Perfil ">
							<h:outputText value="#{roles.estado}" />
						</p:column>

						<p:column styleClass="form-colummn"
							style="width:100px;text-align: center" headerText="Opciones">
							<p:commandButton update=" :form :rolesDetail"
								oncomplete="PF('rolesDialog').show()" icon="ui-icon-info"
								title="View">
								<f:setPropertyActionListener value="#{roles}"
									target="#{rolesBB.selectedRol}" />
							</p:commandButton>

							<p:commandButton update=" :form :formDialogEdit"
								oncomplete="PF('rolesEditDialog').show()" icon="ui-icon-wrench"
								title="Modificar" rendered="#{controlBB.tienePermisoUsuarioModificar}">
								<f:setPropertyActionListener value="#{roles}"
									target="#{rolesBB.selectedRol}" />
							</p:commandButton>
							<p:commandButton update=":form:basicDT :msgs :form:"
								action="#{rolesBB.eliminar}" icon="ui-icon-trash"
								title="Eliminar" rendered="#{controlBB.tienePermisoUsuarioEliminar}">
								<f:setPropertyActionListener value="#{roles}"
									target="#{rolesBB.selectedRol}" />
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</h:form>
				<p:dialog header="Perfiles Detalle" widgetVar="rolesDialog"
					modal="true" showEffect="fade" hideEffect="fade" resizable="false">
					<p:outputPanel id="rolesDetail" style="text-align:center;">
						<p:panelGrid columns="2"
							rendered="#{not empty rolesBB.selectedRol}"
							columnClasses="label,value">
							<h:outputText value="Id:" />
							<h:outputText value="#{rolesBB.selectedRol.id}" />
							<h:outputText value="Nombre del Perfil" />
							<h:outputText value="#{rolesBB.selectedRol.nombre}" />
							<h:outputText value="Descripción del Perfil" />
							<h:outputText value="#{rolesBB.selectedRol.descripcion}" />
							<h:outputText value="Estado del Perfil:" />
							<h:outputText value="#{rolesBB.selectedRol.estado}" />
						</p:panelGrid>
					</p:outputPanel>
				</p:dialog>

				<!-- Dialog para Modificar Perfil  -->
				<p:dialog header="Modificar Perfiles" widgetVar="rolesEditDialog"
					styleClass="box-info" modal="true" showEffect="fade"
					hideEffect="fade" resizable="false" closeOnEscape="true">
					<h:form id="formDialogEdit" styleClass="box-info">
						<h:inputHidden value="#{rolesBB.selectedRol.id}" />
						<h:outputLabel styleClass="enlinea" value="Nombre del Perfil" />
						<h:inputText styleClass="enlinea"
							value="#{rolesBB.selectedRol.nombre}">
							<f:validateRequired />
							<f:validateLength minimum="2" />
						</h:inputText>
						<h:outputLabel styleClass="enlinea" value="Descripción del Perfil" />
						<h:inputText styleClass="enlinea"
							value="#{rolesBB.selectedRol.descripcion}">
							<f:validateRequired />
							<f:validateLength minimum="2" />
						</h:inputText>

						<h:outputLabel styleClass="enlinea" value="Estado del Perfil " />
						<h:selectOneMenu styleClass="enlinea"
							value="#{rolesBB.selectedRol.estado}">
							<f:selectItems value="#{dataBean.valoresEstados}" />
						</h:selectOneMenu>

						<h:commandButton styleClass="guardar" value="Modificar"
							action="#{rolesBB.modificar}" style="aling: center" />
					</h:form>
				</p:dialog>



				<h:form id="create_usuario" styleClass="form-column" rendered="#{controlBB.tienePermisoUsuarioCrear}">
					<h:panelGroup styleClass="box-info" layout="block">
						<h:panelGroup styleClass="form-column" layout="block">
							<h:outputLabel styleClass="enlinea" value="Nombre del Perfil" />
							<h:inputText styleClass="enlinea" value="#{rolesBB.rol.nombre}"
								validatorMessage="Nombre del Perfil debe contener mas de 2 caracteres"
								label="Nombre del Perfil">
								<f:validateRequired />
								<f:validateLength minimum="2" />
							</h:inputText>
							<h:outputLabel styleClass="enlinea"
								value="Descripción del Perfil" />
							<h:inputText styleClass="enlinea"
								value="#{rolesBB.rol.descripcion}"
								validatorMessage="Descripción del Perfil debe contener mas de 2 caracteres"
								label="Descripción del Perfil">
								<f:validateRequired />
								<f:validateLength minimum="2" />
							</h:inputText>

							<h:outputLabel styleClass="enlinea" value="Estado del Perfil" />
							<h:selectOneMenu styleClass="enlinea"
								value="#{rolesBB.rol.estado}">
								<f:selectItems value="#{dataBean.valoresEstados}" />
							</h:selectOneMenu>
						</h:panelGroup>

						<h:panelGroup styleClass="form-column" layout="block">
							<h:panelGroup styleClass="form-column" layout="block">
								<h:commandButton styleClass="guardar" value="Guardar"
									action="#{rolesBB.guardar}" />
								<h:commandButton styleClass="cancelar" value="Cancelar"
									type="reset" />
							</h:panelGroup>
						</h:panelGroup>
					</h:panelGroup>
				</h:form>
			</h:panelGroup>
		</h:panelGroup>
	</ui:define>
</ui:composition>
</html>