@charset "utf-8";
/* CSS Document */




@media screen and (max-width:1250px) {

	
.header .logo, .inside-head {
	text-align:center;
	display:block;
	margin:0 auto;
	}	

.inside-head h2 {
	display:block;
	text-align:center;	
	}


}



@media screen and (max-width:1024px) {


.header .inside-head h2 {
	position:static;
	}
		
	
#login {
	max-width:80%;
	margin:auto;
	margin-left:20px;
	margin-right:20px;
	margin-top:20px;
	margin-bottom:20px;
	}

.logo_inicio img {
	max-width:50%;	
	}
	

.aside, .information {
	display:block;
	}
	
.aside {
	min-width:100%;
	font-size:92%;
	}

.aside h3 {
	margin:0 5% 0 5%;
	}


.aside ul {
	padding:0 5% 0 5%;
	list-style-type:none;	
	}	
			

.information {
	max-width:100%;
	margin-top:0;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:5%;		
	}
	

.box-info {
	margin:0;		
	}		
	

.header,
.header h2
 {
	text-align:center;	
	}	




.header {
	padding:10px 5%;
	}




.sesion-status  {
	position:static;
	display:block;
	text-align:center;
	padding:10px 0;
	margin:10px 0;
	background-color:#002b52;
	border-radius:2px;
	-webkit-border-radius:2px;
	}	
	
	

.acceso li a {
	border-left:1px solid #c7c7c7;
	}
	
.acceso li a:hover {
	border-left:1px solid #0098a2;
	}
	

.transversales li a {
	border-left:1px solid #c7c7c7;
	}
	
.transversales li a:hover {
	border-left:1px solid #e93a58;
	}	
		
	.name-user {
	color:#fff;	
	}		
			
	
} 


@media screen and (max-width:800px) {

tr, td, table, th {
	display:block;
	}	


thead, tbody {
	display:table-cell;
	vertical-align:bottom;
	}


td.celda-color {
	border:1px solid #c6c6c6;
	margin-bottom:1px;
	}	
	
td {
	border:1px solid #c6d7e6;
	}	
	
	

}


@media screen and (max-width:600px) {
	
.header h2
 {
	 font-size:23px !important;
	}	
	

.form-column {
	display:block;
	}	
	
.name-user {
	color:#fff;	
	}
	

.tabla-texto,
.border-column
 {
	display:block;
	} 
	

.pagination {
    font-size:9px;
}	
	
	

.pagination li {
	padding:8px 0;
}		
	

ul.tabs {
	padding:0 10px;
	}
	
ul.tabs li,
ul.tabs li a {
	display:block;
	text-align:left;
	}

.pagination li a {
    margin-right:0;
    padding: 2px 4px;
}	
	
	
}