@charset "utf-8";
/* CSS Document */

* {
  margin:0;
  padding:0;
  border:0;  
  }
 
article, figcaption, figure, footer, header, hgroup, nav, section {
  display:block;
  } 
 

img, video {
	max-width:100%;
	border:0;
	margin:0;	
	} 
  

h1, h2, h3, h4, h5, h6, ul {
	margin:0;
	padding:0;
	font-weight:normal;
	line-height:normal;	
	}  

a {
	color:#333;
	text-decoration:none;	
	}
	

p {
	margin:0;
	padding:10px 0;
	line-height:normal;
	text-align:justify;	
	}
	
	
input, textarea, select  {
	font-family:Verdana, Geneva, sans-serif;
	font-weight:normal;
	background: #d3d3d3; /* Old browsers */
background: -moz-linear-gradient(top, #d3d3d3 0%, #f2f2f2 5%, #f2f2f2 95%, #d3d3d3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(5%,#f2f2f2), color-stop(95%,#f2f2f2), color-stop(100%,#d3d3d3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #d3d3d3 0%,#f2f2f2 5%,#f2f2f2 95%,#d3d3d3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #d3d3d3 0%,#f2f2f2 5%,#f2f2f2 95%,#d3d3d3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #d3d3d3 0%,#f2f2f2 5%,#f2f2f2 95%,#d3d3d3 100%); /* IE10+ */
background: linear-gradient(to bottom, #d3d3d3 0%,#f2f2f2 5%,#f2f2f2 95%,#d3d3d3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#d3d3d3',GradientType=0 );
	width:90%; 
	padding:6px 10px;
	margin:5px 0;
	border:1px solid #cecece;
	color:#919191;
	border-radius:1px;
	-webkit-border-radius:2px;
	}
	
input, textarea, select, label {
	display:inline-block;
	color:#666;	
	}




.enlinea {
	display:inline-block;	
	}


.small-camp {
	max-width:10%;
	display:inline-block;	
	}
	
.upload {
	max-width:40%;
	border:0;
	background:none;	
	}	


.small-label {
	width:40%;
	display:inline-block;	
	}
	
.large-label {
	min-width:300px;
	}	


.box-result {
	padding:3%;
	margin:3%;
	border:1px solid #2093b7;
	color:#0c1d2e;
	text-align:center;
	border-radius:2px;
	-webkit-border-radius:2px;
	}  
	

.box-result h1, 
.box-result h2, 
.box-result h3, 
.box-result h4 {
	text-align:center !important;
	margin:10px 0 20px 0 !important;
	} 	

.ui-datatable table {
	width:auto; 
}
.box-info table {
	min-width:100%;
	text-align:center;
	margin:auto;
	padding-top:2%;
	padding-bottom:2%;
	border-collapse:separate;
	border-spacing:1px;
	
	}
	
.box-info td {
	background-color:#dcebf8;
	border-left:1px solid #c6d7e6;
	border-right:1px solid #c6d7e6;
	padding:10px;
	font-size:11px;
	text-align:left;
	vertical-align:middle;
	}	
  
 
.tabla-texto {
	display:table-cell;
	vertical-align:top;
	padding-right:20px;
	padding-left:20px;
	background-color:#ededec;
	border:1px solid #d8d8d8;	
	}  
  

.celda-color {
	border-top:3px solid #002b52;
	background: #ededec; /* Old browsers */
background: -moz-linear-gradient(top, #ededec 0%, #d6d6d6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededec), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ededec 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ededec 0%,#d6d6d6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ededec 0%,#d6d6d6 100%); /* IE10+ */
background: linear-gradient(to bottom, #ededec 0%,#d6d6d6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededec', endColorstr='#d6d6d6',GradientType=0 );
	vertical-align:top;
	padding:20px;
	color:#002f55;
	font-weight:700;
	text-transform:uppercase;
	font-size:10px !important;
	}
  
  


.nota-pie {
	background: #002f55; /* Old browsers */
	padding:5px 10px;
	margin:10px 0 10px 0;
	font-weight:normal;
	display:block;
	color:#fff;
	font-size:11px;
	text-shadow:1px 1px 1px #333;
	-webkit-text-shadow:1px 1px 1px #333;
	}
  
  
  
body {
  background-color:#eeeeee;
  font-family:Verdana, Geneva, sans-serif;
  margin:0;
  padding:0;
  color:#222; 
  font-size:12px;
  } 
  
 
.login {
	border:2px solid #2093b7;
	color:#0c1e2e;
	max-width:50%;
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
	padding:40px;
	}
	
.login input {
	min-width:95% !important;
	display:block;
	}	

.login .etiquetas {
	font-size:14px;
	text-transform:uppercase;
	display:block;	
	}	 

.introtitle {
		background: #00264d; /* Old browsers */
background: -moz-linear-gradient(top, #00264d 0%, #3d6e8c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00264d), color-stop(100%,#3d6e8c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #00264d 0%,#3d6e8c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #00264d 0%,#3d6e8c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #00264d 0%,#3d6e8c 100%); /* IE10+ */
background: linear-gradient(to bottom, #00264d 0%,#3d6e8c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00264d', endColorstr='#3d6e8c',GradientType=0 );
	font-size:25px;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	padding:10px;
	}	 
  

.inicio1 {
	background-color:#fff;
	color:#0098a2;
	padding:8px 10px;
	font-size:21px;
	font-weight:100;
	border:2px solid #2093b7;
	cursor:pointer;
	text-align:center;
	max-width:100%;
	display:block;
	margin:20px 0;
	border-radius:2px;
	-webkit-border-radius:2px;
	text-transform:uppercase;
	} 

.inicio1:hover {
	border-color:#002b52;
	color:#002b52;
	
	}	

.vista {
	display:inline-block;
	vertical-align:middle;
	padding:0 10px 0 0;	
	}	
	 

.logo_inicio {
	border-top:3px solid #002b52;
	padding:10px;
	text-align:center;	
	} 
	

	

.logo {
	text-align:center;	
	}

	
.header {
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 97%, #bbbbbb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(97%,#ffffff), color-stop(100%,#bbbbbb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 97%,#bbbbbb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#ffffff 97%,#bbbbbb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 97%,#bbbbbb 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#ffffff 97%,#bbbbbb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bbbbbb',GradientType=0 );
	padding:10px 0 0 20px;
	text-align:left;
	color:#001e48;
	border-top:3px solid #002b52;	
	}


	
.header h1, .inside-head {
	display:inline-block;
	vertical-align:middle;
	margin:0 20px;	
	}
	
.header .inside-head
 {
	text-align:left;
	}	
	
.header .inside-head h2 {
	font-size:25px;
	font-weight:normal;
	padding:0;
	}	
	
.header .inside-head small {
	font-weight:normal;
	font-size:14px;
	display:block;
	color:#666;
	}			






	
.sesion-status  {
	position:absolute;
	right:3%;
	top:1%;
	}


.warning-on, .warning-off, .user-status, .name-user {
	display:inline-block;
	vertical-align:middle;	
	}


.warning-on:hover, 
.warning-off:hover, 
.user-status:hover {
	background-color:#e93a58;
	text-decoration:none;
	border:0;
	}


.warning-on {
	background-color:#002b52;
	max-width:23px;
	max-height:19px;
	padding:5px;
	text-align:center;
	border:0;
	}

.warning-off {
	background-color:#8097b1;
	max-width:23px;
	max-height:19px;
	padding:5px;
	text-align:center;
	border:0;
	}	
	

.user-status {
	background-color:#2093b7;
	max-width:23px;
	max-height:19px;
	padding:5px;
	text-align:center;
	border:0;
	}		


.name-user {
	font-size:11px;
	padding:0 5px;
	}	
	

.violeta {
	color:#001e48;	
	}
	
.azulado {
	color:#2093b7;	
	}	



.transversales li a {
	margin:2px 0;
	display:block;
	padding:9px 20px 9px 45px;
	border-top:1px solid #c7c7c7;
	border-bottom:1px solid #c7c7c7;
	background-color:#FFF;
	border-right:7px solid #989898;
	color:#555555;
	font-size:12px;
	}
	
.transversales li a:hover {
	border-top:1px solid #002b52;
	border-bottom:1px solid #002b52;
	background-color:#FFF;
	border-right:7px solid #002b52;
	color:#002b52;
	}	

.transver {
	background:url(../images/icons/seguimiento-icon.png) no-repeat center left;
	background-color:#002b52;
	border-right:7px solid #3ca9ce;
	color:#fff;
	padding:13px 20px 13px 45px;
	text-transform:uppercase;
	font-weight:100;
	font-size:13px;	
	}


.lista-access {
	background:url(../images/icons/key.png) no-repeat center left;
	background-color:#002b52;
	border-right:7px solid #3ca9ce;
	color:#fff;
	padding:13px 20px 13px 45px;
	text-transform:uppercase;
	font-weight:100;
	font-size:13px;		
	}


.acceso li a {
	margin:2px 0;
	display:block;
	padding:9px 20px 9px 45px;
	border-top:1px solid #c7c7c7;
	border-bottom:1px solid #c7c7c7;
	background-color:#FFF;
	border-right:7px solid #989898;
	color:#555555;
	font-size:12px;
	}
	
.acceso li a:hover {
	border-top:1px solid #002b52;
	border-bottom:1px solid #002b52;
	background-color:#FFF;
	border-right:7px solid #002b52;
	color:#002b52;
	}



.aside {
	width:18%;
	padding:0 0 20px 0;	
	}


.aside, .information {
	display:table-cell;
	vertical-align:top;	
	}

.information {
    height: 100%;
    /*background-color: yellow;*/
}
	

.form-column {
	display:table-cell;
	padding:10px 20px;
	vertical-align:top;
	text-align:left;	
	}


.border-column {
	display:table-cell;
	padding:20px;
	vertical-align:top;
	text-align:left;
	border:2px solid #002f55;
	outline:1px solid #FFF;
	border-radius:2px;
	-webkit-border-radius:2px;	
	}


.box-info {
	background-color:#fff;
	border:1px solid #c6c6c6;
	padding:20px;
	margin:20px;
	border-radius:2px;
	-webkit-border-radius:2px;
	}
	

.box-info h1 {
	font-size:25px;
	color:#0c1e2e;
	line-height:normal;
	text-align:left;
	margin:5px 0;
	}	

.box-info h2 {
	font-size:17px;
	color:#666;
	font-weight:700;
	line-height:normal;
	text-align:left;
	margin:5px 0;
	}	
	
.box-info h3 {
	font-size:14px;
	color:#2093b7;
	line-height:normal;
	text-align:left;
	margin:5px 0;
	font-weight:100;
	}	
	
	
		
		
	
	

.pagination {
	background: #ededec; /* Old browsers */
background: -moz-linear-gradient(top, #ededec 0%, #d6d6d6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededec), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ededec 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ededec 0%,#d6d6d6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ededec 0%,#d6d6d6 100%); /* IE10+ */
background: linear-gradient(to bottom, #ededec 0%,#d6d6d6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededec', endColorstr='#d6d6d6',GradientType=0 );
border-top:1px solid #d8d8d8;
    font-size:11px;
    list-style-type: none;
    margin:10px 0 20px 0;
    padding:6px 10px 15px 10px;
    text-align:right;
}


.pagination .title-pag {
	padding:5px 10px 10px 10px;
	color:#002f55;	
	}


.pagination ul {
	padding:0;
	margin:0;
}

.pagination li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    display:inline-block;
    margin: 0 !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
}


.pagination-prev span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 1px solid #002f55;
    color: #002f55 !important;
    margin-right: 3px;
}
.pagination-start span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 1px solid #002f55;
    color: #002f55 !important;
    margin-right: 3px;
}
.pagination-next span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 1px solid #002f55;
    color: #002f55 !important;
    margin-left: 3px;
}
.pagination-end span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 1px solid #002f55;
    color: #002f55 !important;
    margin-left: 3px;
}
.pagination li a {
    border: 1px solid #002f55;
    color: #002f55;
    margin-right:3px;
    padding: 2px 6px;
    position: relative;
    text-decoration: none;
    z-index: 1;
}
.pagination li a:hover {
    background: none repeat scroll 0 0 #002f55;
    border: 1px solid #002f55;
    color: #fff;
    text-decoration: none;
}
.pagination li span {
    background: none repeat scroll 0 0 #002f55;
	border: 1px solid #002f55;
    color: #fff;
    padding: 2px 6px;
}
.pagination li a.selected {
    background: none repeat scroll 0 0 #002f55;
    border: 1px solid #002f55;
    color: #fff;
    padding: 2px 5px;
}
.pagination li a.selected:hover {
    text-decoration: none;
}	
	



a.activator{
            width:153px;
            height:150px;
            top:0px;
            left:0px;
            z-index:1;
            cursor:pointer;
        }
        /* Style for overlay and box */
        .overlay{
            background:transparent url(../images/icons/overlay.png) repeat top left;
            position:fixed;
            top:0px;
            bottom:0px;
            left:0px;
            right:0px;
            z-index:100;
        }
        .box{
            position:fixed;
			overflow:scroll;
			max-height:500px;
            top:-600px;
            left:30%;
            right:30%;
            background-color:#fff;
            padding:20px;
            border:2px solid #ccc;
            -moz-border-radius: 20px;
            -webkit-border-radius:20px;
            -khtml-border-radius:20px;
            -moz-box-shadow: 0 1px 5px #333;
            -webkit-box-shadow: 0 1px 5px #333;
            z-index:101;
        }
        .box h1{
            border-bottom: 1px dashed #e93a58;
            margin:-20px -20px 0px -20px;
            padding:10px;
            background-color:#FFEFEF;
            color:#e93a58;
            -moz-border-radius:20px 20px 0px 0px;
            -webkit-border-top-left-radius: 20px;
            -webkit-border-top-right-radius: 20px;
            -khtml-border-top-left-radius: 20px;
            -khtml-border-top-right-radius: 20px;
        }
        a.boxclose{
            float:right;
            width:20px;
            height:19px;
            background:transparent url(../images/icons/close.png) repeat top left;
            margin-top:-20px;
            margin-right:-20px;
            cursor:pointer;
        }




ul.tabs {
	margin:15px 0;
	padding:0 0 0 15px;
	list-style-type:none;
	font-size:13px;
	font-weight:normal;
	border-bottom:1px solid #cfcfd0;
	}
	

ul.tabs li {
	display:inline-block;
	vertical-align:middle;
	padding:0;
	margin:0;	
	}	
	
ul.tabs li a {
	padding:10px 10px;
	margin:0;
	background-color:#FFF;
	border-top:4px solid #cfcfd0;
	border-left:1px solid #cfcfd0;
	border-right:1px solid #cfcfd0;
	color:#2093b7;
	text-align:center;
	display:inline-block;
	}
	

ul.tabs li a:hover {
	border-top:4px solid #002f55;
	color:#002f55;	
	}		

ul.tabs li a.active {
	border-top:4px solid #002f55;
	color:#002f55;	
	}	



.footer {
background: #016481; /* Old browsers */
background: -moz-linear-gradient(top, #016481 0%, #3ca9ce 4%, #047698 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#016481), color-stop(4%,#3ca9ce), color-stop(100%,#047698)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #016481 0%,#3ca9ce 4%,#047698 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #016481 0%,#3ca9ce 4%,#047698 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #016481 0%,#3ca9ce 4%,#047698 100%); /* IE10+ */
background: linear-gradient(to bottom, #016481 0%,#3ca9ce 4%,#047698 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#016481', endColorstr='#047698',GradientType=0 );
	color:#fff;
	font-size:11px;
	text-align:center;
	padding:20px;
	bottom:0;
	}	



/*BOTONES*/



/*BOTON GENERAL CON BORDE*/
.boton {
	background-color:#fff;
	color:#002b52;
	border-radius:2px;
	-webkit-border-radius:2px;
	padding:6px 8px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	cursor:pointer;
	font-size:11px;
	border:2px solid #002b52;
	margin:8px 0;
	}

.boton:hover {
	background-color:#fff;
	border:2px solid #2093b7;
	color:#2093b7;
	}	
	


/*BOTON DE RECARGA, PROCESAMIENTO O ACTUALIZACION*/
.reload {
	background:url(../images/icons/reload.png) no-repeat center left;
	background-color:#666;
	color:#fff;
	border-radius:2px;
	-webkit-border-radius:2px;
	padding:7px 10px 7px 25px;
	font-weight:100;
	font-family:Verdana, Geneva, sans-serif;
	cursor:pointer;
	font-size:14px;
	border:0;
	text-shadow:1px 1px 1px #333;
	-webkit-text-shadow:1px 1px 1px #333;
	margin:8px 0;
	}

.reload:hover {
	background-color:#111;
	}

	

/*BOTON DE CONFIGURACION*/
.config {
	background:url(../images/icons/config.png) no-repeat center left;
	background-color:#232b39;
	color:#fff;
	border-radius:2px;
	-webkit-border-radius:2px;
	padding:7px 10px 7px 25px;
	font-weight:100;
	font-family:Verdana, Geneva, sans-serif;
	cursor:pointer;
	font-size:14px;
	border:0;
	text-shadow:1px 1px 1px #333;
	-webkit-text-shadow:1px 1px 1px #333;
	margin:8px 0;	
	}

.config:hover {
	background-color:#002b52;
	}	
	
	


/*BOTON DE BUSCAR Y VISUALIZAR*/
.buscar {
	background:url(../resources/images/icons/search.png) no-repeat center left;
	background-color:#2093b7;
	color:#fff;
	border-radius:2px;
	-webkit-border-radius:2px;
	padding:7px 10px 7px 25px;
	font-weight:100;
	font-family:Verdana, Geneva, sans-serif;
	cursor:pointer;
	font-size:14px;
	border:0;
	text-shadow:1px 1px 1px #333;
	-webkit-text-shadow:1px 1px 1px #333;
	margin:8px 0;
	}

.buscar:hover {
	background-color:#002f55;
	}
	

/*BOTON DE CREAR*/
.crear {
	background:url(../images/icons/create.png) no-repeat center left;
	background-color:#0c1e2e;
	color:#fff;
	border-radius:2px;
	-webkit-border-radius:2px;
	padding:7px 10px 7px 25px;
	font-weight:100;
	font-family:Verdana, Geneva, sans-serif;
	cursor:pointer;
	font-size:14px;
	border:0;
	text-shadow:1px 1px 1px #333;
	-webkit-text-shadow:1px 1px 1px #333;
	margin:8px 0;	
	}

.crear:hover {
	background-color:#002f55;
	}	
	
	
/*BOTON PARA GUARDAR*/
.guardar {
	background:url(../images/icons/save.png) no-repeat center left;
	background-color:#2093b7;
	color:#fff;
	border-radius:2px;
	-webkit-border-radius:2px;
	padding:7px 10px 7px 25px;
	font-weight:100;
	font-family:Verdana, Geneva, sans-serif;
	cursor:pointer;
	font-size:14px;
	border:0;
	text-shadow:1px 1px 1px #333;
	-webkit-text-shadow:1px 1px 1px #333;
	margin:8px 0;	
	}

.guardar:hover {
	background-color:#232b39;
	}	
	
	
/*BOTON PARA CANCELAR*/
.cancelar {
	background:url(../images/icons/cancel.png) no-repeat center left;
	background-color:#002f55;
	color:#fff;
	border-radius:2px;
	-webkit-border-radius:2px;
	padding:7px 10px 7px 25px;
	font-weight:100;
	font-family:Verdana, Geneva, sans-serif;
	cursor:pointer;
	font-size:14px;
	border:0;
	text-shadow:1px 1px 1px #333;
	-webkit-text-shadow:1px 1px 1px #333;
	margin:8px 0;	
	}

.cancelar:hover {
	background-color:#66686a;
	}







/*ICONOS PARA UTILIZAR EN CONJUNTO CON LA CLASSE BOTON DEPENDIENDO DE LA NECESIDAD*/
.pencil {
	background:url(../images/icons/pencil.png) no-repeat center left;
	padding-left:25px !important;	
	}
	
.doc {
	background:url(../images/icons/doc.png) no-repeat center left;
	padding-left:30px !important;	
	}	

.multiusuario {
	background:url(../images/icons/multi-users.png) no-repeat center left;
	padding-left:36px !important;	
	}
	
	
.usuario {
	background:url(../images/icons/user-petro.png) no-repeat center left;
	padding-left:36px !important;	
	}
	
.add-usuario {
	background:url(../images/icons/add-user.png) no-repeat center left;
	padding-left:36px !important;	
	}
	
	
.del-usuario {
	background:url(../images/icons/delete-user.png) no-repeat center left;	
		padding-left:36px !important;	
	}
	
.cancelar-doc {
	background:url(../images/icons/cancel-doc.png) no-repeat center left;
	padding-left:36px !important;	
	}					

.cart {
	background:url(../images/icons/cart.png) no-repeat center left;
	padding-left:36px !important;	
	}
	
.check {
	background:url(../images/icons/check.png) no-repeat center left;
	padding-left:36px !important;	
	}	

.key {
	background:url(../images/icons/color-key.png) no-repeat center left;
	padding-left:36px !important;	
	}	
	
.subir {
	background:url(../images/icons/upload.png) no-repeat center left;
	padding-left:36px !important;	
	}

.descargar {
	background:url(../images/icons/download.png) no-repeat center left;
	padding-left:36px !important;	
	}	
	
.factura {
	background:url(../images/icons/factura.png) no-repeat center left;
	padding-left:36px !important;	
	}
	
.mail {
	background:url(../images/icons/mail.png) no-repeat center left;
	padding-left:36px !important;	
	}	
	
.print {
	background:url(../images/icons/print.png) no-repeat center left;
	padding-left:36px !important;	
	}	
								
.apagar {
	background:url(../images/icons/reset.png) no-repeat center left;
	padding-left:36px !important;	
	}		

/*MENUS*/

.ui-menu.ui-widget {
	font-family:Verdana, Geneva, sans-serif;
    background-clip: padding-box;
    background-color: #ffffff;
    min-width: 160px;
    padding:0;
	font-size:13px;
}
.ui-menu.ui-widget a {
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    white-space: nowrap;
}
.ui-menu.ui-widget li.ui-corner-all, .ui-menu.ui-widget a.ui-corner-all {
	display:table-cell;
	color:#aaa;
	text-decoration:none;
	text-transform:uppercase;
}

.ui-menu.ui-widget .ui-menu-list {
}

.ui-menu.ui-widget li > .ui-menuitem-link {
    border-width: 1px 0;
	/*border-right:1px solid #3ca9ce;*/
    padding:15px 20px;
    width: 100%;
}

.ui-menu.ui-widget li a:hover {
	background: #00264d; /* Old browsers */
background: -moz-linear-gradient(top, #00264d 0%, #3d6e8c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00264d), color-stop(100%,#3d6e8c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #00264d 0%,#3d6e8c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #00264d 0%,#3d6e8c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #00264d 0%,#3d6e8c 100%); /* IE10+ */
background: linear-gradient(to bottom, #00264d 0%,#3d6e8c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00264d', endColorstr='#3d6e8c',GradientType=0 );
		color:#fff;
		text-shadow:0 1px 0 rgba(0,0,0,0.3);
}


.ui-menu.ui-widget .ui-menu-list .ui-widget-header {
    border-width: 1px 0;
    width: 100%;
}
.ui-menu.ui-widget li > .ui-menuitem-link.ui-state-hover {
    background-color: #0081c2;
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-position: 0 center;
    background-repeat: repeat-x;
    color: #ffffff;
    text-decoration: none;
}
.ui-menu.ui-widget li > .ui-menuitem-link.ui-state-hover .ui-icon {
    background-image: url("/prjAduanaPetroEcuapass/javax.faces.resource/images/ui-icons_ffffff_256x240.png.jsf?ln=primefaces-bootstrap");
}
.ui-menu.ui-widget .ui-separator {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #e5e5e5;
    border-color: -moz-use-text-color -moz-use-text-color #ffffff;
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: none;
    height: 1px;
    overflow: hidden;
}
.ui-menu.ui-widget .ui-menuitem-link .ui-menuitem-icon {
    margin-left: 0.3em;
    margin-right: -0.2em;
}
.ui-menu.ui-widget .ui-menuitem-link .ui-menuitem-text {
    margin-left: 0.4em;
}
.ui-shadow {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
}
.ui-menu.ui-slidemenu .ui-shadow {
    box-shadow: none !important;
}
.ui-panelmenu .ui-panelmenu-header a {
    color: #0088cc;
}
.ui-buttonset .ui-state-default {
    border-radius: 0;
}
.ui-buttonset .ui-corner-left.ui-state-default {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.ui-buttonset .ui-corner-right.ui-state-default {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.ui-menu.ui-menubar ul {
	list-style-type:none;
	margin:0;	
	}


.ui-menu.ui-menubar {
    background: #016481; /* Old browsers */
background: -moz-linear-gradient(top, #016481 0%, #3ca9ce 4%, #047698 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#016481), color-stop(4%,#3ca9ce), color-stop(100%,#047698)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #016481 0%,#3ca9ce 4%,#047698 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #016481 0%,#3ca9ce 4%,#047698 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #016481 0%,#3ca9ce 4%,#047698 100%); /* IE10+ */
background: linear-gradient(to bottom, #016481 0%,#3ca9ce 4%,#047698 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#016481', endColorstr='#047698',GradientType=0 );
color:#fff;
}
.ui-menu.ui-menubar .ui-menu-parent .ui-menu-child {
    padding: 5px 0;
}

.ui-menu .ui-menu-parent .ui-menu-child {
    display: none;
    font-size: 100%;
    line-height: 1.3;
    list-style: outside none none;
    margin: 0;
    outline: 0 none;
    padding: 0.3em;
    position: absolute;
    text-decoration: none;
    width: 27em !important;
}

#frame_content {        
    height: 100%;
}

#frame_content img {
    display: block;
}

