pre {
	background:#F3F3F3 none repeat scroll 0 0;
	border:1px solid #CCC;
	padding:1em;
	font-size:1.1em;
	overflow:auto;
	width:560px;
	margin-top:1em;
}

.notification {
	border:3px solid #d55b5b;
	background-color: #ffcdcd;
	padding:5px;
}