/* Import "PT Sans Narrow" font from Google fonts */
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);


/*
---------------------------------------------------------------
  Note that styles you apply to the main menu items are inherited by the sub menus items too.
  If you'd like to avoid this, you could use child selectors (not supported by IE6) - for example:
  .sm-blue > li > a { ... } instead of .sm-blue a { ... }
---------------------------------------------------------------*/


/* Menu box
===================*/

	.sm-blue {
		background:transparent;
		margin-top:15px;
	}
	.sm-blue-vertical {
		-moz-box-shadow:0 1px 4px rgba(0,0,0,0.3);
		-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3);
		box-shadow:0 1px 4px rgba(0,0,0,0.3);
	}
	.sm-blue ul {
		border:1px solid #c6c6c6;
		padding:7px 0;
		background:#fff;
		-moz-border-radius:0 0 2px 2px;
		-webkit-border-radius:0 0 2px 2px;
		border-radius:0 0 2px 2px;
		-moz-box-shadow:0 5px 12px rgba(0,0,0,0.3);
		-webkit-box-shadow:0 5px 12px rgba(0,0,0,0.3);
		box-shadow:0 5px 12px rgba(0,0,0,0.3);
	}
	/* for vertical main menu subs and 2+ level horizontal main menu subs round all corners */
	.sm-blue-vertical ul,
	.sm-blue ul ul {
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
	}


/* Menu items
===================*/

	.sm-blue a {
		padding:12px 20px;
		color:#fff;
		font-size:13px;
		line-height:23px;
		font-weight:normal;
		text-decoration:none;
		text-shadow:0 1px 0 rgba(0,0,0,0.3);
		text-transform:uppercase;
background: #016481; /* Old browsers */
background: -moz-linear-gradient(top, #016481 0%, #3ca9ce 4%, #047698 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#016481), color-stop(4%,#3ca9ce), color-stop(100%,#047698)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #016481 0%,#3ca9ce 4%,#047698 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #016481 0%,#3ca9ce 4%,#047698 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #016481 0%,#3ca9ce 4%,#047698 100%); /* IE10+ */
background: linear-gradient(to bottom, #016481 0%,#3ca9ce 4%,#047698 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#016481', endColorstr='#047698',GradientType=0 );
		
	}
	.sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active,
	.sm-blue a.highlighted {
		background: #00264d; /* Old browsers */
background: -moz-linear-gradient(top, #00264d 0%, #3d6e8c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00264d), color-stop(100%,#3d6e8c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #00264d 0%,#3d6e8c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #00264d 0%,#3d6e8c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #00264d 0%,#3d6e8c 100%); /* IE10+ */
background: linear-gradient(to bottom, #00264d 0%,#3d6e8c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00264d', endColorstr='#3d6e8c',GradientType=0 );
		color:#fff;
	}
	.sm-blue-vertical a {
		padding:9px 40px 8px 23px;
		background: #00264d; /* Old browsers */
background: -moz-linear-gradient(top, #00264d 0%, #3d6e8c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00264d), color-stop(100%,#3d6e8c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #00264d 0%,#3d6e8c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #00264d 0%,#3d6e8c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #00264d 0%,#3d6e8c 100%); /* IE10+ */
background: linear-gradient(to bottom, #00264d 0%,#3d6e8c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00264d', endColorstr='#3d6e8c',GradientType=0 );
	}
	.sm-blue ul a {
		padding:9px 40px 8px 23px;
		background:transparent;
		color:#00274e;
		font-size:11px;
		text-shadow:none;
	}
	.sm-blue ul a:hover, .sm-blue ul a:focus, .sm-blue ul a:active,
	.sm-blue ul a.highlighted {
background: #00264d; /* Old browsers */
background: -moz-linear-gradient(top, #00264d 0%, #3d6e8c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00264d), color-stop(100%,#3d6e8c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #00264d 0%,#3d6e8c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #00264d 0%,#3d6e8c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #00264d 0%,#3d6e8c 100%); /* IE10+ */
background: linear-gradient(to bottom, #00264d 0%,#3d6e8c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00264d', endColorstr='#3d6e8c',GradientType=0 );
		color:#fff;
		text-shadow:0 1px 0 rgba(0,0,0,0.3);
	}
	/* current items - add the class manually to some item or check the "markCurrentItem" script option */
	.sm-blue a.current, .sm-blue a.current:hover, .sm-blue a.current:focus, .sm-blue a.current:active,
	.sm-blue ul a.current, .sm-blue ul a.current:hover, .sm-blue ul a.current:focus, .sm-blue ul a.current:active {
		background: #0098a2; /* Old browsers */
background: -moz-linear-gradient(top, #0098a2 0%, #00b3bc 9%, #00bdc4 94%, #00a7ad 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0098a2), color-stop(9%,#00b3bc), color-stop(94%,#00bdc4), color-stop(100%,#00a7ad)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #0098a2 0%,#00b3bc 9%,#00bdc4 94%,#00a7ad 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #0098a2 0%,#00b3bc 9%,#00bdc4 94%,#00a7ad 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #0098a2 0%,#00b3bc 9%,#00bdc4 94%,#00a7ad 100%); /* IE10+ */
background: linear-gradient(to bottom, #0098a2 0%,#00b3bc 9%,#00bdc4 94%,#00a7ad 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0098a2', endColorstr='#00a7ad',GradientType=0 );
		color:#fff;
		text-shadow:0 1px 0 rgba(0,0,0,0.3);
	}
	/* round the left corners of the first item for horizontal main menu */
	.sm-blue > li:first-child > a {
		-moz-border-radius:0;
		-webkit-border-radius:0;
		border-radius:0;
	}
	/* round the corners of the first and last items for vertical main menu */
	.sm-blue-vertical > li:first-child > a {
		-moz-border-radius:8px 8px 0 0;
		-webkit-border-radius:8px 8px 0 0;
		border-radius:8px 8px 0 0;
	}
	.sm-blue-vertical > li:last-child > a {
		-moz-border-radius:0 0 8px 8px;
		-webkit-border-radius:0 0 8px 8px;
		border-radius:0 0 8px 8px;
	}
	.sm-blue a.has-submenu {

	}


/* Sub menu indicators
===================*/

	.sm-blue a span.sub-arrow {
		position:absolute;
		bottom:2px;
		left:50%;
		margin-left:-5px;
		/* we will use one-side border to create a triangle so that we don't use a real background image, of course, you can use a real image if you like too */
		width:0;
		height:0;
		overflow:hidden;
		border-width:5px; /* tweak size of the arrow */
		border-style:solid dashed dashed dashed;
		border-color:#a4cde1 transparent transparent transparent;
	}
	.sm-blue-vertical a span.sub-arrow,
 	.sm-blue ul a span.sub-arrow {
		bottom:auto;
		top:50%;
		margin-top:-5px;
		right:15px;
		left:auto;
		margin-left:0;
		border-style:dashed dashed dashed solid;
		border-color:transparent transparent transparent #a4cde1;
	}


/* Items separators
===================*/

	.sm-blue li {
		border-left:1px solid #3ca9ce;
	}
	.sm-blue li:first-child,
	.sm-blue-vertical li,
	.sm-blue ul li {
		border-left:0;
	}


/* Scrolling arrows containers for tall sub menus - test sub menu: "Sub test" -> "more..." -> "more..." in the default download package
===================*/

	.sm-blue span.scroll-up, .sm-blue span.scroll-down {
		position:absolute;
		display:none;
		visibility:hidden;
		overflow:hidden;
		background:#ffffff;
		height:20px;
		/* width and position will be automatically set by the script */
	}
	.sm-blue span.scroll-up-arrow, .sm-blue span.scroll-down-arrow {
		position:absolute;
		top:-2px;
		left:50%;
		margin-left:-8px;
		/* we will use one-side border to create a triangle so that we don't use a real background image, of course, you can use a real image if you like too */
		width:0;
		height:0;
		overflow:hidden;
		border-width:8px; /* tweak size of the arrow */
		border-style:dashed dashed solid dashed;
		border-color:transparent transparent #247eab transparent;
	}
	.sm-blue span.scroll-down-arrow {
		top:6px;
		border-style:solid dashed dashed dashed;
		border-color:#247eab transparent transparent transparent;
	}



/*
---------------------------------------------------------------
  Responsiveness
  These will make the sub menus collapsible when the screen width is too small.
---------------------------------------------------------------*/


@media screen and (max-width:1510px) {


.sm-blue a {
		padding:10px;
	}
	
.sm-blue ul a {
		font-size:84%;
	}	
	
	}



@media screen and (max-width:1250px) {


.sm-blue a {
		padding:10px;
		font-size:93%; 
	}
	
.sm-blue ul a {
		font-size:85%;
	}	
	
	}



@media screen and (max-width:1024px) {





.sm-blue a {
		padding:10px 5px;
		font-size:80%; 
	}
	
.sm-blue ul a {
		font-size:80%;
	}	
	
	}




@media screen and (max-width: 900px) {

	/* The following will make the sub menus collapsible for small screen devices (it's not recommended editing these) */
	ul.sm-blue{width:auto !important;}
	ul.sm-blue ul{display:none;position:static !important;top:auto !important;left:auto !important;margin-left:0 !important;margin-top:0 !important;width:auto !important;min-width:0 !important;max-width:none !important;}
	ul.sm-blue>li{float:none;}
	ul.sm-blue>li>a,ul.sm-blue ul.sm-nowrap>li>a{white-space:normal;}
	ul.sm-blue iframe{display:none;}

	/* Uncomment this rule to disable completely the sub menus for small screen devices */
	/*.sm-blue ul, .sm-blue span.sub-arrow, .sm-blue iframe {
		display:none !important;
	}*/


/* Menu box
===================*/

	.sm-blue {
		background:transparent;
		-moz-box-shadow:0 1px 4px rgba(0,0,0,0.3);
		-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3);
		box-shadow:0 1px 4px rgba(0,0,0,0.3);
		margin:10px 0;
	}
	
	
	.sm-blue ul a {
		font-size:100%;
	}
	
	.sm-blue ul {
		border:0;
		padding:0;
		background:#fff;
		-moz-border-radius:0;
		-webkit-border-radius:0;
		border-radius:0;
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		box-shadow:none;
	}
	.sm-blue ul ul {
		/* darken the background of the 2+ level sub menus and remove border rounding */
		background:rgba(100,100,100,0.1);
		-moz-border-radius:0;
		-webkit-border-radius:0;
		border-radius:0;
	}


/* Menu items
===================*/

	.sm-blue a {
		padding:10px 5px 10px 28px !important; /* add some additional left padding to make room for the sub indicator */
		
		background: #016481; /* Old browsers */
background: -moz-linear-gradient(top, #016481 0%, #3ca9ce 4%, #047698 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#016481), color-stop(4%,#3ca9ce), color-stop(100%,#047698)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #016481 0%,#3ca9ce 4%,#047698 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #016481 0%,#3ca9ce 4%,#047698 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #016481 0%,#3ca9ce 4%,#047698 100%); /* IE10+ */
background: linear-gradient(to bottom, #016481 0%,#3ca9ce 4%,#047698 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#016481', endColorstr='#047698',GradientType=0 );
		border-bottom:1px solid #c6c6c6;
		color:#fff !important;
		font-size:100%;
		
	}
	.sm-blue ul a {
		background:transparent !important;
		color:#247eab !important;
		text-shadow:none !important;
	}
	.sm-blue a.current {
		background:#006892 !important; /* Old browsers */
		background-image:url(css-gradients-fallback/current-item-bg.png) !important;
		background-image:-moz-linear-gradient(top,#005a84 0%,#00749f 100%) !important;
		background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#005a84),color-stop(100%,#00749f)) !important;
		background-image:-webkit-linear-gradient(top,#005a84 0%,#00749f 100%) !important;
		background-image:-o-linear-gradient(top,#005a84 0%,#00749f 100%) !important;
		background-image:-ms-linear-gradient(top,#005a84 0%,#00749f 100%) !important;
		background-image:linear-gradient(top,#005a84 0%,#00749f 100%) !important;
		color:#fff !important;
	}
	/* add some text indentation for the 2+ level sub menu items */
	.sm-blue ul a {
		border-left:8px solid transparent;
	}
	.sm-blue ul ul a {
		border-left:16px solid transparent;
	}
	.sm-blue ul ul ul a {
		border-left:24px solid transparent;
	}
	.sm-blue ul ul ul ul a {
		border-left:32px solid transparent;
	}
	.sm-blue ul ul ul ul ul a {
		border-left:40px solid transparent;
	}
	/* round the corners of the first and last items */
	.sm-blue > li:first-child > a {
		-moz-border-radius:2px 2px 0 0;
		-webkit-border-radius:2px 2px 0 0;
		border-radius:2px 2px 0 0;
	}
	/* presume we have 4 levels max */
	.sm-blue > li:last-child > a,
	.sm-blue > li:last-child > ul > li:last-child > a,
	.sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > a,
	.sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a,
	.sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a,
	.sm-blue > li:last-child > ul,
	.sm-blue > li:last-child > ul > li:last-child > ul,
	.sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul,
	.sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul,
	.sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul {

	}
	/* highlighted items, don't need rounding since their sub is open */
	.sm-blue > li:last-child > a.highlighted,
	.sm-blue > li:last-child > ul > li:last-child > a.highlighted,
	.sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted,
	.sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted,
	.sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted {
		-moz-border-radius:0;
		-webkit-border-radius:0;
		border-radius:0;
	}


/* Sub menu indicators
===================*/

	.sm-blue a span.sub-arrow,
	.sm-blue ul a span.sub-arrow {
		top:50%;
		margin-top:-9px;
		right:auto;
		left:6px;
		margin-left:0;
		width:17px;
		height:17px;
		font:bold 16px/16px monospace !important;
		text-align:center;
		border:0;
		text-shadow:none;
		background:rgba(0,0,0,0.1);
		-moz-border-radius:100px;
		-webkit-border-radius:100px;
		border-radius:100px;
	}
	/* Hide sub indicator "+" when item is expanded - we enable the item link when it's expanded */
	.sm-blue a.highlighted span.sub-arrow {
		display:none !important;
	}


/* Items separators
===================*/

	.sm-blue li {
		border-left:0;
	}
	.sm-blue ul li {
		border-top:1px solid rgba(0,0,0,0.05);
	}
	.sm-blue ul li:first-child {
		border-top:0;
	}

}