<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/layout.xhtml">
	<ui:define name="content">

		<h:panelGroup styleClass="box-info" layout="block">
			<h1>Creación Acciones</h1>
			<p:messages id="msgs" showDetail="true" redisplay="true"
				closable="true" />
			<h:form id="form">
				<!-- Tabla para Vizualizar la  Lista de Acciones  -->
				<p:dataTable id="basicDT" var="acciones" rendered="#{not empty accionBB.listaAcciones}"
					value="#{accionBB.listaAcciones}" paginator="true"
					paginatorPosition="bottom" rows="7"
					paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
					<p:column headerText="Nombre de la Acción">
						<h:outputText value="#{acciones.descripcion}" />
					</p:column>
					<p:column headerText="Estado de la Acción ">
						<h:outputText value="#{acciones.estado}" />
					</p:column>
					<p:column styleClass="form-colummn"
						style="width:100px;text-align: center" headerText="Opciones">
						<p:commandButton update=" :viewPanel " icon="ui-icon-info"
							oncomplete="PF('carViewDialog').show()"
							title="Viazualizar Acción">
							<f:setPropertyActionListener value="#{acciones}"
								target="#{accionBB.selectedAccion}" />
						</p:commandButton>
						<p:commandButton update=" :formDialogEdit" icon="ui-icon-wrench"
							oncomplete="PF('carEditDialog').show()" title="Modificar Acción">
							<f:setPropertyActionListener value="#{acciones}"
								target="#{accionBB.selectedAccion}" />
						</p:commandButton>
						<p:commandButton update=" :form :msgs " icon="ui-icon-trash"
							action="#{accionBB.eliminarAccion}" title="Eliminar Acción">
							<f:setPropertyActionListener value="#{acciones}"
								target="#{accionBB.selectedAccion}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>

			<!-- Dialog para Vizualizar elementos . -->

			<p:dialog header="Vizualizar Accion" widgetVar="carViewDialog"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				closeOnEscape="true">
				<h:panelGroup id="viewPanel" styleClass="box-info" layout="block">

					<h:panelGrid id="Panel" styleClass="form-column" layout="block"
						columns="2">

						<h:outputLabel styleClass="enlinea" value="ID" />
						<h:outputText value="#{accionBB.selectedAccion.id}"
							styleClass="enlinea" />
						<h:outputLabel styleClass="enlinea" value="Nombre de la Acción" />
						<h:outputText value="#{accionBB.selectedAccion.id}"
							styleClass="enlinea" />
						<h:outputLabel styleClass="enlinea" value="Estado de la Acción " />
						<h:outputText styleClass="enlinea"
							value="#{accionBB.selectedAccion.estado}" />
					</h:panelGrid>
				</h:panelGroup>
			</p:dialog>



			<!-- Dialog para Modificar Accion  -->
			<p:dialog header="Modificar Acción" widgetVar="carEditDialog"
				styleClass="box-info" modal="true" showEffect="fade"
				hideEffect="fade" resizable="false" closeOnEscape="true">
				<h:form id="formDialogEdit" styleClass="box-info">
					<h:outputText value="Elemnto con ID:" />
					<h:outputText value="#{accionBB.selectedAccion.id}" />
					<h:inputHidden value="#{accionBB.selectedAccion.id}" />
					<h:panelGroup styleClass="box-info" layout="block">
						<h:panelGroup styleClass="form-column" layout="block">
							<h:outputLabel styleClass="enlinea" value="Nombre de la Acción" />
							<h:inputText styleClass="enlinea"
								value="#{accionBB.selectedAccion.descripcion}"
								label="Descripcion de la Accion">
								<f:validateRequired />
								<f:validateLength minimum="2" />
							</h:inputText>
							<h:outputLabel styleClass="enlinea" value="Estado de la Acción " />
							<h:selectOneMenu styleClass="enlinea"
								value="#{accionBB.selectedAccion.estado}">
								<f:selectItems value="#{dataBean.valoresEstados}" />
							</h:selectOneMenu>
						</h:panelGroup>
					</h:panelGroup>
					<h:commandButton styleClass="guardar" value="Modificar"
						action="#{accionBB.modificar}" style="aling: center" />
				</h:form>
			</p:dialog>

			<!-- formulario para Crear Accion  -->

			<h:form id="create_accion" styleClass="form-column">
				<h:panelGroup styleClass="box-info" layout="block">
					<h:panelGroup styleClass="form-column" layout="block">
						<h:outputLabel styleClass="enlinea" value="Nombre de la Acción" />
						<h:inputText styleClass="enlinea" validatorMessage="Nombre de la Accion debe contener mas de 2 caracteres"
							value="#{accionBB.accion.descripcion}"
							label="Descripcion de la Accion">
							<f:validateRequired />
							<f:validateLength minimum="2" />
						</h:inputText>
						<h:outputLabel styleClass="enlinea" value="Estado de la Acción " />
						<h:selectOneMenu styleClass="enlinea"
							value="#{accionBB.accion.estado}">
							<f:selectItems value="#{dataBean.valoresEstados}" />
						</h:selectOneMenu>
					</h:panelGroup>

					<h:panelGroup styleClass="form-column" layout="block">
						<h:panelGroup styleClass="form-column" layout="block">
							<h:commandButton styleClass="guardar" value="Guardar"
								action="#{accionBB.guardar}" />
							<h:commandButton styleClass="cancelar" value="Cancelar"
								type="reset" />
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>
			</h:form>


		</h:panelGroup>
	</ui:define>
</ui:composition>
</html>