<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/layout.xhtml">
	<ui:define name="content">

		<h:panelGroup styleClass="box-info" layout="block">
			<h1>Creación Contenidos</h1>
			<p:messages id="msgs" showDetail="true" redisplay="true"
				closable="true" />

			<h:form id="form" >
				<!-- Tabla para Vizualizar la  Lista de Contenidos  -->
				<p:dataTable id="basicDT" var="contenidos" rendered="#{not empty contenidoBB.listaContenidos}"
					value="#{contenidoBB.listaContenidos}" paginator="true"
					paginatorPosition="bottom" rows="7" styleClass="box-info"
					paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
					<p:column headerText="Nombre del Contenido">
						<h:outputText value="#{contenidos.nombreEntidad}" />
					</p:column>
					<p:column headerText="Descripción">
						<h:outputText value="#{contenidos.descripcion}" />
					</p:column>
					<p:column headerText="Estado ">
						<h:outputText value="#{contenidos.estado}" />
					</p:column>
					<p:column styleClass="form-colummn"
						style="width:100px;text-align: center" headerText="Opciones">
						<p:commandButton update=" :viewPanel " icon="ui-icon-info"
							oncomplete="PF('contenidosViewDialog').show()"
							title="Viazualizar Contenidos">
							<f:setPropertyActionListener value="#{contenidos}"
								target="#{contenidoBB.selectedContenido}" />
						</p:commandButton>
						<p:commandButton update=" :formDialogEdit" icon="ui-icon-wrench"
							oncomplete="PF('carEditDialog').show()"
							title="Modificar Contenidos">
							<f:setPropertyActionListener value="#{contenidos}"
								target="#{contenidoBB.selectedContenido}" />
						</p:commandButton>
						<p:commandButton update=" :form :msgs " icon="ui-icon-trash"
							action="#{contenidoBB.eliminar}" title="Eliminar Contenidos">
							<f:setPropertyActionListener value="#{contenidos}"
								target="#{contenidoBB.selectedContenido}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>

			<!-- Dialog para Vizualizar elementos . -->

			<p:dialog header="Vizualizar Contenido" widgetVar="contenidosViewDialog"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				closeOnEscape="true">
				<h:panelGroup id="viewPanel" styleClass="box-info" layout="block">

					<h:panelGrid id="Panel" styleClass="form-column" layout="block"
						columns="2">

						<h:outputLabel styleClass="enlinea" value="ID" />
						<h:outputText value="#{contenidoBB.selectedContenido.id}"
							styleClass="enlinea" />
						<h:outputLabel styleClass="enlinea" value="Nombre del contenido" />
						<h:outputText
							value="#{contenidoBB.selectedContenido.nombreEntidad}"
							styleClass="enlinea" />
						<h:outputLabel styleClass="enlinea"
							value="Descripcion del Contenido" />
						<h:outputText value="#{contenidoBB.selectedContenido.descripcion}"
							styleClass="enlinea" />
						<h:outputLabel styleClass="enlinea" value="Estado del Accion " />
						<h:outputText styleClass="enlinea"
							value="#{contenidoBB.selectedContenido.estado}" />
					</h:panelGrid>
				</h:panelGroup>
			</p:dialog>



			<!-- Dialog para Modificar Contenido  -->
			<p:dialog header="Modificar Contenido" widgetVar="carEditDialog"
				styleClass="box-info" modal="true" showEffect="fade"
				hideEffect="fade" resizable="false" closeOnEscape="true">
				<h:form id="formDialogEdit" styleClass="box-info">
					
					<h:inputHidden value="#{contenidoBB.selectedContenido.id}" />
					<h:outputLabel styleClass="enlinea" value="Nombre del Contenido" />
					<h:inputText styleClass="enlinea"
						value="#{contenidoBB.selectedContenido.nombreEntidad}"
						label="Nombre del Contenido">
						<f:validateRequired />
						<f:validateLength minimum="2" />
					</h:inputText>
					<h:outputLabel styleClass="enlinea"
						value="Descripcion del Contenido" />
					<h:inputText styleClass="enlinea"
						value="#{contenidoBB.selectedContenido.descripcion}"
						label="Descripcion del Contenido">
						<f:validateRequired />
						<f:validateLength minimum="2" />
					</h:inputText>
					
					<h:outputLabel styleClass="enlinea" value="Estado del Contenido " />
					<h:selectOneMenu styleClass="enlinea"
						value="#{contenidoBB.selectedContenido.estado}">
						<f:selectItems value="#{dataBean.valoresEstados}" />
					</h:selectOneMenu>

					<h:commandButton styleClass="guardar" value="Modificar"
						action="#{contenidoBB.modificar}" style="aling: center" />
				</h:form>
			</p:dialog>

			<h:panelGroup styleClass="form-column" layout="block">
				<h:form id="create_usuario" styleClass="form-column">
					<h:panelGroup styleClass="box-info" layout="block">
						<h:panelGroup styleClass="form-column" layout="block">
							<h:outputLabel styleClass="enlinea" value="Nombre del Contenido" />
							<h:inputText styleClass="enlinea" validatorMessage="Nombre del Contenido debe contener mas de 2 caracteres"
								value="#{contenidoBB.contenido.nombreEntidad}"
								label="Nombre del Contenido">
								<f:validateRequired />
								<f:validateLength minimum="2" />
							</h:inputText>
							<h:outputLabel styleClass="enlinea"
								value="Descripcion del Contenido" />
							<h:inputText styleClass="enlinea"
								value="#{contenidoBB.contenido.descripcion}" validatorMessage="Descripción del Contenido debe contener mas de 2 caracteres"
								label="Descripcion del Contenido">
								<f:validateRequired />
								<f:validateLength minimum="2" />
							</h:inputText>
							<h:outputLabel styleClass="enlinea" value="Estado del Contenido " />
							<h:selectOneMenu styleClass="enlinea"
								value="#{contenidoBB.contenido.estado}">
								<f:selectItems value="#{dataBean.valoresEstados}" />
							</h:selectOneMenu>
						</h:panelGroup>

						<h:panelGroup styleClass="form-column" layout="block">
							<h:panelGroup styleClass="form-column" layout="block">
								<h:commandButton styleClass="guardar" value="Guardar"
									action="#{contenidoBB.guardar}" />
								<h:commandButton styleClass="cancelar" value="Cancelar"
									type="reset" />
							</h:panelGroup>
						</h:panelGroup>
					</h:panelGroup>
				</h:form>
			</h:panelGroup>
		</h:panelGroup>
	</ui:define>
</ui:composition>
</html>