<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/layout.xhtml">

	<ui:define name="content">

		<h:panelGroup layout="block" styleClass="box-info">
			<h:outputText value="Bienvenido al Modulo de seguridad" />
		</h:panelGroup>

	</ui:define>
</ui:composition>


</html>