<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout.xhtml">
	<ui:define name="content">

		<h:panelGroup styleClass="box-info" layout="block">
			<h1>Creación Permisos</h1>
			<p:messages id="msgs" showDetail="true" redisplay="true"
				closable="true" escape="true" />
			<h:form id="form">

				<p:dataTable id="basicDT" var="permisos" styleClass="box-info"
					rendered="#{not empty permisoBB.listaPermisos}"
					value="#{permisoBB.listaPermisos}" paginator="true"
					paginatorPosition="bottom" rows="7"
					paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

					<p:column headerText="Contenido Asociado">
						<h:outputText value="#{permisos.contenido.nombreEntidad}" />
					</p:column>

					<p:column headerText="Perfil Asignado">
						<h:outputText value="#{permisos.rol.nombre}" />
					</p:column>
					<p:column headerText="Accion Asignada">
						<h:outputText value="#{permisos.accion.descripcion}" />
					</p:column>
					<p:column headerText="Estado del Permiso ">
						<h:outputText value="#{permisos.estado}" />
					</p:column>

					<p:column styleClass="form-colummn"
						style="width:100px;text-align: center" headerText="Opciones">
						<p:commandButton update=":form :permisoDetail"
							oncomplete="PF('permisoDialog').show()" icon="ui-icon-info"
							title="View">
							<f:setPropertyActionListener value="#{permisos}"
								target="#{permisoBB.selectedPermiso}" />
						</p:commandButton>

						<p:commandButton update=" :form :formDialogEdit"
							oncomplete="PF('permisoEditDialog').show()" icon="ui-icon-wrench"
							title="Modificar">
							<f:setPropertyActionListener value="#{permisos}"
								target="#{permisoBB.selectedPermiso}" />
						</p:commandButton>
						<p:commandButton update=" :form :msgs"
							action="#{permisoBB.eliminar}" icon="ui-icon-trash"
							title="Eliminar">
							<f:setPropertyActionListener value="#{permisos}"
								target="#{permisoBB.selectedPermiso}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>
			<p:dialog header="Permiso Detalle" widgetVar="permisoDialog"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false">
				<p:outputPanel id="permisoDetail" style="text-align:center;">
					<p:panelGrid columns="2"
						rendered="#{not empty permisoBB.selectedPermiso}"
						columnClasses="label,value">
						<h:outputText value="Id:" />
						<h:outputText value="#{permisoBB.selectedPermiso.id}" />
						<h:outputText value="Contenido" />
						<h:outputText
							value="#{permisoBB.selectedPermiso.contenido.nombreEntidad}" />
						<h:outputText value="Perfiles" />
						<h:outputText value="#{permisoBB.selectedPermiso.rol.nombre}" />
						<h:outputText value="Accion" />
						<h:outputText
							value="#{permisoBB.selectedPermiso.accion.descripcion}" />
						<h:outputText value="Estado:" />
						<h:outputText value="#{permisoBB.selectedPermiso.estado}" />
					</p:panelGrid>
				</p:outputPanel>
			</p:dialog>

			<!-- Dialog para Modificar Accion  -->
			<p:dialog header="Modificar Permisos" widgetVar="permisoEditDialog"
				styleClass="box-info" modal="true" showEffect="fade"
				hideEffect="fade" resizable="false" closeOnEscape="true">
				<h:form id="formDialogEdit" styleClass="box-info">

					<h:inputHidden value="#{permisoBB.selectedPermiso.id}" />
					<h:panelGroup layout="block" styleClass="form-column">
						<h:outputLabel value="Asignar Perfil " />
						<h:selectOneMenu converter="#{RolConverter}"
							value="#{permisoBB.selectedPermiso.rol}" label="Rol">
							<f:selectItem itemLabel="Seleccione un Perfil..."
								noSelectionOption="true" />
							<f:selectItems value="#{rolesBB.listaRoles}" var="rol"
								itemLabel="#{rol.nombre}" itemValue="#{rol}" />
							<f:validateRequired />
						</h:selectOneMenu>
						<h:outputLabel value="Asignar Accion " />
						<h:selectOneMenu converter="#{AccionConverter}"
							value="#{permisoBB.selectedPermiso.accion}" label="Accion">
							<f:selectItem itemLabel="Seleccione una Accion..."
								noSelectionOption="true" />
							<f:selectItems value="#{accionBB.listaAcciones}" var="acc"
								itemLabel="#{acc.descripcion}" itemValue="#{acc}" />
							<f:validateRequired />
						</h:selectOneMenu>
					</h:panelGroup>
					<h:panelGroup layout="block" styleClass="form-column">
						<h:outputLabel value="Asignar  Contenido" />
						<h:selectOneMenu converter="#{ContenidoConverter}"
							value="#{permisoBB.selectedPermiso.contenido}" label="Contenido">
							<f:selectItem itemLabel="Seleccione un Contenido..."
								noSelectionOption="true" />
							<f:selectItems value="#{contenidoBB.listaContenidos}" var="acc"
								itemLabel="#{acc.nombreEntidad}" itemValue="#{acc}" />
							<f:validateRequired />
						</h:selectOneMenu>
						<h:outputLabel styleClass="enlinea" value="Estado del Permiso " />
						<h:selectOneMenu styleClass="enlinea"
							value="#{permisoBB.selectedPermiso.estado}">
							<f:selectItems value="#{dataBean.valoresEstados}" />
						</h:selectOneMenu>

					</h:panelGroup>

					<h:commandButton styleClass="guardar" value="Modificar"
						action="#{permisoBB.modificar}" style="aling: center" />
				</h:form>
			</p:dialog>

			<h:form id="form_permiso" styleClass="box-info">
				<h:panelGroup layout="block" styleClass="form-column">
					<h:panelGroup layout="block" styleClass="form-column">
						<h:outputLabel value="Asignar Perfil" />
						<h:selectOneMenu converter="#{RolConverter}"
							validatorMessage="Debe seleccionar un valor de Perfil"
							value="#{permisoBB.permiso.rol}" label="Rol">
							<f:selectItem itemLabel="Seleccione un Rol..."
								noSelectionOption="true" />
							<f:selectItems value="#{rolesBB.listaRoles}" var="rol"
								itemLabel="#{rol.nombre}" itemValue="#{rol}" />
							<f:validateRequired />
						</h:selectOneMenu>
						<h:outputLabel value="Asignar Accion" />
						<h:selectOneMenu converter="#{AccionConverter}"
							validatorMessage="Debe seleccionar un valor de Accion"
							value="#{permisoBB.permiso.accion}" label="Accion">
							<f:selectItem itemLabel="Seleccione un Accion..."
								noSelectionOption="true" />
							<f:selectItems value="#{accionBB.listaAcciones}" var="acc"
								itemLabel="#{acc.descripcion}" itemValue="#{acc}" />
							<f:validateRequired />
						</h:selectOneMenu>
					</h:panelGroup>
					<h:panelGroup layout="block" styleClass="form-column">
						<h:outputLabel value="Asignar Contenido" />
						<h:selectOneMenu converter="#{ContenidoConverter}"
							validatorMessage="Debe seleccionar un valor de Contenido"
							value="#{permisoBB.permiso.contenido}" label="Contenido">
							<f:selectItem itemLabel="Seleccione un Contenido..."
								noSelectionOption="true" />
							<f:selectItems value="#{contenidoBB.listaContenidos}" var="acc"
								itemLabel="#{acc.nombreEntidad}" itemValue="#{acc}" />
							<f:validateRequired />
						</h:selectOneMenu>
						<h:outputLabel styleClass="enlinea" value="Estado del Permiso " />
						<h:selectOneMenu styleClass="enlinea"
							value="#{permisoBB.permiso.estado}">
							<f:selectItems value="#{dataBean.valoresEstados}" />
						</h:selectOneMenu>

					</h:panelGroup>
					<h:panelGroup layout="block" styleClass="form-column">
						<h:commandButton styleClass="guardar" value="Guardar "
							action="#{permisoBB.guardar}" />
						<h:commandButton styleClass="cancelar" value="Cancelar"
							type="reset" />
					</h:panelGroup>
				</h:panelGroup>
			</h:form>
		</h:panelGroup>
	</ui:define>
</ui:composition>
<h:selectOneMenu styleClass="enlinea"
	value="#{permisoBB.permiso.estado}">
	<f:selectItems value="#{dataBean.valoresEstados}" />
</h:selectOneMenu>
</html>