<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/layout.xhtml">
	<h:outputStylesheet library="css" name="template.css" />

	<ui:define name="content">

		<h:panelGroup styleClass="box-info" layout="block">
			<h1>Módulo de Administración de Seguridad</h1>
			<p:growl id="msgs" showDetail="true" redisplay="true" />

			<h:panelGroup styleClass="form-column" layout="block">
				<!-- 
				<h:form id="find_usuario">
					<h:panelGroup styleClass="form-column" layout="block">
						<h:outputLabel styleClass="enlinea" value="Fecha de inicio :" />
						<h:inputText styleClass="enlinea" />

						<h:outputLabel styleClass="enlinea" value="Fecha de fin :" />
						<h:inputText styleClass="enlinea" />
					</h:panelGroup>
					<h:panelGroup styleClass="form-column" layout="block">
						<h:outputLabel styleClass="enlinea" value="Usuario Login :" />
						<h:inputText styleClass="enlinea" />
						<h:outputLabel styleClass="enlinea" value="Nombre de Usuario:" />
						<h:inputText styleClass="enlinea" />
						<h:commandButton styleClass="buscar" value="buscar" />
					</h:panelGroup>
				</h:form>
				 -->
				<br />
				<h:panelGroup layout="block" styleClass="box-info">
					<h:panelGroup layout="block" styleClass="form-column">
						<h:button outcome="usuariosCreate" styleClass="boton"
							value="Usuarios" />
						<h:button styleClass="boton" value="Usuario-Perfil"
							outcome="usuarioRolCreate" />

					</h:panelGroup>
					<h:panelGroup layout="block" styleClass="form-column">

						<h:button styleClass="boton" value="Caducidad de Clave"
							outcome="main" />
						<h:button styleClass="boton" value="Cambiar Contraseña"
							action="claveChange.jsf" />
					</h:panelGroup>
					<h:panelGroup layout="block" styleClass="form-column">
						<h:button styleClass="boton" value="Contenido"
							outcome="contenidoCreate" />
						<h:button styleClass="boton" value="Acciones"
							outcome="accionCreate" />
					</h:panelGroup>
					<h:panelGroup layout="block" styleClass="form-column">
						<h:button styleClass="boton" value="Perfiles"
							outcome="rolesCreate" />
						<h:button styleClass="boton" value="Permisos"
							outcome="permisoCreate" />
					</h:panelGroup>
					<h:panelGroup layout="block" styleClass="form-column">
						<h:button styleClass="boton" value="Menu" outcome="menuCreate" />
						<h:button styleClass="boton" value="Menu-Perfil"
							outcome="menuRolCreate" />
					</h:panelGroup>

				</h:panelGroup>

				<h:form id="form">
						<p:dataTable id="basicDT" styleClass="box-info"
						value="#{usuarioBB.listaUsuarios}" var="usuarios"
						resizableColumns="false" rows="7" paginator="true"
						paginatorPosition="bottom" rendered="#{not empty usarioBB.listaUsuarios}"
						paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">


						<p:column headerText="Usuario Login">
							<h:outputText value="#{usuarios.username}" />
						</p:column>
						<p:column headerText="Nombre Usuario">
							<h:outputText value="#{usuarios.nombre}" />
						</p:column>
						<p:column headerText="Cargo del Funcionario">
							<h:outputText value="#{usuarios.cargoFuncion}" />
						</p:column>
						<p:column headerText=" Email">
							<h:outputText value="#{usuarios.email}" />
						</p:column>
						<p:column headerText=" Celular">
							<h:outputText value="#{usuarios.telefonoCelular}" />
						</p:column>

						<p:column headerText=" Estado ">
							<h:outputText value="#{usuarios.estado}" />
						</p:column>
						<p:column styleClass="form-colummn"
							style="width:100px;text-align: center" headerText="Opciones">

							<p:commandButton update=":form :usuariosDetail"
								oncomplete="PF('usuariosDialog').show()" icon="ui-icon-info"
								title="View">
								<f:setPropertyActionListener value="#{usuarios}"
									target="#{usuarioBB.selectedUsuario}" />
							</p:commandButton>

							<p:commandButton
								oncomplete="PF('usuarioEditDialog').show()" update=":form :formDialogEdit"
								icon="ui-icon-wrench" title="Modificar" type="submit">
								<f:setPropertyActionListener value="#{usuarios}"
									target="#{usuarioBB.selectedUsuario}" />
							</p:commandButton>

							<p:commandButton update=":form:basicDT :msgs :form:"
								action="#{usuarioBB.eliminar}" icon="ui-icon-trash"
								title="Eliminar">
								<f:setPropertyActionListener value="#{usuarios}"
									target="#{usuarioBB.selectedUsuarios}" />
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</h:form>
				<p:dialog header="Usuarios Detalle" widgetVar="usuariosDialog"
					modal="true" showEffect="fade" hideEffect="fade" resizable="false">
					<p:outputPanel id="usuariosDetail" style="text-align:center;">
						<p:panelGrid columns="2"
							rendered="#{not empty usuarioBB.selectedUsuario}"
							columnClasses="label,value">
							<h:outputText value="Id:" />
							<h:outputText value="#{usuarioBB.selectedUsuario.id}" />
							<h:outputText value="Nombre del Usuario:" />
							<h:outputText value="#{usuarioBB.selectedUsuario.nombre}" />
							<h:outputText value="Apelleidos del Usuario:" />
							<h:outputText value="#{usuarioBB.selectedUsuario.apellido}" />
							<h:outputText value="Cargo de Funcion:" />
							<h:outputText value="#{usuarioBB.selectedUsuario.cargoFuncion}" />
							<h:outputText value="Correo Electronico:" />
							<h:outputText value="#{usuarioBB.selectedUsuario.email}" />
							<h:outputText value="Usuario del Sistema:" />
							<h:outputText value="#{usuarioBB.selectedUsuario.username}" />
							<h:outputText value="Telefono Conveccional:" />
							<h:outputText value="#{usuarioBB.selectedUsuario.telefonoFijo}" />
							<h:outputText value="Telefono Celular" />
							<h:outputText
								value="#{usuarioBB.selectedUsuario.telefonoCelular}" />
							<h:outputText value="Estado del Usuario:" />
							<h:outputText value="#{usuarioBB.selectedUsuario.estado}" />


						</p:panelGrid>
					</p:outputPanel>
				</p:dialog>


				<!-- Dialog para Modificar Accion  -->
				<p:dialog header="Modificar Usuarios" widgetVar="usuarioEditDialog"
					styleClass="box-info" modal="true" showEffect="fade"
					hideEffect="fade" resizable="false" closeOnEscape="true">
					<h:form id="formDialogEdit" styleClass="box-info">
						<h:inputHidden value="#{usuarioBB.selectedUsuario.id}" />

						<h:panelGroup styleClass="form-column" layout="block">
							<h:outputLabel styleClass="enlinea" value="Nombre " />
							<h:inputText styleClass="enlinea" label="nombre usuario"
								lang="es" value="#{usuarioBB.selectedUsuario.nombre}">
								<f:validateRequired />
								<f:validateLength minimum="4" />
							</h:inputText>
							<h:outputLabel styleClass="enlinea" value="Apellidos " />
							<h:inputText styleClass="enlinea" label="Apellidos" lang="es"
								value="#{usuarioBB.selectedUsuario.apellido}">
								<f:validateRequired />
								<f:validateLength minimum="4" />
							</h:inputText>
							<h:outputLabel styleClass="enlinea" value="Telefono" />

							<h:inputText styleClass="enlinea" label="Telefono Fijo" lang="es"
								value="#{usuarioBB.selectedUsuario.telefonoFijo}">
								<f:validateRequired />
								<!--  <f:validateRegex
									pattern="^\+?\d{1,3}?[- .]?\(?(?:\d{2,3})\)?[- .]?\d\d\d[- .]?\d\d\d\d$ " />-->
							</h:inputText>

							<h:outputLabel styleClass="enlinea" value="Celular" />
							<h:inputText styleClass="enlinea" label="Telefno Celuar"
								lang="es" value="#{usuarioBB.selectedUsuario.telefonoCelular}">
								<f:validateRequired />
								<!-- <f:validateRegex
									pattern="^\+?\d{1,3}?[- .]?\(?(?:\d{2,3})\)?[- .]?\d\d\d[- .]?\d\d\d\d$ " />-->
							</h:inputText>
							<h:outputLabel styleClass="enlinea" value="Cargo Funcion" />
							<h:inputText styleClass="enlinea"
								value="#{usuarioBB.selectedUsuario.cargoFuncion}" />
						</h:panelGroup>

						<h:panelGroup styleClass="form-column" layout="block">
							<h:outputLabel styleClass="enlinea" value="Correo Electronico " />
							<h:inputText styleClass="enlinea" label="Correo Electronico"
								lang="es" value="#{usuarioBB.selectedUsuario.email}">
								<f:validateRequired />
								<!-- <f:validateRegex
									pattern="^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,3})$ " />-->
							</h:inputText>

							<h:outputLabel styleClass="enlinea" value="Nombre Usuario" />
							<h:inputText styleClass="enlinea" label="Nombre Usuario"
								lang="es" value="#{usuarioBB.selectedUsuario.username}">
								<f:validateRequired />

							</h:inputText>
							<h:outputLabel styleClass="enlinea" value="Contraseña" />

							<h:outputLabel styleClass="enlinea" value="Estado del Usuario" />
							<h:selectOneMenu styleClass="enlinea" label="Estado del Usuario"
								lang="es" value="#{usuarioBB.selectedUsuario.estado}">
								<f:selectItems value="#{dataBean.valoresEstados}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<h:commandButton styleClass="guardar" value="Modificar"
							action="#{menuBB.modificar}" style="aling: center" />
					</h:form>
				</p:dialog>

			</h:panelGroup>
		</h:panelGroup>
	</ui:define>
</ui:composition>
</html>