<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/layout.xhtml">
	<h:outputStylesheet library="css" name="template.css" />

	<ui:define name="content">

		<h:panelGroup styleClass="box-info" layout="block">
			<h1>Formulario de  Usuario</h1>
			<p:messages id="msgs" showDetail="true" redisplay="true"
				closable="true" />

			
				<h:form id="create_usuario" styleClass="form-column">
					<h:panelGroup styleClass="box-info" layout="block">
						<h:panelGroup styleClass="form-column" layout="block">
							<h:outputLabel styleClass="enlinea" value="Nombre " />
							<h:inputText styleClass="enlinea" label="nombre usuario" validatorMessage="Nombre del usuario debe exceder los 4 caracteres "
								lang="es" value="#{usuarioBB.usuario.nombre}">
								<f:validateRequired />
								<f:validateLength minimum="4" />
							</h:inputText>
							<h:outputLabel styleClass="enlinea" value="Apellidos " />
							<h:inputText styleClass="enlinea" label="Apellidos" lang="es" validatorMessage="Apellidos del usuario debe exceder los 4 caracteres "
								value="#{usuarioBB.usuario.apellido}">
								<f:validateRequired />
								<f:validateLength minimum="4" />
							</h:inputText>
							<h:outputLabel styleClass="enlinea" value="Telefono" />

							<h:inputText styleClass="enlinea" label="Teléfono Fijo" lang="es" validatorMessage="Introducir Numero Telefonico. ej: +593-(09)-345-6789"
								value="#{usuarioBB.usuario.telefonoFijo}">
								<f:validateRequired />
								 <f:validateRegex
									pattern="^\+?\d{1,3}?[- .]?\(?(?:\d{2,3})\)?[- .]?\d\d\d[- .]?\d\d\d\d$" />
							</h:inputText>

							<h:outputLabel styleClass="enlinea" value="Celular" />
							<h:inputText styleClass="enlinea" label="Teléfono Celuar" validatorMessage="Introducir Numero de Celular. ej: +593-(99)-345-6789"
								lang="es" value="#{usuarioBB.usuario.telefonoCelular}">
								<f:validateRequired />
								<f:validateRegex
									pattern="^\+?\d{1,3}?[- .]?\(?(?:\d{2,3})\)?[- .]?\d\d\d[- .]?\d\d\d\d$" />
							</h:inputText>
							<h:outputLabel styleClass="enlinea" value="Cargo Función" />
							<h:inputText styleClass="enlinea"
								value="#{usuarioBB.usuario.cargoFuncion}" />
						</h:panelGroup>

						<h:panelGroup styleClass="form-column" layout="block">
							<h:outputLabel styleClass="enlinea" value="Correo Electrónico " />
							<h:inputText styleClass="enlinea" label="Correo Electronico" validatorMessage="Introducir Correo electronico. ej: aaa@bbb.com"
								lang="es" value="#{usuarioBB.usuario.email}">
								<f:validateRequired />
								<f:validateRegex
									pattern="^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,3})$" />
							</h:inputText>

							<h:outputLabel styleClass="enlinea" value="Nombre Usuario" />
							<h:inputText styleClass="enlinea" label="Nombre Usuario" validatorMessage="Nombre de usuario debe exceder los 4 caracteres "
								lang="es" value="#{usuarioBB.usuario.username}">
								<f:validateRequired />
                                 <f:validateLength minimum="4" />
							</h:inputText>
							<h:outputLabel styleClass="enlinea" value="Contraseña" />
							<p:password id="p1" match="p2" styleClass="enlinea" validatorMessage="Contraseña debe exceder los 4 caracteres  "
								required="true" value="#{usuarioBB.usuario.password}" />
							<h:outputLabel styleClass="enlinea" value="Repita su Contraseña" />
							<p:password id="p2" required="true" styleClass="enlinea"
								label="Contraseña" lang="es"
								value="#{usuarioBB.usuario.password}" feedback="true" />

							<h:outputLabel styleClass="enlinea" value="Estado del Usuario" />
							<h:selectOneMenu styleClass="enlinea" label="Estado del Usuario"
								lang="es" value="#{usuarioBB.usuario.estado}">
								<f:selectItems value="#{dataBean.valoresEstados}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup styleClass="form-column" layout="block">
							<h:panelGroup styleClass="form-column" layout="block">
								<h:commandButton styleClass="guardar" value="Guardar  "
									action="#{usuarioBB.guardar}" />
								<h:button styleClass="cancelar" value="Cancelar  "
									type="reset" outcome="usuariosPage"/>
							</h:panelGroup>
						</h:panelGroup>
					</h:panelGroup>
				</h:form>
			
		</h:panelGroup>
	</ui:define>
</ui:composition>
</html>