<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/layout.xhtml">
	<ui:define name="content">

		<h:panelGroup styleClass="box-info" layout="block">
			<h1>Relacion Perfiles-Usuarios</h1>
			<p:messages id="msgs" showDetail="true" redisplay="true"
				closable="true" />

			<h:form id="form">

				<p:dataTable id="basicDT" var="roles" rendered="#{not empty rolUsuarioBB.listaRolesUsuarios}"
					value="#{rolUsuarioBB.listaRolesUsuarios}" styleClass="box-info">

					<p:column headerText="Perfil Asignado">
						<h:outputText value="#{roles.rol.nombre}" />
					</p:column>
					<p:column headerText="Usuario Asignado">
						<h:outputText value="#{roles.usuario.username}" />
					</p:column>


					<p:column styleClass="form-colummn"
						style="width:100px;text-align: center" headerText="Opciones">
						<p:commandButton update=":form :rolusuariosDetail"
							oncomplete="PF('rolusuariosDialog').show()" icon="ui-icon-info"
							title="View">
							<f:setPropertyActionListener value="#{roles}"
								target="#{rolUsuarioBB.selectedRolUsuario}" />
						</p:commandButton>

						<p:commandButton update=" :form :formDialogEdit"
							oncomplete="PF('rolusuariosEditDialog').show()" icon="ui-icon-wrench"
							title="Modificar">
							<f:setPropertyActionListener value="#{roles}"
								target="#{rolUsuarioBB.selectedRolUsuario}" />
						</p:commandButton>
						<p:commandButton update=" :form :msgs "
							action="#{rolUsuarioBB.eliminar}" icon="ui-icon-trash"
							title="Eliminar">
							<f:setPropertyActionListener value="#{roles}"
								target="#{rolUsuarioBB.selectedRolUsuario}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>

			<p:dialog header="Perfil-Usuarios Detalle"
				widgetVar="rolusuariosDialog" modal="true" showEffect="fade"
				hideEffect="fade" resizable="false">
				<p:outputPanel id="rolusuariosDetail" style="text-align:center;">
					<p:panelGrid columns="2"
						rendered="#{not empty rolUsuarioBB.selectedRolUsuario}"
						columnClasses="label,value">
						<h:outputText value="Id:" />
						<h:outputText value="#{rolUsuarioBB.selectedRolUsuario.id}" />
						<h:outputText value="Perfil" />
						<h:outputText
							value="#{rolUsuarioBB.selectedRolUsuario.rol.nombre}" />
						<h:outputText value="Usuario" />
						<h:outputText
							value="#{rolUsuarioBB.selectedRolUsuario.usuario.nombre}" />



					</p:panelGrid>
				</p:outputPanel>
			</p:dialog>


			<!-- Dialog para Modificar Usuarios Rol  -->
			<p:dialog header="Modificar Usuarios- Perfiles" widgetVar="rolusuariosEditDialog"
				styleClass="box-info" modal="true" showEffect="fade"
				hideEffect="fade" resizable="false" closeOnEscape="true">
				<h:form id="formDialogEdit" styleClass="box-info">
					<h:inputHidden value="#{rolUsuarioBB.selectedRolUsuario.id}" />
					
					
					<h:panelGroup layout="block" styleClass="form-column">
						<h:outputLabel value="Asignar Perfil" />
						<h:selectOneMenu converter="#{RolConverter}"
							value="#{rolUsuarioBB.selectedRolUsuario.rol}"
							label="Rol Asignado">
							<f:selectItem itemLabel="Seleccione un Perfil..."
								noSelectionOption="true" />
							<f:selectItems value="#{rolesBB.listaRoles}" var="rol"
								itemLabel="#{rol.nombre}" itemValue="#{rol}" />
							<f:validateRequired />
						</h:selectOneMenu>
					</h:panelGroup>
					<h:panelGroup layout="block" styleClass="form-column">
						<h:outputLabel value="Asignar Usuario" />
						<h:selectOneMenu converter="#{UsuarioConverter}"
							value="#{rolUsuarioBB.selectedRolUsuario.usuario}"
							label="Usuario Asignado">
							<f:selectItem itemLabel="Seleccione un Usuario..."
								noSelectionOption="true" />
							<f:selectItems value="#{usuarioBB.listaUsuarios}" var="cont"
								itemLabel="#{cont.username}" itemValue="#{cont}" />
							<f:validateRequired />
						</h:selectOneMenu>
					</h:panelGroup>-->

					<h:commandButton styleClass="guardar" value="Modificar"
						action="#{rolUsuarioBB.modificar}" style="aling: center" />
				</h:form>
			</p:dialog>





			<h:form id="form_permiso">
				<h:panelGroup layout="block" styleClass="form-column">
					<h:panelGroup layout="block" styleClass="form-column">
						<h:outputLabel value="Asignar Perfil" />
						<h:selectOneMenu converter="#{RolConverter}" validatorMessage="Debe seleccionar un valor de Perfil"
							value="#{rolUsuarioBB.rolUsuario.rol}" label="Rol Asignado">
							<f:selectItem itemLabel="Seleccione un Perfil..."
								noSelectionOption="true" />
							<f:selectItems value="#{rolesBB.listaRoles}" var="rol"
								itemLabel="#{rol.nombre}" itemValue="#{rol}" />
							<f:validateRequired />
						</h:selectOneMenu>
					</h:panelGroup>
					<h:panelGroup layout="block" styleClass="form-column">
						<h:outputLabel value="Asignar Usuario" />
						<h:selectOneMenu converter="#{UsuarioConverter}" validatorMessage="Debe seleccionar un valor de Usuario"
							value="#{rolUsuarioBB.rolUsuario.usuario}"
							label="Usuario Asignado">
							<f:selectItem itemLabel="Seleccione un Usuario..."
								noSelectionOption="true" />
							<f:selectItems value="#{usuarioBB.listaUsuarios}" var="cont"
								itemLabel="#{cont.username}" itemValue="#{cont}" />
							<f:validateRequired />
						</h:selectOneMenu>
					</h:panelGroup>
				</h:panelGroup>

				<h:panelGroup layout="block" styleClass="form-column">
					<h:commandButton styleClass="guardar" value="Guardar Relacion"
						action="#{rolUsuarioBB.guardar}" />
					<h:commandButton styleClass="cancelar" value="Cancelar"
						type="reset" />
				</h:panelGroup>
			</h:form>
		</h:panelGroup>
	</ui:define>
</ui:composition>
</html>