<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition>
  
<h3 class="transver">Transversales</h3>

<ul class="transversales">
<ui:repeat var="transversales" value="#{templateMenuBB.listaMenuTransversales}">
<li><a href="#{transversales.url}" >#{transversales.nombreMenu}</a> </li>
</ui:repeat>
</ul>


<h3 class="lista-access">Acceso</h3>

<ul class="acceso">

<ui:repeat var="acceso" value="#{templateMenuBB.listaMenuAcceso}">
<li><a href="#{acceso.url}" >#{acceso.nombreMenu}</a> </li>
</ui:repeat>


<li><a href="usuariosPage.jsf">Modulo de Seguridad</a></li>
<li><a href="registroList.jsf">Inicializacíon del Sistema</a></li>
</ul>

</ui:composition>
</html>
