<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout.xhtml">
	<ui:define name="content">

		<h:panelGroup styleClass="box-info" layout="block"
			rendered="#{controlBB.tienePermisoUsuarioListar}">
			<h1>Módulo Transversal Catálogos</h1>
			<p:messages id="msgs2" showDetail="true" redisplay="true" closable="true" />

			<h:form id="form" prependId="false">
				<p:dataTable id="basicDT" var="item" value="#{mtCatalogoDetalleBB.listaMtCatalogoDetalles}"
					paginator="true" paginatorPosition="bottom" rows="7"
					paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
					<p:column headerText="Catálogo">
						<h:outputText value="#{item.ifCatalogo.descripcion}" />
					</p:column>

					<p:column headerText="Código">
						<h:outputText value="#{item.codigo}" />
					</p:column>
					
					<p:column headerText="Descripción">
						<h:outputText value="#{item.descripcion}" />
					</p:column>
					
					<p:column headerText="Estado ">
						<h:outputText value="#{item.estado}" />
					</p:column>

					<p:column styleClass="form-colummn" style="width:100px;text-align: center" headerText="Opciones">
						<p:commandButton update=" :form :viewPanel2" oncomplete="PF('menusViewDialog2').show()" icon="ui-icon-info" title="View">
							<f:setPropertyActionListener value="#{item}" target="#{mtCatalogoDetalleBB.selectedmtCatalogoDetalle}" />
						</p:commandButton>

						<p:commandButton update=" :form :formDialogEdit2" oncomplete="PF('menuEditDialog2').show()" icon="ui-icon-wrench" title="Modificar">
							<f:setPropertyActionListener value="#{item}" target="#{mtCatalogoDetalleBB.selectedmtCatalogoDetalle}" />
						</p:commandButton>
						
						<p:commandButton update=" :form :msgs2 " icon="ui-icon-trash"
							action="#{mtCatalogoDetalleBB.eliminar}" title="Eliminar">
							<f:setPropertyActionListener target="#{mtCatalogoDetalleBB.selectedmtCatalogoDetalle}" value="#{item}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>
			
			<!-- ============================ Cierra form del listado de catalogos ===================== -->
			
			<!-- Dialog para Vizualizar elementos . -->

			<p:dialog header="Vizualizar Catalogo" widgetVar="menusViewDialog2"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				closeOnEscape="true">
				<h:panelGroup id="viewPanel2" styleClass="box-info" layout="block">
					<h:panelGrid id="Panel2" styleClass="form-column" layout="block"
						columns="2">
						<h:outputLabel styleClass="enlinea" value="ID" />
						<h:outputText id="tv1" value="#{mtCatalogoDetalleBB.selectedmtCatalogoDetalle.id}" styleClass="enlinea" />
						
						<h:outputLabel styleClass="enlinea" value="Codigo" />
						<h:outputText id="tv2" value="#{mtCatalogoDetalleBB.selectedmtCatalogoDetalle.codigo}" styleClass="enlinea" />
						
						<h:outputLabel styleClass="enlinea"	value="Descripcion" />
						<h:outputText id="tv3" value="#{mtCatalogoDetalleBB.selectedmtCatalogoDetalle.descripcion}" styleClass="enlinea" />
						
						<h:outputLabel styleClass="enlinea" value="Estado" />
						<h:outputText id="tv4" styleClass="enlinea" value="#{mtCatalogoDetalleBB.selectedmtCatalogoDetalle.estado}" />
					</h:panelGrid>
				</h:panelGroup>
			</p:dialog>

			<!-- Dialog para Modificar Accion  -->

			<p:dialog header="Modificar Catalogos" widgetVar="menuEditDialog2"
			
				styleClass="box-info" modal="true" showEffect="fade"
				hideEffect="fade" resizable="false" closeOnEscape="true">
				
				<h:form id="formDialogEdit2" styleClass="box-info" prependId="false">
			<h:panelGroup>
					<h:inputHidden value="#{mtCatalogoDetalleBB.selectedmtCatalogoDetalle.id}" />
					
					<h:outputLabel styleClass="enlinea" value="Código" />
					<h:inputText id="tm1" styleClass="enlinea" value="#{mtCatalogoDetalleBB.selectedmtCatalogoDetalle.codigo}">
						<f:validateRequired />
						<!-- <f:validateLength minimum="2" />  -->
					</h:inputText>
					
					<h:outputLabel styleClass="enlinea" value="Descripción" />
					<h:inputText id="tm2" styleClass="enlinea" value="#{mtCatalogoDetalleBB.selectedmtCatalogoDetalle.descripcion}" />

					<h:outputLabel styleClass="enlinea" value="Catálogo" />
					<h:selectOneMenu id="tm3" styleClass="enlinea"
						value="#{mtCatalogoDetalleBB.selectedmtCatalogoDetalle.ifCatalogo}" converter="#{MtCatalogoConverter}">
						<f:selectItem itemLabel="Seleccionar" noSelectionOption="true" />
						<f:selectItems value="#{mtCatalogoBB.listaMtCatalogos}" var="cat"
							itemLabel="#{cat.descripcion}" itemValue="#{cat}" />
					</h:selectOneMenu>
					
					<h:outputLabel styleClass="enlinea" value="Estado" />
					<h:selectOneMenu id="tm4" styleClass="enlinea" value="#{mtCatalogoDetalleBB.selectedmtCatalogoDetalle.estado}">
						<f:selectItems value="#{dataBean.valoresEstados}" />
					</h:selectOneMenu>

					<h:commandButton id="tm5" styleClass="guardar" value="Modificar"
						action="#{mtCatalogoDetalleBB.modificar}" style="aling: center" />
			</h:panelGroup>
				</h:form>
			
			</p:dialog>
			
			<!-- ============================ form crear catalogos ===================== -->

			<h:form id="create_catalogo" styleClass="form-column" prependId="false">
				<h:panelGroup styleClass="box-info" layout="block"
					rendered="#{controlBB.tienePermisoUsuarioCrear}">
					<h:panelGroup styleClass="form-column" layout="block">
						<h:outputLabel styleClass="enlinea" value="Codigo" />
						<h:inputText id="t1" styleClass="enlinea"
							value="#{mtCatalogoDetalleBB.mtCatalogoDetalle.codigo}">
							<f:validateRequired />
						</h:inputText>

						<h:outputLabel styleClass="enlinea" value="Descripcion" />
						<h:inputText id="t2" styleClass="enlinea"
							value="#{mtCatalogoDetalleBB.mtCatalogoDetalle.descripcion}" />
						
						<h:outputLabel styleClass="enlinea" value="Catalogo" />
						<h:selectOneMenu id="t3" styleClass="enlinea"
							value="#{mtCatalogoDetalleBB.mtCatalogoDetalle.ifCatalogo}" converter="#{MtCatalogoConverter}"> 
							<f:selectItem itemLabel="Seleccionar"
								noSelectionOption="true" />
							<f:selectItems value="#{mtCatalogoBB.listaMtCatalogos}" var="cat"
								itemLabel="#{cat.descripcion}" itemValue="#{cat}" />
						</h:selectOneMenu>

						<h:outputLabel styleClass="enlinea" value="Estado" />
						<h:selectOneMenu id="t4" styleClass="enlinea"
							value="#{mtCatalogoDetalleBB.mtCatalogoDetalle.estado}">
							<f:selectItems value="#{dataBean.valoresEstados}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<h:panelGroup styleClass="form-column" layout="block">
						<!-- <h:panelGroup styleClass="form-column" layout="block"> -->
							<h:commandButton id="t5" styleClass="guardar" value="Guardar"
								action="#{mtCatalogoDetalleBB.guardar}" />
							<h:commandButton id="t6" styleClass="cancelar" value="Cancelar"
								type="reset" />
						<!-- </h:panelGroup> -->
					</h:panelGroup>
				</h:panelGroup>
			</h:form>
		</h:panelGroup>
	</ui:define>
</ui:composition>
</html>
