<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/layout.xhtml">
	<ui:define name="content">	
		<h:panelGroup styleClass="box-info" layout="block">
		<h1><h:outputText value="Catálogos" /></h1>
		<!-- Mensaje : #{homeBean.message}<br /> --> 
     	<br/>
		<h:form prependId="false">
			<table>
				<tr>
					<td>  </td>
					<!-- inputHidden -->
					<td> <h:outputText value="#{mtCatalogoDetalleBB.mtCatalogoDetalle.id}" /> </td>
				</tr>
				 
				<tr>
					<td> <h:outputText value="Catálogo" /> </td>
					<td>
					<!--
					<h:outputText value="#{mtCatalogoDetalleBB.mtCatalogoDetalle.ifCatalogo}" converter="#{MtCatalogoConverter}"/>
					--> 
					<h:selectOneMenu value="#{mtCatalogoDetalleBB.mtCatalogoDetalle.ifCatalogo}"
									 required="true"   
        							 converter="#{MtCatalogoConverter}" >
        				
        				<f:selectItem itemLabel="Seleccionar..." noSelectionOption="true" /> 
        				<f:selectItems value="#{mtCatalogoBB.listaMtCatalogos}" 
        							   var="cat" 
        							   itemLabel="#{cat.descripcion}"
        							   itemValue="#{cat}"
        				/>
        				
				    </h:selectOneMenu>
				     
				    </td>
				</tr>

				<tr>
					<td> <h:outputText value="Código" /> </td>
					<td> <h:inputText value="#{mtCatalogoDetalleBB.mtCatalogoDetalle.codigo}" /> </td>
				</tr>
				
				
				<tr>
					<td> <h:outputText value="Descripción" /> </td>
					<td> <h:inputText value="#{mtCatalogoDetalleBB.mtCatalogoDetalle.descripcion}" /><br /> </td>
				</tr>
			</table>
			
			<hr />
			
			<h:commandButton value="Guardar"  action="#{mtCatalogoDetalleBB.botonCancelar}" >
				<f:setPropertyActionListener target="#{mtCatalogoDetalleBB.guardatDatos}" value="#{mtCatalogoDetalleBB.mtCatalogoDetalle}" />
			</h:commandButton>

			<h:commandButton value="Cancelar" action="#{mtCatalogoDetalleBB.botonCancelar}" />

		</h:form>
		</h:panelGroup>
		</ui:define>
</ui:composition>
</html>