<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout.xhtml">
	<ui:define name="content">	
		<h:panelGroup styleClass="box-info" layout="block">	
		<h1>Módulo Catálogos</h1>
		<h:form id="form">
		 	 <!-- value="#{mtCatalogoDetalleBB.mtCatalogoDetalle.ifCatalogo}" -->
		 	 <!--  
			<h:selectOneMenu
				value="#{mtCatalogoDetalleBB.mtCatalogo2}"
				converter="#{MtCatalogoConverter}"
				>
				<f:selectItems value="#{mtCatalogoBB.mtCatalogos}" var="cat"
					itemLabel="#{cat.descripcion}" itemValue="#{cat}" 
				/>
				 	
				<f:ajax event="change" render="tab1" listener="#{mtCatalogoDetalleBB.buscar}"/>
				 
			</h:selectOneMenu>
			-->
			 
			<h:dataTable id="tab1" value="#{mtCatalogoDetalleBB.listaMtCatalogoDetalles}" var="item" >
				<!-- 
				<h:column> <f:facet name="header">	<h:outputText value="id"/> </f:facet>
		     		<h:outputText value="#{item.idCatalogoDetalle}"/>
		  		</h:column>
		  		
		  		<h:column> <f:facet name="header">	<h:outputText value="id_cat"/> </f:facet>
		     		<h:outputText value="#{item.ifCatalogo.idCatalogo}"/>
		  		</h:column>
 				-->
				<h:column> <f:facet name="header"> <h:outputText value="Catálogo"/> </f:facet>
                    <h:outputText id="numsec" value="#{item.ifCatalogo.descripcion}"/>
				</h:column>

				<h:column> <f:facet name="header">	<h:outputText value="Código"/> </f:facet>
		     		<h:outputText value="#{item.codigo}"/>
		  		</h:column>

				<h:column> <f:facet name="header"> <h:outputText value="Descripción"/> </f:facet>
                    <h:outputText value="#{item.descripcion}"/>
		  		</h:column>

				<h:column> <f:facet name="header"> <h:outputText value=""/></f:facet>
                    <h:commandButton value="Editar" action="#{mtCatalogoDetalleBB.botonInsertar}">
                    <f:setPropertyActionListener target="#{mtCatalogoDetalleBB.mtCatalogoDetalle}" value="#{item}" /> 
                    </h:commandButton>  
                </h:column>

				<h:column><f:facet name="header"><h:outputText value=""/></f:facet>
                    <h:commandButton value="Eliminar" onclick="return confirm('Eliminar el registro?');" action="#{mtCatalogoDetalleBB.botonEliminar}">
                		<f:setPropertyActionListener target="#{mtCatalogoDetalleBB.mtCatalogoDetalle}" value="#{item}" />
                	</h:commandButton>
                </h:column>
			</h:dataTable>
			
			<h:commandButton value="Insertar" action="#{mtCatalogoDetalleBB.botonInsertar}" />
			<!-- 
			<h:commandButton value="Valores" action="#{mtCatalogoDetalleBB.imprimir}" >
				<f:setPropertyActionListener target="#{mtCatalogoDetalleBB.param}" value="hola" />
			</h:commandButton>
			 -->  	
		</h:form>
		</h:panelGroup>
	</ui:define>
</ui:composition>
</html>