<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/templates/layout.xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<ui:define name="contenido">
		<div class="clearfix exco_intro"><strong>POLÍTICAS DE ACCESO</strong></div>
		<tr>
			<td></td>
			<td><div class="clearfix exco_intro">
					<p>- Para el ingreso al sistema el usuario debe digitar su
						nombre de usuario y contraseña.</p>
					
						<p>- Cada usuario está asignado a un perfil de acuerdo al que
							tendrá; accesos a los módulos del sistema.</p>
					
						<p>- La contraseña del usuario tiene una validez de 60 días y
							el sistema advertirá; para el cambio de la misma.</p>
					
						<p>- Si la contraseña caduca, el Administrador del sistema se encargará; de
							activar de nuevo al usuario.</p>
						
						<p>- Si se requiere resetear la contraseña, el Administrador del sistema se encargará de
							restablecerla.</p>
					
						<p>
							- Navegadores: Internet Explorer, Opera, Mozilla, Chrome.
						</p>
						<p> 
								<strong>* Si utiliza Internet Explorer se recomienda la versión 9 o superior.</strong>
						</p>
						<p>
							<br></br>
							<br></br>
							<br></br>
							 
						</p>
				</div></td>
			<td></td>
		</tr>
			
	</ui:define>
</ui:composition>
