<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/layout.xhtml">

	<ui:define name="content">

		<h:panelGroup layout="block" styleClass="box-info">
			<h:outputText value="Bienvenido al Modulo de Comunicacion" />
			<p:messages id="msgs" showDetail="true" redisplay="true"
				severity="info,error" closable="true" />
			<h:form id="form">
				<!-- Tabla para Vizualizar la  Lista de Acciones  -->
				<p:dataTable id="basicDT" var="plantillas" paginator="true"
					paginatorPosition="bottom" rows="7"
					value="#{plantillaBB.listaPlantilla}"
					rendered="#{not empty plantillaBB.listaPlantilla}"
					paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
					<p:column headerText="Nombre de la Plantilla">
						<h:outputText value="#{plantillas.nombre}" />
					</p:column>
					<p:column headerText=" Descripcion de la Plantilla">
						<h:outputText value="#{plantillas.descripcion}" />
					</p:column>
					<p:column headerText="Documento JRXML ">
						<h:outputText value="#{plantillas.urlJRXML}" />
					</p:column>
					<p:column headerText="Plantilla Compilada  ">
						<h:outputText value="#{plantillas.urlPlantilla}" />
					</p:column>
					<p:column styleClass="form-colummn"
						style="width:100px;text-align: center" headerText="Opciones">
						<p:commandButton update=" :viewPanel " icon="ui-icon-info"
							oncomplete="PF('carViewDialog').show()"
							title="Viazualizar Plantilla">
							<f:setPropertyActionListener value="#{plantillas}"
								target="#{plantillaBB.selectedPlantilla}" />
						</p:commandButton>
						<p:commandButton update=" :formDialogEdit" icon="ui-icon-wrench"
							oncomplete="PF('carEditDialog').show()"
							title="Modificar Plantilla"
							rendered="#{controlBB.tienePermisoUsuarioModificar}">
							<f:setPropertyActionListener value="#{plantillas}"
								target="#{plantillaBB.selectedPlantilla}" />
						</p:commandButton>
						<p:commandButton update=" :form :msgs " icon="ui-icon-trash"
							action="#{plantillaBB.eliminar}" title="Eliminar Plantilla"
							rendered="#{controlBB.tienePermisoUsuarioEliminar}">
							<f:setPropertyActionListener value="#{plantillas}"
								target="#{plantillaBB.selectedPlantilla}" />
						</p:commandButton>
					</p:column>

				</p:dataTable>
			</h:form>

			<!-- Dialog para Vizualizar elementos . -->

			<p:dialog header="Vizualizar Plantilla" widgetVar="carViewDialog"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				closeOnEscape="true">
				<h:panelGroup id="viewPanel" styleClass="box-info" layout="block">

					<h:panelGrid id="Panel" styleClass="form-column" layout="block"
						columns="2">

						<h:outputLabel styleClass="enlinea" value="ID" />
						<h:outputText value="#{plantillaBB.selectedPlantilla.id}"
							styleClass="enlinea" />
						<h:outputLabel styleClass="enlinea" value="Nombre de la Plantilla" />
						<h:outputText value="#{plantillaBB.selectedPlantilla.nombre}"
							styleClass="enlinea" />
							<h:outputLabel styleClass="enlinea" value="Descripcion de la Plantilla" />
						<h:outputText value="#{plantillaBB.selectedPlantilla.descripcion}"
							styleClass="enlinea" />
							<h:outputLabel styleClass="enlinea" value="Documento JRXML" />
						<h:outputText value="#{plantillaBB.selectedPlantilla.urlJRXML}"
							styleClass="enlinea" />
							<h:outputLabel styleClass="enlinea" value="Plantilla Compilada " />
						<h:outputText value="#{plantillaBB.selectedPlantilla.urlPlantilla}"
							styleClass="enlinea" />
						</h:panelGrid>
				</h:panelGroup>
			</p:dialog>



			<!-- Dialog para Modificar Accion  -->
			<p:dialog header="Modificar Acción" widgetVar="carEditDialog"
				styleClass="box-info" modal="true" showEffect="fade"
				hideEffect="fade" resizable="false" closeOnEscape="true">
				<h:form id="formDialogEdit" styleClass="form-column"
				enctype="multipart/form-data">
				<h:panelGroup styleClass="box-info" layout="block">
					<h:panelGroup styleClass="form-column" layout="block">
					    <h:inputHidden value="#{plantillaBB.selectedPlantilla.id}"/>
						<h:outputLabel styleClass="enlinea" value="Nombre de la Plantilla" />
						<h:inputText styleClass="enlinea"
							value="#{plantillaBB.selectedPlantilla.nombre}"
							validatorMessage="Nombre de la Plantilla debe contener mas de 2 caracteres"
							label="Nombre de la Plantilla">
							<f:validateRequired />
							<f:validateLength minimum="2" />
						</h:inputText>
						<h:outputLabel styleClass="enlinea"
							value="Decripcion de la Plantilla" />
						<h:inputText styleClass="enlinea"
							value="#{plantillaBB.selectedPlantilla.descripcion}"
							validatorMessage="Descripcion de la Plantilla debe contener mas de 2 caracteres"
							label="Descripcion de la Plantilla">
							<f:validateRequired />
							<f:validateLength minimum="2" />
						</h:inputText>
						<h:outputLabel styleClass="enlinea"
							value="Fichero de descripcion de la Plantilla " />
						<p:fileUpload value="#{plantillaBB.fileJRXML}" mode="simple"
							skinSimple="true" allowTypes="/(\.|\/)(jrxml)$/"
							validatorMessage="Fichero de  descripcion de Plantilla es obligatorio">
							<f:validateRequired />
						</p:fileUpload>

						<h:outputLabel styleClass="enlinea"
							value="Fichero de la Plantilla Compilada " />
						<p:fileUpload value="#{plantillaBB.filePlantilla}" mode="simple"
							skinSimple="true" allowTypes="/(\.|\/)(jasper)$/" required="true"
							requiredMessage="EL Fichero de plantilla es obligatorio">
							<f:validateRequired />
						</p:fileUpload>





					</h:panelGroup>

					<h:panelGroup styleClass="form-column" layout="block">
						<h:panelGroup styleClass="form-column" layout="block">
							<h:commandButton styleClass="guardar" value="Guardar"
								action="#{plantillaBB.modificar}" />
							<h:commandButton styleClass="cancelar" value="Cancelar"
								type="reset" />
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>
			</h:form>
			</p:dialog>



			<!-- formulario para Crear Accion  -->

			<h:form id="create_plantilla" styleClass="form-column"
				enctype="multipart/form-data">
				<h:panelGroup styleClass="box-info" layout="block">
					<h:panelGroup styleClass="form-column" layout="block">
						<h:outputLabel styleClass="enlinea" value="Nombre de la Plantilla" />
						<h:inputText styleClass="enlinea"
							value="#{plantillaBB.plantilla.nombre}"
							validatorMessage="Nombre de la Plantilla debe contener mas de 2 caracteres"
							label="Nombre de la Plantilla">
							<f:validateRequired />
							<f:validateLength minimum="2" />
						</h:inputText>
						<h:outputLabel styleClass="enlinea"
							value="Decripcion de la Plantilla" />
						<h:inputText styleClass="enlinea"
							value="#{plantillaBB.plantilla.descripcion}"
							validatorMessage="Descripcion de la Plantilla debe contener mas de 2 caracteres"
							label="Descripcion de la Plantilla">
							<f:validateRequired />
							<f:validateLength minimum="2" />
						</h:inputText>
						<h:outputLabel styleClass="enlinea"
							value="Fichero de descripcion de la Plantilla " />
						<p:fileUpload value="#{plantillaBB.fileJRXML}" mode="simple"
							skinSimple="true" allowTypes="/(\.|\/)(jrxml)$/"
							validatorMessage="Fichero de  descripcion de Plantilla es obligatorio">
							<f:validateRequired />
						</p:fileUpload>

						<h:outputLabel styleClass="enlinea"
							value="Fichero de la Plantilla Compilada " />
						<p:fileUpload value="#{plantillaBB.filePlantilla}" mode="simple"
							skinSimple="true" allowTypes="/(\.|\/)(jasper)$/" required="true"
							requiredMessage="EL Fichero de plantilla es obligatorio">
							<f:validateRequired />
						</p:fileUpload>





					</h:panelGroup>

					<h:panelGroup styleClass="form-column" layout="block">
						<h:panelGroup styleClass="form-column" layout="block">
							<h:commandButton styleClass="guardar" value="Guardar"
								action="#{plantillaBB.guardar}" />
							<h:commandButton styleClass="cancelar" value="Cancelar"
								type="reset" />
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>
			</h:form>


		</h:panelGroup>

	</ui:define>
</ui:composition>


</html>