<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/layout.xhtml">
	<ui:define name="content">
		<h:panelGroup styleClass="box-info" layout="block"
			rendered="#{controlBB.tienePermisoUsuarioListar}">
			
			<h1>SubPartida - códigos suplementarios</h1>
			<p:messages id="msgs2" showDetail="true" redisplay="true" closable="true" />

			<h:form id="form" prependId="false">
				<p:dataTable id="basicDT" var="v_mtPartidaTnan" value="#{partidaTnanBB.listaPartidaTnans}"
					paginator="true" paginatorPosition="bottom" rows="7"
					paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
					<!-- rendered="#{not empty partidaTnanBB.listaPartidaTnans}" -->
					
					<p:column headerText="Partida"> 
	                    <h:outputText value="#{v_mtPartidaTnan.ifPartida.partida} #{v_mtPartidaTnan.ifPartida.descripcion}"/>
					</p:column>
					
					<p:column headerText="Código Complementario"> 
	                    <h:outputText value="#{v_mtPartidaTnan.complementario}"/>
					</p:column>
	
					<p:column headerText="Código Suplementario">
						<h:outputText value="#{v_mtPartidaTnan.tnan}"/>
					</p:column>
	
					<p:column headerText="Observación">
						<h:inputTextarea value="#{v_mtPartidaTnan.observacion}" disabled="true" />
					</p:column>
					
					<p:column styleClass="form-colummn" style="width:100px;text-align: center" headerText="Opciones">
						<p:commandButton icon="ui-icon-info" title="Información" action="#{partidaTnanBB.botonConsultar}">
		                	<f:setPropertyActionListener target="#{partidaTnanBB.selectedPartidaTnan}" value="#{v_mtPartidaTnan}" />
		                	<f:setPropertyActionListener target="#{partidaTnanTributoBB.selectedPartidaTnan}" value="#{v_mtPartidaTnan}"/>
		                	<f:setPropertyActionListener target="#{partidaConvenioBB.selectedPartida}" value="#{v_mtPartidaTnan.ifPartida}"/>
		                	<f:setPropertyActionListener target="#{partidaTpngBB.selectedPartida}" value="#{v_mtPartidaTnan.ifPartida}"/>
		                	<f:setPropertyActionListener target="#{partidaTnanRestriccionBB.selectedPartidaTnan}" value="#{v_mtPartidaTnan}"/>
		                </p:commandButton>
		                
		                <p:commandButton update=" :form :formDialogEdit2" oncomplete="PF('menuEditDialog2').show()" icon="ui-icon-wrench" title="Modificar">
							<f:setPropertyActionListener value="#{v_mtPartidaTnan}" target="#{partidaTnanBB.selectedPartidaTnan}" />
							<f:setPropertyActionListener value="#{v_mtPartidaTnan}" target="#{partidaTnanTributoBB.selectedPartidaTnan}"/>
						</p:commandButton>
						
						<p:commandButton update=" :form :msgs2 " icon="ui-icon-trash"
							action="#{partidaTnanBB.eliminar}" title="Eliminar">
							<f:setPropertyActionListener target="#{partidaTnanBB.selectedPartidaTnan}" value="#{v_mtPartidaTnan}" />
						</p:commandButton>
		                
		            </p:column>
				</p:dataTable>
			</h:form>
			
			<!-- Dialog para Modificar Tnan  -->
			<p:dialog header="Modificar Códigos Suplementarios" widgetVar="menuEditDialog2"
				styleClass="box-info" modal="true" showEffect="fade"
				hideEffect="fade" resizable="false" closeOnEscape="true">
				<h:form id="formDialogEdit2" styleClass="box-info" prependId="false">
					<h:panelGroup>
						
						<h:inputHidden value="#{partidaTnanBB.selectedPartidaTnan.id}" />
						
						<h:outputLabel styleClass="enlinea" value="Subpartida" /><br />
						<h:selectOneMenu styleClass="enlinea"
							value="#{partidaTnanBB.selectedPartidaTnan.ifPartida}" converter="#{PartidaConverter}">
							<f:selectItem itemLabel="Seleccionar"
								noSelectionOption="true" />
							<f:selectItems value="#{partidaBB.listaPartidas}" var="cat"
								itemLabel="#{cat.partida}" itemValue="#{cat}" /> 
						</h:selectOneMenu><br />
						
						<h:outputLabel styleClass="enlinea" value="Código complementario" /><br />
						<h:inputText styleClass="enlinea"
							value="#{partidaTnanBB.selectedPartidaTnan.complementario}">
							<f:validateRequired />
						</h:inputText><br />

						<h:outputLabel styleClass="enlinea" value="Código suplementario" /><br />
						<h:inputText styleClass="enlinea"
							value="#{partidaTnanBB.selectedPartidaTnan.tnan}" /><br />
						
						<h:outputLabel styleClass="enlinea" value="Observación" /><br />
						<h:inputTextarea styleClass="enlinea"
							value="#{partidaTnanBB.selectedPartidaTnan.observacion}" /><br />

						<h:outputLabel styleClass="enlinea" value="Estado" /><br />
						<h:selectOneMenu styleClass="enlinea"
							value="#{partidaTnanBB.selectedPartidaTnan.estado}">
							<f:selectItems value="#{dataBean.valoresEstados}" />
						</h:selectOneMenu>
	
						<h:commandButton styleClass="guardar" value="Modificar"
							action="#{partidaTnanBB.modificar}" style="aling: center" />
					</h:panelGroup>
					<!-- ==================== Tributos en Dialog=================================== -->
					<h:panelGroup styleClass="box-info" layout="block"
						rendered="#{controlBB.tienePermisoUsuarioListar}">
						<h1>Tributos</h1>
						<p:messages id="msgs2Trib" showDetail="true" redisplay="true" closable="true" />
						<p:dataTable id="basicDTTrib" var="item" value="#{partidaTnanTributoBB.listaPartidaTnanTributos}">
							<p:column headerText="Tributo">
								<h:outputText value="#{item.ifTributo.descripcion}" />
							</p:column>
		
							<p:column headerText="Valor">
								<h:outputText value="#{item.valor}" />
							</p:column>
							
							<p:column headerText="Tipo">
								<h:outputText value="#{item.ifTipo.descripcion}" />
							</p:column>
							
							<p:column styleClass="form-colummn" style="width:100px;text-align: center" headerText="Opciones">
								<!-- 
								<p:commandButton update=" formDialogEdit2 :formDialogEdit3" oncomplete="PF('menuEditDialog3').show()" icon="ui-icon-wrench" title="Modificar Tributo">
									<f:setPropertyActionListener value="#{item}" target="#{partidaTnanTributoBB.selectedPartidaTnanTributo}" />
								</p:commandButton>
								 
								<p:commandButton update=" :formDialogEdit2 :msgs2Trib " icon="ui-icon-trash"
									action="#{partidaTnanTributoBB.eliminar}" title="Eliminar">
									<f:setPropertyActionListener target="#{partidaTnanTributoBB.selectedpartidaTnanTributo}" value="#{item}" />
								</p:commandButton>
								-->
							</p:column>
						</p:dataTable>
					</h:panelGroup>
					<!-- =================== fin tributos en dialog ================================ -->
				</h:form>
			</p:dialog>
			
			<!-- Dialog para Modificar Tributo  -->
			<p:dialog header="Modificar Tributo" widgetVar="menuEditDialog3"
				styleClass="box-info" modal="true" showEffect="fade"
				hideEffect="fade" resizable="false" closeOnEscape="true">
				<h:form id="formDialogEdit3" styleClass="box-info" prependId="false">
					<h:panelGroup>
					<!-- 
						<h:inputText value="#{partidaTnanTributoBB.selectedPartidaTnanTributo.id}" />
						
						<h:outputLabel styleClass="enlinea" value="Valor" /><br />
						<h:inputText styleClass="enlinea"
							value="#{partidaTnanTributoBB.selectedPartidaTnanTributo.valor}" /><br />
					 -->	
					</h:panelGroup>
				</h:form>
			</p:dialog>
			
			<!-- ============================ form crear tnan ===================== -->

			<h:form id="create_tnan" styleClass="form-column" prependId="false">
				<h:panelGroup styleClass="box-info" layout="block"
					rendered="#{controlBB.tienePermisoUsuarioCrear}">
					<h:panelGroup styleClass="form-column" layout="block">
						
						<!-- <h:inputHidden value="#{partidaTnanBB.selectedPartida.id}" />  -->
						
						<h:outputLabel styleClass="enlinea" value="Subpartida" /><br />
						<h:selectOneMenu styleClass="enlinea"
							value="#{partidaTnanBB.partidaTnan.ifPartida}" converter="#{PartidaConverter}">
							<f:selectItem itemLabel="Seleccionar"
								noSelectionOption="true" />
							<f:selectItems value="#{partidaBB.listaPartidas}" var="cat"
								itemLabel="#{cat.partida}" itemValue="#{cat}" /> 
						</h:selectOneMenu><br />
						
						<h:outputLabel styleClass="enlinea" value="Código complementario" /><br />
						<h:inputText styleClass="enlinea"
							value="#{partidaTnanBB.partidaTnan.complementario}">
							<f:validateRequired />
						</h:inputText><br />

						<h:outputLabel styleClass="enlinea" value="Código suplementario" /><br />
						<h:inputText styleClass="enlinea"
							value="#{partidaTnanBB.partidaTnan.tnan}" /><br />
						
						<h:outputLabel styleClass="enlinea" value="Observación" /><br />
						<h:inputTextarea styleClass="enlinea"
							value="#{partidaTnanBB.partidaTnan.observacion}" /><br />

						<h:outputLabel styleClass="enlinea" value="Estado" /><br />
						<h:selectOneMenu styleClass="enlinea"
							value="#{partidaTnanBB.partidaTnan.estado}">
							<f:selectItems value="#{dataBean.valoresEstados}" />
						</h:selectOneMenu>
					</h:panelGroup>
					
					<h:panelGroup styleClass="form-column" layout="block">
							<h:commandButton styleClass="guardar" value="Guardar"
								action="#{partidaTnanBB.guardar}" />
							<h:commandButton styleClass="cancelar" value="Cancelar"
								type="reset" />
					</h:panelGroup>
				</h:panelGroup>
			</h:form>	<!-- cierra form crear tnan -->			
			
			<h:form id="fcerrar">
		 		<h:commandButton action="#{partidaTnanBB.botonCancelar}" value="Cerrar" styleClass="cancelar" />
			</h:form>
			
		</h:panelGroup> 		
	</ui:define>
</ui:composition>
</html>
