<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout.xhtml">
	<ui:define name="content">

		<h:panelGroup styleClass="box-info" layout="block"
			rendered="#{controlBB.tienePermisoUsuarioListar}">
		<h1><h:outputText value="SubPartida - información" /></h1>
		<h:form prependId="false">
			<table>
			 
				<tr>
					<td> <h:outputText value="Sección" /> </td>
				    <td> <h:outputText value="#{partidaTnanBB.selectedPartidaTnan.ifPartida.ifCapitulo.ifSeccion.numero}" /> </td>
				    <td> <h:outputText value="#{partidaTnanBB.selectedPartidaTnan.ifPartida.ifCapitulo.ifSeccion.titulo}" /> </td>
				</tr>
				
				<tr>
					<td> <h:outputText value="Capítulo" /> </td>
					<td> <h:outputText value="#{partidaTnanBB.selectedPartidaTnan.ifPartida.ifCapitulo.numero}" /> </td>
					<td> <h:outputText value="#{partidaTnanBB.selectedPartidaTnan.ifPartida.ifCapitulo.titulo}" /> </td>
				</tr>
				
				<tr>
					<td> <h:outputText value="Partida" /> </td>
					<td> <h:outputText value="#{partidaTnanBB.selectedPartidaTnan.ifPartida.partida}" /><br /> </td>
					<td> <h:outputText value="#{partidaTnanBB.selectedPartidaTnan.ifPartida.descripcion}" /><br /> </td>
				</tr>
				
				<tr>
					<td> <h:outputText value="Código complementario" /> </td>
					<td> <h:outputText value="#{partidaTnanBB.selectedPartidaTnan.complementario}" /><br /> </td>
					<td></td>
				</tr>
				
				<tr>
					<td> <h:outputText value="Código suplementario (Tnan)" /> </td>
					<td> <h:outputText value="#{partidaTnanBB.selectedPartidaTnan.tnan}" /><br /> </td>
					<td> <h:outputText value="#{partidaTnanBB.selectedPartidaTnan.observacion}" /><br /> </td>
				</tr>
				
				<tr>
					<td> <h:outputText value="Unidad física" /> </td>
					<td> <h:outputText value="#{partidaTnanBB.selectedPartidaTnan.ifPartida.ifUnidadFisica.codigo}" /><br /> </td>
					<td> <h:outputText value="#{partidaTnanBB.selectedPartidaTnan.ifPartida.ifUnidadFisica.descripcion}" /><br /> </td>
				</tr>
			
			</table>
			
			<h2><h:outputText value="Tributos" /></h2>
			<p:dataTable id="basicDT" value="#{partidaTnanTributoBB.listaPartidaTnanTributos}" var="v_mtPartidaTnanTributo">
				<p:column headerText="Tributo"> 
                    <h:outputText value="#{v_mtPartidaTnanTributo.ifTributo.descripcion}"/>
				</p:column>
				
				<p:column headerText="Valor">
					<h:outputText value="#{v_mtPartidaTnanTributo.valor}"/>
				</p:column>
				
				<p:column headerText="Forma de aplicación">
					<h:outputText value="#{v_mtPartidaTnanTributo.ifTipo.descripcion}"/>
				</p:column>
			</p:dataTable>

			<h2><h:outputText value="Preferencias - Porcentajes de liberación" /></h2>
			
			<p:dataTable id="partidasLib" value="#{partidaConvenioBB.listaPartidaConvenios}" var="v_mtPartidaConvenio">
				<p:column headerText="Convenio">
                    <h:outputText value="#{v_mtPartidaConvenio.ifConvenio.codigo}"/>
				</p:column>
				
				<p:column headerText="País">
					<h:outputText value="#{v_mtPartidaConvenio.ifPais.descripcion}"/>
				</p:column>
				
				<p:column headerText="Tpci">
					<h:outputText value="#{v_mtPartidaConvenio.ifTpci.codigo}"/>
				</p:column>
				
				<p:column headerText="% Liberación">
					<h:outputText value="#{v_mtPartidaConvenio.porcentaje}"/>
				</p:column>
				
				<p:column headerText="Margen">
					<h:outputText value="#{v_mtPartidaConvenio.margen}"/>
				</p:column>
				
				<p:column headerText="Descripción">
					<h:outputText value="#{v_mtPartidaConvenio.observacion}"/>
				</p:column>
				
				<p:column headerText="Naladisa">
					<h:outputText value="#{v_mtPartidaConvenio.naladisa}"/>
				</p:column>
				
				<p:column headerText="Inicio">
					<h:outputText value="#{v_mtPartidaConvenio.fechaInicio}"/>
				</p:column>
				
				<p:column headerText="Fin">
					<h:outputText value="#{v_mtPartidaConvenio.fechaFin}"/>
				</p:column>
				
			</p:dataTable>

			
			<h2><h:outputText value="Liberaciones (Tpng)" /></h2>
			<p:dataTable id="partidasTpng" value="#{partidaTpngBB.listaPartidaTpngs}" var="v_mtPartidaTpng">
				<p:column headerText="Tpng">
                    <h:outputText value="#{v_mtPartidaTpng.ifTpng.codigo} - #{v_mtPartidaTpng.ifTpng.descripcion}"/>
				</p:column>
				
				<p:column headerText="Observación">
					<h:outputText value="#{v_mtPartidaTpng.observacion}"/>
				</p:column>
			</p:dataTable>

			<h2><h:outputText value="Restricciones - Prohibiciones" /></h2>
			<p:dataTable id="partidasTnanRestriccion" value="#{partidaTnanRestriccionBB.listaPartidaTnanRestriccions}" var="v_mtPartidaTnanRestriccion">
				<p:column headerText="Entidad">
                    <h:outputText value="#{v_mtPartidaTnanRestriccion.ifEntidad.codigo}"/>
				</p:column>
				
				<p:column headerText="Observación">
					<h:outputText value="#{v_mtPartidaTnanRestriccion.observacion}"/>
				</p:column>
				
				<p:column headerText="País">
					<h:outputText value="#{v_mtPartidaTnanRestriccion.ifPais.descripcion}"/>
				</p:column>
			</p:dataTable>	
		</h:form>

		<h:form id="fcerrar">
			<h:commandButton action="#{partidaTnanBB.botonCancelar}" value="Cerrar" styleClass="cancelar" />
		</h:form>
		
</h:panelGroup>
	</ui:define>
</ui:composition>
</html>