<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout.xhtml">
	<ui:define name="content">

		<h:panelGroup styleClass="box-info" layout="block"
			rendered="#{controlBB.tienePermisoUsuarioListar}">
			<h1>Partidas Arancelarias</h1>
			<p:messages id="msgs2" showDetail="true" redisplay="true" closable="true" />

			<h:form id="form" prependId="false">
				<p:dataTable id="basicDT" var="item" value="#{partidaBB.listaPartidas}"
					paginator="true" paginatorPosition="bottom" rows="7"
					paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
					
					<p:column headerText="Partida">
						<h:outputText value="#{item.partida}" />
					</p:column>
					
					<p:column headerText="Descripción">
						<!-- <h:outputText value="#{item.descripcion}" /> -->
						<h:inputTextarea value="#{item.descripcion}" disabled="true" />
					</p:column>
					
					<p:column headerText="Unidad Física">
						<h:outputText value="#{item.ifUnidadFisica.descripcion}" />
					</p:column>
					
					<p:column headerText="Estado ">
						<h:outputText value="#{item.estado}" />
					</p:column>
 
					<p:column styleClass="form-colummn" style="width:100px;text-align: center" headerText="Opciones">
						<p:commandButton icon="ui-icon-info" title="Códigos Suplementarios" action="#{partidaBB.botonSuplementario}">
	                		<f:setPropertyActionListener target="#{partidaTnanBB.selectedPartida}" value="#{item}" />
	                	</p:commandButton>
	                	
	                	<p:button outcome="partidaTnan" title="Total suplementarios" icon="ui-icon-star">
						    <f:param name="#{partidaTnanBB.selectedPartida}" value="#{item}" />
						</p:button>

 	                	
						<p:commandButton update=" :form :formDialogEdit2" oncomplete="PF('menuEditDialog2').show()" icon="ui-icon-wrench" title="Modificar">
							<f:setPropertyActionListener value="#{item}" target="#{partidaBB.selectedPartida}" />
						</p:commandButton>
						
						<p:commandButton update=" :form :msgs2 " icon="ui-icon-trash"
							action="#{partidaBB.eliminar}" title="Eliminar">
							<f:setPropertyActionListener target="#{partidaBB.selectedPartida}" value="#{item}" />
						</p:commandButton>
					
					</p:column>
				</p:dataTable>
			</h:form>
			
			<!-- Dialog para Modificar Partida  -->
			<p:dialog header="Modificar Catalogos" widgetVar="menuEditDialog2"
				styleClass="box-info" modal="true" showEffect="fade"
				hideEffect="fade" resizable="false" closeOnEscape="true">
				<h:form id="formDialogEdit2" styleClass="box-info" prependId="false">
					<h:panelGroup>
						<h:inputHidden value="#{partidaBB.selectedPartida.id}" />
	
						<h:outputLabel styleClass="enlinea" value="Capítulo" /><br />
						<h:selectOneMenu styleClass="enlinea"
							value="#{partidaBB.selectedPartida.ifCapitulo}" converter="#{CapituloConverter}"> 
							<f:selectItem itemLabel="Seleccionar"
								noSelectionOption="true" />
							<f:selectItems value="#{capituloBB.listaCapitulos}" var="cat"
								itemLabel="[#{cat.numero}] #{cat.titulo}" itemValue="#{cat}" />
						</h:selectOneMenu><br />
							
						<h:outputLabel styleClass="enlinea" value="Partida" /><br />
						<h:inputText styleClass="enlinea"
							value="#{partidaBB.selectedPartida.partida}">
							<f:validateRequired />
						</h:inputText><br />
	
						<h:outputLabel styleClass="enlinea" value="Descripción" /><br />
						<h:inputText styleClass="enlinea"
							value="#{partidaBB.selectedPartida.descripcion}" /><br />
						
						<h:outputLabel styleClass="enlinea" value="Unidad física" /><br />
						<h:selectOneMenu styleClass="enlinea"
							value="#{partidaBB.selectedPartida.ifUnidadFisica}" converter="#{MtCatalogoDetalleConverter}"> 
							<f:selectItem itemLabel="Seleccionar"
								noSelectionOption="true" />
							<f:selectItems value="#{mtCatalogoDetalleBB.listaMtCatalogoDetalles}" var="cat"
									itemLabel="[#{cat.codigo}] #{cat.descripcion}" itemValue="#{cat}" />
						</h:selectOneMenu><br />
	
						<h:outputLabel styleClass="enlinea" value="Estado" /><br />
						<h:selectOneMenu styleClass="enlinea"
							value="#{partidaBB.selectedPartida.estado}">
							<f:selectItems value="#{dataBean.valoresEstados}" />
						</h:selectOneMenu>

						<h:commandButton styleClass="guardar" value="Modificar"
							action="#{partidaBB.modificar}" style="aling: center" />
					</h:panelGroup>
				</h:form>
			</p:dialog>

			<!-- ============================ form crear partida ===================== -->

			<h:form id="create_partida" styleClass="form-column" prependId="false">
				<h:panelGroup styleClass="box-info" layout="block"
					rendered="#{controlBB.tienePermisoUsuarioCrear}">
					<h:panelGroup styleClass="form-column" layout="block">

						<h:outputLabel styleClass="enlinea" value="Capítulo" /><br />
						<h:selectOneMenu styleClass="enlinea"
							value="#{partidaBB.partida.ifCapitulo}" converter="#{CapituloConverter}"> 
							<f:selectItem itemLabel="Seleccionar"
								noSelectionOption="true" />
							<f:selectItems value="#{capituloBB.listaCapitulos}" var="cat"
								itemLabel="[#{cat.numero}] #{cat.titulo}" itemValue="#{cat}" />
						</h:selectOneMenu><br />
						
						<h:outputLabel styleClass="enlinea" value="Partida" /><br />
						<h:inputText id="t1" styleClass="enlinea"
							value="#{partidaBB.partida.partida}">
							<f:validateRequired />
						</h:inputText><br />

						<h:outputLabel styleClass="enlinea" value="Descripción" /><br />
						<h:inputText id="t2" styleClass="enlinea"
							value="#{partidaBB.partida.descripcion}" /><br />
						
						<h:outputLabel styleClass="enlinea" value="Unidad física" /><br />
						<h:selectOneMenu id="t3" styleClass="enlinea"
							value="#{partidaBB.partida.ifUnidadFisica}" converter="#{MtCatalogoDetalleConverter}"> 
							<f:selectItem itemLabel="Seleccionar"
								noSelectionOption="true" />
							<f:selectItems value="#{mtCatalogoDetalleBB.listaMtCatalogoDetalles}" var="cat"
								itemLabel="[#{cat.codigo}] #{cat.descripcion}" itemValue="#{cat}" />
						</h:selectOneMenu><br />

						<h:outputLabel styleClass="enlinea" value="Estado" /><br />
						<h:selectOneMenu id="t4" styleClass="enlinea"
							value="#{partidaBB.partida.estado}">
							<f:selectItems value="#{dataBean.valoresEstados}" />
						</h:selectOneMenu>
						
					</h:panelGroup>
					
					<h:panelGroup styleClass="form-column" layout="block">
						
							<h:commandButton id="t5" styleClass="guardar" value="Guardar"
								action="#{partidaBB.guardar}" />
							<h:commandButton id="t6" styleClass="cancelar" value="Cancelar"
								type="reset" />
						
					</h:panelGroup>
				</h:panelGroup>
			</h:form>	<!-- cierra form crear partida -->
		</h:panelGroup>
	</ui:define>
</ui:composition>
</html>
