<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmAdjudicacion">

			<h:panelGrid columns="4">	
				<h:outputLabel value="Fecha de inicio:" />
				<p:calendar
					value="#{adjudicacionDataManager.fechaDesde}"
					pattern="dd/MM/yyyy" locale="es">
				</p:calendar>
				
				<h:outputLabel value="Fecha fin:" />
				<p:calendar
					value="#{adjudicacionDataManager.fechaHasta}"
					pattern="dd/MM/yyyy" locale="es">
				</p:calendar>

				<h:outputLabel value="No. Adjudicación o Contrato:" />
				<p:inputText value="#{adjudicacionDataManager.adjudicacion}"
					styleClass="enlinea" />
					
				<p:outputLabel value="Proveedor: "/>
				<p:selectOneMenu id="lst_fproveedor" value="#{adjudicacionDataManager.proveedor}"
					style="width: 280px !important;">
					<f:selectItem itemLabel="Seleccione.." itemValue="" />
					<f:selectItems value="#{adjudicacionController.actores}" var="actor" itemValue="#{actor.id}" itemLabel="#{actor.razonSocial}" />							
				</p:selectOneMenu>
			</h:panelGrid>
			
			<h:panelGroup styleClass="form-column" layout="block">
				<p:commandButton styleClass="buscar" title="Filtrar registros" value="BUSCAR"
					update=":frmAdjudicacion" style="width: 100px !important;"
					action="#{adjudicacionController.buscar}" />
				<p:commandButton styleClass="crear" value="#{messages.lbl_nuevo}"
					action="#{adjudicacionController.nuevoRegistro}" />
			</h:panelGroup>

			<p:panel>
				<p:dataTable id="tablaRegistro" rows="10" paginator="true"
					value="#{adjudicacionController.lAdjudicaciones}"
					emptyMessage="#{messages.advertenciaNoHayDatos}" var="adjudicacion"
					paginatorPosition="bottom"  styleClass="box-info"
					paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
				
					<p:column >
						<p:commandLink update="@this" 
							action="#{adjudicacionController.editar}">
							<h:graphicImage value="../resources/images/icons/pencil.png" />
							<f:setPropertyActionListener value="#{adjudicacion}"
								target="#{adjudicacionController.adjudicacionSeleccionado.adjudicacionSeleccionado}" />
						</p:commandLink>
						<p:commandButton update="@this" icon="ui-icon-trash"
							oncomplete="PF('widgetDeleteConfirmDialog').show()" title="Eliminar Acción">
							<f:setPropertyActionListener value="#{adjudicacion}"
								target="#{adjudicacionController.adjudicacionSeleccionado.adjudicacionSeleccionado}" />
						</p:commandButton>
					</p:column>

					<p:column headerText="No. Contrato" >
						<h:outputText value="#{adjudicacion.numeroContrato}" />
					</p:column>

					<p:column headerText="Tipo" >
						<h:outputText value="#{adjudicacion.tipo}" />
					</p:column>

					<p:column headerText="Fecha" >
						<h:outputText value="#{adjudicacion.fecha}" />
					</p:column>

					<p:column headerText="Proveedor" >
						<h:outputText value="#{adjudicacion.actor.razonSocial}" />
					</p:column>

					<p:column headerText="Volumen" >
						<h:outputText value="#{adjudicacion.volumenTotal}" />
					</p:column>
					
					<p:column headerText="Condición de entrega" >
						<h:outputText value="#{adjudicacion.observacion}" />
					</p:column>

					<p:column headerText="No. Cargamentos" >
						<h:outputText value="#{adjudicacion.numeroCargamento}" />
					</p:column>
					
					<p:column headerText="Negociación" >
						<h:outputText value="#{adjudicacion.condicion}" />
					</p:column>
				</p:dataTable>
			</p:panel>
		</h:form>

		<p:confirmDialog message="Está seguro que desea eliminar?"
			widgetVar="widgetDeleteConfirmDialog" header="Advertencia"
			severity="alert">
			<p:commandButton styleClass="boton" value="Si"
				action="#{adjudicacionController.eliminar}"
				update=":frmAdjudicacion:tablaRegistro"
				oncomplete="PF('widgetDeleteConfirmDialog').hide()" />
			<p:commandButton styleClass="boton" value="No"
				oncomplete="PF('widgetDeleteConfirmDialog').hide()" />
		</p:confirmDialog>

	</ui:define>
</ui:composition>
</html>