<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmPrincipal" styleClass="form-column">
			<p:messages id="msgs" showDetail="true" redisplay="true"
				autoUpdate="false" closable="true" severity="info,error"/>

				<!-- h:outputScript library="js" name="exco-masterdetail.js" target="head"/-->
				<p:tabView orientation="top" dynamic="false"
					id="tabViewMasterDetail" widgetVar="widgetTabViewMasterDetail"
					styleClass="styleTabViewMasterDetail"
					onTabShow="blockClickAccordion();">

					<p:tab title="Registro de Adjudicación" id="tabMaster">
						<h:form id="formularioMaster" styleClass="styleFormularioMaster">
							<p:panel id="panelFormularioMaster">
							<h:panelGroup styleClass="form-column" layout="block">
									<h:outputLabel value="No. de Adjudicación o Contrato:"
										for="txt_contrato" styleClass="requerido" /><br />
									<p:inputText
										value="#{adjudicacionController.elementoSeleccionado.numeroContrato}"
										id="txt_contrato" style="width: 240px !important;"
										required="true">
									</p:inputText>
									<p:message for="txt_contrato" />
									
									<h:outputLabel value="Tipo de documento:"
										for="txt_adjudica_compra" styleClass="requerido" />
									<p:selectOneMenu id="txt_adjudica_compra"
										value="#{adjudicacionController.elementoSeleccionado.tipoDocumento}"
										style="width: 260px !important;" required="true">
										<f:selectItem itemLabel="Seleccione.." itemValue="" />
										<f:selectItem itemLabel="FAX DE ADJUDICACION"
											itemValue="ADJUDICACION" />
										<f:selectItem itemLabel="CONTRATO" itemValue="CONTRATO" />
									</p:selectOneMenu>
									<p:message for="txt_adjudica_compra" />
									
									<h:outputLabel value="Fecha:" for="txt_fecha"
										styleClass="requerido" /><br />
									<p:calendar id="txt_fecha"
										value="#{adjudicacionController.elementoSeleccionado.fecha}"
										pattern="dd/MM/yyyy" required="true" locale="es">
									</p:calendar>
									<p:message for="txt_fecha" />
									
									<h:outputLabel value="Proveedor:" for="lst_compania"
										styleClass="requerido" /><br />
									<p:selectOneMenu id="lst_compania"
										value="#{adjudicacionController.elementoSeleccionado.actor}"
										converter="#{actorConverter}" style="width: 260px !important;"
										required="true">
										<f:selectItem itemLabel="Seleccione.." itemValue="" />
										<f:selectItems value="#{adjudicacionController.actores}"
											var="actor" itemValue="#{actor}"
											itemLabel="#{actor.razonSocial}" />
									</p:selectOneMenu>
									<p:message for="lst_compania" />
									
									<h:outputLabel value="Volumen aproximado por cargamento:"
										for="txt_volumen_aproximado" styleClass="requerido" /><br />
									<p:inputText id="txt_volumen_aproximado"
										value="#{adjudicacionController.elementoSeleccionado.volumenAproximado}"
										style="width: 240px !important;" styleClass="soloNumeros" required="true">
										<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
			    						<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
			    						<p:ajax event="blur" update="@this" />
									</p:inputText>
									<p:message for="txt_volumen_aproximado" />
									
									<h:outputLabel value="Volumen total:" for="txt_volumen_total"
										styleClass="requerido" /><br />
									<p:inputText id="txt_volumen_total" required="true"
										value="#{adjudicacionController.elementoSeleccionado.volumenTotal}"
										style="width: 240px !important;" styleClass="soloNumeros">
										<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
			    						<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
			    						<p:ajax event="blur" update="@this" />
									</p:inputText>
									<p:message for="txt_volumen_total" />
									
									<h:outputLabel value="Preciación:" for="txt_preciacion"
										styleClass="requerido" /><br />
									<p:spinner id="txt_preciacion" required="true"
										value="#{adjudicacionController.elementoSeleccionado.preciacion}"
										min="1" max="17">
										<f:convertNumber locale="es_EC" />
									</p:spinner>
									<p:message for="txt_preciacion" />
									
									<h:outputLabel value="Modalidad de Pago:" for="txt_forma_pago"
										styleClass="requerido" /><br />
									<p:selectOneMenu id="txt_forma_pago"
										value="#{adjudicacionController.elementoSeleccionado.tipoPago}"
										style="width: 240px !important;" required="true">
										<f:selectItem itemLabel="Seleccione.." itemValue="" />
										<f:selectItem itemLabel="CARTA DE CREDITO"
											itemValue="CARTA DE CREDITO" />
										<f:selectItem itemLabel="GIRO DIRECTO CARTA STAND BY"
											itemValue="GIRO DIRECTO CARTA STAND BY" />
										<f:selectItem itemLabel="GIRO DIRECTO"
											itemValue="GIRO DIRECTO" />
										<f:selectItem itemLabel="PAGO ANTICIPADO"
											itemValue="PAGO ANTICIPADO" />
										<f:selectItem itemLabel="CONVENIO" itemValue="CONVENIO" />
									</p:selectOneMenu>
									<p:message for="txt_forma_pago" />									
							</h:panelGroup>
							<h:panelGroup styleClass="form-column" layout="block">
									<h:outputLabel value="Versión INCOTERMS:" for="txt_incoterms"
										styleClass="requerido" /><br />
									<p:selectOneMenu id="txt_incoterms"
										value="#{adjudicacionController.elementoSeleccionado.incoterms}"
										style="width: 250px !important;" required="true">
										<f:selectItem itemLabel="Seleccione.." itemValue="" />
										<f:selectItem itemLabel="Incoterms 2010"
											itemValue="Incoterms 2010" />
									</p:selectOneMenu>
									<p:message for="txt_incoterms" />
									
									<h:outputLabel value="Condiciones:" for="txt_condiciones"
										styleClass="requerido" /><br />
									<p:selectOneMenu id="txt_condiciones"
										value="#{adjudicacionController.elementoSeleccionado.condicion}"
										style="width: 250px !important;" required="true">
										<f:selectItem itemLabel="Seleccione.." itemValue="" />
										<f:selectItem itemLabel="DAT" itemValue="DAT" />
										<f:selectItem itemLabel="FOB" itemValue="FOB" />
										<f:selectItem itemLabel="CFR" itemValue="CFR" />
										<f:selectItem itemLabel="EXW" itemValue="EXW" />
									</p:selectOneMenu>
									<p:message for="txt_condiciones" />
									
									<h:outputLabel value="Número de cargamentos:"
										for="txt_cargamentos" styleClass="requerido" /><br />
									<p:spinner id="txt_cargamentos" required="true"
										value="#{adjudicacionController.elementoSeleccionado.numeroCargamento}"
										min="0" max="100">
										<f:convertNumber locale="es_EC" />
									</p:spinner>
									<p:message for="txt_cargamentos" />
									
									<h:outputLabel value="País:" for="lst_pais"
										styleClass="requerido" /><br />
									<p:selectOneMenu id="lst_pais"
										value="#{adjudicacionController.elementoSeleccionado.pais}"
										converter="#{paisConverter}" style="width: 250px !important;"
										required="true">
										<f:selectItem itemLabel="Seleccione.." itemValue="" />
										<f:selectItems value="#{adjudicacionController.paises}"
											var="pais" itemValue="#{pais}" itemLabel="#{pais.nombre}" />
									</p:selectOneMenu>
									<p:message for="lst_pais" />
									
									<h:outputLabel value="Producto: " for="lst_producto"
										styleClass="requerido" /><br />
									<p:selectOneMenu id="lst_producto"
										value="#{adjudicacionController.elementoSeleccionado.catalogoProducto}"
										converter="#{catalogoProductoConverter}"
										style="width: 250px !important;" required="true">
										<f:selectItem itemLabel="Seleccione.." itemValue="" />
										<f:selectItems
											value="#{adjudicacionController.catalogoProductos}"
											var="catalogoProducto" itemValue="#{catalogoProducto}"
											itemLabel="#{catalogoProducto.nombre}" />
									</p:selectOneMenu>
									<p:message for="lst_producto" />
									
									<h:outputLabel value="Fórmula:" for="txt_formula"
										styleClass="requerido" /><br />
									<p:selectOneMenu id="txt_formula"
										value="#{adjudicacionController.elementoSeleccionado.ifFormula}"
										converter="#{formulaConverter}"
										style="width: 250px !important;" required="true">
										<f:selectItem itemLabel="Seleccione.." itemValue="" />
										<f:selectItems value="#{adjudicacionController.formulas}"
											var="formula" itemValue="#{formula}"
											itemLabel="#{formula.formula}" />
									</p:selectOneMenu>
									<p:message for="txt_formula" />
									
									<h:outputLabel value="Valor Fórmula:" for="txt__valor_formula"
										styleClass="requerido" /><br />
									<p:inputText id="txt__valor_formula" style="width:35px" value="#{adjudicacionController.elementoSeleccionado.valorFormula}"
										required="true">
										<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
									</p:inputText>
									<p:message for="txt__valor_formula" /><br />
									
									<h:outputLabel value="Margen de tolerancia:"
										for="txt_tolerancia" styleClass="requerido" /><br />
									<p:spinner id="txt_tolerancia" required="true"
										value="#{adjudicacionController.elementoSeleccionado.margenTolerancia}"
										stepFactor="0.01" min="0" max="100000">
										<f:convertNumber locale="es_EC" />
									</p:spinner>
									<p:message for="txt_tolerancia" />
									
									<h:outputLabel value="Archivar documento:" for="txt_archivo"/><br />
									<p:inputText
										value="#{adjudicacionController.elementoSeleccionado.rutaArchivo}"
										id="txt_archivo" style="width: 240px !important;">
										<f:validateLength maximum="500" />
									</p:inputText>
									<p:message for="txt_archivo" />
							</h:panelGroup>
							
							<h:panelGroup layout="block">
							<h:outputLabel value="Observaciones:" for="txt_observaciones"/>
									<p:inputTextarea
										value="#{adjudicacionController.elementoSeleccionado.observacion}"
										id="txt_observaciones" maxlength="500" cols="120">
										<f:validateLength maximum="500" />
									</p:inputTextarea>
									<p:message for="txt_observaciones" />
									
									<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}"
										update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail:formularioMaster, @form"
										action="#{adjudicacionController.guardar}"
										onclick="setTimeout(function(){$('#panelMensajes').html('');},1000);" />
									<p:commandButton styleClass="cancelar" value="#{messages.lbl_atras}" immediate="true"
										update=":frmPrincipal:tabViewMasterDetail:formularioMaster, @form"
										action="#{adjudicacionController.atras}" />
							</h:panelGroup>
							</p:panel>
						</h:form>
					</p:tab>

					<p:tab title="Cargamento" id="tabViewCargamentos">
					
					<p:commandButton styleClass="crear" value="#{messages.lbl_nuevo}"
									update=":frmPrincipal:tabViewMasterDetail:tablaCargamentos, :formRegistroFacturaDet:panelRegistroFacturaDet, @form"
									action="#{adjudicacionController.guardar}"
									actionListener="#{planificacionImportacionController.nuevoRegistro}"
									oncomplete="PF('popupRegistroFacturaDet').show()"
									onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);" />

						<p:dataTable id="tablaCargamentos" rows="10" paginator="true"
							widgetVar="tablaCargamentos"
							value="#{planificacionImportacionController.lPlanificacionImportaciones}"
							emptyMessage="#{messages.advertenciaNoHayDatos}"
							var="planificacionImportacion"
							paginatorPosition="bottom"  styleClass="box-info"
							paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
						
							<p:column >
								<p:commandLink
									update=" :formRegistroFacturaDet"
									oncomplete="PF('popupRegistroFacturaDet').show()"
									action="#{adjudicacionController.guardar}"
									actionListener="#{planificacionImportacionController.editar}"
									onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);">
									<h:graphicImage value="../resources/images/icons/pencil.png" />
									<f:setPropertyActionListener value="#{planificacionImportacion}"
										target="#{planificacionImportacionController.planificacionImportacionSeleccionado.planificacionImportacionSeleccionado}" />
								</p:commandLink>
								<p:commandLink
									update=":frmPrincipal:tabViewMasterDetail:tablaCargamentos, @this"
									onclick="PF('widgetDeleteConfirmDialog').show()">
									<h:graphicImage value="/resources/img/delete.gif" />
									<f:setPropertyActionListener value="#{planificacionImportacion}"
										target="#{planificacionImportacionController.planificacionImportacionSeleccionado.planificacionImportacionSeleccionado}" />
								</p:commandLink>
							</p:column>
							<p:column headerText="Ventana desde" >
								<h:outputText value="#{planificacionImportacion.ventanaInicio}">
									<f:convertDateTime pattern="yyyy-MM-dd"/>
								</h:outputText>
							</p:column>
							<p:column headerText="Ventana hasta" >
								<h:outputText value="#{planificacionImportacion.ventanaFin}">
									<f:convertDateTime pattern="yyyy-MM-dd"/>
								</h:outputText>
							</p:column>

							<p:column headerText="Volumen" >
								<h:outputText value="#{planificacionImportacion.volumenBls}" />
							</p:column>

							<p:column headerText="Margen de tolerancia" >
								<h:outputText
									value="#{planificacionImportacion.adjudicacion.margenTolerancia}" />
							</p:column>
						</p:dataTable>

					</p:tab>

				</p:tabView>
		</h:form>

		<p:dialog modal="true" widgetVar="popupRegistroFacturaDet"
			id="popupRegistroFacturaDet">
			<f:facet name="header">
				<h:outputText value="Registro de cargamentos" />
			</f:facet>
			<f:facet name="controls">
				<h:outputLink value="#"
					onclick="PF('popupRegistroFacturaDet').hide(); return false;">
					X
                </h:outputLink>
			</f:facet>

			<h:form id="formRegistroFacturaDet" prependId="false">
				<p:outputPanel id="panelRegistroFacturaDet">
				<h:panelGroup styleClass="form-column" layout="block">
						<h:outputLabel value="No. Contrato/Adjudicación:"
							for="txt_no_contrato" styleClass="requerido" /><br />
						<p:inputText
							value="#{adjudicacionController.elementoSeleccionado.numeroContrato}"
							id="txt_no_contrato" style="width: 240px !important;"
							disabled="true" required="true">
							<f:validateLength maximum="500" />
						</p:inputText>
						<p:message for="txt_no_contrato" />
						
						<h:outputLabel value="Empresa Proveedora" for="txt_empresa"
							styleClass="requerido" /><br />
						<p:inputText
							value="#{planificacionImportacionController.planificacionImportacionSeleccionado.planificacionImportacionSeleccionado.empresaProveedora}"
							disabled="true" id="txt_empresa" style="width: 240px !important;"
							required="true">
							<f:validateLength maximum="500" />
						</p:inputText>
						<p:message for="txt_empresa" />
						
						<h:outputLabel value="Mes:" for="txt_mes" styleClass="requerido" /><br />
						<p:selectOneMenu id="txt_mes"
							value="#{planificacionImportacionController.planificacionImportacionSeleccionado.planificacionImportacionSeleccionado.mes}"
							style="width: 260px !important;" required="true">
							<f:selectItem itemLabel="Seleccione.." itemValue="" />
							<f:selectItem itemLabel="ENERO" itemValue="ENERO" />
							<f:selectItem itemLabel="FEBERO" itemValue="FEBERO" />
							<f:selectItem itemLabel="MARZO" itemValue="MARZO" />
							<f:selectItem itemLabel="ABRIL" itemValue="ABRIL" />
							<f:selectItem itemLabel="MAYO" itemValue="MAYO" />
							<f:selectItem itemLabel="JUNIO" itemValue="JUNIO" />
							<f:selectItem itemLabel="JULIO" itemValue="JULIO" />
							<f:selectItem itemLabel="AGOSTO" itemValue="AGOSTO" />
							<f:selectItem itemLabel="SEPTIEMBRE" itemValue="SEPTIEMBRE" />
							<f:selectItem itemLabel="OCTUBRE" itemValue="OCTUBRE" />
							<f:selectItem itemLabel="NOVIEMBRE" itemValue="NOVIEMBRE" />
							<f:selectItem itemLabel="DICIEMBRE" itemValue="DICIEMBRE" />
						</p:selectOneMenu>
						<p:message for="txt_mes" />
						
						<h:outputLabel value="Ventana inicio:" for="txt_ventana_inicio"
							styleClass="requerido" /><br />
						<p:calendar id="txt_ventana_inicio"
							value="#{planificacionImportacionController.planificacionImportacionSeleccionado.planificacionImportacionSeleccionado.ventanaInicio}"
							pattern="dd/MM/yyyy" required="true" locale="es">
						</p:calendar>
						<p:message for="txt_ventana_inicio" />
						
						<h:outputLabel value="Año" for="txt_anio" styleClass="requerido" /><br />
						<p:inputText
							value="#{planificacionImportacionController.planificacionImportacionSeleccionado.planificacionImportacionSeleccionado.anio}"
							maxlength="4" id="txt_anio" style="width: 40px !important;"
							required="true">
							<f:validateDoubleRange minimum="2013" maximum="2020" />
						</p:inputText>
						<p:message for="txt_anio" />
						
						<h:outputLabel value="Volumen Barriles" for="txt_volumen_bls"/><br />
						<p:inputText id="txt_volumen_bls"
							value="#{planificacionImportacionController.planificacionImportacionSeleccionado.planificacionImportacionSeleccionado.volumenBls}"
							style="width: 240px !important;" styleClass="soloNumeros">
							<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
							<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
							<p:ajax event="blur" update="@this" />
						</p:inputText>
						<p:message for="txt_volumen_bls" />
						
						<h:outputLabel value="TOTAL" for="txt_total"
							styleClass="requerido" /><br />
						<p:inputText id="txt_total" required="true"
							value="#{planificacionImportacionController.planificacionImportacionSeleccionado.planificacionImportacionSeleccionado.total}"
							style="width: 240px !important;" styleClass="soloNumeros">
							<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
							<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
							<p:ajax event="blur" update="@this" />
						</p:inputText>
						<p:message for="txt_total" />
				</h:panelGroup>
				<h:panelGroup styleClass="form-column" layout="block">
						<h:outputLabel value="Producto:" for="txt_info_producto"
							styleClass="requerido" /><br />
						<p:inputTextarea 	
							value="#{adjudicacionController.elementoSeleccionado.catalogoProducto.nombre}"
							id="txt_info_producto" required="true" maxlength="300"
							disabled="true">
							<f:validateLength maximum="500" />
						</p:inputTextarea>
						<p:message for="txt_info_producto" />
						
						<h:outputLabel value="Tipo Pago:" for="txt_tipo_pago"
							styleClass="requerido" /><br />
						<p:inputText
							value="#{planificacionImportacionController.planificacionImportacionSeleccionado.planificacionImportacionSeleccionado.tipoPago}"
							id="txt_tipo_pago" style="width: 240px !important;"
							required="true" disabled="true">
							<f:validateLength maximum="500" />
						</p:inputText>
						<p:message for="txt_tipo_pago" />
						
						<h:outputLabel value="Ventana fin:" for="txt_ventana_fin"
							styleClass="requerido" /><br />
						<p:calendar id="txt_ventana_fin"
							value="#{planificacionImportacionController.planificacionImportacionSeleccionado.planificacionImportacionSeleccionado.ventanaFin}"
							pattern="dd/MM/yyyy" required="true" locale="es">
						</p:calendar>
						<p:message for="txt_ventana_fin" />
						
						<h:outputLabel value="Semana:" for="txt_semana"
							styleClass="requerido" /><br />
						<p:selectOneMenu id="txt_semana"
							value="#{planificacionImportacionController.planificacionImportacionSeleccionado.planificacionImportacionSeleccionado.semana}"
							style="width: 260px !important;" required="true">
							<f:selectItem itemLabel="Seleccione.." itemValue="" />
							<f:selectItem itemLabel="1" itemValue="1" />
							<f:selectItem itemLabel="2" itemValue="2" />
							<f:selectItem itemLabel="3" itemValue="3" />
							<f:selectItem itemLabel="4" itemValue="4" />
						</p:selectOneMenu>
						<p:message for="txt_semana" />
						
						<h:outputLabel value="Precio" for="txt_precio"
							styleClass="requerido" /><br />
						<p:inputText id="txt_precio" required="true"
							value="#{planificacionImportacionController.planificacionImportacionSeleccionado.planificacionImportacionSeleccionado.precio}"
							style="width: 240px !important;" styleClass="soloNumeros">
							<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
							<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
							<p:ajax event="blur" update="@this" />
						</p:inputText>
						<p:message for="txt_precio" />
						
						<h:outputLabel value="Volumen Toneladas" for="txt_volumen_ton"/><br />
						<p:inputText id="txt_volumen_ton"
							value="#{planificacionImportacionController.planificacionImportacionSeleccionado.planificacionImportacionSeleccionado.volumenTnl}"
							style="width: 240px !important;" styleClass="soloNumeros">
							<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
							<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
							<p:ajax event="blur" update="@this" />
						</p:inputText>
						<p:message for="txt_volumen_ton" />
						
						
				</h:panelGroup>
				<h:panelGroup layout="block">
						<h:outputLabel value="Motivo de cambio:" for="txt_motivo"/>
						<p:inputTextarea
							value="#{planificacionImportacionController.planificacionImportacionSeleccionado.planificacionImportacionSeleccionado.motivoCambio}"
							id="txt_motivo" maxlength="300" cols="100">
							<f:validateLength maximum="500" />
						</p:inputTextarea>
						<p:message for="txt_motivo" />
						
						<h:outputLabel value="Observaciones" for="txt_observacion"/>
						<p:inputTextarea
							value="#{planificacionImportacionController.planificacionImportacionSeleccionado.planificacionImportacionSeleccionado.observacion}"
							id="txt_observacion" cols="100" rows="3">
							<f:validateLength maximum="500" />
						</p:inputTextarea>
						<p:message for="txt_observacion" />
						<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}"
									update=":frmPrincipal:tabViewMasterDetail:tablaCargamentos, :formRegistroFacturaDet:panelRegistroFacturaDet, @form"
									actionListener="#{planificacionImportacionController.guardar}"/>
								<p:commandButton styleClass="cancelar" value="#{messages.lbl_cancelar}" action="#"
									onclick="PF('popupRegistroFacturaDet').hide(); return false;" />
				</h:panelGroup>
					
				</p:outputPanel>
			</h:form>
		</p:dialog>

		<p:confirmDialog message="Está seguro que desea eliminar?"
			widgetVar="widgetDeleteConfirmDialog" header="Advertencia"
			severity="alert">
			<p:commandButton styleClass="boton" value="Si"
				action="#{planificacionImportacionController.eliminar}"
				update=":frmPrincipal:tabViewMasterDetail:tablaCargamentos"
				oncomplete="PF('widgetDeleteConfirmDialog').hide(); return false;"
				onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);" />
			<p:commandButton styleClass="boton" value="No"
				oncomplete="PF('widgetDeleteConfirmDialog').hide()" />
		</p:confirmDialog>
	</ui:define>
</ui:composition>
</html>