<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmPrincipal">
			<p:messages id="msgs" showDetail="true" redisplay="true"
				autoUpdate="false" closable="true" severity="info,error"/>
			
			<!-- h:outputScript library="js" name="exco-masterdetail.js" target="head"/-->
			<p:tabView orientation="top" dynamic="false" id="tabViewMasterDetail"
				widgetVar="widgetTabViewMasterDetail"
				styleClass="styleTabViewMasterDetail"
				onTabShow="blockClickAccordion();">

				<p:tab title="Registro de Adjudicación" id="tabMaster">
					<p:panel id="panelFormularioMaster">
						<h:panelGrid columns="6">
							<h:outputLabel value="No. de Adjudicación o Contrato:"
								for="txt_contrato" styleClass="requerido" />
							<p:inputText
								value="#{adjudicacionExportacionController.elementoSeleccionado.numeroContrato}"
								id="txt_contrato" style="width: 240px !important;"
								required="true">
							</p:inputText>
							<p:message for="txt_contrato" />

							<h:outputLabel value="Version INCOTERMS:" for="txt_incoterms"
								styleClass="requerido" />
							<p:selectOneMenu id="txt_incoterms"
								value="#{adjudicacionExportacionController.elementoSeleccionado.incoterms}"
								style="width: 250px !important;" required="true">
								<f:selectItem itemLabel="Seleccione.." itemValue="" />
								<f:selectItem itemLabel="Incoterms 2010"
									itemValue="Incoterms 2010" />
							</p:selectOneMenu>
							<p:message for="txt_incoterms" />

							<h:outputLabel value="Tipo de documento:"
								for="txt_adjudica_compra" styleClass="requerido" />
							<p:selectOneMenu id="txt_adjudica_compra"
								value="#{adjudicacionExportacionController.elementoSeleccionado.tipoDocumento}"
								style="width: 260px !important;" required="true">
								<f:selectItem itemLabel="Seleccione.." itemValue="" />
								<f:selectItem itemLabel="ADJUDICACION" itemValue="ADJUDICACION" />
								<f:selectItem itemLabel="CONTRATO" itemValue="CONTRATO" />
							</p:selectOneMenu>
							<p:message for="txt_adjudica_compra" />

							<h:outputLabel value="Condiciones entrega:" for="txt_condiciones"
								styleClass="requerido" />
							<p:selectOneMenu id="txt_condiciones"
								value="#{adjudicacionExportacionController.elementoSeleccionado.condicion}"
								style="width: 250px !important;" required="true">
								<f:selectItem itemLabel="Seleccione.." itemValue="" />
								<f:selectItem itemLabel="DAT" itemValue="DAT" />
								<f:selectItem itemLabel="FOB" itemValue="FOB" />
								<f:selectItem itemLabel="CFR" itemValue="CFR" />
								<f:selectItem itemLabel="EXW" itemValue="EXW" />
							</p:selectOneMenu>
							<p:message for="txt_condiciones" />

							<h:outputLabel value="Fecha:" for="txt_fecha"
								styleClass="requerido" />
							<p:calendar id="txt_fecha"
								value="#{adjudicacionExportacionController.elementoSeleccionado.fecha}"
								pattern="dd/MM/yyyy" required="true">
							</p:calendar>
							<p:message for="txt_fecha" />


							<h:outputLabel value="Numero de cargamentos:"
								for="txt_cargamentos" styleClass="requerido" />
							<p:spinner id="txt_cargamentos" required="true"
								value="#{adjudicacionExportacionController.elementoSeleccionado.numeroCargamento}"
								min="0" max="100">
								<f:convertNumber locale="es_EC" />
							</p:spinner>
							<p:message for="txt_cargamentos" />

							<h:outputLabel value="Cliente:" for="lst_compania"
								styleClass="requerido" />
							<p:selectOneMenu id="lst_compania"
								value="#{adjudicacionExportacionController.elementoSeleccionado.actor}"
								converter="#{actorConverter}" style="width: 260px !important;"
								required="true">
								<f:selectItem itemLabel="Seleccione.." itemValue="" />
								<f:selectItems
									value="#{adjudicacionExportacionController.actores}"
									var="actor" itemValue="#{actor}"
									itemLabel="#{actor.razonSocial}" />
							</p:selectOneMenu>
							<p:message for="lst_compania" />


							<h:outputLabel value="País:" for="lst_pais"
								styleClass="requerido" />
							<p:selectOneMenu id="lst_pais"
								value="#{adjudicacionExportacionController.elementoSeleccionado.pais}"
								converter="#{paisConverter}" style="width: 250px !important;"
								required="true">
								<f:selectItem itemLabel="Seleccione.." itemValue="" />
								<f:selectItems
									value="#{adjudicacionExportacionController.paises}" var="pais"
									itemValue="#{pais}" itemLabel="#{pais.nombre}" />
							</p:selectOneMenu>
							<p:message for="lst_pais" />

							<h:outputLabel value="Volumen aproximado por cargamento"
								for="txt_volumen_aproximado" styleClass="requerido" />
							<p:inputText id="txt_volumen_aproximado" required="true"
								value="#{adjudicacionExportacionController.adjudicacionSeleccionado.adjudicacionSeleccionado.volumenAproximado}"
								style="width: 240px !important;" styleClass="soloNumeros">
								<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
	    						<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
	    						<p:ajax event="blur" update="@this" />
							</p:inputText>			
							<p:message for="txt_volumen_aproximado" />
							
							<h:outputLabel value="Producto: " for="lst_producto"
								styleClass="requerido" />
							<p:selectOneMenu id="lst_producto"
								value="#{adjudicacionExportacionController.elementoSeleccionado.catalogoProducto}"
								converter="#{catalogoProductoConverter}"
								style="width: 250px !important;" required="true">
								<f:selectItem itemLabel="Seleccione.." itemValue="" />
								<f:selectItems
									value="#{adjudicacionExportacionController.catalogoProductos}"
									var="catalogoProducto" itemValue="#{catalogoProducto}"
									itemLabel="#{catalogoProducto.nombre}" />
							</p:selectOneMenu>
							<p:message for="lst_producto" />
							
							<h:outputLabel value="Volumen total:" for="txt_volumen_total"
								styleClass="requerido" />
							<p:inputText id="txt_volumen_total" required="true"
								value="#{adjudicacionExportacionController.elementoSeleccionado.volumenTotal}"
								style="width: 240px !important;" styleClass="soloNumeros">
								<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
	    						<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
	    						<p:ajax event="blur" update="@this" />
							</p:inputText>			
							<p:message for="txt_volumen_total" />
							
							<h:outputLabel value="Margen de tolerancia:" for="txt_tolerancia"
								styleClass="requerido" />
							<p:spinner id="txt_tolerancia" required="true"
								value="#{adjudicacionExportacionController.elementoSeleccionado.margenTolerancia}"
								stepFactor="0.01" min="0" max="100000">
								<f:convertNumber locale="es_EC" />
							</p:spinner>
							<p:message for="txt_tolerancia" />

							<h:outputLabel value="Fecha de pago(días posteriores al BL):"
								for="txt_fecha_pago" styleClass="requerido" />
							<p:spinner id="txt_fecha_pago" required="true"
								value="#{adjudicacionExportacionController.elementoSeleccionado.fechaPago}"
								min="0" max="100">
								<f:convertNumber locale="es_EC" />
							</p:spinner>
							<p:message for="txt_fecha_pago" />

							<h:outputLabel value="Garantía de Pago:" for="txt_garantia_pago"
								styleClass="requerido" />
							<p:selectOneMenu id="txt_garantia_pago"
								value="#{adjudicacionExportacionController.elementoSeleccionado.garantiaPago}"
								style="width: 250px !important;" required="true">
								<f:selectItem itemLabel="Seleccione.." itemValue="" />
								<f:selectItem itemLabel="CARTA DE CREDITO STAND BY"
									itemValue="CARTA DE CREDITO STAND BY" />
							</p:selectOneMenu>
							<p:message for="txt_garantia_pago" />

							<h:outputLabel value="Modalidad de Pago:" for="txt_forma_pago"
								styleClass="requerido" />
							<p:selectOneMenu id="txt_forma_pago"
								value="#{adjudicacionExportacionController.elementoSeleccionado.tipoPago}"
								style="width: 260px !important;" required="true">
								<f:selectItem itemLabel="Seleccione.." itemValue="" />
								<f:selectItem itemLabel="CARTA DE CREDITO"
									itemValue="CARTA DE CREDITO" />
								<f:selectItem itemLabel="GIRO DIRECTO CARTA STAND BY"
									itemValue="GIRO DIRECTO CARTA STAND BY" />
								<f:selectItem itemLabel="GIRO DIRECTO" itemValue="GIRO DIRECTO" />
								<f:selectItem itemLabel="PAGO ANTICIPADO"
									itemValue="PAGO ANTICIPADO" />
								<f:selectItem itemLabel="CONVENIO" itemValue="CONVENIO" />
							</p:selectOneMenu>
							<p:message for="txt_forma_pago" />
							
							<h:outputLabel value="Archivar documento:" for="txt_archivo"/>
							<p:inputText
								value="#{adjudicacionExportacionController.elementoSeleccionado.rutaArchivo}"
								id="txt_archivo" style="width: 240px !important;">
								<f:validateLength maximum="500" />
							</p:inputText>
							<p:message for="txt_archivo" />

							<h:outputText value="" />

						</h:panelGrid>
						
						<h:panelGrid columns="3">
							<h:outputLabel value="Observaciones:" for="txt_observaciones"/>
							<p:inputTextarea
								value="#{adjudicacionExportacionController.elementoSeleccionado.observacion}"
								id="txt_observaciones" maxlength="500" cols="120">
								<f:validateLength maximum="500" />
							</p:inputTextarea>
							<p:message for="txt_observaciones" />
						</h:panelGrid>
						
						<h:panelGrid columns="2">
							<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}"
								update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
								action="#{adjudicacionExportacionController.guardar}"
								onclick="setTimeout(function(){$('#panelMensajes').html('');},1000);" />
							<p:commandButton styleClass="cancelar" value="#{messages.lbl_atras}" immediate="true"
								update=":frmPrincipal:tabViewMasterDetail, @form"
								action="#{adjudicacionExportacionController.atras}" />
						</h:panelGrid>

					</p:panel>

				</p:tab>

				<p:tab title="Cargamento" id="tabViewCargamentos">
<p:commandButton styleClass="crear" value="#{messages.lbl_nuevo}"
								update=":frmPrincipal:tabViewMasterDetail:tablaCargamentos, :formRegistroFacturaDet:panelRegistroFacturaDet, @form"
								action="#{adjudicacionExportacionController.guardar}"
								actionListener="#{planificacionExportacionController.nuevoRegistro}"
								oncomplete="PF('popupRegistroFacturaDet').show()"
								onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);" />
					<p:dataTable id="tablaCargamentos" rows="10" paginator="true"
						widgetVar="tablaCargamentos"
						value="#{planificacionExportacionController.lPlanificacionExportaciones}"
						emptyMessage="#{messages.advertenciaNoHayDatos}"
						var="planificacionExportacion"
						paginatorPosition="bottom"  styleClass="box-info"
						paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
					
					<p:column >
							<p:commandButton update=":frmPrincipal:tabViewMasterDetail:tablaCargamentos, @this" icon="ui-icon-trash"
								oncomplete="PF('widgetDeleteConfirmDialog').show()" title="Eliminar Acción">
								<f:setPropertyActionListener value="#{planificacionExportacion}"
									target="#{planificacionExportacionController.planificacionExportacionSeleccionado.planificacionExportacionSeleccionado}" />
							</p:commandButton>
							<p:commandLink 
								update=":formRegistroFacturaDet"
								oncomplete="PF('popupRegistroFacturaDet').show()"
								action="#{adjudicacionExportacionController.guardar}"
								actionListener="#{planificacionExportacionController.editar}"
								onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);">
								<h:graphicImage value="../resources/images/icons/pencil.png" />
								<f:setPropertyActionListener value="#{planificacionExportacion}"
									target="#{planificacionExportacionController.planificacionExportacionSeleccionado.planificacionExportacionSeleccionado}" />
							</p:commandLink>
						</p:column>
						
						<p:column headerText="Fecha registro">
							<h:outputText value="#{planificacionExportacion.fechaRegistro}" >
								<f:convertDateTime pattern="yyyy-MM-dd"/>
							</h:outputText>
						</p:column>

						<p:column headerText="Ventana desde" >
							<h:outputText value="#{planificacionExportacion.ventanaInicio}">
								<f:convertDateTime pattern="yyyy-MM-dd"/>
							</h:outputText>
						</p:column>
						<p:columnheaderText="Ventana hasta">
							<h:outputText value="#{planificacionExportacion.ventanaFin}">
								<f:convertDateTime pattern="yyyy-MM-dd"/>
							</h:outputText>
						</p:column>


						<p:column headerText="Volumen" >
							<h:outputText value="#{planificacionExportacion.volumen}" />
						</p:column>

						
					</p:dataTable>

				</p:tab>

			</p:tabView>

		</h:form>

		<p:dialog modal="true" widgetVar="popupRegistroFacturaDet"
			id="popupRegistroFacturaDet">
			<f:facet name="header">
				<h:outputText value="Registro de Cargamentos" />
			</f:facet>
			<f:facet name="controls">
				<h:outputLink value="#"
					onclick="PF('popupRegistroFacturaDet').hide(); return false;">
					X
                </h:outputLink>
			</f:facet>

			<h:form id="formRegistroFacturaDet" prependId="false">
				<p:outputPanel id="panelRegistroFacturaDet">
					<h:panelGrid id="gridRegistroFacturaDet" columns="3">
						
						<h:outputLabel value="Volumen del Cargamento:" for="txt_plan_volumen_bls"
							styleClass="requerido" />
						<p:inputText id="txt_plan_volumen_bls" required="true"
							value="#{planificacionExportacionController.planificacionExportacionSeleccionado.planificacionExportacionSeleccionado.volumen}"
							style="width: 200px !important;" styleClass="soloNumeros">
							<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
							<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
							<p:ajax event="blur" update="@this" />
						</p:inputText>
						<p:message for="txt_plan_volumen_bls" />
					
						<h:outputLabel value="Ventana inicio:"
							for="txt_plan_ventana_inicio" styleClass="requerido" />
						<p:calendar id="txt_plan_ventana_inicio"
							value="#{planificacionExportacionController.planificacionExportacionSeleccionado.planificacionExportacionSeleccionado.ventanaInicio}"
							pattern="dd/MM/yyyy" required="true">
						</p:calendar>
						<p:message for="txt_plan_ventana_inicio" />

						<h:outputLabel value="Ventana fin:" for="txt_plan_ventana_fin"
							styleClass="requerido" />
						<p:calendar id="txt_plan_ventana_fin"
							value="#{planificacionExportacionController.planificacionExportacionSeleccionado.planificacionExportacionSeleccionado.ventanaFin}"
							pattern="dd/MM/yyyy" required="true">
						</p:calendar>
						<p:message for="txt_plan_ventana_fin" />
					</h:panelGrid>
						
					<h:panelGrid columns="3">
						<h:outputLabel value="Observacion:" for="txt_plan_observacion" />
						<h:inputTextarea
							value="#{planificacionExportacionController.planificacionExportacionSeleccionado.planificacionExportacionSeleccionado.observacion}"
							id="txt_plan_observacion" cols="125" rows="3">
							<f:validateLength maximum="500" />
						</h:inputTextarea>
						<p:message for="txt_plan_observacion" />

						<f:facet name="footer">
							<h:panelGrid columns="2">
								<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}"
									update=":frmPrincipal:tabViewMasterDetail:tablaCargamentos, :formRegistroFacturaDet:panelRegistroFacturaDet, @form"
									actionListener="#{planificacionExportacionController.guardar}"
									onsuccess="setTimeout(function(){$('#panelMensajes').html('');},1000);" />
								<p:commandButton styleClass="cancelar" value="#{messages.lbl_cancelar}" action="#"
									onclick="PF('popupRegistroFacturaDet').hide(); return false;" />
							</h:panelGrid>
						</f:facet>
					</h:panelGrid>
				</p:outputPanel>
			</h:form>

		</p:dialog>

		<p:confirmDialog message="Esta seguro que desea eliminar?"
			widgetVar="widgetDeleteConfirmDialog" header="Advertencia"
			severity="alert">
			<p:commandButton styleClass="boton" value="Si"
				action="#{planificacionExportacionController.eliminar}"
				update=":frmPrincipal:tabViewMasterDetail:tablaCargamentos"
				oncomplete="PF('widgetDeleteConfirmDialog').hide(); return false;"
				onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);" />
			<p:commandButton styleClass="boton" value="No"
				oncomplete="PF('widgetDeleteConfirmDialog').hide()" />
		</p:confirmDialog>
	</ui:define>
</ui:composition>
</html>