<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmAdjudicacion">
			
			<h:panelGrid columns="4">
				<h:outputLabel value="Fecha de inicio:" />
				<p:calendar
					value="#{adjudicacionExportacionDataManager.fechaDesde}"
					pattern="dd/MM/yyyy" locale="es">
				</p:calendar>
				
				<h:outputLabel value="Fecha fin:" />
				<p:calendar
					value="#{adjudicacionExportacionDataManager.fechaHasta}"
					pattern="dd/MM/yyyy" locale="es">
				</p:calendar>
				
				<h:outputLabel value="No. Adjudicación o Contrato:" />
				<p:inputText value="#{adjudicacionExportacionDataManager.adjudicacion}"
					styleClass="enlinea" />
				
				<p:outputLabel value="Cliente: "/>
				<p:selectOneMenu id="lst_fcliente" value="#{adjudicacionExportacionDataManager.proveedor}"
					style="width: 280px !important;">
					<f:selectItem itemLabel="Seleccione.." itemValue="" />
					<f:selectItems value="#{adjudicacionExportacionController.actores}" var="actor" itemValue="#{actor.id}" itemLabel="#{actor.razonSocial}" />							
				</p:selectOneMenu>
			</h:panelGrid>		
					
			<h:panelGroup layout="block">
					<p:commandButton styleClass="buscar" title="Filtrar registros" value="BUSCAR"
						update=":frmAdjudicacion" style="width: 100px !important;"
						action="#{adjudicacionExportacionController.buscar}" />
					<p:commandButton styleClass="crear" value="#{messages.lbl_nuevo}"
						action="#{adjudicacionExportacionController.nuevoRegistro}" />
			</h:panelGroup>
			
			<p:panel>
				<p:dataTable id="tablaRegistro" rows="10" paginator="true"
					value="#{adjudicacionExportacionController.lAdjudicaciones}"
					emptyMessage="#{messages.advertenciaNoHayDatos}" var="adjudicacion"
						paginatorPosition="bottom"  styleClass="box-info"
						paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">	
						
						<p:column >
						<p:commandLink update="@this"
							action="#{adjudicacionExportacionController.editar}">
							<h:graphicImage value="../resources/images/icons/pencil.png" />
							<f:setPropertyActionListener value="#{adjudicacion}"
								target="#{adjudicacionExportacionController.adjudicacionSeleccionado.adjudicacionSeleccionado}" />
						</p:commandLink>
						<p:commandButton update="@this" icon="ui-icon-trash"
							oncomplete="PF('widgetDeleteConfirmDialog').show()" title="Eliminar Acción">
							<f:setPropertyActionListener value="#{adjudicacion}"
								target="#{adjudicacionExportacionController.adjudicacionSeleccionado.adjudicacionSeleccionado}" />
						</p:commandButton>
					</p:column>
					<p:column headerText="No. Adjudicación/ Contrato" >
						<h:outputText value="#{adjudicacion.numeroContrato}" />
					</p:column>
					
					<p:column headerText="Tipo" >
						<h:outputText value="#{adjudicacion.tipo}" />
					</p:column>
					
					<p:column headerText="Fecha" >
						<h:outputText value="#{adjudicacion.fecha}">
							<f:convertDateTime pattern="yyyy-MM-dd"/>
						</h:outputText>
					</p:column>
					
					<p:column headerText="Cliente" >
						<h:outputText value="#{adjudicacion.actor.razonSocial}" />
					</p:column>

					<p:column headerText="Producto" >
						<h:outputText value="#{adjudicacion.catalogoProducto.nombre}" />
					</p:column>
					
					<p:column headerText="Volúmen BLS" >
						<h:outputText value="#{adjudicacion.volumenAproximado}" />
					</p:column>
					
					<p:column headerText="Condicion de entrega" >
						<h:outputText value="#{adjudicacion.condicion}" />
					</p:column>
					
					<p:column headerText="No. Cargamentos" >
						<h:outputText value="#{adjudicacion.numeroCargamento}" />
					</p:column>
				</p:dataTable>
			</p:panel>
		</h:form>

		<p:confirmDialog message="Está seguro que desea eliminar?"
			widgetVar="widgetDeleteConfirmDialog" header="Advertencia"
			severity="alert">
			<p:commandButton styleClass="boton" value="Si"
				action="#{adjudicacionExportacionController.eliminar}"
				update=":frmAdjudicacion:tablaRegistro"
				oncomplete="PF('widgetDeleteConfirmDialog').hide()" />
			<p:commandButton styleClass="boton" value="No"
				oncomplete="PF('widgetDeleteConfirmDialog').hide()" />
		</p:confirmDialog>

	</ui:define>
</ui:composition>
</html>