<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmPlanificaciones">
			<h:panelGroup layout="block">
				<h:outputLabel value="Aplicación No."/>
				<p:inputText
					value="#{aplicacionSeguroDataManager.filtroDescripcion}"
					id="txt_fnoaplicacion" style="width: 215px !important;">
				</p:inputText>
			</h:panelGroup>
			
			<h:panelGroup layout="block">
				<p:commandButton styleClass="buscar" title="Filtrar registros" value="BUSCAR"
					update=":frmPlanificaciones"
					action="#{aplicacionSeguroController.buscar}" />
				<p:commandButton styleClass="crear" value="#{messages.lbl_nuevo}"
					action="#{aplicacionSeguroController.nuevoRegistro}" />
			</h:panelGroup>
			
			
			<p:panel>
				<p:dataTable id="tablaRegistro" rows="10" paginator="true"
					value="#{aplicacionSeguroController.lAplicacionSeguros}"
					emptyMessage="#{messages.advertenciaNoHayDatos}"
					var="aplicacionSeguro"
					paginatorPosition="bottom"  styleClass="box-info"
					paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
					
						
					<p:column >
						<p:commandLink update="@this"
							action="#{aplicacionSeguroController.editar}">
							<h:graphicImage value="../resources/images/icons/pencil.png" />
							<f:setPropertyActionListener value="#{aplicacionSeguro}"
								target="#{aplicacionSeguroController.aplicacionSeguroSeleccionado.aplicacionSeguroSeleccionado}" />
						</p:commandLink>
						<p:commandButton update="@this" icon="ui-icon-trash"
							oncomplete="PF('widgetDeleteConfirmDialog').show()" title="Eliminar Acción">
							<f:setPropertyActionListener value="#{aplicacionSeguro}"
								target="#{aplicacionSeguroController.aplicacionSeguroSeleccionado.aplicacionSeguroSeleccionado}" />
						</p:commandButton>
					</p:column>
					
					<p:column headerText="Aplicación" >
						<h:outputText value="#{aplicacionSeguro.numero}" />
					</p:column>

					<p:column headerText="Póliza" >
						<h:outputText value="#{aplicacionSeguro.poliza.numero}" />
					</p:column>

					<p:column headerText="Ventana" >
						<h:outputText value="#{aplicacionSeguro.planificacionImportacion.ventanaInicio} - #{aplicacionSeguro.planificacionImportacion.ventanaFin}" />
					</p:column>
					
					<p:column headerText="No. Adjudicación/Contrato" >
						<h:outputText
							value="#{aplicacionSeguro.adjudicacion.numeroContrato}" />
					</p:column>

					<p:column headerText="Estado" >
						<h:outputText value="#{aplicacionSeguro.dirigidoa}" />
					</p:column>
				</p:dataTable>
			</p:panel>
		</h:form>

		<p:confirmDialog message="Está seguro que desea eliminar?"
			widgetVar="widgetDeleteConfirmDialog" header="Advertencia"
			severity="alert">
			<p:commandButton styleClass="boton" value="Si"
				action="#{aplicacionSeguroController.eliminar}"
				update=":frmPlanificaciones:tablaRegistro"
				oncomplete="PF('widgetDeleteConfirmDialog').hide()" />
			<p:commandButton styleClass="boton" value="No"
				oncomplete="PF('widgetDeleteConfirmDialog').hide()" />
		</p:confirmDialog>

	</ui:define>
</ui:composition>
</html>