<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmPrincipal">
			<p:messages id="msgs" showDetail="true" redisplay="true"
				autoUpdate="false" closable="true" severity="info,error"/>

			<!-- h:outputScript library="js" name="exco-masterdetail.js" target="head"/-->
			<p:tabView orientation="top" dynamic="false" id="tabViewMasterDetail"
				widgetVar="widgetTabViewMasterDetail"
				styleClass="styleTabViewMasterDetail"
				onTabShow="blockClickAccordion();">

				<p:tab title="Solicitar aplicación de seguro" id="tabMaster">
					
						<p:panel id="panelFormularioMaster">

							<h:panelGrid columns="6">

								<h:outputLabel value="No. Aplicación:" for="txt_no_contrato" styleClass="requerido" />
								<p:inputText
									value="#{aplicacionSeguroController.aplicacionSeguroSeleccionado.aplicacionSeguroSeleccionado.numero}"
									id="txt_no_contrato" style="width: 240px !important;"
									required="true">
									<f:validateLength maximum="500" />
								</p:inputText>
								<p:message for="txt_no_contrato" />

								<h:outputLabel value="No. Adjudicacion:" for="lst_adjudicacion"
									styleClass="requerido" />
								<p:selectOneMenu id="lst_adjudicacion"
									value="#{aplicacionSeguroController.aplicacionSeguroSeleccionado.aplicacionSeguroSeleccionado.adjudicacion}"
									converter="#{adjudicacionConverter}"
									style="width: 260px !important;" required="true">
									<f:selectItem itemLabel="Seleccione.." itemValue="" />
									<f:selectItems
										value="#{aplicacionSeguroController.adjudicaciones}"
										var="adjudicacion" itemValue="#{adjudicacion}"
										itemLabel="#{adjudicacion.numeroContrato}" />
					            	<p:ajax update=":frmPrincipal:tabViewMasterDetail:lst_ventana" event="change" listener="#{aplicacionSeguroController.cargarPlanificacion}"  process="@this"/>		
								
								</p:selectOneMenu>
								<p:message for="lst_adjudicacion" />
								
								<h:outputLabel value="No. Póliza:" for="txt_poliza"
									styleClass="requerido" />
								<p:selectOneMenu id="txt_poliza"
									value="#{aplicacionSeguroController.aplicacionSeguroSeleccionado.aplicacionSeguroSeleccionado.poliza}"
									converter="#{polizaConverter}" style="width: 260px !important;"
									required="true">
									<f:selectItem itemLabel="Seleccione.." itemValue="" />
									<f:selectItems value="#{aplicacionSeguroController.polizas}"
										var="poliza" itemValue="#{poliza}"
										itemLabel="#{poliza.numero}" />
								</p:selectOneMenu>
								<p:message for="txt_poliza" />

								<h:outputLabel value="Ventana:" for="lst_ventana" styleClass="requerido" />								
								<p:selectOneMenu id="lst_ventana"
									value="#{aplicacionSeguroController.aplicacionSeguroSeleccionado.aplicacionSeguroSeleccionado.planificacionImportacion}"
									converter="#{planificacionImportacionConverter}" style="width: 260px !important;" required="true">
					            	<f:selectItem itemLabel="Seleccione.." itemValue="" />
					            	<f:selectItems value="#{aplicacionSeguroController.planificacionImportaciones}" var="pi" 
					            		itemValue="#{pi}" itemLabel="#{pi.ventanaInicio} - #{pi.ventanaFin}" />							
				 				</p:selectOneMenu>
								<p:message for="lst_ventana" />

								<h:outputLabel value="Compañía de Seguros:"
									for="lst_compania_seguro" styleClass="requerido" />
								<p:selectOneMenu id="lst_compania_seguro"
									value="#{aplicacionSeguroController.aplicacionSeguroSeleccionado.aplicacionSeguroSeleccionado.companiaSeguro}"
									converter="#{companiaSeguroConverter}"
									style="width: 260px !important;" required="false">
									<f:selectItem itemLabel="Seleccione.." itemValue="" />
									<f:selectItems
										value="#{aplicacionSeguroController.companiaSeguros}"
										var="aseguradora" itemValue="#{aseguradora}"
										itemLabel="#{aseguradora.nombre}" />
								</p:selectOneMenu>
								<p:message for="lst_compania_seguro" />

								<h:outputLabel value="Fecha:" for="txt_fecha"
									styleClass="requerido" />
								<p:calendar id="txt_fecha"
									value="#{aplicacionSeguroController.aplicacionSeguroSeleccionado.aplicacionSeguroSeleccionado.fecha}"
									pattern="dd/MM/yyyy" required="true">
								</p:calendar>
								<p:message for="txt_fecha" />

								<h:outputLabel value="Material:" for="txt_material"/>
								<p:inputText
									value="#{aplicacionSeguroController.aplicacionSeguroSeleccionado.aplicacionSeguroSeleccionado.material}"
									id="txt_material" style="width: 350px !important;">
									<f:validateLength maximum="500" />
								</p:inputText>
								<p:message for="txt_material" />
								
								<h:outputLabel value=""/>
								<h:outputLabel value=""/>
								<h:outputLabel value=""/>

								<h:outputLabel value="Dirigido a:" for="txt_dirigido"/>
								<p:inputText
									value="#{aplicacionSeguroController.aplicacionSeguroSeleccionado.aplicacionSeguroSeleccionado.dirigidoa}"
									id="txt_dirigido" style="width: 350px !important;">
									<f:validateLength maximum="500" />
								</p:inputText>
								<p:message for="txt_dirigido" />

								<p:outputLabel value="Solicita:" for="txt_solicita"/>
								<p:inputText
									value="#{aplicacionSeguroController.aplicacionSeguroSeleccionado.aplicacionSeguroSeleccionado.solicita}"
									id="txt_solicita" style="width: 350px !important;">
									<f:validateLength maximum="500" />
								</p:inputText>
								<p:message for="txt_solicita" />



							</h:panelGrid>
							<h:panelGrid columns="2">
								<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}"
									update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
									action="#{aplicacionSeguroController.guardar}"
									onclick="setTimeout(function(){$('#panelMensajes').html('');},1000);" />
								<p:commandButton styleClass="cancelar" value="#{messages.lbl_atras}" immediate="true"
									update=":frmPrincipal:tabViewMasterDetail, @form"
									action="#{aplicacionSeguroController.atras()}" />
							</h:panelGrid>

						</p:panel>
					
				</p:tab>

			</p:tabView>

		</h:form>
	</ui:define>
</ui:composition>
</html>