<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmPlanificaciones">
			
			<p:messages id="msgs" showDetail="true" redisplay="true"
				autoUpdate="false" closable="true" severity="info,error"/>

			<h:outputLabel value="Descripcion" />
			<h:inputTextarea id="txt_descripcion" cols="40" rows="1" styleClass="enlinea"
				value="#{documentoAdjuntoController.filtroDescripcion}">
			</h:inputTextarea>
			<p:commandButton styleClass="buscar" title="Filtrar registros" value="BUSCAR"
				update=":frmPlanificaciones" 
				action="#{documentoAdjuntoController.buscar}" />
<p:commandButton styleClass="crear" value="#{messages.lbl_nuevo}"
							action="#{documentoAdjuntoController.nuevoRegistro}" />

			<p:panel>
				<p:dataTable id="tablaRegistro" rows="10" paginator="true"
					value="#{documentoAdjuntoController.lDocumentosAdjuntos}"
					emptyMessage="#{messages.advertenciaNoHayDatos}"
					var="documento"
					paginatorPosition="bottom"  styleClass="box-info"
					paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
					
					

					<p:column>
						<p:commandLink update="@this"
							action="#{documentoAdjuntoController.editar}">
							<h:graphicImage value="../resources/images/icons/pencil.png" />
							<f:setPropertyActionListener value="#{aplicacionSeguro}"
								target="#{documentoAdjuntoController.elementoSeleccionado}" />
						</p:commandLink>
						<p:commandButton update="@this" icon="ui-icon-trash"
							oncomplete="PF('widgetDeleteConfirmDialog').show()" title="Eliminar Acción">
							<f:setPropertyActionListener value="#{aplicacionSeguro}"
								target="#{documentoAdjuntoController.elementoSeleccionado}" />
						</p:commandButton>
					</p:column>
					
					<p:column headerText="Aplicación">
						#{documento.nombre}
					</p:column>

					
				</p:dataTable>
			</p:panel>
		</h:form>

		<p:confirmDialog message="Está seguro que desea eliminar?"
			widgetVar="widgetDeleteConfirmDialog" header="Advertencia"
			severity="alert">
			<p:commandButton styleClass="boton" value="Si"
				action="#{documentoAdjuntoController.eliminar}"
				update=":frmPlanificaciones:tablaRegistro"
				oncomplete="PF('widgetDeleteConfirmDialog').hide()" />
			<p:commandButton styleClass="boton" value="No"
				oncomplete="PF('widgetDeleteConfirmDialog').hide()" />
		</p:confirmDialog>

	</ui:define>
</ui:composition>
</html>