<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmPrincipal">
			
			<p:messages id="msgs" showDetail="true" redisplay="true"
				autoUpdate="false" closable="true" severity="info,error"/>
				
			<!-- h:outputScript library="js" name="exco-masterdetail.js" target="head"/-->
			<p:tabView orientation="top" dynamic="false" id="tabViewMasterDetail"
				widgetVar="widgetTabViewMasterDetail"
				styleClass="styleTabViewMasterDetail"
				onTabShow="blockClickAccordion();">

				<p:tab title="Solicitar aplicación de seguro" id="tabMaster">
					<h:form id="formularioMaster" styleClass="styleFormularioMaster"
						enctype="multipart/form-data">
						<p:panel id="panelFormularioMaster">

							<h:panelGrid columns="6">
								<p:fileUpload
									allowTypes="/(\.|\/)(doc|docx|pdf|DOC|DOCX|PDF|PNG|GIF|JPG|JPEG)$/"
									value="#{documentoAdjuntoController.archivo}"
									fileUploadListener="#{documentoAdjuntoController.handleFileUpload}" 
									mode="advanced" dragDropSupport="false" multiple="true"
									sizeLimit="1000000" fileLimit="3" auto="false" />

								<p:fileUpload value="#{documentoAdjuntoController.archivo}" allowTypes="/(\.|\/)(doc|docx|pdf|DOC|DOCX|PDF|PNG|GIF|JPG|JPEG)$/"
									mode="simple" skinSimple="true" />

								<p:commandButton value="Submit" ajax="false"
									actionListener="#{documentoAdjuntoController.upload}" disabled="false" />

							</h:panelGrid>
							<h:panelGrid columns="2">
								<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}"
									update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail:formularioMaster, @form"
									action="#{documentoAdjuntoController.guardar}"
									onclick="setTimeout(function(){$('#panelMensajes').html('');},1000);" />
								<p:commandButton styleClass="cancelar" value="#{messages.lbl_atras}" immediate="true"
									update=":frmPrincipal:tabViewMasterDetail:formularioMaster, @form"
									action="#{documentoAdjuntoController.atras}" />
							</h:panelGrid>

						</p:panel>
					</h:form>
				</p:tab>
			</p:tabView>
		</h:form>
	</ui:define>
</ui:composition>
</html>