<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmCatalogo">
			<p:panel>
			<p:commandButton styleClass="crear" value="#{messages.lbl_nuevo}"
						action="#{catalogoProductoController.nuevoRegistro}" />
				<p:dataTable id="tablaRegistro" rows="10" paginator="true"
					value="#{catalogoProductoController.lCatalogoProductos}"
					emptyMessage="#{messages.advertenciaNoHayDatos}" var="catalogo"
					paginatorPosition="bottom"  styleClass="box-info"
					paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
							
				
					<p:column>
						<p:commandLink update="@this"
							action="#{catalogoProductoController.editar}">
							<h:graphicImage value="../resources/images/icons/pencil.png" />							
							<f:setPropertyActionListener value="#{catalogo}"
								target="#{catalogoProductoController.elementoSeleccionado}" />	
						</p:commandLink>
						<p:commandButton update=" :formDialogDelete" icon="ui-icon-trash"
							oncomplete="PF('widgetDeleteConfirmDialog').show()" title="Eliminar Acción">
							<f:setPropertyActionListener value="#{catalogo}"
								target="#{catalogoProductoController.elementoSeleccionado}" />
						</p:commandButton>	
					</p:column>
					
					<p:column headerText="Nombre" >
						<h:outputText value="#{catalogo.nombre}" />
					</p:column>
					
				</p:dataTable>
			</p:panel>
		</h:form>

		<p:confirmDialog message="Esta seguro que desea eliminar?"
			widgetVar="widgetDeleteConfirmDialog"
			header="Advertencia" severity="alert">
			<h:form id="formDialogDelete">
				<h:inputHidden value="#{catalogoProductoController.elementoSeleccionado.id}" />
				<p:commandButton styleClass="boton" value="Si" action="#{catalogoProductoController.eliminar}"
					update=":frmCatalogo:tablaRegistro" oncomplete="PF('widgetDeleteConfirmDialog').hide()">
				</p:commandButton>
				<p:commandButton styleClass="boton" value="No" oncomplete="PF('widgetDeleteConfirmDialog').hide()" />
			</h:form>
		</p:confirmDialog>
		
	</ui:define>
</ui:composition>
</html>