<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmPrincipal">
			<p:messages id="msgs" showDetail="true" redisplay="true"
				autoUpdate="false" closable="true" severity="info,error"/>
			
			<h:panelGrid columns="2">
				<h:outputLabel value="Nombre" for="txt_nombre" styleClass="requerido"/>
				<p:inputText id="txt_nombre"
					value="#{catalogoProductoController.elementoSeleccionado.nombre}"
					style="width: 200px !important;" required="true"/>
				<p:message for="txt_nombre" />
				<h:panelGrid columns="2">
					<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}" update="@form"
						action="#{catalogoProductoController.guardar}" 
						onsuccess="setTimeout(function(){$('#panelMensajes').html('');},1000);"/>
					<p:commandButton styleClass="cancelar" value="#{messages.lbl_atras}" immediate="true"
						update="@form" 
						action="#{catalogoProductoController.atras}" />
				</h:panelGrid>
				
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>
