<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmGarantia">
			<h:panelGroup styleClass="form-column" layout="block">
				<p:outputLabel value="Cliente / Proveedor: "/><br />
				<p:selectOneMenu id="lst_fproveedor" value="#{garantiaDataManager.filtroProveedor}"
					style="width: 250px !important;">
	            	<f:selectItem itemLabel="Seleccione.." itemValue="" />
	            	<f:selectItems value="#{garantiaController.actores}" var="actor" itemValue="#{actor.id}" itemLabel="#{actor.razonSocial}" />							
 				</p:selectOneMenu><br />
				
				<p:outputLabel value="No. Garantía: "/><br />
				<p:inputText id="txt_fgarantia" style="width: 180px !important;"
					value="#{garantiaDataManager.filtroAval}">
				</p:inputText><br />
				
				<p:outputLabel value="Adjudicación: "/><br />
				<p:selectOneMenu id="lst_fadjudicacion" value="#{garantiaDataManager.filtroAdjudicacion}"
					style="width: 250px !important;">
	            	<f:selectItem itemLabel="Seleccione.." itemValue="" />
	            	<f:selectItems value="#{garantiaController.adjudicaciones}" var="adjudicacion" itemValue="#{adjudicacion.id}" itemLabel="#{adjudicacion.numeroContrato}" />							
 				</p:selectOneMenu><br />
				
				
				<p:commandButton styleClass="buscar" title="Filtrar registros"
					value="BUSCAR" update=":frmGarantia"
					action="#{garantiaController.buscar}"/>
			</h:panelGroup>
			
			<p:dataTable id="tablaRegistro"  rows="10" paginator="true"
				value="#{garantiaController.lGarantias}"
				emptyMessage="#{messages.advertenciaNoHayDatos}" var="garantia"
				paginatorPosition="bottom"  styleClass="box-info"
				paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
					
										
				<p:column headerText="Proveedor">
					<h:outputText value="#{garantia.actor.razonSocial}" />
				</p:column>
				
				<p:column headerText="Documento Contractual" >
					<h:outputText value="#{garantia.adjudicacion.numeroContrato}" />
				</p:column>
				
				<p:column headerText="Fecha Adj." >
					<h:outputText value="#{garantia.adjudicacion.fecha}">
						<f:convertDateTime pattern="yyyy-MM-dd"/>
					</h:outputText>
				</p:column>
				
				<p:column headerText="Tipo de Garantía" >
					<h:outputText value="#{garantia.tipo}" />
				</p:column>
				
				<p:column headerText="Número de Garantía" >
					<h:outputText value="#{garantia.numeroGarantia}" />
				</p:column>
				
				<p:column headerText="Entidad Garante" >
					<h:outputText value="#{garantia.bancoExterior}" />
				</p:column>
				
				<p:column headerText="Valor" >
					<h:outputText value="#{garantia.valor}">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</h:outputText>
				</p:column>
				
				<p:column headerText="Fecha Vencimiento" >
					<h:outputText value="#{garantia.fechaVencimiento}">
						<f:convertDateTime pattern="yyyy-MM-dd"/>
					</h:outputText>
				</p:column>
				
				<p:column headerText="Motivo Renovación" >
					<h:outputText value="#{garantia.textoRenovacion}" />
				</p:column>
				
				<p:column headerText="Fecha Devolución" >
					<h:outputText value="#{garantia.fechaDevolucion}">
						<f:convertDateTime pattern="yyyy-MM-dd"/>
					</h:outputText>
				</p:column>
				
				<p:column headerText="Motivo Devolución" >
					<h:outputText value="#{garantia.textoDevolucion}" />
				</p:column>
				
			</p:dataTable>
			
		</h:form>
		
	</ui:define>
</ui:composition>
</html>