<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmGarantia">
		
			<p:messages id="msgs" showDetail="true" redisplay="true"
				autoUpdate="false" closable="true" severity="info,error"/>
				
			
			
			<h:panelGrid columns="6">
				<p:outputLabel value="Cliente / Proveedor: "/>
				<p:selectOneMenu id="lst_fproveedor" value="#{garantiaDataManager.filtroProveedor}"
					style="width: 250px !important;">
	            	<f:selectItem itemLabel="Seleccione.." itemValue="" />
	            	<f:selectItems value="#{garantiaController.actores}" var="actor" itemValue="#{actor.id}" itemLabel="#{actor.razonSocial}" />							
 				</p:selectOneMenu>
				
				<p:outputLabel value="No. Garantía: "/>
				<p:inputText id="txt_fgarantia" style="width: 180px !important;"
					value="#{garantiaDataManager.filtroAval}">
				</p:inputText>
				
				<p:outputLabel value="Adjudicación: "/>
				<p:selectOneMenu id="lst_fadjudicacion" value="#{garantiaDataManager.filtroAdjudicacion}"
					style="width: 250px !important;">
	            	<f:selectItem itemLabel="Seleccione.." itemValue="" />
	            	<f:selectItems value="#{garantiaController.adjudicaciones}" var="adjudicacion" itemValue="#{adjudicacion.id}" itemLabel="#{adjudicacion.numeroContrato}" />							
 				</p:selectOneMenu>
			</h:panelGrid>
			
			<h:panelGroup styleClass="form-column" layout="block">	
				<br />
				<p:commandButton styleClass="buscar" title="Filtrar registros"
					value="BUSCAR" update=":frmGarantia"
					action="#{garantiaController.buscar}"/>
				<p:commandButton styleClass="crear" value="#{messages.lbl_nuevo}"
					action="#{garantiaController.nuevoRegistro}" />
			</h:panelGroup>
			
			<p:dataTable id="tablaRegistro"  rows="10"
				value="#{garantiaController.lGarantias}"
				emptyMessage="#{messages.advertenciaNoHayDatos}"
				var="garantia"
						paginatorPosition="bottom"  styleClass="box-info"
						paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
			
				<p:column>
					<p:commandLink update="@this"
						action="#{garantiaController.editar}">
						<p:graphicImage value="../resources/images/icons/pencil.png" />
						<f:setPropertyActionListener value="#{garantia}"
								target="#{garantiaController.garantiaSeleccionado.garantiaSeleccionado}" />
					</p:commandLink>
					<p:commandButton update="@this" icon="ui-icon-trash"	
							oncomplete="PF('widgetDeleteConfirmDialog').show()" title="Eliminar Acción">
							<f:setPropertyActionListener value="#{garantia}"
								target="#{garantiaController.garantiaSeleccionado.garantiaSeleccionado}" />
					</p:commandButton>
				</p:column>
				
				<p:column headerText="#{messages.lbl_renovar}" >
					<p:commandLink
						update=":formRegistroRenovar:panelRegistroRenovar, :frmGarantia:tablaRegistro"
						action="#{garantiaController.asignarDatos}"
						oncomplete="PF('popupRegistroRenovar').show()"						
						onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);">
						<h:graphicImage value="/resources/img/cargar.gif" />
						<f:setPropertyActionListener value="#{garantia}"
							target="#{garantiaController.elementoSeleccionado}" />
					</p:commandLink>
				</p:column>
				
				<p:column headerText="#{messages.lbl_devolver}" >
					<p:commandLink
						update=":formRegistroDevolver:panelRegistroDevolver, :frmGarantia:tablaRegistro"
						oncomplete="PF('popupRegistroDevolver').show()"
						onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);">
						<p:graphicImage value="/resources/img/cancelar.gif" />
						<f:setPropertyActionListener value="#{garantia}"
							target="#{garantiaController.elementoSeleccionado}" />
					</p:commandLink>
				</p:column>
				
				<p:column headerText="Proveedor">
					<h:outputText value="#{garantia.actor.razonSocial}" />
				</p:column>
				
				<p:column headerText="Adjudicación" >
					<h:outputText value="#{garantia.adjudicacion.numeroContrato}" />
				</p:column>
				
				<p:column headerText="Fecha Adj." >
					<h:outputText value="#{garantia.adjudicacion.fecha}">
						<f:convertDateTime pattern="yyyy-MM-dd"/>
					</h:outputText>
				</p:column>
				
				<p:column headerText="Tipo de Garantía" >
					<h:outputText value="#{garantia.tipo}" />
				</p:column>
				
				<p:column headerText="Número de Garantía" >
					<h:outputText value="#{garantia.numeroGarantia}" />
				</p:column>
				
				<p:column headerText="Entidad Garante" >
					<h:outputText value="#{garantia.bancoExterior}" />
				</p:column>
				
				<p:column headerText="Valor" >
					<h:outputText value="#{garantia.valor}">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</h:outputText>
				</p:column>
				
				<p:column headerText="Fecha Vencimiento" >
					<h:outputText value="#{garantia.fechaVencimiento}">
						<f:convertDateTime pattern="yyyy-MM-dd"/>
					</h:outputText>
				</p:column>
			</p:dataTable>
			
		</h:form>
		
				
		<p:dialog modal="true" widgetVar="popupRegistroRenovar" id="popupRegistroRenovar">
			<f:facet name="header">
				<h:outputText value="Renovación de Garantía" />
			</f:facet>
			<f:facet name="controls">
				<h:outputLink value="#"
					onclick="PF('popupRegistroRenovar').hide(); return false;">
					X
                </h:outputLink>
			</f:facet>

			<h:form id="formRegistroRenovar" prependId="false">
				<p:outputPanel id="panelRegistroRenovar">
					<h:panelGrid id="gridRegistroRenovar" columns="3">

						<h:outputLabel value="Garantía: " for="txt_rgarantia" styleClass="requerido"/>
						<p:inputText id="txt_rgarantia" disabled="true"
							value="#{garantiaController.elementoSeleccionado.numeroGarantia}" required="true">
						</p:inputText>
						<p:message for="txt_rgarantia" />
						
						<h:outputLabel value="Plazo de Renovación" for="txt_rplazoRenovacion" styleClass="requerido"/>
						<p:spinner id="txt_rplazoRenovacion" value="#{garantiaController.elementoSeleccionado.plazoRenovacion}" 
							min="0" required="true">
							<p:ajax update=":formRegistroRenovar:txt_rfechaNuevoVen" event="change" listener="#{garantiaController.calcularFechaVencimiento}"  process="@this"/>
		  					<f:convertNumber locale="es-EC" />
						</p:spinner>
						<p:message for="txt_rplazoRenovacion" />
						
						<h:outputLabel value="Fecha de Vencimiento" for="txt_rfechaVen" styleClass="requerido"/>
						<p:calendar id="txt_rfechaVen" disabled="true" required="true"
							value="#{garantiaController.elementoSeleccionado.fechaVencimiento}"
							pattern="dd/MM/yyyy" locale="es">
						</p:calendar>
						<p:message for="txt_rfechaVen" />
						
						<h:outputLabel value="Fecha de Nuevo Vencimiento" for="txt_rfechaNuevoVen" styleClass="requerido"/>
						<p:calendar id="txt_rfechaNuevoVen" disabled="true"
							value="#{garantiaDataManager.auxFechaVencimiento}"
							pattern="dd/MM/yyyy" required="true" locale="es">
						</p:calendar>
						<p:message for="txt_rfechaNuevoVen" />
						
						<h:outputLabel value="Motivo" for="txt_rmotivo" styleClass="requerido"/>
						<p:inputTextarea id="txt_rmotivo" cols="90" rows="3" required="true"
							value="#{garantiaController.elementoSeleccionado.textoRenovacion}" maxlength="500">
							<f:validateLength maximum="500" />
						</p:inputTextarea>
						<p:message for="txt_rmotivo" />
					

						<f:facet name="footer">
							<h:panelGrid columns="2">
								<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}"
									update=":frmGarantia:tablaRegistro, :formRegistroRenovar, @form"
									actionListener="#{garantiaController.guardarNoCerrar}"/>	
							</h:panelGrid>
						</f:facet>
						
					</h:panelGrid>
				</p:outputPanel>
			</h:form>

		</p:dialog>
		
		<p:dialog modal="true" widgetVar="popupRegistroDevolver" id="popupRegistroDevolver">
			<f:facet name="header">
				<h:outputText value="Devolución de Garantía" />
			</f:facet>
			<f:facet name="controls">
				<h:outputLink value="#"
					onclick="PF('popupRegistroDevolver').hide(); return false;">
					X
                </h:outputLink>
			</f:facet>

			<h:form id="formRegistroDevolver" prependId="false">
				<p:outputPanel id="panelRegistroDevolver">
					<h:panelGrid id="gridRegistroDevolver" columns="3">

						<h:outputLabel value="Garantía: " for="txt_dgarantia" styleClass="requerido" />
						<p:inputText id="txt_dgarantia" disabled="true"
							value="#{garantiaController.elementoSeleccionado.numeroGarantia}" required="true">
						</p:inputText>
						<p:message for="txt_dgarantia" />
						
						<h:outputLabel value="Fecha de Devolución" for="txt_dfechaDev" styleClass="requerido"/>
						<p:calendar id="txt_dfechaDev" required="true"
							value="#{garantiaController.elementoSeleccionado.fechaDevolucion}"
							pattern="dd/MM/yyyy" locale="es">
						</p:calendar>
						<p:message for="txt_dfechaDev" />
						
						<h:outputLabel value="Observaciones" for="txt_dobservacion" styleClass="requerido"/>
						<p:inputTextarea id="txt_dobservacion" cols="90" rows="3" required="true"
							value="#{garantiaController.elementoSeleccionado.textoDevolucion}" maxlength="500">
							<f:validateLength maximum="500" />
						</p:inputTextarea>
						<p:message for="txt_dobservacion" />


						<f:facet name="footer">
							<h:panelGrid columns="2">
								<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}"
									update=":frmGarantia:tablaRegistro, :formRegistroDevolver, @form"
									actionListener="#{garantiaController.guardarNoCerrar}" />
							</h:panelGrid>
						</f:facet>

					</h:panelGrid>
				</p:outputPanel>
			</h:form>

		</p:dialog>
		
	
		<p:confirmDialog message="Esta seguro que desea eliminar?"
			widgetVar="widgetDeleteConfirmDialog"
			header="Advertencia" severity="alert">
			<p:commandButton styleClass="boton" value="Si" action="#{garantiaController.eliminar}"
				update=":frmGarantia:tablaRegistro" oncomplete="PF('widgetDeleteConfirmDialog').hide()" />				
			<p:commandButton styleClass="boton" value="No" oncomplete="PF('widgetDeleteConfirmDialog').hide()" />
		</p:confirmDialog>
		
	</ui:define>
</ui:composition>
</html>