<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmPrincipal">
			<p:messages id="msgs" showDetail="true" redisplay="true"
				autoUpdate="false" closable="true" severity="info,error"/>
			<h:panelGrid columns="3">

				<h:outputLabel value="Tipo de Garantía:" for="txt_tipog"
					styleClass="requerido" />
				<p:selectOneRadio id="txt_tipog"
					value="#{garantiaController.elementoSeleccionado.tipo}"
					required="true">
					<f:selectItems
						value="#{garantiaController.tipoGarantiaSelectItems}" var="tg"
						itemLabel="#{tg}" itemValue="#{tg}" />
					<p:ajax update="@form" event="change"
						listener="#{garantiaController.setearBanderaTipoGarantia()}"
						process="@this" />
				</p:selectOneRadio>
				<p:message for="txt_tipog" />
			</h:panelGrid>

			<h:panelGrid columns="6">

				<h:outputLabel value="No. Fax Invitación: " for="txt_fax"
					styleClass="requerido"
					rendered="#{garantiaController.garantiaSeleccionado.banderaTipoGarantia}" />
				<p:inputText id="txt_fax"
					rendered="#{garantiaController.garantiaSeleccionado.banderaTipoGarantia}"
					value="#{garantiaController.elementoSeleccionado.numeroFax}"
					style="width: 240px !important;" required="true">
				</p:inputText>
				<p:message for="txt_fax"
					rendered="#{garantiaController.garantiaSeleccionado.banderaTipoGarantia}" />

				<h:outputLabel value="Adjudicación: " for="lst_adjudicaciones"
					styleClass="requerido"
					rendered="#{!garantiaController.garantiaSeleccionado.banderaTipoGarantia}" />
				<p:selectOneMenu id="lst_adjudicaciones"
					rendered="#{!garantiaController.garantiaSeleccionado.banderaTipoGarantia}"
					value="#{garantiaController.elementoSeleccionado.adjudicacion}"
					converter="#{adjudicacionConverter}"
					style="width: 250px !important;" required="true">
					<f:selectItem itemLabel="Seleccione.." itemValue="" />
					<f:selectItems value="#{garantiaController.adjudicaciones}" var="adjudicacion" 
						itemValue="#{adjudicacion}" itemLabel="#{adjudicacion.numeroContrato}" />
					<p:ajax update=":frmPrincipal:txt_fechaFax, :frmPrincipal:txt_producto, :frmPrincipal:txt_vtotal, :frmPrincipal:txt_tolerancia, :frmPrincipal:txt_cargamentos, :frmPrincipal:txt_vcargamento" 
						event="change" listener="#{garantiaController.cargarDatosAdjudicacion}"  process="@this"/>	
				</p:selectOneMenu>
				<p:message for="lst_adjudicaciones"
					rendered="#{!garantiaController.garantiaSeleccionado.banderaTipoGarantia}" />

				<h:outputLabel value="Fecha del Fax:" for="txt_fechaFax" />
				<p:calendar id="txt_fechaFax"
					value="#{garantiaController.elementoSeleccionado.fechaFax}"
					pattern="dd/MM/yyyy" locale="es">
				</p:calendar>
				<p:message for="txt_fechaFax" />

				<h:outputLabel value="No. Garantía: " for="txt_garantia"
					styleClass="requerido" />
				<p:inputText id="txt_garantia"
					value="#{garantiaController.elementoSeleccionado.numeroGarantia}"
					style="width: 240px !important;" required="true">
				</p:inputText>
				<p:message for="txt_garantia" />

				<h:outputLabel value="Producto: " for="txt_producto"
					styleClass="requerido" />
				<p:inputText id="txt_producto"
					value="#{garantiaController.elementoSeleccionado.producto}"
					style="width: 240px !important;" required="true">
				</p:inputText>
				<p:message for="txt_producto" />

				<h:outputLabel value="No. Contragarantía: " for="txt_contragarantia" />
				<p:inputText id="txt_contragarantia"
					value="#{garantiaController.elementoSeleccionado.numeroContragarantia}"
					style="width: 240px !important;">
				</p:inputText>
				<p:message for="txt_contragarantia" />

				<h:outputLabel value="Volumen Total: " for="txt_vtotal"
					styleClass="requerido" />
				<p:inputText id="txt_vtotal"
					value="#{garantiaController.elementoSeleccionado.volumenTotal}"
					style="width: 240px !important;" required="true">
					<f:validateDoubleRange minimum="0.00000"
						maximum="99999999999999.99999" />
					<f:convertNumber locale="es_EC" pattern="####,###.####"
						minFractionDigits="2" />
					<p:ajax event="blur" update="@this" />
				</p:inputText>
				
				<h:panelGroup>
					<p:message for="txt_vtotal" />

					<h:outputLabel value="Tolerancia: " for="txt_tolerancia"
						styleClass="requerido" />
					<p:spinner id="txt_tolerancia"
						value="#{garantiaController.elementoSeleccionado.tolerancia}"
						min="0" max="100">
						<f:convertNumber locale="es_EC" pattern="####,###.####"
							minFractionDigits="2" />
						<p:ajax event="blur" update="@this" />
					</p:spinner>
					<p:message for="txt_tolerancia" />
				</h:panelGroup>

				<h:outputLabel value="Entidad Garante: " for="txt_bancoe" />
				<p:inputText id="txt_bancoe"
					value="#{garantiaController.elementoSeleccionado.bancoExterior}"
					style="width: 240px !important;">
				</p:inputText>
				<p:message for="txt_bancoe" />

				<h:outputLabel value="Cargamentos: " for="txt_cargamentos"
					styleClass="requerido" />
				<p:spinner id="txt_cargamentos" required="true"
					value="#{garantiaController.elementoSeleccionado.tolerancia}"
					min="0">
					<f:convertNumber locale="es_EC" pattern="####,###.####"
						minFractionDigits="2" />
					<p:ajax event="blur" update="@this" />
				</p:spinner>
				<p:message for="txt_cargamentos" />

				<h:outputLabel value="Fecha de Vencimiento" for="txt_fechaVen" />
				<p:calendar id="txt_fechaVen"
					value="#{garantiaController.elementoSeleccionado.fechaVencimiento}"
					pattern="dd/MM/yyyy" locale="es">
				</p:calendar>
				<p:message for="txt_fechaVen" />

				<h:outputLabel value="Volumen de Cargamento: " for="txt_vcargamento"
					styleClass="requerido" />
				<p:inputText id="txt_vcargamento"
					value="#{garantiaController.elementoSeleccionado.volumenCargamento}"
					style="width: 240px !important;" required="true"
					styleClass="soloNumeros">
					<f:validateDoubleRange minimum="0.00000"
						maximum="99999999999999.99999" />
					<f:convertNumber locale="es_EC" pattern="####,###.####"
						minFractionDigits="2" />
					<p:ajax event="blur" update="@this" />
				</p:inputText>
				<p:message for="txt_vcargamento" />

				<h:outputLabel value="Valor: " for="txt_valor"
					styleClass="requerido" />
				<p:inputText id="txt_valor"
					value="#{garantiaController.elementoSeleccionado.valor}"
					style="width: 240px !important;" required="true"
					styleClass="soloNumeros">
					<f:validateDoubleRange minimum="0.00000"
						maximum="99999999999999.99999" />
					<f:convertNumber locale="es_EC" pattern="####,###.####"
						minFractionDigits="2" />
					<p:ajax event="blur" update="@this" />
				</p:inputText>
				<p:message for="txt_valor" />

				<h:outputLabel value="Compañía: " for="lst_compania"
					styleClass="requerido" />
				<p:selectOneMenu id="lst_compania"
					value="#{garantiaController.elementoSeleccionado.actor}"
					converter="#{actorConverter}" style="width: 250px !important;"
					required="true">
					<f:selectItem itemLabel="Seleccione.." itemValue="" />
					<f:selectItems value="#{garantiaController.actores}" var="actor"
						itemValue="#{actor}" itemLabel="#{actor.razonSocial}" />
				</p:selectOneMenu>
				<p:message for="lst_compania" />

				<h:outputLabel value="Plazo de Vigencia: " for="txt_pvigencia"
					rendered="#{garantiaController.garantiaSeleccionado.banderaTipoGarantia}" />
				<p:spinner id="txt_pvigencia"
					value="#{garantiaController.elementoSeleccionado.plazoVigencia}"
					min="1" rendered="#{garantiaController.garantiaSeleccionado.banderaTipoGarantia}">
					<f:convertNumber locale="es_EC" />
				</p:spinner>
				<p:message for="txt_pvigencia" />

				<h:outputLabel value="Fecha de Cancelación" for="txt_fechaCan"
					rendered="#{garantiaController.garantiaSeleccionado.banderaTipoGarantia}" />
				<p:calendar id="txt_fechaCan"
					rendered="#{garantiaController.garantiaSeleccionado.banderaTipoGarantia}"
					value="#{garantiaController.elementoSeleccionado.fechaCancelacion}"
					pattern="dd/MM/yyyy" locale="es">
				</p:calendar>
				<p:message for="txt_fechaCan"
					rendered="#{garantiaController.garantiaSeleccionado.banderaTipoGarantia}" />

			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}" update="@form"
					action="#{garantiaController.guardar()}"
					onsuccess="setTimeout(function(){$('#panelMensajes').html('');},1000);" />
				<p:commandButton styleClass="cancelar" value="#{messages.lbl_atras}" immediate="true"
					action="#{garantiaController.atras()}" />
			</h:panelGrid>

		</h:form>
	</ui:define>
</ui:composition>
</html>