<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmParametroCalculo">
			
			<p:panel>
				<h:panelGrid columns="4">
					<h:outputLabel value="Año:" />
					<p:inputText value="#{parametroCalculoDataManager.filtroAnio}"
						styleClass="enlinea" style="width: 50px !important;"/>
					
					<h:outputLabel value="Producto: "/>
					<p:selectOneMenu id="lst_producto" value="#{parametroCalculoDataManager.filtroProducto}"
						style="width: 250px !important;">
		            	<f:selectItem itemLabel="Seleccione.." itemValue="" />
		            	<f:selectItems value="#{parametroCalculoController.catalogoProductos}" var="catalogoP" itemValue="#{catalogoP.id}" itemLabel="#{catalogoP.nombre}" />							
	 				</p:selectOneMenu>
	 			</h:panelGrid>
	 			
	 			<h:panelGroup layout="block">
	 				<p:commandButton styleClass="buscar" title="Filtrar registros"
					value="BUSCAR" update=":frmParametroCalculo"
					action="#{parametroCalculoController.buscar}"/>
					<p:commandButton styleClass="crear" value="#{messages.lbl_nuevo}"
						action="#{parametroCalculoController.nuevoRegistro}" />
 				</h:panelGroup>
 								
				<p:dataTable id="tablaRegistro" rows="10" paginator="true"
					value="#{parametroCalculoController.lParametroCalculos}"
					emptyMessage="#{messages.advertenciaNoHayDatos}" var="parametroC"
					paginatorPosition="bottom"  styleClass="box-info"
					paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
				
				
					
					<p:column>
						<p:commandLink update="@this"
							action="#{parametroCalculoController.editar}">
							<h:graphicImage value="../resources/images/icons/pencil.png" />
							<f:setPropertyActionListener value="#{parametroC}"
								target="#{parametroCalculoController.elementoSeleccionado}" />	
						</p:commandLink>
						<p:commandButton update=" :formDialogDelete" icon="ui-icon-trash"
							oncomplete="PF('widgetDeleteConfirmDialog').show()" title="Eliminar Acción">
							<f:setPropertyActionListener value="#{parametroC}"
								target="#{parametroCalculoController.elementoSeleccionado}" />
						</p:commandButton>
					</p:column>
					
					<p:column headerText="Año" >
						<h:outputText value="#{parametroC.anio}" />
					</p:column>
					<p:column headerText="Productos" >
						<h:outputText value="#{parametroC.catalogoProducto.nombre}" />
					</p:column>
					<p:column headerText="Precio Marcador" >
						<h:outputText value="#{parametroC.precioMarcador.nombre}" />
					</p:column>
					<p:column headerText="Volumen Cargamento" >
						<h:outputText value="#{parametroC.volumen}" />
					</p:column>
					<p:column headerText="Diferencial" >
						<h:outputText value="#{parametroC.diferencial}" />
					</p:column>
					<p:column headerText="% de Variación" >
						<h:outputText value="#{parametroC.porcentajeVariacion}" />
					</p:column>
					
				</p:dataTable>
			</p:panel>
		</h:form>
	
		<p:confirmDialog message="Está seguro que desea eliminar?"
			widgetVar="widgetDeleteConfirmDialog"
			header="Advertencia" severity="alert">
			<h:form id="formDialogDelete">
				<h:inputHidden value="#{parametroCalculoController.elementoSeleccionado.id}"/>
				<p:commandButton styleClass="boton" value="Si" action="#{parametroCalculoController.eliminar}"
					update=":frmParametroCalculo:tablaRegistro" oncomplete="PF('widgetDeleteConfirmDialog').hide()"/>	
				<p:commandButton styleClass="boton" value="No" oncomplete="PF('widgetDeleteConfirmDialog').hide()" />
			</h:form>
		</p:confirmDialog>
	
	</ui:define>
</ui:composition>
</html>