<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmPrincipal">
			<p:messages id="msgs" showDetail="true" redisplay="true"
				autoUpdate="false" closable="true" severity="info,error"/>
			<h:panelGrid columns="6">
				<h:outputLabel value="Precios Marcadores: " for="lst_precio" styleClass="requerido" />
				<p:selectOneMenu id="lst_precio"
					value="#{parametroCalculoController.elementoSeleccionado.precioMarcador}"
					converter="#{precioMarcadorConverter}"
					style="width: 200px !important;" required="true">
					<f:selectItem itemLabel="Seleccione.." itemValue="" />
					<f:selectItems
							value="#{parametroCalculoController.precioMarcadors}"
							var="precioMarcador" itemValue="#{precioMarcador}"
							itemLabel="#{precioMarcador.nombre}" />
				</p:selectOneMenu>
				<p:message for="lst_precio" />
				<h:outputLabel value="Año" for="txt_anio" styleClass="requerido"/>
				<p:spinner id="txt_anio" value="#{parametroCalculoController.elementoSeleccionado.anio}" required="true"/>
				<p:message for="txt_anio" />
				<h:outputLabel value="Diferencial" for="txt_diferencial" styleClass="requerido"/>
				<p:inputText id="txt_diferencial" value="#{parametroCalculoController.elementoSeleccionado.diferencial}" required="true">
					<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
				</p:inputText>
				<p:message for="txt_diferencial" />
				<h:outputLabel value="Producto: " for="lst_producto" styleClass="requerido" />
				<p:selectOneMenu id="lst_producto"
					value="#{parametroCalculoController.elementoSeleccionado.catalogoProducto}"
					converter="#{catalogoProductoConverter}"
					style="width: 200px !important;" required="true">
					<f:selectItem itemLabel="Seleccione.." itemValue="" />
					<f:selectItems
							value="#{parametroCalculoController.catalogoProductos}"
							var="catalogoProducto" itemValue="#{catalogoProducto}"
							itemLabel="#{catalogoProducto.nombre}" />
				</p:selectOneMenu>
				<p:message for="lst_producto" />
				<h:outputLabel value="Volumen del Cargamento" for="txt_volumen" styleClass="requerido"/>
				<p:inputText id="txt_volumen" value="#{parametroCalculoController.elementoSeleccionado.volumen}" required="true">
					<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
				</p:inputText>
				<p:message for="txt_volumen" />
				<h:outputLabel value="% de Gasto" for="txt_gasto" styleClass="requerido"/>
				<p:spinner id="txt_gasto" value="#{parametroCalculoController.elementoSeleccionado.porcentajeGasto}" required="true" min="0.0" />
				<p:message for="txt_gasto" />
				<h:outputLabel value="% de Variación" for="txt_variacion" styleClass="requerido"/>
				<p:spinner id="txt_variacion" value="#{parametroCalculoController.elementoSeleccionado.porcentajeVariacion}" required="true" min="0.0" />
				<p:message for="txt_variacion" />
				<h:outputLabel value="% de Seguro" for="txt_seguro" styleClass="requerido"/>
				<p:inputText id="txt_seguro" value="#{parametroCalculoController.elementoSeleccionado.porcentajeSeguro}" required="true">
					<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="4"/>
				</p:inputText>
				<p:message for="txt_seguro" />
			</h:panelGrid>
			<h:panelGrid columns="3">
				<h:outputLabel value="Observaciones" for="txt_observaciones"/>
				<p:inputTextarea
					value="#{parametroCalculoController.elementoSeleccionado.observacion}"
					id="txt_observaciones" cols="125" rows="3" maxlength="600">
					<f:validateLength maximum="500" />
				</p:inputTextarea>
				<p:message for="txt_observaciones" />
			</h:panelGrid>
			<h:panelGrid columns="2">
					<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}" update="@form"
						action="#{parametroCalculoController.guardar}" 
						onsuccess="setTimeout(function(){$('#panelMensajes').html('');},1000);"/>
					<p:commandButton styleClass="cancelar" value="#{messages.lbl_atras}" immediate="true"
						update="@form" 
						action="#{parametroCalculoController.atras}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>