<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmPrincipal">
			<p:messages id="msgs" showDetail="true" redisplay="true"
				autoUpdate="false" closable="true" severity="info,error"/>
				
			<!-- h:outputScript library="js" name="exco-masterdetail.js" target="head"/-->
			<p:tabView orientation="top" dynamic="false" id="tabViewMasterDetail"
				widgetVar="widgetTabViewMasterDetail"
				styleClass="styleTabViewMasterDetail"
				onTabShow="blockClickAccordion();">

				<p:tab title="Planificación de Cargamento" id="tabMaster">
					<h:form id="formularioMaster" styleClass="styleFormularioMaster">
						<p:panel id="panelFormularioMaster">

							<h:panelGrid columns="6">

								<p:outputLabel value="No. Contrato/ Adjudicación:"
									for="txt_no_contrato" styleClass="requerido" />
								<p:inputText
									value="#{planificacionCargamentosController.elementoSeleccionado.adjudicacion.numeroContrato}"
									id="txt_no_contrato" style="width: 240px !important;"
									disabled="true" required="true">
									<f:validateLength maximum="500" />
								</p:inputText>
								<p:message for="txt_no_contrato" />
								
								<h:outputLabel value="Tipo Pago:" for="txt_tipo_pago"
									styleClass="requerido" />
								<p:inputText
									value="#{planificacionCargamentosController.elementoSeleccionado.tipoPago}"
									id="txt_tipo_pago" style="width: 240px !important;"
									required="true" disabled="true">
									<f:validateLength maximum="500" />
								</p:inputText>
								<p:message for="txt_tipo_pago" />
								
								<h:outputLabel value="Producto:" for="txt_info_producto"
									styleClass="requerido" />
								<p:inputTextarea
									value="#{planificacionCargamentosController.elementoSeleccionado.adjudicacion.catalogoProducto.nombre}"
									id="txt_info_producto" required="true" maxlength="300"
									disabled="true">
									<f:validateLength maximum="500" />
								</p:inputTextarea>
								<p:message for="txt_info_producto" />
								
								<h:outputLabel value="Empresa Proveedora:" for="txt_empresa"
									styleClass="requerido" />
								<p:inputText
									value="#{planificacionCargamentosController.elementoSeleccionado.empresaProveedora}"
									disabled="true" id="txt_empresa"
									style="width: 240px !important;" required="true">
									<f:validateLength maximum="500" />
								</p:inputText>
								<p:message for="txt_empresa" />
								
								<h:outputLabel value="Ventana inicio:" for="txt_ventana_inicio"
									styleClass="requerido" />
								<p:calendar id="txt_ventana_inicio"
									value="#{planificacionCargamentosController.elementoSeleccionado.ventanaInicio}"
									pattern="dd/MM/yyyy" required="true">
								</p:calendar>
								<p:message for="txt_ventana_inicio" />

								<h:outputLabel value="Ventana fin:" for="txt_ventana_fin"
									styleClass="requerido" />
								<p:calendar id="txt_ventana_fin"
									value="#{planificacionCargamentosController.elementoSeleccionado.ventanaFin}"
									pattern="dd/MM/yyyy" required="true">
								</p:calendar>
								<p:message for="txt_ventana_fin" />

								<h:outputLabel value="Año:" for="txt_anio" styleClass="requerido" />
								<p:inputText
									value="#{planificacionCargamentosController.elementoSeleccionado.anio}"
									maxlength="4" id="txt_anio" style="width: 40px !important;"
									required="true">
									<f:validateDoubleRange minimum="2013" maximum="2020" />
								</p:inputText>
								<p:message for="txt_anio" />
								
								<h:outputLabel value="Precio:" for="txt_precio"
									styleClass="requerido" />
								<p:inputText id="txt_precio"
									value="#{planificacionCargamentosController.elementoSeleccionado.precio}"
									style="width: 240px !important;" styleClass="soloNumeros" required="true">
									<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
									<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
									<p:ajax event="blur" update="@this" />
								</p:inputText>
								<p:message for="txt_precio" />
								
								<h:outputLabel value="Mes:" for="txt_mes" styleClass="requerido" />
								<p:selectOneMenu id="txt_mes"
									value="#{planificacionCargamentosController.elementoSeleccionado.mes}"
									style="width: 260px !important;" required="true">
									<f:selectItem itemLabel="Seleccione.." itemValue="" />
									<f:selectItem itemLabel="ENERO" itemValue="ENERO" />
									<f:selectItem itemLabel="FEBERO" itemValue="FEBERO" />
									<f:selectItem itemLabel="MARZO" itemValue="MARZO" />
									<f:selectItem itemLabel="ABRIL" itemValue="ABRIL" />
									<f:selectItem itemLabel="MAYO" itemValue="MAYO" />
									<f:selectItem itemLabel="JUNIO" itemValue="JUNIO" />
									<f:selectItem itemLabel="JULIO" itemValue="JULIO" />
									<f:selectItem itemLabel="AGOSTO" itemValue="AGOSTO" />
									<f:selectItem itemLabel="SEPTIEMBRE" itemValue="SEPTIEMBRE" />
									<f:selectItem itemLabel="OCTUBRE" itemValue="OCTUBRE" />
									<f:selectItem itemLabel="NOVIEMBRE" itemValue="NOVIEMBRE" />
									<f:selectItem itemLabel="DICIEMBRE" itemValue="DICIEMBRE" />
								</p:selectOneMenu>
								<p:message for="txt_mes" />

								<h:outputLabel value="Semana:" for="txt_semana"
									styleClass="requerido" />
								<p:selectOneMenu id="txt_semana"
									value="#{planificacionCargamentosController.elementoSeleccionado.semana}"
									style="width: 260px !important;" required="true">
									<f:selectItem itemLabel="Seleccione.." itemValue="" />
									<f:selectItem itemLabel="1" itemValue="1" />
									<f:selectItem itemLabel="2" itemValue="2" />
									<f:selectItem itemLabel="3" itemValue="3" />
									<f:selectItem itemLabel="4" itemValue="4" />
								</p:selectOneMenu>
								<p:message for="txt_semana" />

								<h:outputLabel value="Volúmen Barriles:" for="txt_volumen_bls"/>
								<p:inputText id="txt_volumen_bls"
									value="#{planificacionCargamentosController.elementoSeleccionado.volumenBls}"
									style="width: 240px !important;" styleClass="soloNumeros">
									<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
									<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
									<p:ajax event="blur" update="@this" />
								</p:inputText>
								<p:message for="txt_volumen_bls" />

								<h:outputLabel value="Volúmen Toneladas:" for="txt_volumen_ton"/>
								<p:inputText id="txt_volumen_ton"
									value="#{planificacionCargamentosController.elementoSeleccionado.volumenTnl}"
									style="width: 240px !important;" styleClass="soloNumeros">
									<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
									<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
									<p:ajax event="blur" update="@this" />
								</p:inputText>
								<p:message for="txt_volumen_ton" />

								<h:outputLabel value="TOTAL:" for="txt_total"
									styleClass="requerido" />
								<p:inputText id="txt_total" required="true"
									value="#{planificacionCargamentosController.elementoSeleccionado.total}"
									style="width: 240px !important;" styleClass="soloNumeros">
									<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
									<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
									<p:ajax event="blur" update="@this" />
								</p:inputText>
								<p:message for="txt_total" />
							
							</h:panelGrid>
							
							<h:panelGrid columns="3">
								<h:outputLabel value="Motivo cambio:" for="txt_motivo"/>
								<p:inputTextarea
									value="#{planificacionCargamentosController.elementoSeleccionado.motivoCambio}"
									id="txt_motivo" maxlength="300" cols="110">
									<f:validateLength maximum="500" />
								</p:inputTextarea>
								<p:message for="txt_motivo" />

								<h:outputLabel value="Observaciones:" for="txt_observacion"/>
								<p:inputTextarea
									value="#{planificacionCargamentosController.elementoSeleccionado.observacion}"
									id="txt_observacion" cols="110" rows="3">
									<f:validateLength maximum="500" />
								</p:inputTextarea>
								<p:message for="txt_observacion" />

							</h:panelGrid>
							<h:panelGrid columns="2">
								<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}"
									update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail:formularioMaster, @form"
									action="#{planificacionCargamentosController.guardar}"
									onclick="setTimeout(function(){$('#panelMensajes').html('');},1000);" />
								<p:commandButton styleClass="cancelar" value="#{messages.lbl_atras}" immediate="true"
									update=":frmPrincipal:tabViewMasterDetail:formularioMaster, @form"
									action="#{planificacionCargamentosController.atras()}" />
							</h:panelGrid>

						</p:panel>
					</h:form>
				</p:tab>
			</p:tabView>

		</h:form>
	</ui:define>
</ui:composition>
</html>