<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmPrincipal">
			<p:messages id="msgs" showDetail="true" redisplay="true"
				autoUpdate="false" closable="true" severity="info,error"/>
				
			<p:fieldset legend="Datos Generales" style="margin-bottom:20px">
				<h:panelGrid columns="9">
					<h:outputLabel value="Producto: " for="lst_producto" styleClass="requerido" />
					<p:selectOneMenu id="lst_producto"
						value="#{planificacionVolumenController.planificacionVolumenSeleccionado.planificacionVolumenSeleccionado.precioPrevision}"
						converter="#{precioPrevisionConverter}"
						style="width: 200px !important;" required="true">
						<f:selectItem itemLabel="Seleccione.." itemValue="" />
						<f:selectItems
								value="#{planificacionVolumenController.lPrecioPrevisions}"
								var="precioP" itemValue="#{precioP}"
								itemLabel="#{precioP.parametroCalculo.catalogoProducto.nombre}" />
						<p:ajax update="@this :frmPrincipal:lst_producto, :frmPrincipal:txt_precio, :frmPrincipal:txt_segP, :frmPrincipal:txt_EneroG, :frmPrincipal:txt_FebG, :frmPrincipal:txt_MarG, :frmPrincipal:txt_AbrG, :frmPrincipal:txt_MayG, :frmPrincipal:txt_JunG, :frmPrincipal:txt_JulG, :frmPrincipal:txt_AgoG, :frmPrincipal:txt_SepG, :frmPrincipal:txt_OctG, :frmPrincipal:txt_NovG, :frmPrincipal:txt_DicG" event="change" listener="#{planificacionVolumenController.cargarDatosParametroCalculo}"  process="@this"/>		
					</p:selectOneMenu>
					<p:message for="lst_producto" />
					
					<h:outputLabel value="Precio Marcador: " for="txt_precio" styleClass="requerido" />
					<p:inputText id="txt_precio" value="#{planificacionVolumenController.elementoSeleccionado.precioMarcador}" required="true" style="width: 200px !important;" disabled="true" />
					<p:message for="txt_precio" />
					<h:outputLabel value="Año" for="txt_anio" styleClass="requerido"/>
					<p:spinner id="txt_anio" value="#{planificacionVolumenController.elementoSeleccionado.anio}" required="true"/>
					<p:message for="txt_anio" />
					
				</h:panelGrid>
			</p:fieldset>
			<p:fieldset legend="Valores" style="margin-bottom:20px">
				<h:panelGrid columns="11">
					<h:outputLabel value="MESES"/>
					<h:outputLabel value="PRECIO BL"/>
					<h:outputLabel value=""/>
					<h:outputLabel value="BARRILES TONELADAS"/>
					<h:outputLabel value=""/>
					<h:outputLabel value="TOTAL DAT"/>
					<h:outputLabel value=""/>
					<h:outputLabel value="SEGURO #{planificacionVolumenDataManager.seguro}%" id="txt_segP"/>
					<h:outputLabel value=""/>
					<h:outputLabel value="TOTAL CIF"/>
					<h:outputLabel value=""/>
					<h:outputLabel value="Enero" for="txt_EneroG" styleClass="requerido"/>
					<p:inputText  id="txt_EneroG" value="#{planificacionVolumenController.elementoSeleccionado.galonEnero}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_EneroG" />
					<p:inputText id="txt_EneroB" value="#{planificacionVolumenController.elementoSeleccionado.barrilEnero}" required="true">
						<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="4"/>
						<p:ajax event="blur"
						listener="#{planificacionVolumenController.calculoEnero}"
						update="@this :frmPrincipal:txt_EneroD, :frmPrincipal:txt_EneroS, :frmPrincipal:txt_EneroC, :frmPrincipal:txt_totalB, :frmPrincipal:txt_totalD, :frmPrincipal:txt_totalS, :frmPrincipal:txt_totalC, :frmPrincipal:txt_costoC, :frmPrincipal:txt_gastoC, :frmPrincipal:txt_costoT" />
					</p:inputText>
					<p:message for="txt_EneroB" />
					<p:inputText id="txt_EneroD" value="#{planificacionVolumenController.elementoSeleccionado.totalDatEnero}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_EneroD" />
					<p:inputText id="txt_EneroS" value="#{planificacionVolumenController.elementoSeleccionado.seguroEnero}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_EneroS" />
					<p:inputText id="txt_EneroC" value="#{planificacionVolumenController.elementoSeleccionado.totalCifEnero}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_EneroC" />
					
					<h:outputLabel value="Febrero" for="txt_FebG" styleClass="requerido"/>
					<p:inputText id="txt_FebG" value="#{planificacionVolumenController.elementoSeleccionado.galonFebrero}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_FebG" />
					<p:inputText id="txt_FebB" value="#{planificacionVolumenController.elementoSeleccionado.barrilFebrero}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						<p:ajax event="blur"
						listener="#{planificacionVolumenController.calculoFebrero}"
						update="@this :frmPrincipal:txt_FebD, :frmPrincipal:txt_FebS, :frmPrincipal:txt_FebC, :frmPrincipal:txt_totalB, :frmPrincipal:txt_totalD, :frmPrincipal:txt_totalS, :frmPrincipal:txt_totalC, :frmPrincipal:txt_costoC, :frmPrincipal:txt_gastoC, :frmPrincipal:txt_costoT" />
					</p:inputText>
					<p:message for="txt_FebB" />
					<p:inputText id="txt_FebD" value="#{planificacionVolumenController.elementoSeleccionado.totalDatFebrero}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_FebD" />
					<p:inputText id="txt_FebS" value="#{planificacionVolumenController.elementoSeleccionado.seguroFebrero}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_FebS" />
					<p:inputText id="txt_FebC" value="#{planificacionVolumenController.elementoSeleccionado.totalCifFebrero}" required="true" disabled="true">
					<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_FebC" />
					
					<h:outputLabel value="Marzo" for="txt_MarG" styleClass="requerido"/>
					<p:inputText id="txt_MarG" value="#{planificacionVolumenController.elementoSeleccionado.galonMarzo}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_MarG" />
					<p:inputText id="txt_MarB" value="#{planificacionVolumenController.elementoSeleccionado.barrilMarzo}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						<p:ajax event="blur"
						listener="#{planificacionVolumenController.calculoMarzo}"
						update="@this :frmPrincipal:txt_MarD, :frmPrincipal:txt_MarS, :frmPrincipal:txt_MarC, :frmPrincipal:txt_totalB, :frmPrincipal:txt_totalD, :frmPrincipal:txt_totalS, :frmPrincipal:txt_totalC, :frmPrincipal:txt_costoC, :frmPrincipal:txt_gastoC, :frmPrincipal:txt_costoT" />
					</p:inputText>
					<p:message for="txt_MarB" />
					<p:inputText id="txt_MarD" value="#{planificacionVolumenController.elementoSeleccionado.totalDatMarzo}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_MarD" />
					<p:inputText id="txt_MarS" value="#{planificacionVolumenController.elementoSeleccionado.seguroMarzo}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_MarS" />
					<p:inputText id="txt_MarC" value="#{planificacionVolumenController.elementoSeleccionado.totalCifMarzo}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_MarC" />
					
					<h:outputLabel value="Abril" for="txt_AbrG" styleClass="requerido"/>
					<p:inputText id="txt_AbrG" value="#{planificacionVolumenController.elementoSeleccionado.galonAbril}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_AbrG" />
					<p:inputText id="txt_AbrB" value="#{planificacionVolumenController.elementoSeleccionado.barrilAbril}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						<p:ajax event="blur"
						listener="#{planificacionVolumenController.calculoAbril}"
						update="@this :frmPrincipal:txt_AbrD, :frmPrincipal:txt_AbrS, :frmPrincipal:txt_AbrC, :frmPrincipal:txt_totalB, :frmPrincipal:txt_totalD, :frmPrincipal:txt_totalS, :frmPrincipal:txt_totalC, :frmPrincipal:txt_costoC, :frmPrincipal:txt_gastoC, :frmPrincipal:txt_costoT" />
					</p:inputText>
					<p:message for="txt_AbrB" />
					<p:inputText id="txt_AbrD" value="#{planificacionVolumenController.elementoSeleccionado.totalDatAbril}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_AbrD" />
					<p:inputText id="txt_AbrS" value="#{planificacionVolumenController.elementoSeleccionado.seguroAbril}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_AbrS" />
					<p:inputText id="txt_AbrC" value="#{planificacionVolumenController.elementoSeleccionado.totalCifAbril}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_AbrC" />
					
					<h:outputLabel value="Mayo" for="txt_MayG" styleClass="requerido"/>
					<p:inputText id="txt_MayG" value="#{planificacionVolumenController.elementoSeleccionado.galonMayo}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_MayG" />
					<p:inputText id="txt_MayB" value="#{planificacionVolumenController.elementoSeleccionado.barrilMayo}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						<p:ajax event="blur"
						listener="#{planificacionVolumenController.calculoMayo}"
						update="@this :frmPrincipal:txt_MayD, :frmPrincipal:txt_MayS, :frmPrincipal:txt_MayC, :frmPrincipal:txt_totalB, :frmPrincipal:txt_totalD, :frmPrincipal:txt_totalS, :frmPrincipal:txt_totalC, :frmPrincipal:txt_costoC, :frmPrincipal:txt_gastoC, :frmPrincipal:txt_costoT" />
					</p:inputText>
					<p:message for="txt_MayB" />
					<p:inputText id="txt_MayD" value="#{planificacionVolumenController.elementoSeleccionado.totalDatMayo}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_MayD" />
					<p:inputText id="txt_MayS" value="#{planificacionVolumenController.elementoSeleccionado.seguroMayo}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_MayS" />
					<p:inputText id="txt_MayC" value="#{planificacionVolumenController.elementoSeleccionado.totalCifMayo}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_MayC" />
					
					<h:outputLabel value="Junio" for="txt_JunG" styleClass="requerido"/>
					<p:inputText id="txt_JunG" value="#{planificacionVolumenController.elementoSeleccionado.galonJunio}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_JunG" />
					<p:inputText id="txt_JunB" value="#{planificacionVolumenController.elementoSeleccionado.barrilJunio}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						<p:ajax event="blur"
						listener="#{planificacionVolumenController.calculoJunio}"
						update="@this :frmPrincipal:txt_JunD, :frmPrincipal:txt_JunS, :frmPrincipal:txt_JunC, :frmPrincipal:txt_totalB, :frmPrincipal:txt_totalD, :frmPrincipal:txt_totalS, :frmPrincipal:txt_totalC, :frmPrincipal:txt_costoC, :frmPrincipal:txt_gastoC, :frmPrincipal:txt_costoT" />
					</p:inputText>
					<p:message for="txt_JunB" />
					<p:inputText id="txt_JunD" value="#{planificacionVolumenController.elementoSeleccionado.totalDatJunio}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_JunD" />
					<p:inputText id="txt_JunS" value="#{planificacionVolumenController.elementoSeleccionado.seguroJunio}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_JunS" />
					<p:inputText id="txt_JunC" value="#{planificacionVolumenController.elementoSeleccionado.totalCifJunio}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_JunC" />
					
					<h:outputLabel value="Julio" for="txt_JulG" styleClass="requerido"/>
					<p:inputText id="txt_JulG" value="#{planificacionVolumenController.elementoSeleccionado.galonJulio}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_JulG" />
					<p:inputText id="txt_JulB" value="#{planificacionVolumenController.elementoSeleccionado.barrilJulio}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						<p:ajax event="blur"
						listener="#{planificacionVolumenController.calculoJulio}"
						update="@this :frmPrincipal:txt_JulD, :frmPrincipal:txt_JulS, :frmPrincipal:txt_JulC, :frmPrincipal:txt_totalB, :frmPrincipal:txt_totalD, :frmPrincipal:txt_totalS, :frmPrincipal:txt_totalC, :frmPrincipal:txt_costoC, :frmPrincipal:txt_gastoC, :frmPrincipal:txt_costoT" />
					</p:inputText>
					<p:message for="txt_JulB" />
					<p:inputText id="txt_JulD" value="#{planificacionVolumenController.elementoSeleccionado.totalDatJulio}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_JulD" />
					<p:inputText id="txt_JulS" value="#{planificacionVolumenController.elementoSeleccionado.seguroJulio}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_JulS" />
						<p:inputText id="txt_JulC" value="#{planificacionVolumenController.elementoSeleccionado.totalCifJulio}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_JulC" />
					
					<h:outputLabel value="Agosto" for="txt_AgoG" styleClass="requerido"/>
					<p:inputText id="txt_AgoG" value="#{planificacionVolumenController.elementoSeleccionado.galonAgosto}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_AgoG" />
					<p:inputText id="txt_AgoB" value="#{planificacionVolumenController.elementoSeleccionado.barrilAgosto}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						<p:ajax event="blur"
						listener="#{planificacionVolumenController.calculoAgosto}"
						update="@this :frmPrincipal:txt_AgoD, :frmPrincipal:txt_AgoS, :frmPrincipal:txt_AgoC, :frmPrincipal:txt_totalB, :frmPrincipal:txt_totalD, :frmPrincipal:txt_totalS, :frmPrincipal:txt_totalC, :frmPrincipal:txt_costoC, :frmPrincipal:txt_gastoC, :frmPrincipal:txt_costoT" />
					</p:inputText>
					<p:message for="txt_AgoB" />
					<p:inputText id="txt_AgoD" value="#{planificacionVolumenController.elementoSeleccionado.totalDatAgosto}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_AgoD" />
					<p:inputText id="txt_AgoS" value="#{planificacionVolumenController.elementoSeleccionado.seguroAgosto}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_AgoS" />
					<p:inputText id="txt_AgoC" value="#{planificacionVolumenController.elementoSeleccionado.totalCifAgosto}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_AgoC" />
					
					<h:outputLabel value="Septiembre" for="txt_SepG" styleClass="requerido"/>
					<p:inputText id="txt_SepG" value="#{planificacionVolumenController.elementoSeleccionado.galonSeptiembre}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_SepG" />
					<p:inputText id="txt_SepB" value="#{planificacionVolumenController.elementoSeleccionado.barrilSeptiembre}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						<p:ajax event="blur"
						listener="#{planificacionVolumenController.calculoSeptiembre}"
						update="@this :frmPrincipal:txt_SepD, :frmPrincipal:txt_SepS, :frmPrincipal:txt_SepC, :frmPrincipal:txt_totalB, :frmPrincipal:txt_totalD, :frmPrincipal:txt_totalS, :frmPrincipal:txt_totalC, :frmPrincipal:txt_costoC, :frmPrincipal:txt_gastoC, :frmPrincipal:txt_costoT" />
					</p:inputText>
					<p:message for="txt_SepB" />
					<p:inputText id="txt_SepD" value="#{planificacionVolumenController.elementoSeleccionado.totalDatSeptiembre}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_SepD" />
					<p:inputText id="txt_SepS" value="#{planificacionVolumenController.elementoSeleccionado.seguroSeptiembre}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_SepS" />
					<p:inputText id="txt_SepC" value="#{planificacionVolumenController.elementoSeleccionado.totalCifSeptiembre}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_SepC" />
					
					<h:outputLabel value="Octubre" for="txt_OctG" styleClass="requerido"/>
					<p:inputText id="txt_OctG" value="#{planificacionVolumenController.elementoSeleccionado.galonOctubre}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_OctG" />
					<p:inputText id="txt_OctB" value="#{planificacionVolumenController.elementoSeleccionado.barrilOctubre}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						<p:ajax event="blur"
						listener="#{planificacionVolumenController.calculoOctubre}"
						update="@this :frmPrincipal:txt_OctD, :frmPrincipal:txt_OctS, :frmPrincipal:txt_OctC, :frmPrincipal:txt_totalB, :frmPrincipal:txt_totalD, :frmPrincipal:txt_totalS, :frmPrincipal:txt_totalC, :frmPrincipal:txt_costoC, :frmPrincipal:txt_gastoC, :frmPrincipal:txt_costoT" />
					</p:inputText>
					<p:message for="txt_OctB" />
					<p:inputText id="txt_OctD" value="#{planificacionVolumenController.elementoSeleccionado.totalDatOctubre}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_OctD" />
					<p:inputText id="txt_OctS" value="#{planificacionVolumenController.elementoSeleccionado.seguroOctubre}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_OctS" />
					<p:inputText id="txt_OctC" value="#{planificacionVolumenController.elementoSeleccionado.totalCifOctubre}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_OctC" />
					
					<h:outputLabel value="Noviembre" for="txt_NovG" styleClass="requerido"/>
					<p:inputText id="txt_NovG" value="#{planificacionVolumenController.elementoSeleccionado.galonNoviembre}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_NovG" />
					<p:inputText id="txt_NovB" value="#{planificacionVolumenController.elementoSeleccionado.barrilNoviembre}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						<p:ajax event="blur"
						listener="#{planificacionVolumenController.calculoNoviembre}"
						update="@this :frmPrincipal:txt_NovD, :frmPrincipal:txt_NovS, :frmPrincipal:txt_NovC, :frmPrincipal:txt_totalB, :frmPrincipal:txt_totalD, :frmPrincipal:txt_totalS, :frmPrincipal:txt_totalC, :frmPrincipal:txt_costoC, :frmPrincipal:txt_gastoC, :frmPrincipal:txt_costoT" />
					</p:inputText>
					<p:message for="txt_NovB" />
					<p:inputText id="txt_NovD" value="#{planificacionVolumenController.elementoSeleccionado.totalDatNoviembre}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_NovD" />
					<p:inputText id="txt_NovS" value="#{planificacionVolumenController.elementoSeleccionado.seguroNoviembre}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_NovS" />
					<p:inputText id="txt_NovC" value="#{planificacionVolumenController.elementoSeleccionado.totalCifNoviembre}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_NovC" />
					
					<h:outputLabel value="Diciembre" for="txt_DicG" styleClass="requerido"/>
					<p:inputText id="txt_DicG" value="#{planificacionVolumenController.elementoSeleccionado.galonDiciembre}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_DicG" />
					<p:inputText id="txt_DicB" value="#{planificacionVolumenController.elementoSeleccionado.barrilDiciembre}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						<p:ajax event="blur"
						listener="#{planificacionVolumenController.calculoDiciembre}"
						update="@this :frmPrincipal:txt_DicD, :frmPrincipal:txt_DicS, :frmPrincipal:txt_DicC, :frmPrincipal:txt_totalB, :frmPrincipal:txt_totalD, :frmPrincipal:txt_totalS, :frmPrincipal:txt_totalC, :frmPrincipal:txt_costoC, :frmPrincipal:txt_gastoC, :frmPrincipal:txt_costoT" />
					</p:inputText>
					<p:message for="txt_DicB" />
					<p:inputText id="txt_DicD" value="#{planificacionVolumenController.elementoSeleccionado.totalDatDiciembre}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_DicD" />
					<p:inputText id="txt_DicS" value="#{planificacionVolumenController.elementoSeleccionado.seguroDiciembre}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_DicS" />
					<p:inputText id="txt_DicC" value="#{planificacionVolumenController.elementoSeleccionado.totalCifDiciembre}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_DicC" />
					
					<h:outputLabel value=""/>
					<h:outputLabel value="TOTAL" style="align:right"/>
					<h:outputLabel value=""/>
					<p:inputText id="txt_totalB" value="#{planificacionVolumenController.elementoSeleccionado.totalBarril}" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="4"/>
					</p:inputText>
					<p:message for="txt_totalB" />
					<p:inputText id="txt_totalD" value="#{planificacionVolumenController.elementoSeleccionado.totalDat}" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_totalD" />
					<p:inputText id="txt_totalS" value="#{planificacionVolumenController.elementoSeleccionado.totalSeguro}" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_totalS" />
					<p:inputText id="txt_totalC" value="#{planificacionVolumenController.elementoSeleccionado.totalCif}" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_totalC" />
					
					<h:outputLabel value="Costo CIF"/>
					<p:inputText id="txt_costoC" value="#{planificacionVolumenController.elementoSeleccionado.costoCif}" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_costoC" />
					<h:outputLabel value="Gastos 1%"/>
					<h:outputLabel value=""/>
					<p:inputText id="txt_gastoC" value="#{planificacionVolumenController.elementoSeleccionado.gasto}" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_gastoC" />
					<h:outputLabel value="Costo Total"/>
					<h:outputLabel value=""/>
					<p:inputText id="txt_costoT" value="#{planificacionVolumenController.elementoSeleccionado.costoTotal}" disabled="true">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_costoT" />
				</h:panelGrid>
			</p:fieldset>
			<h:panelGrid columns="2">
					<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}" update="@form"
						action="#{planificacionVolumenController.guardar}" 
						onsuccess="setTimeout(function(){$('#panelMensajes').html('');},1000);"/>
					<p:commandButton styleClass="cancelar" value="#{messages.lbl_atras}" immediate="true"
						update="@form" 
						action="#{planificacionVolumenController.atras}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>