<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmPlanificacionVolumen">
			<p:panel>
				<h:panelGrid columns="4">
					<h:outputLabel value="Año:" />
					<p:inputText value="#{planificacionVolumenDataManager.filtroAnio}"
						styleClass="enlinea" style="width: 50px !important;"/>
						
					<h:outputLabel value="Producto: "/>
					<p:selectOneMenu id="lst_producto" value="#{planificacionVolumenDataManager.filtroProducto}"
						style="width: 250px !important;">
		            	<f:selectItem itemLabel="Seleccione.." itemValue="" />
		            	<f:selectItems value="#{parametroCalculoController.catalogoProductos}" var="catalogoP" itemValue="#{catalogoP.id}" itemLabel="#{catalogoP.nombre}" />							
	 				</p:selectOneMenu>
	 			</h:panelGrid>
	 			
	 			<h:panelGroup styleClass="form-column" layout="block">
	 				<p:commandButton styleClass="buscar" title="Filtrar registros"
					value="BUSCAR" update=":frmPlanificacionVolumen"
					action="#{planificacionVolumenController.buscar}"/>
					<p:commandButton styleClass="crear" value="#{messages.lbl_nuevo}"
						action="#{planificacionVolumenController.nuevoRegistro}" />
 				</h:panelGroup>
 				
				<p:dataTable id="tablaRegistro" rows="10" paginator="true"
					value="#{planificacionVolumenController.lPlanificacionVolumens}"
					emptyMessage="#{messages.advertenciaNoHayDatos}" var="planificacionV"
					paginatorPosition="bottom"  styleClass="box-info"
					paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
					
					<p:column>
						<p:commandLink update="@this"
							action="#{planificacionVolumenController.editar}">
							<h:graphicImage value="../resources/images/icons/pencil.png" />
							<f:setPropertyActionListener value="#{planificacionV}"
								target="#{planificacionVolumenController.elementoSeleccionado}" />
						</p:commandLink>
						<p:commandButton update="@this" icon="ui-icon-trash"
							oncomplete="PF('widgetDeleteConfirmDialog').show()" title="Eliminar Acción">
							<f:setPropertyActionListener value="#{planificacionV}"
								target="#{planificacionVolumenController.elementoSeleccionado}" />
						</p:commandButton>
					</p:column>
					
					<p:column headerText="Año" >
						<h:outputText value="#{planificacionV.anio}" />
					</p:column>
					<p:column headerText="Productos" >
						<h:outputText value="#{planificacionV.precioPrevision.parametroCalculo.catalogoProducto.nombre}" />
					</p:column>
					<p:column headerText="Precio Marcador" >
						<h:outputText value="#{planificacionV.precioMarcador}" />
					</p:column>
					<p:column headerText="Costo CIF" >
						<h:outputText value="#{planificacionV.costoCif}">
							<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
						</h:outputText>
					</p:column>
					<p:column headerText="Gastos 1%" >
						<h:outputText value="#{planificacionV.gasto}">
							<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
						</h:outputText>
					</p:column>
					<p:column headerText="Total" >
						<h:outputText value="#{planificacionV.costoTotal}">
							<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
						</h:outputText>
					</p:column>
					
				</p:dataTable>
			</p:panel>
		</h:form>
	
		<p:confirmDialog message="Está seguro que desea eliminar?"
			widgetVar="widgetDeleteConfirmDialog"
			header="Advertencia" severity="alert">
			<h:form id="formDialogDelete">
				<h:inputHidden value="#{planificacionVolumenController.elementoSeleccionado.id}"/>
				<p:commandButton styleClass="boton" value="Si" action="#{planificacionVolumenController.eliminar}"
					update=":frmPlanificacionVolumen:tablaRegistro" oncomplete="PF('widgetDeleteConfirmDialog').hide()"/>	
				<p:commandButton styleClass="boton" value="No" oncomplete="PF('widgetDeleteConfirmDialog').hide()" />
			</h:form>
		</p:confirmDialog>
	</ui:define>
</ui:composition>
</html>