<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmPlanificaciones">

			
			<h:panelGrid columns="4">
				<h:outputLabel value="No. Adjudicación o Contrato:" />
				<p:inputText value="#{planificacionImportacionDataManager.adjudicacion}"
					styleClass="enlinea" />
				
				<p:outputLabel value="Proveedor: "/>
				<p:selectOneMenu id="lst_fproveedor" value="#{planificacionImportacionDataManager.proveedor}"
					style="width: 260px !important;">
					<f:selectItem itemLabel="Seleccione.." itemValue="" />
					<f:selectItems value="#{adjudicacionController.actores}" var="actor" itemValue="#{actor.id}" itemLabel="#{actor.razonSocial}" />							
				</p:selectOneMenu>
			</h:panelGrid>
				
			<h:panelGroup styleClass="form-column" layout="block">
				<p:commandButton styleClass="buscar" title="Filtrar registros" value="BUSCAR"
					update=":frmPlanificaciones" style="width: 100px !important;"
					action="#{planificacionCargamentosController.buscar}" />
				<p:commandButton styleClass="crear" rendered="false" value="#{messages.lbl_nuevo}"
					action="#{planificacionCargamentosController.nuevoRegistro}" />
			</h:panelGroup>
			
			
			

			<p:panel>
				<p:dataTable id="tablaRegistro" rows="10" paginator="true"
					value="#{planificacionCargamentosController.lPlanificacionImportaciones}"
					emptyMessage="#{messages.advertenciaNoHayDatos}" var="adjudicacion"
					paginatorPosition="bottom"  styleClass="box-info"
					paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">		
						
					<p:column>
						<p:commandLink update="@this"
							action="#{planificacionCargamentosController.editar}">
							<h:graphicImage value="../resources/images/icons/pencil.png" />
							<f:setPropertyActionListener value="#{adjudicacion}"
								target="#{planificacionCargamentosController.planificacionImportacionSeleccionado.planificacionImportacionSeleccionado}" />
						</p:commandLink>
						<p:commandButton update="@this" icon="ui-icon-trash"
							oncomplete="PF('widgetDeleteConfirmDialog').show()" title="Eliminar Acción">
							<f:setPropertyActionListener value="#{adjudicacion}"
								target="#{planificacionCargamentosController.planificacionImportacionSeleccionado.planificacionImportacionSeleccionado}" />
						</p:commandButton>
					</p:column>

					<p:column headerText="No. Adjudicación/ Contrato" >
						<h:outputText value="#{adjudicacion.adjudicacion.numeroContrato}" />
					</p:column>

					<p:column headerText="Ventana desde" >
						<h:outputText value="#{adjudicacion.ventanaInicio}">
							<f:convertDateTime pattern="yyyy-MM-dd"/>
						</h:outputText>
					</p:column>

					<p:column headerText="Ventana hasta" >
						<h:outputText value="#{adjudicacion.ventanaFin}">
							<f:convertDateTime pattern="yyyy-MM-dd"/>
						</h:outputText>
					</p:column>

					<p:column headerText="Mes" >
						<h:outputText value="#{adjudicacion.mes}" />
					</p:column>

					<p:column headerText="Semana" >
						<h:outputText value="#{adjudicacion.semana}" />
					</p:column>

					<p:column headerText="Proveedor" >
						<h:outputText value="#{adjudicacion.empresaProveedora}" />
					</p:column>


					<p:column headerText="Volumen" >
						<h:outputText
							value="#{not empty adjudicacion.volumenBls ? adjudicacion.volumenBls : adjudicacion.volumenTnl}" />
					</p:column>


					<p:column headerText="Precio" >
						<h:outputText value="#{adjudicacion.precio}" />
					</p:column>

					<p:column headerText="Total" >
						<h:outputText value="#{adjudicacion.total}" />
					</p:column>

				</p:dataTable>
			</p:panel>
		</h:form>

		<p:confirmDialog message="Está seguro que desea eliminar?"
			widgetVar="widgetDeleteConfirmDialog" header="Advertencia"
			severity="alert">
			<p:commandButton styleClass="boton" value="Si"
				action="#{planificacionCargamentosController.eliminar}"
				update=":frmPlanificaciones:tablaRegistro"
				oncomplete="PF('widgetDeleteConfirmDialog').hide()" />
			<p:commandButton styleClass="boton" value="No"
				oncomplete="PF('widgetDeleteConfirmDialog').hide()" />
		</p:confirmDialog>

	</ui:define>
</ui:composition>
</html>