<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmPrincipal">
			<p:messages id="msgs" showDetail="true" redisplay="true"
				autoUpdate="false" closable="true" severity="info,error"/>
				
			<p:fieldset legend="Datos Generales" style="margin-bottom:20px">
				<h:panelGrid columns="9">
					<h:outputLabel value="Producto: " for="lst_producto" styleClass="requerido" />
					<p:selectOneMenu id="lst_producto"
						value="#{precioPrevisionDataManager.selectParametroCalculo}"
						converter="#{parametroCalculoConverter}"
						style="width: 200px !important;" required="true">
						<f:selectItem itemLabel="Seleccione.." itemValue="" />
						<f:selectItems
								value="#{precioPrevisionController.parametroCalculos}"
								var="catalogoProducto" itemValue="#{catalogoProducto}"
								itemLabel="#{catalogoProducto.catalogoProducto.nombre}" />
						<p:ajax update="@this :frmPrincipal:lst_producto, :frmPrincipal:txt_dif, :frmPrincipal:txt_varP, :frmPrincipal:txt_precio" event="change" listener="#{precioPrevisionController.cargarDatosParametroCalculo}"  process="@this"/>		
					</p:selectOneMenu>
					<p:message for="lst_producto" />
					<h:outputLabel value="Precio Marcador: " for="txt_precio" styleClass="requerido" />
					<p:inputText id="txt_precio" value="#{precioPrevisionController.elementoSeleccionado.precioMarcador}" required="true" style="width: 200px !important;" disabled="true" />
					<p:message for="txt_precio" />
					<h:outputLabel value="Año" for="txt_anio" styleClass="requerido"/>
					<p:inputText id="txt_anio" value="#{precioPrevisionController.elementoSeleccionado.anioActual}" required="true"/>
					<p:message for="txt_anio" />
				</h:panelGrid>
			</p:fieldset>
			<p:fieldset legend="Valores" style="margin-bottom:20px">
				<h:panelGrid columns="9">
					<h:outputLabel value="MESES"/>
					<h:outputLabel value="PRECIO BL"/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value="Enero" for="txt_EneroG" styleClass="requerido"/>
					<p:inputText id="txt_EneroG" value="#{precioPrevisionController.elementoSeleccionado.galonEnero}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
						<p:ajax event="blur"
						listener="#{precioPrevisionController.calculoPrecio}"
						update="@this :frmPrincipal:txt_prom, :frmPrincipal:txt_var, :frmPrincipal:txt_sub, :frmPrincipal:txt_total" />
					</p:inputText>
					<p:message for="txt_EneroG" />
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
										
					<h:outputLabel value="Febrero" for="txt_FebG" styleClass="requerido"/>
					<p:inputText id="txt_FebG" value="#{precioPrevisionController.elementoSeleccionado.galonFebrero}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
						<p:ajax event="blur"
							listener="#{precioPrevisionController.calculoPrecio}"
							update="@this :frmPrincipal:txt_prom, :frmPrincipal:txt_var, :frmPrincipal:txt_sub, :frmPrincipal:txt_total" />
					</p:inputText>
					<p:message for="txt_FebG" />
					<h:outputLabel value="Promedio Anual" for="txt_prom"/>
					<p:inputText id="txt_prom" value="#{precioPrevisionController.elementoSeleccionado.promedio}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_prom" />
					<h:outputLabel value="Total" for="txt_total"/>
					<p:inputText id="txt_total" value="#{precioPrevisionController.elementoSeleccionado.total}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_total" />
					
					<h:outputLabel value="Marzo" for="txt_MarG" styleClass="requerido"/>
					<p:inputText id="txt_MarG" value="#{precioPrevisionController.elementoSeleccionado.galonMarzo}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
						<p:ajax event="blur"
						listener="#{precioPrevisionController.calculoPrecio}"
						update="@this :frmPrincipal:txt_prom, :frmPrincipal:txt_var, :frmPrincipal:txt_sub, :frmPrincipal:txt_total" />
					</p:inputText>
					<p:message for="txt_MarG" />
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
							
					<h:outputLabel value="Abril" for="txt_AbrG" styleClass="requerido"/>
					<p:inputText id="txt_AbrG" value="#{precioPrevisionController.elementoSeleccionado.galonAbril}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
						<p:ajax event="blur"
						listener="#{precioPrevisionController.calculoPrecio}"
						update="@this :frmPrincipal:txt_prom, :frmPrincipal:txt_var, :frmPrincipal:txt_sub, :frmPrincipal:txt_total" />
					</p:inputText>
					<p:message for="txt_AbrG" />
					<h:outputLabel value="(+) Diferencial" for="txt_dif"/>
					<p:inputText id="txt_dif" value="#{precioPrevisionController.elementoSeleccionado.diferencial}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_dif" />
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
										
					<h:outputLabel value="Mayo" for="txt_MayG" styleClass="requerido"/>
					<p:inputText id="txt_MayG" value="#{precioPrevisionController.elementoSeleccionado.galonMayo}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
						<p:ajax event="blur"
						listener="#{precioPrevisionController.calculoPrecio}"
						update="@this :frmPrincipal:txt_prom, :frmPrincipal:txt_var, :frmPrincipal:txt_sub, :frmPrincipal:txt_total" />
					</p:inputText>
					<p:message for="txt_MayG" />
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
										
					<h:outputLabel value="Junio" for="txt_JunG" styleClass="requerido"/>
					<p:inputText id="txt_JunG" value="#{precioPrevisionController.elementoSeleccionado.galonJunio}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
						<p:ajax event="blur"
						listener="#{precioPrevisionController.calculoPrecio}"
						update="@this :frmPrincipal:txt_prom, :frmPrincipal:txt_var, :frmPrincipal:txt_sub, :frmPrincipal:txt_total" />
					</p:inputText>
					<p:message for="txt_JunG" />
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
										
					<h:outputLabel value="Julio" for="txt_JulG" styleClass="requerido"/>
					<p:inputText id="txt_JulG" value="#{precioPrevisionController.elementoSeleccionado.galonJulio}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
						<p:ajax event="blur"
							listener="#{precioPrevisionController.calculoPrecio}"
							update="@this :frmPrincipal:txt_prom, :frmPrincipal:txt_var, :frmPrincipal:txt_sub, :frmPrincipal:txt_total" />
					</p:inputText>
					<p:message for="txt_JulG" />
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>					
					
					<h:outputLabel value="Agosto" for="txt_AgoG" styleClass="requerido"/>
					<p:inputText id="txt_AgoG" value="#{precioPrevisionController.elementoSeleccionado.galonAgosto}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
						<p:ajax event="blur"
						listener="#{precioPrevisionController.calculoPrecio}"
						update="@this :frmPrincipal:txt_prom, :frmPrincipal:txt_var, :frmPrincipal:txt_sub, :frmPrincipal:txt_total" />
					</p:inputText>
					<p:message for="txt_AgoG" />
					<h:outputLabel value="Subtotal" for="txt_sub"/>
					<p:inputText id="txt_sub" value="#{precioPrevisionController.elementoSeleccionado.subtotal}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
					</p:inputText>
					<p:message for="txt_sub" />
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
										
					<h:outputLabel value="Septiembre" for="txt_SepG" styleClass="requerido"/>
					<p:inputText id="txt_SepG" value="#{precioPrevisionController.elementoSeleccionado.galonSeptiembre}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
						<p:ajax event="blur"
						listener="#{precioPrevisionController.calculoPrecio}"
						update="@this :frmPrincipal:txt_prom, :frmPrincipal:txt_var, :frmPrincipal:txt_sub, :frmPrincipal:txt_total" />
					</p:inputText>
					<p:message for="txt_SepG" />
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
										
					<h:outputLabel value="Octubre" for="txt_OctG" styleClass="requerido"/>
					<p:inputText id="txt_OctG" value="#{precioPrevisionController.elementoSeleccionado.galonOctubre}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
						<p:ajax event="blur"
						listener="#{precioPrevisionController.calculoPrecio}"
						update="@this :frmPrincipal:txt_prom, :frmPrincipal:txt_var, :frmPrincipal:txt_sub, :frmPrincipal:txt_total" />
					</p:inputText>
					<p:message for="txt_OctG" />
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
										
					<h:outputLabel value="Noviembre" for="txt_NovG" styleClass="requerido"/>
					<p:inputText id="txt_NovG" value="#{precioPrevisionController.elementoSeleccionado.galonNoviembre}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
						<p:ajax event="blur"
						listener="#{precioPrevisionController.calculoPrecio}"
						update="@this :frmPrincipal:txt_prom, :frmPrincipal:txt_var, :frmPrincipal:txt_sub, :frmPrincipal:txt_total" />
					</p:inputText>
					<p:message for="txt_NovG" />
					<h:outputLabel value="(+) #{precioPrevisionDataManager.variacion}% Variación de Precios" id="txt_varP"/>
					<p:inputText id="txt_var" value="#{precioPrevisionController.elementoSeleccionado.variacionPrecio}" required="true" disabled="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
					</p:inputText>					
					<p:message for="txt_var" />
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
														
					<h:outputLabel value="Diciembre" for="txt_DicG" styleClass="requerido"/>
					<p:inputText id="txt_DicG" value="#{precioPrevisionController.elementoSeleccionado.galonDiciembre}" required="true">
						<f:convertNumber locale="es_EC" pattern="###,###.##" minFractionDigits="2"/>
						<p:ajax event="blur"
						listener="#{precioPrevisionController.calculoPrecio}"
						update="@this :frmPrincipal:txt_prom, :frmPrincipal:txt_var, :frmPrincipal:txt_sub, :frmPrincipal:txt_total" />
					</p:inputText>
					<p:message for="txt_DicG" />
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
					<h:outputLabel value=""/>
				</h:panelGrid>
			</p:fieldset>
			<h:panelGrid columns="2">
					<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}" update="@form"
						action="#{precioPrevisionController.guardar}" 
						onsuccess="setTimeout(function(){$('#panelMensajes').html('');},1000);"/>
					<p:commandButton styleClass="cancelar" value="#{messages.lbl_atras}" immediate="true"
						update="@form" 
						action="#{precioPrevisionController.atras}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>