<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmPrincipal">
			<p:messages id="msgs" showDetail="true" redisplay="true"
				autoUpdate="false" closable="true" severity="info,error"/>
				
			<h:panelGrid columns="3">
				<p:fieldset legend="Datos Generales">
					<h:panelGrid columns="2">
						<h:outputLabel value="Compañia: " />
						<h:outputLabel value="NOBLE AMERICAS"/>
						<h:outputLabel value="B/T: " />
						<h:outputLabel value="NOBLE AMERICAS"/>
						<h:outputLabel value="Producto: " />
						<h:outputLabel value="NOBLE AMERICAS"/>
						<h:outputLabel value="Ventana: " />
						<h:outputLabel value="NOBLE AMERICAS"/>
						<h:outputLabel value="Formula: " />
						<h:outputLabel value="Platt's UNLEADED 87 +12,14 USD/BBL"/>
						<h:outputLabel value="Preciación: " />
						<h:outputLabel value="5 dias alrededor de B/L"/>
						<h:outputLabel value="Crédito Documentario Nro.: " />
						<h:outputLabel value="NOBLE AMERICAS"/>
						<h:outputLabel value="Puerto Descarga: " />
						<h:outputLabel value="NOBLE AMERICAS"/>
						<h:outputLabel value="Adjudicación: " />
						<h:outputLabel value="NOBLE AMERICAS"/>
						<h:outputLabel value="Volumen (A): " for="txt_volumenT" styleClass="requerido" />
						<p:inputText id="txt_volumenT" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.volumenDescargadoPuerto}" required="true" disabled="true"/>
					</h:panelGrid>
				</p:fieldset>
				<p:fieldset legend="Valores">
					<h:panelGrid columns="7">
						<h:outputLabel value="Fecha"/>
						<h:outputLabel value=""/>
						<h:outputLabel value=""/>
						<h:outputLabel value="Precio (USG: F/GL)"/>
						<h:outputLabel value=""/>
						<h:outputLabel value="Precio (USG: F/BBL)"/>
						<h:outputLabel value=""/>
											
						<h:outputLabel value="Fecha 8" for="txt_fecha1" styleClass="requerido"/>
						<p:calendar id="txt_fecha1" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.fechaUno}" pattern="dd/MM/yyyy" locale="es" styleClass="calendar" disabled="#{tramiteEmbarqueCalculoPrecioController.tramiteEmbarqueCalculoPrecioSeleccionado.mostrarFecha1}"/>
						<p:message for="txt_fecha1" />
						<p:inputText  id="txt_unoG" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioGalonUno}" required="true" style="width:60px" disabled="#{tramiteEmbarqueCalculoPrecioController.tramiteEmbarqueCalculoPrecioSeleccionado.mostrarFecha1}">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
							<p:ajax event="blur"
							listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
							update="@this :frmPrincipal:txt_unoB, :frmPrincipal:txt_promedioG, :frmPrincipal:txt_promedioB, :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
						</p:inputText>
						<p:message for="txt_unoG" />
						<p:inputText id="txt_unoB" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioBarrilUno}" required="true" disabled="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="4"/>
						</p:inputText>
						<p:message for="txt_unoB" />
											
						<h:outputLabel value="Fecha 7" for="txt_fecha2" styleClass="requerido"/>
						<p:calendar id="txt_fecha2" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.fechaDos}" pattern="dd/MM/yyyy" locale="es" disabled="#{tramiteEmbarqueCalculoPrecioController.tramiteEmbarqueCalculoPrecioSeleccionado.mostrarFecha2}"/>
						<p:message for="txt_fecha2" />
						<p:inputText id="txt_dosG" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioGalonDos}" required="true" style="width:60px" disabled="#{tramiteEmbarqueCalculoPrecioController.tramiteEmbarqueCalculoPrecioSeleccionado.mostrarFecha2}">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
							<p:ajax event="blur"
							listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
							update="@this :frmPrincipal:txt_dosB, :frmPrincipal:txt_promedioG, :frmPrincipal:txt_promedioB, :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
						</p:inputText>
						<p:message for="txt_dosG" />
						<p:inputText id="txt_dosB" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioBarrilDos}" required="true" disabled="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						</p:inputText>
						<p:message for="txt_dosB" />
											
						<h:outputLabel value="Fecha 6" for="txt_fecha3" styleClass="requerido"/>
						<p:calendar id="txt_fecha3" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.fechaTres}" pattern="dd/MM/yyyy" locale="es" disabled="#{tramiteEmbarqueCalculoPrecioController.tramiteEmbarqueCalculoPrecioSeleccionado.mostrarFecha3}"/>
						<p:message for="txt_fecha3" />
						<p:inputText id="txt_tresG" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioGalonTres}" required="true" style="width:60px" disabled="#{tramiteEmbarqueCalculoPrecioController.tramiteEmbarqueCalculoPrecioSeleccionado.mostrarFecha3}">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
							<p:ajax event="blur"
							listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
							update="@this :frmPrincipal:txt_tresB, :frmPrincipal:txt_promedioG, :frmPrincipal:txt_promedioB, :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
						</p:inputText>
						<p:message for="txt_tresG" />
						<p:inputText id="txt_tresB" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioBarrilTres}" required="true" disabled="true" style="width:60px"> 
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						</p:inputText>
						<p:message for="txt_tresB" />
										
						<h:outputLabel value="Fecha 5" for="txt_fecha4" styleClass="requerido"/>
						<p:calendar id="txt_fecha4" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.fechaCuatro}" pattern="dd/MM/yyyy" locale="es" disabled="#{tramiteEmbarqueCalculoPrecioController.tramiteEmbarqueCalculoPrecioSeleccionado.mostrarFecha4}"/>
						<p:message for="txt_fecha4" />
						<p:inputText id="txt_cuatroG" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioGalonCuatro}" required="true" style="width:60px" disabled="#{tramiteEmbarqueCalculoPrecioController.tramiteEmbarqueCalculoPrecioSeleccionado.mostrarFecha4}">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
							<p:ajax event="blur"
							listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
							update="@this :frmPrincipal:txt_cuatroB, :frmPrincipal:txt_promedioG, :frmPrincipal:txt_promedioB, :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
						</p:inputText>
						<p:message for="txt_cuatroG" />
						<p:inputText id="txt_cuatroB" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioBarrilCuatro}" required="true" disabled="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						</p:inputText>
						<p:message for="txt_cuatroB" />
											
						<h:outputLabel value="Fecha 4" for="txt_fecha5" styleClass="requerido"/>
						<p:calendar id="txt_fecha5" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.fechaCinco}" pattern="dd/MM/yyyy" locale="es" disabled="#{tramiteEmbarqueCalculoPrecioController.tramiteEmbarqueCalculoPrecioSeleccionado.mostrarFecha5}"/>
						<p:message for="txt_fecha5" />
						<p:inputText id="txt_cincoG" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioGalonCinco}" required="true" style="width:60px" disabled="#{tramiteEmbarqueCalculoPrecioController.tramiteEmbarqueCalculoPrecioSeleccionado.mostrarFecha5}">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
							<p:ajax event="blur"
							listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
							update="@this :frmPrincipal:txt_cincoB, :frmPrincipal:txt_promedioG, :frmPrincipal:txt_promedioB, :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
						</p:inputText>
						<p:message for="txt_cincoG" />
						<p:inputText id="txt_cincoB" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioBarrilCinco}" required="true" disabled="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						</p:inputText>
						<p:message for="txt_cincoB" />
						
						<h:outputLabel value="Fecha 3" for="txt_fecha6" styleClass="requerido"/>
						<p:calendar id="txt_fecha6" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.fechaSeis}" pattern="dd/MM/yyyy" locale="es" disabled="#{tramiteEmbarqueCalculoPrecioController.tramiteEmbarqueCalculoPrecioSeleccionado.mostrarFecha6}"/>
						<p:message for="txt_fecha6" />
						<p:inputText id="txt_seisG" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioGalonSeis}" required="true" style="width:60px" disabled="#{tramiteEmbarqueCalculoPrecioController.tramiteEmbarqueCalculoPrecioSeleccionado.mostrarFecha6}">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
							<p:ajax event="blur"
							listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
							update="@this :frmPrincipal:txt_seisB, :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
						</p:inputText>
						<p:message for="txt_seisG" />
						<p:inputText id="txt_seisB" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioBarrilSeis}" required="true" disabled="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						</p:inputText>
						<p:message for="txt_seisB" />
											
						<h:outputLabel value="Fecha 2" for="txt_fecha7" styleClass="requerido"/>
						<p:calendar id="txt_fecha7" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.fechaSiete}" pattern="dd/MM/yyyy" locale="es" disabled="#{tramiteEmbarqueCalculoPrecioController.tramiteEmbarqueCalculoPrecioSeleccionado.mostrarFecha7}"/>
						<p:message for="txt_fecha7" />
						<p:inputText id="txt_sieteG" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioGalonSiete}" required="true" style="width:60px" disabled="#{tramiteEmbarqueCalculoPrecioController.tramiteEmbarqueCalculoPrecioSeleccionado.mostrarFecha7}">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
							<p:ajax event="blur"
							listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
							update="@this :frmPrincipal:txt_sieteB, :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
						</p:inputText>
						<p:message for="txt_sieteG" />
						<p:inputText id="txt_sieteB" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioBarrilSiete}" required="true" disabled="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						</p:inputText>
						<p:message for="txt_sieteB" />
						
						<h:outputLabel value="Fecha 1" for="txt_fecha8" styleClass="requerido"/>
						<p:calendar id="txt_fecha8" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.fechaOcho}" pattern="dd/MM/yyyy" locale="es" disabled="#{tramiteEmbarqueCalculoPrecioController.tramiteEmbarqueCalculoPrecioSeleccionado.mostrarFecha8}"/>
						<p:message for="txt_fecha8" />
						<p:inputText id="txt_ochoG" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioGalonOcho}" required="true" style="width: 60px" disabled="#{tramiteEmbarqueCalculoPrecioController.tramiteEmbarqueCalculoPrecioSeleccionado.mostrarFecha8}">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
							<p:ajax event="blur"
							listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
							update="@this :frmPrincipal:txt_ochoB, :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
						</p:inputText>
						<p:message for="txt_ochoG" />
						<p:inputText id="txt_ochoB" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioBarrilOcho}" required="true" disabled="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						</p:inputText>
						<p:message for="txt_ochoB" />
						
						<h:outputLabel value="Fecha BL" for="txt_fechaBL" styleClass="requerido"/>
						<p:calendar id="txt_fechaBL" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.fechaBl}" pattern="dd/MM/yyyy" locale="es"/>
						<p:message for="txt_fechaBL" />
						<p:inputText id="txt_blG" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioGalonBl}" required="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
							<p:ajax event="blur"
							listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
							update="@this :frmPrincipal:txt_blB, :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
						</p:inputText>
						<p:message for="txt_blG" />
						<p:inputText id="txt_blB" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioBarrilBl}" required="true" disabled="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						</p:inputText>
						<p:message for="txt_blB" />
											
						<h:outputLabel value="Fecha 9" for="txt_fecha9" styleClass="requerido"/>
						<p:calendar id="txt_fecha9" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.fechaNueve}" pattern="dd/MM/yyyy" locale="es"/>
						<p:message for="txt_fecha9" />
						<p:inputText id="txt_nueveG" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioGalonNueve}" required="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
							<p:ajax event="blur"
							listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
							update="@this :frmPrincipal:txt_nueveB, :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
						</p:inputText>
						<p:message for="txt_nueveG" />
						<p:inputText id="txt_nueveB" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioBarrilNueve}" required="true" disabled="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						</p:inputText>
						<p:message for="txt_nueveB" />
											
						<h:outputLabel value="Fecha 10" for="txt_fecha10" styleClass="requerido"/>
						<p:calendar id="txt_fecha10" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.fechaDiez}" pattern="dd/MM/yyyy" locale="es"/>
						<p:message for="txt_fecha10" />
						<p:inputText id="txt_diezG" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioGalonDiez}" required="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
							<p:ajax event="blur"
							listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
							update="@this :frmPrincipal:txt_diezB, :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
						</p:inputText>
						<p:message for="txt_diezG" />
						<p:inputText id="txt_diezB" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioBarrilDiez}" required="true" disabled="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						</p:inputText>
						<p:message for="txt_diezB" />
											
						<h:outputLabel value="Fecha 11" for="txt_fecha11" styleClass="requerido"/>
						<p:calendar id="txt_fecha11" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.fechaOnce}" pattern="dd/MM/yyyy" locale="es"/>
						<p:message for="txt_fecha11" />
						<p:inputText id="txt_onceG" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioGalonOnce}" required="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
							<p:ajax event="blur"
							listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
							update="@this :frmPrincipal:txt_onceB, :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
						</p:inputText>
						<p:message for="txt_onceG" />
						<p:inputText id="txt_onceB" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioBarrilOnce}" required="true" disabled="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						</p:inputText>
						<p:message for="txt_onceB" />
											
						<h:outputLabel value="Fecha 12" for="txt_fecha12" styleClass="requerido"/>
						<p:calendar id="txt_fecha12" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.fechaDoce}" pattern="dd/MM/yyyy" locale="es"/>
						<p:message for="txt_fecha12" />
						<p:inputText id="txt_doceG" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioGalonDoce}" required="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
							<p:ajax event="blur"
							listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
							update="@this :frmPrincipal:txt_doceB, :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
						</p:inputText>
						<p:message for="txt_doceG" />
						<p:inputText id="txt_doceB" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioBarrilDoce}" required="true" disabled="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						</p:inputText>
						<p:message for="txt_doceB" />
							
						<h:outputLabel value="Fecha 13" for="txt_fecha13" styleClass="requerido"/>
						<p:calendar id="txt_fecha13" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.fechaTrece}" pattern="dd/MM/yyyy" locale="es"/>
						<p:message for="txt_fecha13" />
						<p:inputText id="txt_treceG" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioGalonTrece}" required="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
							<p:ajax event="blur"
							listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
							update="@this :frmPrincipal:txt_treceB, :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
						</p:inputText>
						<p:message for="txt_treceG" />
						<p:inputText id="txt_treceB" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioBarrilTrece}" required="true" disabled="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						</p:inputText>
						<p:message for="txt_treceB" />
						
						<h:outputLabel value="Fecha 14" for="txt_fecha14" styleClass="requerido"/>
						<p:calendar id="txt_fecha14" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.fechaCatorce}" pattern="dd/MM/yyyy" locale="es"/>
						<p:message for="txt_fecha14" />
						<p:inputText id="txt_catorceG" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioGalonCatorce}" required="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
							<p:ajax event="blur"
							listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
							update="@this :frmPrincipal:txt_catorceB , :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
						</p:inputText>
						<p:message for="txt_catorceG" />
						<p:inputText id="txt_catorceB" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioBarrilCatorce}" required="true" disabled="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						</p:inputText>
						<p:message for="txt_catorceB" />
						
						<h:outputLabel value="Fecha 15" for="txt_fecha15" styleClass="requerido"/>
						<p:calendar id="txt_fecha15" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.fechaQuince}" pattern="dd/MM/yyyy" locale="es"/>
						<p:message for="txt_fecha15" />
						<p:inputText id="txt_quinceG" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioGalonQuince}" required="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
							<p:ajax event="blur"
							listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
							update="@this :frmPrincipal:txt_quinceB , :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
						</p:inputText>
						<p:message for="txt_quinceG" />
						<p:inputText id="txt_quinceB" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioBarrilQuince}" required="true" disabled="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						</p:inputText>
						<p:message for="txt_quinceB" />
						
						<h:outputLabel value="Fecha 16" for="txt_fecha16" styleClass="requerido"/>
						<p:calendar id="txt_fecha16" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.fechaDieciseis}" pattern="dd/MM/yyyy" locale="es"/>
						<p:message for="txt_fecha16" />
						<p:inputText id="txt_dieciseisG" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioGalonDieciseis}" required="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
							<p:ajax event="blur"
							listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
							update="@this :frmPrincipal:txt_dieciseisB , :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
						</p:inputText>
						<p:message for="txt_dieciseisG" />
						<p:inputText id="txt_dieciseisB" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioBarrilDieciseis}" required="true" disabled="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						</p:inputText>
						<p:message for="txt_dieciseisB" />
						
						<h:outputLabel value="Fecha 17" for="txt_fecha17" styleClass="requerido"/>
						<p:calendar id="txt_fecha17" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.fechaDiecisiete}" pattern="dd/MM/yyyy" locale="es"/>
						<p:message for="txt_fecha17" />
						<p:inputText id="txt_diecisieteG" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioGalonDiecisiete}" required="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
							<p:ajax event="blur"
							listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
							update="@this :frmPrincipal:txt_diecisieteB , :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
						</p:inputText>
						<p:message for="txt_diecisieteG" />
						<p:inputText id="txt_diecisieteB" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioBarrilDiecisiete}" required="true" disabled="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="###,###.####" minFractionDigits="4"/>
						</p:inputText>
						<p:message for="txt_diecisieteB" />		
						
						<h:outputLabel value=""/>
						<h:outputLabel value="PROMEDIO" style="align:right"/>
						<h:outputLabel value=""/>
						<p:inputText id="txt_promedioG" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.promedioGalon}" disabled="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="4"/>
						</p:inputText>
						<p:message for="txt_promedioG" />
						
						<p:inputText id="txt_promedioB" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.promedioBarril}" disabled="true" style="width:60px">
							<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="4"/>
						</p:inputText>
						<p:message for="txt_promedioB" />
					</h:panelGrid>
				</p:fieldset>
				
				<p:fieldset legend="Resultados">
					<p:fieldset legend="Cálculo 1">
							<h:panelGrid columns="3">
								<h:outputLabel value="(+) Premio: " style="align:right"/>
								<p:inputText id="txt_premio" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.premio}">
									<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="4"/>
									<p:ajax event="blur"
								listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
								update="@this :frmPrincipal:txt_precioB, :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
								</p:inputText>
								<p:message for="txt_premio" />
								<h:outputLabel value="(+) Libertad: " style="align:right"/>
								<p:inputText id="txt_libertad" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.libertad}">
									<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="4"/>
									<p:ajax event="blur"
								listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
								update="@this :frmPrincipal:txt_precioB, :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
								</p:inputText>
								<p:message for="txt_libertad" />
								<h:outputLabel value="Precio (B): " style="align:right"/>
								<p:inputText id="txt_precioB" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioPuerto}" disabled="true">
									<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="4"/>
								</p:inputText>
								<p:message for="txt_precioB" />
							</h:panelGrid>
						</p:fieldset>	
						<p:fieldset legend="Cálculo 2">
							<h:panelGrid columns="3">
								<h:outputLabel value="Punta Arenas: " style="align:right"/>
								<p:inputText id="txt_puntaA" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.volumenPuertoArena}">
									<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="4"/>
									<p:ajax event="blur"
								listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
								update="@this :frmPrincipal:txt_precioA, :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
								</p:inputText>
								<p:message for="txt_puntaA" />
								<h:outputLabel value="Precio: " style="align:right"/>
								<p:inputText id="txt_precioP" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precioUno}">
									<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="4"/>
									<p:ajax event="blur"
								listener="#{tramiteEmbarqueCalculoPrecioController.conversionADolaresPorBarril}"
								update="@this :frmPrincipal:txt_precioA, :frmPrincipal:txt_subTotal, :frmPrincipal:txt_valorT" />
								</p:inputText>
								<p:message for="txt_precioP" />
								<h:outputLabel value="Precio * Punta Arenas (C): " style="align:right"/>
								<p:inputText id="txt_precioA" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.precio}" disabled="true">
									<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="4"/>
								</p:inputText>
								<p:message for="txt_precioA" />
							</h:panelGrid>
						</p:fieldset>
						<p:fieldset legend="Cálculo Total">
							<h:panelGrid columns="3">
								<h:outputLabel value="" />
								<h:outputLabel value="Subtotal (A*B)=(D): " style="align:right"/>
								<p:inputText id="txt_subTotal" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.subtotal}" disabled="true">
									<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
								</p:inputText>
								<p:message for="txt_subTotal" />
								<h:outputLabel value="Valor Total (D+C): " style="align:right"/>
								<p:inputText id="txt_valorT" value="#{tramiteEmbarqueCalculoPrecioController.elementoSeleccionado.total}" disabled="true">
									<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
								</p:inputText>
								<p:message for="txt_valorT" />
							</h:panelGrid>
						</p:fieldset>	
					</p:fieldset>
			</h:panelGrid>	
			<h:panelGrid columns="2">
					<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}" update="@form"
						action="#{tramiteEmbarqueCalculoPrecioController.guardar}" 
						onsuccess="setTimeout(function(){$('#panelMensajes').html('');},1000);"/>
					<p:commandButton styleClass="cancelar" value="#{messages.lbl_atras}" immediate="true"
						update="@form" 
						action="#{tramiteEmbarqueCalculoPrecioController.atras}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>