<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmPrincipal">
			<p:messages id="msgs" showDetail="true" redisplay="true"
				autoUpdate="false" closable="true" severity="info,error"/>
			<p:tabView orientation="top" dynamic="false" id="tabViewMasterDetail"
				widgetVar="tabViewMasterDetail" styleClass="styleTabViewMasterDetail"
				onTabShow="blockClickAccordion();">

				<p:tab title="Tramite Imp" id="tabMaster">
						
						<p:panel id="panelFormularioMaster">
							<h:panelGrid columns="9">
								
								<h:outputLabel value="No. Tramite: " for="txt_tramite" styleClass="requerido"/>
								<p:inputText id="txt_tramite" 
									value="#{tramiteEmbarquePAController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.numero}"
									style="width: 250px !important;" required="true">
								</p:inputText>
								<p:message for="txt_tramite"/>
									
								<h:outputLabel value="Fecha Ingreso:" for="txt_fechaIng" styleClass="requerido" />
								<p:calendar id="txt_fechaIng"
									value="#{tramiteEmbarquePAController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.fechaIngreso}"
									pattern="dd/MM/yyyy" required="true" locale="es">
								</p:calendar>
								<p:message for="txt_fechaIng" />
							
								<h:outputLabel value="Estado: " for="lst_estados" styleClass="requerido"/>
								<p:selectOneMenu id="lst_estados"
									value="#{tramiteEmbarquePAController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.estadoTramiteEmbarque}"
									converter="#{estadoTramiteEmbarqueConverter}" style="width: 260px !important;" required="true">
					            	<f:selectItem itemLabel="Seleccione.." itemValue="" />
					            	<f:selectItems value="#{tramiteEmbarquePAController.estadosTramiteEmbarques}" var="estadoTramiteEmbarque" 
					            		itemValue="#{estadoTramiteEmbarque}" itemLabel="#{estadoTramiteEmbarque.nombre}" />							
				 				</p:selectOneMenu>
								<p:message for="lst_estados"/>
								
							</h:panelGrid>
							
							<h:panelGrid columns="6">
							
								<h:outputLabel value="Adjudicación: " for="lst_adjudicacion" styleClass="requerido"/>
								<p:selectOneMenu id="lst_adjudicacion"
									value="#{tramiteEmbarquePAController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.adjudicacion}"
									converter="#{adjudicacionConverter}" style="width: 260px !important;" required="true">
					            	<f:selectItem itemLabel="Seleccione.." itemValue="" />
					            	<f:selectItems value="#{tramiteEmbarquePAController.adjudicaciones}" var="adjudicacion" 
					            		itemValue="#{adjudicacion}" itemLabel="#{adjudicacion.numeroContrato}" />
					            	<p:ajax update=":frmPrincipal:tabViewMasterDetail:lst_ventana" event="change" listener="#{tramiteEmbarquePAController.cargarPlanificacionImp}"  process="@this"/>							
				 				</p:selectOneMenu>
								<p:message for="lst_adjudicacion"/>
								
								<h:outputLabel value="Plan - Ventana: " for="lst_ventana" styleClass="requerido"/>
								<p:selectOneMenu id="lst_ventana"
									value="#{tramiteEmbarquePAController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.planificacionImportacion}"
									converter="#{planificacionImportacionConverter}" style="width: 260px !important;" required="true">
					            	<f:selectItem itemLabel="Seleccione.." itemValue="" />
					            	<f:selectItems value="#{tramiteEmbarquePAController.planificacionesImp}" var="pi" 
					            		itemValue="#{pi}" itemLabel="#{pi.ventanaInicio} - #{pi.ventanaFin}" />
					            	<p:ajax update=":frmPrincipal:tabViewMasterDetail:txt_fechaAdj,:frmPrincipal:tabViewMasterDetail:txt_negociacion,:frmPrincipal:tabViewMasterDetail:txt_producto" event="change" listener="#{tramiteEmbarquePAController.cargarDatosAdjudicacion}"  process="@this"/>							
				 				</p:selectOneMenu>
								<p:message for="lst_ventana"/>
								
								<h:outputLabel value="Fecha Adjudicacion:" for="txt_fechaAdj"/>
								<p:calendar id="txt_fechaAdj" disabled="true"
									value="#{tramiteEmbarquePAController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.fechaAdjudicacion}"
									pattern="dd/MM/yyyy" locale="es">
								</p:calendar>
								<p:message for="txt_fechaAdj" />
								
								<h:outputLabel value="Negociacion:" for="txt_negociacion"/>
								<p:inputText id="txt_negociacion" disabled="true"
									value="#{tramiteEmbarquePAController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.negociacion}"
									style="width: 250px !important;">
								</p:inputText>
								<p:message for="txt_negociacion" />
							
							</h:panelGrid>
								
							<h:panelGrid columns="3">
								
								<h:outputLabel value="Producto:" for="txt_producto" styleClass="requerido"/>
								<p:inputText id="txt_producto" disabled="true" 
									value="#{tramiteEmbarquePAController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.producto}"
									style="width: 450px !important;">
								</p:inputText>
								<p:message for="txt_producto" />
								
								<h:outputLabel value="Puertos de Embarque:" for="txt_pembarque"/>
								<p:inputText id="txt_pembarque"  
									value="#{tramiteEmbarquePAController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.puertoEmbarque}"
									style="width: 450px !important;">
								</p:inputText>
								<p:message for="txt_pembarque" />
								
								<h:outputLabel value="Puertos de Descarga:" for="txt_pdescarga"/>
								<p:inputText id="txt_pdescarga" 
									value="#{tramiteEmbarquePAController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.adcPuertoDescarga}"
									style="width: 450px !important;">
								</p:inputText>
								<p:message for="txt_pdescarga" />
								
								<h:outputLabel value="Buque - Tanque:" for="txt_buque"/>
								<p:inputText id="txt_buque" 
									value="#{tramiteEmbarquePAController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.nombreBuque}"
									style="width: 450px !important;">
								</p:inputText>
								<p:message for="txt_buque" />
								
								<h:outputLabel value="Compañía Inspectora: " for="lst_cinspectora"/>
								<p:selectOneMenu id="lst_cinspectora"
									value="#{tramiteEmbarquePAController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.companiaInspectora}"
									converter="#{companiaInspectoraConverter}" style="width: 460px !important;">
					            	<f:selectItem itemLabel="Seleccione.." itemValue="" />
					            	<f:selectItems value="#{tramiteEmbarquePAController.companiasInspectoras}" var="ci" 
					            		itemValue="#{ci}" itemLabel="#{ci.nombre}" />							
				 				</p:selectOneMenu>
								<p:message for="lst_cinspectora"/>
								
								<h:outputLabel value="Observaciones: " for="txt_observacion"/>
								<p:inputTextarea id="txt_observacion" cols="120" rows="3"
									value="#{tramiteEmbarquePAController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.observacion}"
									maxlength="300">
									<f:validateLength maximum="500" />
								</p:inputTextarea>
								<p:message for="txt_observacion" />
								
							</h:panelGrid>
							
							<h:panelGrid columns="1">
							
								<p:fieldset legend="Datos de la Proforma" style="margin-bottom:20px">
									
									<h:panelGrid columns="3">
									
										<h:outputLabel value="Factura-proforma No.:" for="txt_proforma"/>
										<p:inputText id="txt_proforma" 
											value="#{tramiteEmbarquePAController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.numeroProforma}"
											style="width: 250px !important;">
										</p:inputText>
										<p:message for="txt_proforma" />
										
										<h:outputLabel value="Fecha Documento:" for="txt_fechadocumento"/>
										<p:calendar id="txt_fechadocumento"
											value="#{tramiteEmbarquePAController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.fechaProforma}"
											pattern="dd/MM/yyyy" locale="es">
										</p:calendar>
										<p:message for="txt_fechadocumento" />
										
										<h:outputLabel value="Valor:" for="txt_valordocumento"/>
										<p:inputText id="txt_valordocumento"
											value="#{tramiteEmbarquePAController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.valorProforma}"
											style="width: 250px !important;" styleClass="soloNumeros">
											<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
				    						<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    						<p:ajax event="blur" update="@this" />
										</p:inputText>
										<p:message for="txt_valordocumento" />
											
									</h:panelGrid>
								</p:fieldset>
								
								<p:fieldset legend="Datos de la Aplicacion de Seguro" style="margin-bottom:20px" rendered=" false">
									<h:panelGrid columns="3">
										<h:outputLabel value="Memorando No.:" for="txt_memorando"/>
										<p:inputText id="txt_memorando" 
											value="#{tramiteEmbarquePAController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.numeroMemorando}"
											style="width: 250px !important;">
										</p:inputText>
										<p:message for="txt_memorando" />
										
										<h:outputLabel value="Fecha Generacion:" for="txt_fechagen"/>
										<p:calendar id="txt_fechagen"
											value="#{tramiteEmbarquePAController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.fechaGeneracion}"
											pattern="dd/MM/yyyy" locale="es">
										</p:calendar>
										<p:message for="txt_fechagen" />
										
										<h:outputLabel value="Aplicacion Seguro No.:" for="txt_seguro"/>
										<h:outputLabel id="txt_seguro" value="pendiente"/>
										<p:message for="txt_seguro" />
										
										<p:commandButton value="Ingresar Seguro"
											action="#{tramiteEmbarquePAController.generarDocumento()}"/>
										<p:commandButton value="#{messages.lbl_gdocumento}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
											action="#{tramiteEmbarquePAController.generarDocumento()}"/>
											
									</h:panelGrid>
								</p:fieldset>
								
							</h:panelGrid>
							
							<h:panelGrid columns="2">
								<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
									action="#{tramiteEmbarquePAController.guardar()}" 
									onsuccess="setTimeout(function(){$('#panelMensajes').html('');},1000);"/>
								<p:commandButton styleClass="cancelar" value="#{messages.lbl_atras}" immediate="true"
									update=":frmPrincipal:tabViewMasterDetail, @form" action="#{tramiteEmbarquePAController.atras()}" />
							</h:panelGrid>
							
						</p:panel>
						
				</p:tab>
				
				
				<p:tab title="Registro de Factura" id="tabViewFactura">
				
					<p:panel>
						<h:panelGrid columns="3">	
							<p:fieldset legend="Registro de Factura" style="margin-bottom:20px">
								
								<h:panelGrid columns="3">
										
									<h:outputLabel value="Factura No.: " for="txt_fanumero" styleClass="requerido"/>
									<p:inputText id="txt_fanumero" 
										value="#{tramiteEmbarqueFacturaDataManager.tramiteEmbarqueFacturaSeleccionado.numero}"
										style="width: 100px !important;" required="true">
									</p:inputText>
									<p:message for="txt_fanumero"/>
									
									<h:outputLabel value="Fecha:" for="txt_fafecha" styleClass="requerido"/>
									<p:calendar id="txt_fafecha"
										value="#{tramiteEmbarqueFacturaDataManager.tramiteEmbarqueFacturaSeleccionado.fecha}"
										pattern="dd/MM/yyyy" required="true" locale="es">
									</p:calendar>
									<p:message for="txt_fafecha" />
								
									<h:outputLabel value="Volumen: " for="txt_favolumen" />  
									<p:inputText id="txt_favolumen" 
										value="#{tramiteEmbarqueFacturaDataManager.tramiteEmbarqueFacturaSeleccionado.volumen}"
										style="width: 200px !important;">
										<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
				    					<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    					<p:ajax event="blur" update="@this" />
									</p:inputText>
									<p:message for="txt_favolumen"/>
									
									<h:outputLabel value="Precio por barril: " for="txt_faprecio" />  
									<p:inputText id="txt_faprecio" 
										value="#{tramiteEmbarqueFacturaDataManager.tramiteEmbarqueFacturaSeleccionado.precio}"
										style="width: 200px !important;">
										<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
				    					<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    					<p:ajax event="blur" update="@this" />
									</p:inputText>
									<p:message for="txt_faprecio"/>
								
									<h:outputLabel value="Flete del buque: " for="txt_faflete" />  
									<p:inputText id="txt_faflete" 
										value="#{tramiteEmbarqueFacturaDataManager.tramiteEmbarqueFacturaSeleccionado.fleteBuque}"
										style="width: 200px !important;">
										<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
				    					<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    					<p:ajax event="blur" update="@this" />
									</p:inputText>
									<p:message for="txt_faflete"/>
									
									<h:outputLabel value="Valor FOB: " for="txt_favalorfob" />  
									<p:inputText id="txt_favalorfob" 
										value="#{tramiteEmbarqueFacturaDataManager.tramiteEmbarqueFacturaSeleccionado.valorFob}"
										style="width: 200px !important;">
										<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
				    					<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    					<p:ajax event="blur" update="@this" />
									</p:inputText>
									<p:message for="txt_favalordat"/>
									
									<h:outputLabel value="Valor DAT: " for="txt_favalordat" />  
									<p:inputText id="txt_favalordat" 
										value="#{tramiteEmbarqueFacturaDataManager.tramiteEmbarqueFacturaSeleccionado.valorDat}"
										style="width: 200px !important;">
										<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
				    					<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    					<p:ajax event="blur" update="@this" />
									</p:inputText>
									<p:message for="txt_favalordat"/>
									
								</h:panelGrid>
								
							</p:fieldset>
									
							<p:fieldset legend="Solicitar Giro MEF" style="margin-bottom:20px">
								
								<h:panelGrid columns="3">
															
									<h:outputLabel value="Número de Oficio: " for="txt_faoficiomef" />
									<p:inputText id="txt_faoficiomef" 
										value="#{tramiteEmbarqueFacturaDataManager.tramiteEmbarqueFacturaSeleccionado.numeroOficioMef}"
										style="width: 200px !important;">
									</p:inputText>
									<p:message for="txt_faoficiomef"/>
									
									<h:outputLabel value="Fecha del Oficio:" for="txt_fafechamef"/>
									<p:calendar id="txt_fafechamef"
										value="#{tramiteEmbarqueFacturaDataManager.tramiteEmbarqueFacturaSeleccionado.fechaDocumentoMef}"
										pattern="dd/MM/yyyy" locale="es">
									</p:calendar>
									<p:message for="txt_fafechamef" />
										
									
									<p:commandButton styleClass="activator boton doc" value="#{messages.lbl_gdocumento}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
										action="#{tramiteEmbarqueFacturaController.generarDocumento()}"/>
										
									<p:commandButton styleClass="boton" value="#{messages.lbl_notificar}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
										action="#{tramiteEmbarqueFacturaController.generarDocumento()}"/>
									
								</h:panelGrid>
								
							</p:fieldset>
							
							
							<p:fieldset legend="Oficio al Proveedor" style="margin-bottom:20px">
								
								<h:panelGrid columns="3">
															
									<h:outputLabel value="Número de Oficio: " for="txt_faoficioprov" />
									<p:inputText id="txt_faoficioprov" 
										value="#{tramiteEmbarqueFacturaDataManager.tramiteEmbarqueFacturaSeleccionado.numeroOficio}"
										style="width: 200px !important;">
									</p:inputText>
									<p:message for="txt_faoficioprov"/>
									
									<h:outputLabel value="Fecha del Oficio:" for="txt_fafechaprov"/>
									<p:calendar id="txt_fafechaprov"
										value="#{tramiteEmbarqueFacturaDataManager.tramiteEmbarqueFacturaSeleccionado.fechaDocumento}"
										pattern="dd/MM/yyyy" locale="es">
									</p:calendar>
									<p:message for="txt_fafechaprov" />
										
									
									<p:commandButton styleClass="activator boton doc" value="#{messages.lbl_gdocumento}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
										action="#{tramiteEmbarqueFacturaController.generarDocumento()}"/>
										
									<p:commandButton styleClass="boton" value="#{messages.lbl_notificar}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
										action="#{tramiteEmbarqueFacturaController.generarDocumento()}"/>
									
								</h:panelGrid>
								
							</p:fieldset>
							
						</h:panelGrid>
						
						
						
						<p:fieldset legend="Instrucciones de Pago" style="margin-bottom:20px">
							<h:panelGrid columns="6">
									
								<h:outputLabel value="Proveedor: "/>
								<h:outputLabel value="#{tramiteEmbarquePAController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.adjudicacion.actor.razonSocial}"/>
								<h:outputLabel value=""/>
								
								<h:outputLabel value="Dir. Proveedor: " for="txt_fadirproveedor"/>
								<p:inputText id="txt_fadirproveedor"
									value="#{tramiteEmbarqueFacturaDataManager.tramiteEmbarqueFacturaSeleccionado.direccion}"
									style="width: 400px !important;">
								</p:inputText>
								<p:message for="txt_fadirproveedor"/>
								
								<h:outputLabel value="Banco: " for="txt_fabanco"/>
								<p:inputText id="txt_fabanco"
									value="#{tramiteEmbarqueFacturaDataManager.tramiteEmbarqueFacturaSeleccionado.banco}"
									style="width: 300px !important;">
								</p:inputText>
								<p:message for="txt_fabanco"/>
								
								<h:outputLabel value="Cuenta: " for="txt_facuenta"/>
								<p:inputText id="txt_facuenta"
									value="#{tramiteEmbarqueFacturaDataManager.tramiteEmbarqueFacturaSeleccionado.cuenta}"
									style="width: 300px !important;">
								</p:inputText>
								<p:message for="txt_facuenta"/>
								
								<h:outputLabel value="SWIFT: " for="txt_faswift"/>
								<p:inputText id="txt_faswift"
									value="#{tramiteEmbarqueFacturaDataManager.tramiteEmbarqueFacturaSeleccionado.swift}"
									style="width: 300px !important;">
								</p:inputText>
								<p:message for="txt_faswift"/>
							
								<h:outputLabel value="ABA: " for="txt_faaba"/>
								<p:inputText id="txt_faaba"
									value="#{tramiteEmbarqueFacturaDataManager.tramiteEmbarqueFacturaSeleccionado.aba}"
									style="width: 300px !important;">
								</p:inputText>
								<p:message for="txt_faaba"/>
								
								<h:outputLabel value=""/>
								<h:outputLabel value=""/>
								<h:outputLabel value=""/>
							</h:panelGrid>
							
							<h:panelGrid columns="6">
								<h:outputLabel value="Concepto de pago: " for="txt_faconcepto"/>
								<p:inputTextarea id="txt_faconcepto" cols="118" rows="3"
									value="#{tramiteEmbarqueFacturaDataManager.tramiteEmbarqueFacturaSeleccionado.concepto}"
									maxlength="300">
									<f:validateLength maximum="500" />
								</p:inputTextarea>
								<p:message for="txt_faconcepto" />
							</h:panelGrid>
							
						</p:fieldset>
						
						
						<p:fieldset legend="Datos del Giro" style="margin-bottom:20px">
							<h:panelGrid columns="6">
								
								<h:outputLabel value="Giro Directo No.: " for="txt_fagiro"/>
								<p:inputText id="txt_fagiro"
									value="#{tramiteEmbarqueFacturaDataManager.tramiteEmbarqueFacturaSeleccionado.giro}"
									style="width: 200px !important;">
								</p:inputText>
								<p:message for="txt_fagiro"/>
								
								<h:outputLabel value="Fecha del Giro:" for="txt_fafechagiro"/>
								<p:calendar id="txt_fafechagiro"
									value="#{tramiteEmbarqueFacturaDataManager.tramiteEmbarqueFacturaSeleccionado.fechaGiro}"
									pattern="dd/MM/yyyy" locale="es">
								</p:calendar>
								<p:message for="txt_fafechagiro"/>
							</h:panelGrid>
						</p:fieldset>
						
						<h:panelGrid columns="3">
							<h:outputLabel value="Observaciones:" for="txt_faobservacion"/>
							<p:inputTextarea id="txt_faobservacion" cols="160" rows="3"
								value="#{tramiteEmbarqueFacturaDataManager.tramiteEmbarqueFacturaSeleccionado.observacion}"
								maxlength="300">
								<f:validateLength maximum="500" />
							</p:inputTextarea>
							<p:message for="txt_faobservacion" />
							
							
							<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
								action="#{tramiteEmbarqueFacturaController.guardar}" 
								onsuccess="setTimeout(function(){$('#panelMensajes').html('');},1000);"/>
						</h:panelGrid>
					</p:panel>
					
				</p:tab>
	
	
				<p:tab title="Carga de producto" id="tabViewCarga">
					<p:commandButton styleClass="crear" value="#{messages.lbl_nuevo}"
								update=":frmPrincipal:tabViewMasterDetail:tablaCargas, :formCarga:panelCarga, @form"
								action="#{tramiteEmbarquePAController.guardar}"
								actionListener="#{tramiteEmbarqueCargaController.nuevoRegistro}"
								oncomplete="PF('popupCarga').show()" 
								onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);"/>
					<p:dataTable id="tablaCargas" rows="10" paginator="true"
						widgetVar="tablaCargas"
						value="#{tramiteEmbarqueCargaController.lTramiteEmbarqueCargas}"
						emptyMessage="#{messages.advertenciaNoHayDatos}" var="tramiteEmbarqueCarga"
						paginatorPosition="bottom"  styleClass="box-info"
						paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
						
						<p:column headerText="#{messages.lbl_editar}" >
							<p:commandLink
								update=":formCarga:panelCarga"
								oncomplete="PF('popupCarga').show()"
								action="#{tramiteEmbarquePAController.guardar}"
								onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);">
								<h:graphicImage value="../resources/images/icons/pencil.png" />
								<f:setPropertyActionListener value="#{tramiteEmbarqueCarga}"
									target="#{tramiteEmbarquePAController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado}" />
							</p:commandLink>
						</p:column>

						<p:column headerText="#{messages.lbl_eliminar}" >
							<p:commandButton
								update=":frmPrincipal:tabViewMasterDetail:tablaCargas, @this" icon="ui-icon-trash"
								onclick="PF('widgetDeleteConfirmDialogCarga').show()" title="Eliminar Acción">
								<f:setPropertyActionListener value="#{tramiteEmbarqueCarga}"
									target="#{tramiteEmbarquePAController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado}" />
							</p:commandButton>
						</p:column>					
						
						<p:column headerText="Providencia No." >
							<h:outputText value="#{tramiteEmbarqueCarga.providencia}" />
						</p:column>
						
						<p:column headerText="Fecha" >
							<h:outputText value="#{tramiteEmbarqueCarga.fecha}">
								<f:convertDateTime pattern="yyyy-MM-dd"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="Carta Porte No." >
							<h:outputText value="#{tramiteEmbarqueCarga.carta}" />
						</p:column>
						
						<p:column headerText="Compañía Transporte" >
							<h:outputText value="#{tramiteEmbarqueCarga.transporte}" />
						</p:column>
						
						<p:column headerText="Vehículo" >
							<h:outputText value="#{tramiteEmbarqueCarga.vehiculo}" />
						</p:column>
						
						<p:column headerText="Producto" >
							<h:outputText value="#{tramiteEmbarqueCarga.tramiteEmbarque.adjudicacion.catalogoProducto.nombre}" />
						</p:column>
						
						<p:column headerText="Volumen cargado" >
							<h:outputText value="#{tramiteEmbarqueCarga.volumen}">
					    		<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    		</h:outputText>
						</p:column>
						
						<p:column headerText="Apl. Seguro No." >
							<h:outputText value="#{tramiteEmbarqueCarga.seguro}" />
						</p:column>

						<p:column headerText="Ventana" >
							<h:outputText value="#{tramiteEmbarqueCarga.tramiteEmbarque.planificacionImportacion.ventanaInicio} - #{tramiteEmbarqueCarga.tramiteEmbarque.planificacionImportacion.ventanaFin}"/>
						</p:column>
						
						<p:column headerText="Destino" >
							<h:outputText value="#{tramiteEmbarqueCarga.destino}"/>
						</p:column>


					</p:dataTable>
					
				</p:tab>
				
				<p:tab title="Registro de Bls" id="tabViewBL">
				<p:commandButton styleClass="crear" value="#{messages.lbl_nuevo}"
								update=":frmPrincipal:tabViewMasterDetail:tablaTramiteBls, :formRegistroBL:panelRegistroBL, @form"
								action="#{tramiteEmbarquePAController.guardar}"
								actionListener="#{tramiteEmbarqueRegistroBlController.nuevoRegistro}"
								oncomplete="PF('popupRegistroBL').show()" 
								onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);"/>
					<p:dataTable id="tablaTramiteBls" rows="10" paginator="true"
						widgetVar="tablaTramiteBls"
						value="#{tramiteEmbarqueRegistroBlController.lTramiteEmbarqueRegistroBls}"
						emptyMessage="#{messages.advertenciaNoHayDatos}" var="tramiteEmbarqueRegistroBl"
						paginatorPosition="bottom"  styleClass="box-info"
						paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
						
						<p:column  headerText="#{messages.lbl_editar}" >
							<p:commandLink
								update=":formRegistroBL:panelRegistroBL"
								oncomplete="PF('popupRegistroBL').show()"
								action="#{tramiteEmbarquePAController.guardar}"
								onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);">
								<h:graphicImage value="../resources/images/icons/pencil.png" />
								<f:setPropertyActionListener value="#{tramiteEmbarqueRegistroBl}"
									target="#{tramiteEmbarqueRegistroBlController.tramiteEmbarqueRegistroBlSeleccionado.tramiteEmbarqueRegistroBlSeleccionado}" />
							</p:commandLink>
						</p:column>

						<p:column  headerText="#{messages.lbl_eliminar}" >
							<p:commandButton
								update=":frmPrincipal:tabViewMasterDetail:tablaTramiteBls, @this" icon="ui-icon-trash"
								onclick="PF('widgetDeleteConfirmDialog').show()" title="Eliminar Acción">
								<f:setPropertyActionListener value="#{tramiteEmbarqueRegistroBl}"
									target="#{tramiteEmbarqueRegistroBlController.tramiteEmbarqueRegistroBlSeleccionado.tramiteEmbarqueRegistroBlSeleccionado}" />
							</p:commandButton>
						</p:column>

						<p:column headerText="BL No." >
							<h:outputText value="#{tramiteEmbarqueRegistroBl.numero}" />
						</p:column>

						<p:column headerText="Fecha BL" >
							<h:outputText value="#{tramiteEmbarqueRegistroBl.fecha}">
								<f:convertDateTime pattern="yyyy-MM-dd"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="Volumen cargado" >
							<h:outputText value="#{tramiteEmbarqueRegistroBl.volumen}" >
				    			<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    		</h:outputText>
						</p:column>
						
						<p:column headerText="Precio barril" >
							<h:outputText value="#{tramiteEmbarqueRegistroBl.valor}">
				    			<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    		</h:outputText>
						</p:column>


					</p:dataTable>
					
				</p:tab>
			
				<p:tab title="Ord Desaduanamiento" id="tabViewOrdDesad">
					
					<p:panel>
						<h:panelGrid columns="3">
							
							<h:outputLabel value="Distrito Aduanero: " for="lst_dsaduana" styleClass="requerido"/>
							<p:selectOneMenu id="lst_dsaduana"
								value="#{tramiteEmbarqueDesaduanamientoController.tramiteEmbarqueDesaduanamientoSeleccionado.tramiteEmbarqueDesaduanamientoSeleccionado.distritoAduanero}"
								converter="#{distritoAduaneroConverter}" style="width: 220px !important;" panelStyle="width: 220px !important;" required="true">
								<f:selectItem itemLabel="Seleccione" itemValue="" />
				            	<f:selectItems value="#{tramiteEmbarqueDesaduanamientoController.aduanas}" var="aduana" 
				            		itemValue="#{aduana}" itemLabel="#{aduana.nombre}" />							
			 				</p:selectOneMenu>
							<p:message for="lst_dsaduana"/>
							
							<h:outputLabel value="Agente Aduanero: " for="lst_dsagente"/>
							<h:outputLabel id="lst_dsagente" value=""/>
							<h:outputLabel for="lst_dsagente" value=""/>
							
						</h:panelGrid>
					
						<h:panelGrid columns="2">
							
							<p:fieldset legend="Datos de Importacion" style="margin-bottom:20px">
								
								<h:panelGrid columns="2">
										
									<h:outputLabel value="Proveedor:"/>
									<h:outputLabel value="#{tramiteEmbarqueDesaduanamientoController.tramiteEmbarqueDesaduanamientoSeleccionado.proveedor}"/>
									
									<h:outputLabel value="Buque-Tanque:"/>
									<h:outputLabel value="#{tramiteEmbarqueDesaduanamientoController.tramiteEmbarqueDesaduanamientoSeleccionado.buque}"/>
									
									<h:outputLabel value="Producto:"/>
									<h:outputLabel value="#{tramiteEmbarqueDesaduanamientoController.tramiteEmbarqueDesaduanamientoSeleccionado.producto}"/>
									
									<h:outputLabel value="Volumen:"/>
									<h:outputLabel value="#{tramiteEmbarqueDesaduanamientoController.tramiteEmbarqueDesaduanamientoSeleccionado.volumen}"/>
									
									<h:outputLabel value="Flete:"/>
									<h:outputLabel value="#{tramiteEmbarqueDesaduanamientoController.tramiteEmbarqueDesaduanamientoSeleccionado.flete}"/>
									
									<h:outputLabel value="Valor DAT:"/>
									<h:outputLabel value="#{tramiteEmbarqueDesaduanamientoController.tramiteEmbarqueDesaduanamientoSeleccionado.valorDat}"/>
									
									<h:outputLabel value="Fecha BL:"/>
									<h:outputLabel value="#{tramiteEmbarqueDesaduanamientoController.tramiteEmbarqueDesaduanamientoSeleccionado.fechaBl}"/>
									
									<h:outputLabel value="Carta de CrÃ©dito:"/>
									<h:outputLabel value="#{tramiteEmbarqueDesaduanamientoController.tramiteEmbarqueDesaduanamientoSeleccionado.cartaCredito}"/>
									
									<h:outputLabel value="Adj-Contrato:"/>
									<h:outputLabel value="#{tramiteEmbarqueDesaduanamientoController.tramiteEmbarqueDesaduanamientoSeleccionado.adjudicacion}"/>
									
									<h:outputLabel value="Ventana:"/>
									<h:outputLabel value="#{tramiteEmbarqueDesaduanamientoController.tramiteEmbarqueDesaduanamientoSeleccionado.ventanaInicio} - #{tramiteEmbarqueDesaduanamientoController.tramiteEmbarqueDesaduanamientoSeleccionado.ventanaFin}"/>
									
								</h:panelGrid>
								
							</p:fieldset>
							
							
							<p:fieldset legend="Documentos Adjuntos" style="margin-bottom:20px">
								
								<h:panelGrid columns="2">
										
									 <h:panelGrid columns="3" cellpadding="5">
								        <h:outputLabel for="menu" value="Documentos:" />
								        <p:selectCheckboxMenu id="menu" value="#{tramiteEmbarqueDesaduanamientoController.documentosSeleccionados}" label="Documentos Seleccionados"
								                              filter="true" filterMatchMode="startsWith" style="width:600px" panelStyle="width:600px">
								            <f:selectItems value="#{tramiteEmbarqueDesaduanamientoController.documentos}" />
								        </p:selectCheckboxMenu>
								        <p:commandLink value="Actualizar Lista" update="display" rendered="false"/>
								    </h:panelGrid>
								 
								    <p:outputPanel id="display" style="width:300px;padding-left:5px;margin-top:10px" rendered="false">
								        <p:dataList value="#{tramiteEmbarqueDesaduanamientoController.documentosSeleccionados}" var="documento" 
								        	emptyMessage="No se seleccionado ningÃºn documento">
								            #{documento}
								        </p:dataList>
								    </p:outputPanel>
									
								</h:panelGrid>
								
							</p:fieldset>
							
						</h:panelGrid>
						
						<h:panelGrid columns="1">
									
							<p:fieldset legend="Solicitud de Desaduanamiento" style="margin-bottom:20px">
								
								<h:panelGrid columns="9">
								
									<h:outputLabel value="Funcionario que Autoriza: " for="lst_dsfuncionario"/>
									<h:outputLabel id="lst_dsfuncionario" value="Pendiente"/>
									<h:outputLabel value="" for="lst_dsfuncionario"/>
															
									<h:outputLabel value="Número de Oficio: " for="txt_dsoficioaa" />
									<p:inputText id="txt_dsoficioaa" 
										value="#{tramiteEmbarqueDesaduanamientoController.tramiteEmbarqueDesaduanamientoSeleccionado.tramiteEmbarqueDesaduanamientoSeleccionado.numero}"
										style="width: 200px !important;">
									</p:inputText>
									<p:message for="txt_dsoficioaa"/>
									
									<h:outputLabel value="Fecha del Oficio:" for="txt_dsfechaaa"/>
									<p:calendar id="txt_dsfechaaa"
										value="#{tramiteEmbarqueDesaduanamientoController.tramiteEmbarqueDesaduanamientoSeleccionado.tramiteEmbarqueDesaduanamientoSeleccionado.fecha}"
										pattern="dd/MM/yyyy" locale="es">
									</p:calendar>
									<p:message for="txt_dsfechaaa" />
										
									
									<h:outputLabel value=""/>
									<h:outputLabel value=""/>
									<h:outputLabel value=""/>
									<h:outputLabel value=""/>
									<h:outputLabel value=""/>
									<h:outputLabel value=""/>
									
									<p:commandButton styleClass="activator boton doc" value="#{messages.lbl_gdocumento}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
										action="#{tramiteEmbarqueDesaduanamientoController.generarDocumento}"/>
										
									<p:commandButton styleClass="boton" value="#{messages.lbl_notificar}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
										action="#{tramiteEmbarqueDesaduanamientoController.generarDocumento}"/>
									
									<h:outputLabel value=""/>
								</h:panelGrid>
								
							</p:fieldset>
							
						</h:panelGrid>
					
						<h:panelGrid columns="1">
							<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
								action="#{tramiteEmbarqueDesaduanamientoController.guardar}" 
								onsuccess="setTimeout(function(){$('#panelMensajes').html('');},1000);"/>
						</h:panelGrid>
					</p:panel>
					
				</p:tab>
				
				<p:tab title="Documentacion" id="tabViewDocumentos">
					<p:commandButton styleClass="crear" value="#{messages.lbl_nuevo}"
								update=":frmPrincipal:tabViewMasterDetail:tablaTramiteDocs, :formRegistroDoc:panelRegistroDoc, @form"
								action="#{tramiteEmbarquePAController.guardar}"
								actionListener="#{tramiteEmbarqueDocDigitalController.nuevoRegistro}"
								oncomplete="PF('popupRegistroDoc').show()" 
								onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);"/>
					<p:dataTable id="tablaTramiteDocs"  rows="10" paginator="true"
						widgetVar="tablaTramiteDos"
						value="#{tramiteEmbarqueDocDigitalController.lTramiteEmbarquesDocDigital}"
						emptyMessage="#{messages.advertenciaNoHayDatos}" var="tramiteEmbarqueDocDigital"
						paginatorPosition="bottom"  styleClass="box-info"
						paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
						
						<p:column headerText="#{messages.lbl_editar}" >
							<p:commandLink
								update=":formRegistroDoc:panelRegistroDoc"
								oncomplete="PF('popupRegistroDoc').show()"
								action="#{tramiteEmbarquePAController.guardar}"
								onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);">
								<h:graphicImage value="../resources/images/icons/pencil.png" />
								<f:setPropertyActionListener value="#{tramiteEmbarqueDocDigital}"
									target="#{tramiteEmbarqueDocDigitalController.tramiteEmbarqueDocDigitalSeleccionado.tramiteEmbarqueDocDigitalSeleccionado}" />
							</p:commandLink>
						</p:column>

						<p:column  headerText="#{messages.lbl_eliminar}" >
							<p:commandButton
								update=":frmPrincipal:tabViewMasterDetail:tablaTramiteDocs, @this" icon="ui-icon-trash"
								onclick="PF('widgetDeleteConfirmDialogDocDigital').show()" title="Eliminar Acción">
								<f:setPropertyActionListener value="#{tramiteEmbarqueDocDigital}"
									target="#{tramiteEmbarqueDocDigitalController.tramiteEmbarqueDocDigitalSeleccionado.tramiteEmbarqueDocDigitalSeleccionado}" />
							</p:commandButton>
						</p:column>
					
						<p:column headerText="Documento No." >
							<h:outputText value="#{tramiteEmbarqueDocDigital.numero}" />
						</p:column>

						<p:column headerText="Fecha" >
							<h:outputText value="#{tramiteEmbarqueDocDigital.fecha}">
								<f:convertDateTime pattern="yyyy-MM-dd"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="Fecha Recepcion" >
							<h:outputText value="#{tramiteEmbarqueDocDigital.fechaRecepcion}">
								<f:convertDateTime pattern="yyyy-MM-dd"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="Fecha Envio" >
							<h:outputText value="#{tramiteEmbarqueDocDigital.fechaEnvio}">
								<f:convertDateTime pattern="yyyy-MM-dd"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="Tipo" >
							<h:outputText value="#{tramiteEmbarqueDocDigital.tipoDocumento.nombre}" />
						</p:column>
						
						<p:column headerText="Documento" >
							<h:outputText value="#{tramiteEmbarqueDocDigital.ruta}" />
						</p:column>

						
					</p:dataTable>	
					
				</p:tab>

			</p:tabView>

		</h:form>
		
		<!-- formularios para Carga -->
		<p:dialog modal="true" widgetVar="popupCarga"
			id="popupCarga">
			<f:facet name="header">
				<h:outputText value="Registro de Carga de Producto" />
			</f:facet>
			<f:facet name="controls">
				<h:outputLink value="#"
					onclick="PF('popupCarga').hide(); return false;">
					X
                </h:outputLink>
			</f:facet>
			
			<h:form id="formCarga" prependId="false">
				<p:outputPanel id="panelCarga">
					
					<h:panelGrid id="gridCarga" columns="6">

						<h:outputLabel value="Providencia No.: " for="txt_caprovidencia" styleClass="requerido"/>
						<p:inputText id="txt_caprovidencia" 
							value="#{tramiteEmbarqueCargaController.tramiteEmbarqueCargaSeleccionado.tramiteEmbarqueCargaSeleccionado.providencia}"
							style="width: 200px !important;" required="true">
						</p:inputText>
						<p:message for="txt_caprovidencia"/>
						
						<h:outputLabel value="Carta Porte No.: " for="txt_cacarta" styleClass="requerido"/>
						<p:inputText id="txt_cacarta" 
							value="#{tramiteEmbarqueCargaController.tramiteEmbarqueCargaSeleccionado.tramiteEmbarqueCargaSeleccionado.carta}"
							style="width: 200px !important;" required="true">
						</p:inputText>
						<p:message for="txt_cacarta"/>
						
						<h:outputLabel value="Fecha:" for="txt_cafecha" styleClass="requerido" />
						<p:calendar id="txt_cafecha"
							value="#{tramiteEmbarqueCargaController.tramiteEmbarqueCargaSeleccionado.tramiteEmbarqueCargaSeleccionado.fecha}"
							pattern="dd/MM/yyyy" required="true" locale="es">
						</p:calendar>
						<p:message for="txt_cafecha" />
						
						<h:outputLabel value="Destino: " for="txt_cadestino"/>
						<p:inputText id="txt_cadestino" 
							value="#{tramiteEmbarqueCargaController.tramiteEmbarqueCargaSeleccionado.tramiteEmbarqueCargaSeleccionado.destino}"
							style="width: 400px !important;">
						</p:inputText>
						<p:message for="txt_cadestino"/>
						
						<h:outputLabel value="Producto: " for="txt_caproducto" styleClass="requerido"/>
						<p:inputText id="txt_caproducto" disabled="true"
							value="#{tramiteEmbarqueCargaController.tramiteEmbarqueCargaSeleccionado.tramiteEmbarqueCargaSeleccionado.producto}"
							style="width: 300px !important;" required="true">
						</p:inputText>
						<p:message for="txt_caproducto"/>
					
						<h:outputLabel value="Volumen cargado: " for="txt_cavolumen" styleClass="requerido" />
						<p:inputText id="txt_cavolumen"
							value="#{tramiteEmbarqueCargaController.tramiteEmbarqueCargaSeleccionado.tramiteEmbarqueCargaSeleccionado.volumen}"
							style="width: 120px !important;" required="true" styleClass="soloNumeros">
							<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
				    		<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    		<p:ajax event="blur" update="@this" />
						</p:inputText>
						<p:message for="txt_cavolumen" />
						
						<h:outputLabel value="Cmp. Transporte: " for="txt_catransporte"/>
						<p:inputText id="txt_catransporte" 
							value="#{tramiteEmbarqueCargaController.tramiteEmbarqueCargaSeleccionado.tramiteEmbarqueCargaSeleccionado.transporte}"
							style="width: 300px !important;">
						</p:inputText>
						<p:message for="txt_catransporte"/>
					
						<h:outputLabel value="Vehículo: " for="txt_cavehiculo"/>
						<p:inputText id="txt_cavehiculo" 
							value="#{tramiteEmbarqueCargaController.tramiteEmbarqueCargaSeleccionado.tramiteEmbarqueCargaSeleccionado.vehiculo}"
							style="width: 300px !important;">
						</p:inputText>
						<p:message for="txt_cavehiculo"/>
						
						<h:outputLabel value="Conductor: " for="txt_caconductor"/>
						<p:inputText id="txt_caconductor" 
							value="#{tramiteEmbarqueCargaController.tramiteEmbarqueCargaSeleccionado.tramiteEmbarqueCargaSeleccionado.conductor}"
							style="width: 300px !important;">
						</p:inputText>
						<p:message for="txt_caconductor"/>
					
					</h:panelGrid>
					
					<h:panelGrid columns="1">
					
						<p:fieldset legend="Datos de la Aplicacion de Seguro" style="margin-bottom:20px">
							<h:panelGrid columns="3">
								<h:outputLabel value="Memorando No.:" for="txt_camemorando"/>
								<p:inputText id="txt_camemorando" 
									value="#{tramiteEmbarqueCargaController.tramiteEmbarqueCargaSeleccionado.tramiteEmbarqueCargaSeleccionado.documento}"
									style="width: 60px !important;">
								</p:inputText>
								<p:message for="txt_camemorando" />
								
								<h:outputLabel value="Fecha Generación:" for="txt_cafechagen"/>
								<p:calendar id="txt_cafechagen"
									value="#{tramiteEmbarqueCargaController.tramiteEmbarqueCargaSeleccionado.tramiteEmbarqueCargaSeleccionado.fechaDocumento}"
									pattern="dd/MM/yyyy" locale="es">
								</p:calendar>
								<p:message for="txt_cafechagen" />
								
								<h:outputLabel value="Aplicación Seguro No.:" for="txt_caseguro"/>
								<h:outputLabel id="txt_caseguro" value="pendiente"/>
								<p:message for="txt_caseguro" />
								
								<p:commandButton styleClass="boton" value="Ingresar Seguro"
									action="#{tramiteEmbarqueCargaController.generarDocumento}"/>
								<p:commandButton styleClass="activator boton doc" value="#{messages.lbl_gdocumento}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
									action="#{tramiteEmbarqueCargaController.generarDocumento}"/>
									
							</h:panelGrid>
						</p:fieldset>
					
					</h:panelGrid>
					
					<h:panelGrid columns="3">
						<h:outputLabel value="Observaciones: " for="txt_caobservacion"/>
						<p:inputTextarea id="txt_caobservacion" cols="120" rows="3"
							value="#{tramiteEmbarqueCargaController.tramiteEmbarqueCargaSeleccionado.tramiteEmbarqueCargaSeleccionado.observacion}"
							maxlength="300">
							<f:validateLength maximum="500" />
						</p:inputTextarea>
						<p:message for="txt_caobservacion" />
					</h:panelGrid>
					
					<h:panelGrid columns="6">
					
						<f:facet name="footer">
							<h:panelGrid columns="2">
								<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}"
									update=":frmPrincipal:tabViewMasterDetail:tablaCargas, :formCarga:panelCarga, @form"
									actionListener="#{tramiteEmbarqueCargaController.guardar}"/>
								<p:commandButton styleClass="cancelar" value="#{messages.lbl_cancelar}" action="#"
									onclick="PF('popupCarga').hide(); return false;"/>
							</h:panelGrid>
						</f:facet>

					</h:panelGrid>
				</p:outputPanel>
			</h:form>

		</p:dialog>

		<p:confirmDialog message="Está seguro que desea eliminar?"
			widgetVar="widgetDeleteConfirmDialogCarga" header="Advertencia"
			severity="alert">
			<p:commandButton styleClass="boton" value="Si"
				action="#{tramiteEmbarqueCargaController.eliminar}"
				update=":frmPrincipal:tabViewMasterDetail:tablaCargas"
				oncomplete="PF('widgetDeleteConfirmDialogCarga').hide(); return false;" 
				onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);"/>
			<p:commandButton styleClass="boton" value="No"
				oncomplete="PF('widgetDeleteConfirmDialogCarga').hide()" />
		</p:confirmDialog>
		
		<!-- formularios para Registro BL -->
		<p:dialog modal="true" widgetVar="popupRegistroBL"
			id="popupRegistroBL">
			<f:facet name="header">
				<h:outputText value="Registro de BL" />
			</f:facet>
			<f:facet name="controls">
				<h:outputLink value="#"
					onclick="PF('popupRegistroBL').hide(); return false;">
					X
                </h:outputLink>
			</f:facet>
			
			<h:form id="formRegistroBL" prependId="false">
				<p:outputPanel id="panelRegistroBL">
					<h:panelGrid id="gridRegistroBL" columns="3">

						<h:outputLabel value="BL No: " for="txt_blnumero" styleClass="requerido" />
						<p:inputText id="txt_blnumero"
							value="#{tramiteEmbarqueRegistroBlController.tramiteEmbarqueRegistroBlSeleccionado.tramiteEmbarqueRegistroBlSeleccionado.numero}"
							style="width: 60px !important;" required="true">
						</p:inputText>
						<p:message for="txt_blnumero" />
						
						<h:outputLabel value="Fecha BL:" for="txt_blfecha" styleClass="requerido" />
						<p:calendar id="txt_blfecha"
							value="#{tramiteEmbarqueRegistroBlController.tramiteEmbarqueRegistroBlSeleccionado.tramiteEmbarqueRegistroBlSeleccionado.fecha}"
							pattern="dd/MM/yyyy" required="true" locale="es">
						</p:calendar>
						<p:message for="txt_blfecha" />
						
						<h:outputLabel value="Volumen: " for="txt_blvolumen" styleClass="requerido" />
						<p:inputText id="txt_blvolumen"
							value="#{tramiteEmbarqueRegistroBlController.tramiteEmbarqueRegistroBlSeleccionado.tramiteEmbarqueRegistroBlSeleccionado.volumen}"
							style="width: 150px !important;" required="true" styleClass="soloNumeros">
    						<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
				    		<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    		<p:ajax event="blur" update="@this" />
						</p:inputText>
						<p:message for="txt_blvolumen" />

						<h:outputLabel value="Precio por Barril: " for="txt_blprecio" />
						<p:inputText id="txt_blprecio"
							value="#{tramiteEmbarqueRegistroBlController.tramiteEmbarqueRegistroBlSeleccionado.tramiteEmbarqueRegistroBlSeleccionado.valor}"
							style="width: 150px !important;" required="true" styleClass="soloNumeros">
							<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
				    		<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    		<p:ajax event="blur" update="@this" />
						</p:inputText>
						<p:message for="txt_blprecio" />

						<f:facet name="footer">
							<h:panelGrid columns="2">
								<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}"
									update=":frmPrincipal:tabViewMasterDetail:tablaTramiteBls, :formRegistroBL:panelRegistroBL, @form"
									actionListener="#{tramiteEmbarqueRegistroBlController.guardar}"/>
								<p:commandButton styleClass="cancelar" value="#{messages.lbl_cancelar}" action="#"
									onclick="PF('popupRegistroBL').hide(); return false;"/>
							</h:panelGrid>
						</f:facet>

					</h:panelGrid>
				</p:outputPanel>
			</h:form>

		</p:dialog>

		<p:confirmDialog message="Está seguro que desea eliminar?"
			widgetVar="widgetDeleteConfirmDialog" header="Advertencia"
			severity="alert">
			<p:commandButton styleClass="boton" value="Si"
				action="#{tramiteEmbarqueRegistroBlController.eliminar}"
				update=":frmPrincipal:tabViewMasterDetail:tablaTramiteBls"
				oncomplete="PF('widgetDeleteConfirmDialog').hide(); return false;" 
				onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);"/>
			<p:commandButton styleClass="boton" value="No"
				oncomplete="PF('widgetDeleteConfirmDialog').hide()" />
		</p:confirmDialog>
				
		<!-- formularios para Registro de Documentos digitales -->
		<p:dialog modal="true" widgetVar="popupRegistroDoc"
			id="popupRegistroDoc">
			<f:facet name="header">
				<h:outputText value="Registro de Documentos Digitales" />
			</f:facet>
			<f:facet name="controls">
				<h:outputLink value="#"
					onclick="PF('popupRegistroDoc').hide(); return false;">
					X
                </h:outputLink>
			</f:facet>
			
			<h:form id="formRegistroDoc" prependId="false">
				<p:outputPanel id="panelRegistroDoc">
					
					<h:panelGrid id="gridRegistroDoc" columns="3">

						<h:outputLabel value="Tipo Documento: " for="lst_dgtipodoc"/>
						<p:selectOneMenu id="lst_dgtipodoc"
							value="#{tramiteEmbarqueDocDigitalController.tramiteEmbarqueDocDigitalSeleccionado.tramiteEmbarqueDocDigitalSeleccionado.tipoDocumento}"
							converter="#{tipoDocumentoConverter}" style="width: 200px !important;" panelStyle="width:200px !important;" >
							<f:selectItem itemLabel="Seleccione.." itemValue="" />
			            	<f:selectItems value="#{tramiteEmbarqueDocDigitalController.tipoDocumentos}" var="tipodoc" 
			            		itemValue="#{tipodoc}" itemLabel="#{tipodoc.nombre}" />							
		 				</p:selectOneMenu>
		 				<p:message for="lst_dgtipodoc"/>
						
						<h:outputLabel value="Fecha Ingreso:" for="txt_dgfechaIng" styleClass="requerido" />
						<p:calendar id="txt_dgfechaIng"
							value="#{tramiteEmbarqueDocDigitalController.tramiteEmbarqueDocDigitalSeleccionado.tramiteEmbarqueDocDigitalSeleccionado.fecha}"
							pattern="dd/MM/yyyy" required="true" locale="es">
						</p:calendar>
						<p:message for="txt_dgfechaIng" />
					
						<h:outputLabel value="Número de Documento: " for="txt_dgnumero" />
						<p:inputText id="txt_dgnumero" 
							value="#{tramiteEmbarqueDocDigitalController.tramiteEmbarqueDocDigitalSeleccionado.tramiteEmbarqueDocDigitalSeleccionado.numero}"
							style="width: 200px !important;">
						</p:inputText>
						<p:message for="txt_dgnumero"/>
						
		 	
						<h:outputLabel value="Proveedor:"/>
						<h:outputLabel value="Pendiente"/>
						<h:outputLabel value=""/>
						
						<h:outputLabel value="Institución:"/>
						<h:outputLabel value="Pendiente"/>
						<h:outputLabel value=""/>
						
						<h:outputLabel value="Observaciones: " for="txt_dgobservacion"/>
						<p:inputTextarea id="txt_dgobservacion" cols="100" rows="3"
							value="#{tramiteEmbarqueDocDigitalController.tramiteEmbarqueDocDigitalSeleccionado.tramiteEmbarqueDocDigitalSeleccionado.observacion}"
							maxlength="300">
							<f:validateLength maximum="500" />
						</p:inputTextarea>
						<p:message for="txt_dgobservacion" />
						
						<h:outputLabel value="Fecha Envio:" for="txt_dgfechaEnv"/>
						<p:calendar id="txt_dgfechaEnv"
							value="#{tramiteEmbarqueDocDigitalController.tramiteEmbarqueDocDigitalSeleccionado.tramiteEmbarqueDocDigitalSeleccionado.fechaEnvio}"
							pattern="dd/MM/yyyy" locale="es">
						</p:calendar>
						<p:message for="txt_dgfechaEnv" />
						
						<h:outputLabel value="Fecha Recepción:" for="txt_dgfechaRec"/>
						<p:calendar id="txt_dgfechaRec"
							value="#{tramiteEmbarqueDocDigitalController.tramiteEmbarqueDocDigitalSeleccionado.tramiteEmbarqueDocDigitalSeleccionado.fechaRecepcion}"
							pattern="dd/MM/yyyy" locale="es">
						</p:calendar>
						<p:message for="txt_dgfechaRec" />

						<f:facet name="footer">
							<h:panelGrid columns="2">
								<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}"
									update=":frmPrincipal:tabViewMasterDetail, :frmPrincipal:tabViewMasterDetail:tablaTramiteDocs, :formRegistroDoc:panelRegistroDoc, @form"
									actionListener="#{tramiteEmbarqueDocDigitalController.guardar}"/>
								<p:commandButton styleClass="cancelar" value="#{messages.lbl_cancelar}" action="#"
									onclick="PF('popupRegistroDoc').hide(); return false;"/>
							</h:panelGrid>
						</f:facet>

					</h:panelGrid>
				</p:outputPanel>
			</h:form>

		</p:dialog>

		<p:confirmDialog message="Está seguro que desea eliminar?"
			widgetVar="widgetDeleteConfirmDialogDocDigital" header="Advertencia"
			severity="alert">
			<p:commandButton styleClass="boton" value="Si"
				action="#{tramiteEmbarqueDocDigitalController.eliminar}"
				update=":frmPrincipal:tabViewMasterDetail, :frmPrincipal:tabViewMasterDetail:tablaTramiteDocs"
				oncomplete="PF('widgetDeleteConfirmDialogDocDigital').hide(); return false;" 
				onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);"/>
			<p:commandButton styleClass="boton" value="No"
				oncomplete="PF('widgetDeleteConfirmDialogDocDigital').hide()" />
		</p:confirmDialog>
		
	</ui:define>
</ui:composition>
</html>