<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmTramiteEmbarque">
			<p:messages id="msgs" showDetail="true" redisplay="true"
				autoUpdate="false" closable="true" severity="info,error"/>
							
			<h:panelGrid columns="4">	
					
				<p:outputLabel value="Fecha Trámite Inicio:"/>
				<p:calendar id="txt_fechaIT"
					value="#{tramiteEmbarqueDataManager.filtroFechaIngTra}"
					pattern="dd/MM/yyyy" locale="es">
				</p:calendar>
				<p:outputLabel value="Fecha Trámite Fin:"/>
				<p:calendar id="txt_fechaFT"
					value="#{tramiteEmbarqueDataManager.filtroFechaFinTra}"
					pattern="dd/MM/yyyy" locale="es">
				</p:calendar>
										
				<p:outputLabel value="Fecha Adjudicación Inicio:"/>
				<p:calendar id="txt_fechaIV"
					value="#{tramiteEmbarqueDataManager.filtroFechaIniVen}"
					pattern="dd/MM/yyyy" locale="es">
				</p:calendar>
				<p:outputLabel value="Fecha Adjudicación Fin:"/>
				<p:calendar id="txt_fechaFV"
					value="#{tramiteEmbarqueDataManager.filtroFechaFinVen}"
					pattern="dd/MM/yyyy" locale="es">
				</p:calendar>
				
				<p:outputLabel value="No. Adjudicación o Cont: "/>
				<p:selectOneMenu id="lst_fadjudicacion" value="#{tramiteEmbarqueDataManager.filtroAdjudicacion}"
					style="width: 250px !important;">
					<f:selectItem itemLabel="Seleccione.." itemValue="" />
					<f:selectItems value="#{tramiteEmbarqueController.adjudicaciones}" var="adjudicacion" itemValue="#{adjudicacion.id}" itemLabel="#{adjudicacion.numeroContrato}" />							
				</p:selectOneMenu>
				<p:outputLabel value="Cliente / Proveedor: "/>
				<p:selectOneMenu id="lst_fproveedor" value="#{tramiteEmbarqueDataManager.filtroProveedor}"
					style="width: 250px !important;">
					<f:selectItem itemLabel="Seleccione.." itemValue="" />
					<f:selectItems value="#{tramiteEmbarqueController.actores}" var="actor" itemValue="#{actor.id}" itemLabel="#{actor.razonSocial}" />							
				</p:selectOneMenu>
				<p:outputLabel value="No. Trámite: "/>
				<p:inputText id="txt_ftramite" style="width: 243px !important;"
					value="#{tramiteEmbarqueDataManager.filtroTramite}">
				</p:inputText>
			</h:panelGrid>
			
			<h:panelGroup layout="block">	
				<p:commandButton styleClass="buscar" title="Filtrar registros"
					value="BUSCAR" update=":frmTramiteEmbarque"
					action="#{tramiteEmbarqueController.buscar}"/>
				<p:commandButton styleClass="crear" value="#{messages.lbl_nuevo}"
				action="#{tramiteEmbarqueController.nuevoRegistro}" />			
			</h:panelGroup>
				
				
			<p:dataTable id="tablaRegistro" rows="10" paginator="true"
				value="#{tramiteEmbarqueController.lTramiteEmbarques}"
				emptyMessage="#{messages.advertenciaNoHayDatos}" var="tramiteEmbarque"
				paginatorPosition="bottom"  styleClass="box-info"
				paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
				
				<p:column >
					<p:commandLink update="@this"
						action="#{tramiteEmbarqueController.editar}">
						<h:graphicImage value="../resources/images/icons/pencil.png" />
						<f:setPropertyActionListener value="#{tramiteEmbarque}"
							target="#{tramiteEmbarqueController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado}" />
					</p:commandLink>
					<p:commandButton update="@this" icon="ui-icon-trash"
						onclick="PF('widgetDeleteConfirmDialog').show()" title="Eliminar Acción">						
						<f:setPropertyActionListener value="#{tramiteEmbarque}"
							target="#{tramiteEmbarqueController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado}" />
					</p:commandButton>
				</p:column>
					
				<p:column headerText="Adjudicación o Contrato">
					<h:outputText value="#{tramiteEmbarque.adjudicacion.numeroContrato}" />
				</p:column>
				
				<p:column headerText="Ventana" >
					<h:outputText value="#{tramiteEmbarque.planificacionImportacion.ventanaInicio} - #{tramiteEmbarque.planificacionImportacion.ventanaFin}" />
				</p:column>
				
				<p:column headerText="Trámite Importación" >
					<h:outputText value="#{tramiteEmbarque.numero}" />
				</p:column>
				
				<p:column headerText="Fecha Ingreso" >
					<h:outputText value="#{tramiteEmbarque.fechaIngreso}">
						<f:convertDateTime pattern="yyyy-MM-dd"/>
					</h:outputText>
				</p:column>
				
				<p:column headerText="Proveedor" >
					<h:outputText value="#{tramiteEmbarque.adjudicacion.actor.razonSocial}" />
				</p:column>
				
				<p:column headerText="Producto" >
					<h:outputText value="#{tramiteEmbarque.adjudicacion.catalogoProducto.nombre}" />
				</p:column>
				
				<p:column headerText="Volumen" >
					<h:outputText value="#{tramiteEmbarque.volumen}">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</h:outputText>	
				</p:column>
				
				<p:column headerText="Monto proforma">
					<h:outputText value="#{tramiteEmbarque.valorProforma}">
						<f:convertNumber locale="es_EC" pattern="####,###.##" minFractionDigits="2"/>
					</h:outputText>
				</p:column>
				
				<p:column headerText="Carta de Crédito" >
					<h:outputText value="pendiente" />
				</p:column>
				
			</p:dataTable>
			
		</h:form>
		
					
		<p:confirmDialog message="Está seguro que desea eliminar?"
			widgetVar="widgetDeleteConfirmDialog"
			header="Advertencia" severity="alert">
			<p:commandButton styleClass="boton" value="Si" action="#{tramiteEmbarqueController.eliminar()}"
				update=":frmTramiteEmbarque:tablaRegistro" oncomplete="PF('widgetDeleteConfirmDialog').hide()" />				
			<p:commandButton styleClass="boton" value="No" oncomplete="PF('widgetDeleteConfirmDialog').hide()" />
		</p:confirmDialog>
		
	</ui:define>
</ui:composition>
</html>