<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmPrincipal">
			<p:messages id="msgs" showDetail="true" redisplay="true"
				autoUpdate="false" closable="true" severity="info,error"/>
			<p:tabView orientation="top" dynamic="false" id="tabViewMasterDetail"
				widgetVar="tabViewMasterDetail" styleClass="styleTabViewMasterDetail"
				onTabShow="blockClickAccordion();">

				<p:tab title="Trámite Imp" id="tabMaster">
						
						<p:panel id="panelFormularioMaster">
							<h:panelGrid columns="9">
								
								<h:outputLabel value="No. Trámite: " for="txt_tramite" styleClass="requerido"/>
								<p:inputText id="txt_tramite" 
									value="#{tramiteEmbarqueGCCController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.numero}"
									style="width: 250px !important;" required="true">
								</p:inputText>
								<p:message for="txt_tramite"/>
									
								<h:outputLabel value="Fecha Ingreso:" for="txt_fechaIng" styleClass="requerido" />
								<p:calendar id="txt_fechaIng"
									value="#{tramiteEmbarqueGCCController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.fechaIngreso}"
									pattern="dd/MM/yyyy" required="true" locale="es">
								</p:calendar>
								<p:message for="txt_fechaIng" />
							
								<h:outputLabel value="Estado: " for="lst_estados" styleClass="requerido"/>
								<p:selectOneMenu id="lst_estados"
									value="#{tramiteEmbarqueGCCController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.estadoTramiteEmbarque}"
									converter="#{estadoTramiteEmbarqueConverter}" style="width: 260px !important;" required="true">
					            	<f:selectItem itemLabel="Seleccione.." itemValue="" />
					            	<f:selectItems value="#{tramiteEmbarqueGCCController.estadosTramiteEmbarques}" var="estadoTramiteEmbarque" 
					            		itemValue="#{estadoTramiteEmbarque}" itemLabel="#{estadoTramiteEmbarque.nombre}" />							
				 				</p:selectOneMenu>
								<p:message for="lst_estados"/>
								
							</h:panelGrid>
							
							<h:panelGrid columns="6">
							
								<h:outputLabel value="Adjudicación: " for="lst_adjudicacion" styleClass="requerido"/>
								<p:selectOneMenu id="lst_adjudicacion"
									value="#{tramiteEmbarqueGCCController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.adjudicacion}"
									converter="#{adjudicacionConverter}" style="width: 260px !important;" required="true">
					            	<f:selectItem itemLabel="Seleccione.." itemValue="" />
					            	<f:selectItems value="#{tramiteEmbarqueGCCController.adjudicaciones}" var="adjudicacion" 
					            		itemValue="#{adjudicacion}" itemLabel="#{adjudicacion.numeroContrato}" />
					            	<p:ajax update=":frmPrincipal:tabViewMasterDetail:lst_ventana" event="change" listener="#{tramiteEmbarqueGCCController.cargarPlanificacionImp}"  process="@this"/>							
				 				</p:selectOneMenu>
								<p:message for="lst_adjudicacion"/>
								
								<h:outputLabel value="Plan - Ventana: " for="lst_ventana" styleClass="requerido"/>
								<p:selectOneMenu id="lst_ventana"
									value="#{tramiteEmbarqueGCCController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.planificacionImportacion}"
									converter="#{planificacionImportacionConverter}" style="width: 260px !important;" required="true">
					            	<f:selectItem itemLabel="Seleccione.." itemValue="" />
					            	<f:selectItems value="#{tramiteEmbarqueGCCController.planificacionesImp}" var="pi" 
					            		itemValue="#{pi}" itemLabel="#{pi.ventanaInicio} - #{pi.ventanaFin}" />
					            	<p:ajax update=":frmPrincipal:tabViewMasterDetail:txt_fechaAdj,:frmPrincipal:tabViewMasterDetail:txt_negociacion,:frmPrincipal:tabViewMasterDetail:txt_producto" event="change" listener="#{tramiteEmbarqueGCCController.cargarDatosAdjudicacion}"  process="@this"/>							
				 				</p:selectOneMenu>
								<p:message for="lst_ventana"/>
								
								<h:outputLabel value="Fecha Adjudicación:" for="txt_fechaAdj"/>
								<p:calendar id="txt_fechaAdj" disabled="true"
									value="#{tramiteEmbarqueGCCController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.fechaAdjudicacion}"
									pattern="dd/MM/yyyy" locale="es">
								</p:calendar>
								<p:message for="txt_fechaAdj" />
								
								<h:outputLabel value="Negociación:" for="txt_negociacion"/>
								<p:inputText id="txt_negociacion" disabled="true"
									value="#{tramiteEmbarqueGCCController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.negociacion}"
									style="width: 250px !important;">
								</p:inputText>
								<p:message for="txt_negociacion" />
							
							</h:panelGrid>
								
							<h:panelGrid columns="3">
								
								<h:outputLabel value="Producto:" for="txt_producto" styleClass="requerido"/>
								<p:inputText id="txt_producto" disabled="true" 
									value="#{tramiteEmbarqueGCCController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.producto}"
									style="width: 450px !important;">
								</p:inputText>
								<p:message for="txt_producto" />
								
								<h:outputLabel value="Puertos de Embarque:" for="txt_pembarque"/>
								<p:inputText id="txt_pembarque"  
									value="#{tramiteEmbarqueGCCController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.puertoEmbarque}"
									style="width: 450px !important;">
								</p:inputText>
								<p:message for="txt_pembarque" />
								
								<h:outputLabel value="Puertos de Descarga:" for="txt_pdescarga"/>
								<p:inputText id="txt_pdescarga" 
									value="#{tramiteEmbarqueGCCController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.adcPuertoDescarga}"
									style="width: 450px !important;">
								</p:inputText>
								<p:message for="txt_pdescarga" />
								
								<h:outputLabel value="Buque - Tanque:" for="txt_buque"/>
								<p:inputText id="txt_buque" 
									value="#{tramiteEmbarqueGCCController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.nombreBuque}"
									style="width: 450px !important;">
								</p:inputText>
								<p:message for="txt_buque" />
								
								<h:outputLabel value="Compañía Inspectora: " for="lst_cinspectora"/>
								<p:selectOneMenu id="lst_cinspectora"
									value="#{tramiteEmbarqueGCCController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.companiaInspectora}"
									converter="#{companiaInspectoraConverter}" style="width: 460px !important;">
					            	<f:selectItem itemLabel="Seleccione.." itemValue="" />
					            	<f:selectItems value="#{tramiteEmbarqueGCCController.companiasInspectoras}" var="ci" 
					            		itemValue="#{ci}" itemLabel="#{ci.nombre}" />							
				 				</p:selectOneMenu>
								<p:message for="lst_cinspectora"/>
								
								<h:outputLabel value="Observaciones: " for="txt_observacion"/>
								<p:inputTextarea id="txt_observacion" cols="120" rows="3"
									value="#{tramiteEmbarqueGCCController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.observacion}"
									maxlength="300">
									<f:validateLength maximum="500" />
								</p:inputTextarea>
								<p:message for="txt_observacion" />
								
							</h:panelGrid>
							
							<h:panelGrid columns="2">
							
								<p:fieldset legend="Datos de la Proforma" style="margin-bottom:20px">
									
									<h:panelGrid columns="3">
									
										<h:outputLabel value="Factura-proforma No.:" for="txt_proforma"/>
										<p:inputText id="txt_proforma" 
											value="#{tramiteEmbarqueGCCController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.numeroProforma}"
											style="width: 250px !important;">
										</p:inputText>
										<p:message for="txt_proforma" />
										
										<h:outputLabel value="Fecha Documento:" for="txt_fechadocumento"/>
										<p:calendar id="txt_fechadocumento"
											value="#{tramiteEmbarqueGCCController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.fechaProforma}"
											pattern="dd/MM/yyyy" locale="es">
										</p:calendar>
										<p:message for="txt_fechadocumento" />
										
										<h:outputLabel value="Valor:" for="txt_valordocumento"/>
										<p:inputText id="txt_valordocumento"
											value="#{tramiteEmbarqueGCCController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.valorProforma}"
											style="width: 250px !important;" styleClass="soloNumeros">
											<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
				    						<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    						<p:ajax event="blur" update="@this" />
										</p:inputText>
										<p:message for="txt_valordocumento" />
											
									</h:panelGrid>
								</p:fieldset>
								
								<p:fieldset legend="Datos de la Aplicación de Seguro" style="margin-bottom:20px">
									<h:panelGrid columns="3">
										<h:outputLabel value="Memorando No.:" for="txt_memorando"/>
										<p:inputText id="txt_memorando" 
											value="#{tramiteEmbarqueGCCController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.numeroMemorando}"
											style="width: 250px !important;">
										</p:inputText>
										<p:message for="txt_memorando" />
										
										<h:outputLabel value="Fecha Generación:" for="txt_fechagen"/>
										<p:calendar id="txt_fechagen"
											value="#{tramiteEmbarqueGCCController.tramiteEmbarqueSeleccionado.tramiteEmbarqueSeleccionado.fechaGeneracion}"
											pattern="dd/MM/yyyy" locale="es">
										</p:calendar>
										<p:message for="txt_fechagen" />
										
										<h:outputLabel value="Aplicación Seguro No.:" for="txt_seguro"/>
										<h:outputLabel id="txt_seguro" value="pendiente"/>
										<p:message for="txt_seguro" />
										
										<p:commandButton styleClass="boton" value="Ingresar Seguro"
											action="#{tramiteEmbarqueGCCController.generarDocumento}"/>
										<p:commandButton styleClass="activator boton doc" value="#{messages.lbl_gdocumento}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
											action="#{tramiteEmbarqueGCCController.generarDocumento}"/>
											
									</h:panelGrid>
								</p:fieldset>
								
							</h:panelGrid>
							
							<h:panelGrid columns="2">
								<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
									action="#{tramiteEmbarqueGCCController.guardar}" 
									onsuccess="setTimeout(function(){$('#panelMensajes').html('');},1000);"/>
								<p:commandButton styleClass="cancelar" value="#{messages.lbl_atras}" immediate="true"
									update=":frmPrincipal:tabViewMasterDetail, @form" action="#{tramiteEmbarqueGCCController.atras}" />
							</h:panelGrid>
							
						</p:panel>
						
				</p:tab>
				
				<p:tab title="Carta de Crédito" id="tabViewCartaCredito">
				
					<p:panel id="panelFormularioModPago">
						<h:panelGrid columns="3">
								
							<h:outputLabel value="Valor del Embarque: " for="txt_valortexto" />
							<p:inputText id="txt_valortexto" 
								value="#{tramiteEmbarqueModPagoController.tramiteEmbarqueModPagoSeleccionado.tramiteEmbarqueModPagoSeleccionado.valorTexto}"
								style="width: 850px !important;">
							</p:inputText>
							<p:message for="txt_valortexto"/>
							
							<h:outputLabel value="Proveedor: " for="txt_ccproveedor" />
							<p:inputText id="txt_ccproveedor" 
								value="#{tramiteEmbarqueModPagoDataManager.proveedor}"
								style="width: 650px !important;">
							</p:inputText>
							<p:message for="txt_ccproveedor"/>
							
							<h:outputLabel value="Dirección: " for="txt_direccionCC" />
							<p:inputText id="txt_direccionCC" 
								value="#{tramiteEmbarqueModPagoController.tramiteEmbarqueModPagoSeleccionado.tramiteEmbarqueModPagoSeleccionado.direccionBeneficiario}"
								style="width: 850px !important;">
							</p:inputText>
							<p:message for="txt_direccionCC"/>
							
							<h:outputLabel value="Solicitante: " for="txt_solicitante" />
							<p:inputText id="txt_solicitante" 
								value="#{tramiteEmbarqueModPagoController.tramiteEmbarqueModPagoSeleccionado.tramiteEmbarqueModPagoSeleccionado.solicitante}"
								style="width: 650px !important;">
							</p:inputText>
							<p:message for="txt_solicitante"/>
						
						</h:panelGrid>
						
						<h:panelGrid columns="6">
						
							<h:outputLabel value="Volumen Embarque: " for="txt_ccvolumen" />  
							<p:inputText id="txt_ccvolumen" 
								value="#{tramiteEmbarqueModPagoController.tramiteEmbarqueModPagoSeleccionado.tramiteEmbarqueModPagoSeleccionado.volumenEmbarque}"
								style="width: 350px !important;">
  								<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
				    			<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    			<p:ajax event="blur" update="@this" />
							</p:inputText>
							<p:message for="txt_ccvolumen"/>
							
							<h:outputLabel value="Tolerancia: " for="txt_cctolerancia" /> 
							<p:inputText id="txt_cctolerancia" 
								value="#{tramiteEmbarqueModPagoController.tramiteEmbarqueModPagoSeleccionado.tramiteEmbarqueModPagoSeleccionado.tolerancia}"
								style="width: 100px !important;">
  								<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
				    			<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    			<p:ajax event="blur" update="@this" />
							</p:inputText>
							<p:message for="txt_cctolerancia"/>
								
						</h:panelGrid>
						
						<h:panelGrid columns="4">
							<h:outputLabel value="Observaciones: " for="txt_ccobservacion"/>
							<p:inputTextarea id="txt_ccobservacion" cols="140" rows="3"
								value="#{tramiteEmbarqueModPagoController.tramiteEmbarqueModPagoSeleccionado.tramiteEmbarqueModPagoSeleccionado.observacion}"
								maxlength="300">
								<f:validateLength maximum="500" />
							</p:inputTextarea>
							<p:message for="txt_ccobservacion"/>
							
							<p:commandButton styleClass="boton" value="Obtener Datos Iniciales" 
								update=":frmPrincipal:tabViewMasterDetail:txt_valortexto, :frmPrincipal:tabViewMasterDetail:txt_ccproveedor, :frmPrincipal:tabViewMasterDetail:txt_direccionCC, :frmPrincipal:tabViewMasterDetail:txt_ccvolumen, :frmPrincipal:tabViewMasterDetail:txt_cctolerancia"
								action="#{tramiteEmbarqueModPagoController.actualizarDatosEmbarque}"/>
							
						</h:panelGrid>
						
						<p:fieldset legend="Solicitar Carta de Crédito" style="margin-bottom:20px">
							
							<h:panelGrid columns="9">
							
								<h:outputLabel value="Institución: BBE: " for="txt_cctolerancia" />
								
								<h:outputLabel value="Número de Oficio: " for="txt_ccoficiobce" />
								<p:inputText id="txt_ccoficiobce" 
									value="#{tramiteEmbarqueModPagoController.tramiteEmbarqueModPagoSeleccionado.tramiteEmbarqueModPagoSeleccionado.numeroOficioBce}"
									style="width: 200px !important;">
								</p:inputText>
								<p:message for="txt_ccoficiobce"/>
								
								<h:outputLabel value="Fecha del Oficio:" for="txt_ccfechabce"/>
								<p:calendar id="txt_ccfechabce"
									value="#{tramiteEmbarqueModPagoController.tramiteEmbarqueModPagoSeleccionado.tramiteEmbarqueModPagoSeleccionado.fechaOficioBce}"
									pattern="dd/MM/yyyy" locale="es">
								</p:calendar>
								<p:message for="txt_ccfechabce" />
								
								<p:commandButton styleClass="activator boton doc" value="#{messages.lbl_gdocumento}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
									action="#{tramiteEmbarqueModPagoController.generarDocumento}"/>
									
								<p:commandButton styleClass="boton" value="#{messages.lbl_notificar}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
									action="#{tramiteEmbarqueModPagoController.generarDocumento}"/>
								
								
								<h:outputLabel value="Institución: MEF: " for="txt_cctolerancia" />
								
								<h:outputLabel value="Número de Oficio: " for="txt_ccoficiomef" />
								<p:inputText id="txt_ccoficiomef" 
									value="#{tramiteEmbarqueModPagoController.tramiteEmbarqueModPagoSeleccionado.tramiteEmbarqueModPagoSeleccionado.numeroOficioMef}"
									style="width: 200px !important;">
								</p:inputText>
								<p:message for="txt_ccoficiomef"/>
								
								<h:outputLabel value="Fecha del Oficio:" for="txt_ccfechamef"/>
								<p:calendar id="txt_ccfechamef"
									value="#{tramiteEmbarqueModPagoController.tramiteEmbarqueModPagoSeleccionado.tramiteEmbarqueModPagoSeleccionado.fechaOficioMef}"
									pattern="dd/MM/yyyy" locale="es">
								</p:calendar>
								<p:message for="txt_ccfechamef" />
								
								<p:commandButton styleClass="activator boton doc" value="#{messages.lbl_gdocumento}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
									action="#{tramiteEmbarqueModPagoController.generarDocumento}"/>
								
								<p:commandButton styleClass="boton" value="#{messages.lbl_notificar}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
									action="#{tramiteEmbarqueModPagoController.generarDocumento}"/>
								
							</h:panelGrid>
							
						</p:fieldset>
						
						<p:fieldset legend="Registrar Carta de Crédito" style="margin-bottom:20px">
								
							<h:panelGrid columns="3">
								
								<h:outputLabel value="Beneficiario: " for="txt_ccbeneficiario" />
								<p:inputText id="txt_ccbeneficiario" 
									value="#{tramiteEmbarqueModPagoController.tramiteEmbarqueModPagoSeleccionado.tramiteEmbarqueModPagoSeleccionado.beneficiario}"
									style="width: 650px !important;">
								</p:inputText>
								<p:message for="txt_ccbeneficiario"/>
							</h:panelGrid>
							
							<h:panelGrid columns="6">
								<h:outputLabel value="Carta de Crédito No.: " for="txt_ccnumero" />
								<p:inputText id="txt_ccnumero" 
									value="#{tramiteEmbarqueModPagoController.tramiteEmbarqueModPagoSeleccionado.tramiteEmbarqueModPagoSeleccionado.numero}"
									style="width: 200px !important;">
								</p:inputText>
								<p:message for="txt_ccnumero"/>
								
								<h:outputLabel value="Fecha aproximada de pago:" for="txt_ccfechaap"/>
								<p:calendar id="txt_ccfechaap"
									value="#{tramiteEmbarqueModPagoController.tramiteEmbarqueModPagoSeleccionado.tramiteEmbarqueModPagoSeleccionado.fechaPago}"
									pattern="dd/MM/yyyy" locale="es">
								</p:calendar>
								<p:message for="txt_ccfechaap" />
								
								<h:outputLabel value="Fecha de Apertura:" for="txt_ccfechaapertura"/>
								<p:calendar id="txt_ccfechaapertura"
									value="#{tramiteEmbarqueModPagoController.tramiteEmbarqueModPagoSeleccionado.tramiteEmbarqueModPagoSeleccionado.fechaApertura}"
									pattern="dd/MM/yyyy" locale="es">
								</p:calendar>
								<p:message for="txt_ccfechaapertura" />
								
								<h:outputLabel value="Fecha de Vencimiento:" for="txt_ccfechavencc"/>
								<p:calendar id="txt_ccfechavencc"
									value="#{tramiteEmbarqueModPagoController.tramiteEmbarqueModPagoSeleccionado.tramiteEmbarqueModPagoSeleccionado.fechaVencimiento}"
									pattern="dd/MM/yyyy" locale="es">
								</p:calendar>
								<p:message for="txt_ccfechavencc" />
								
								
								<h:outputLabel value=""/>
								<h:outputLabel value=""/>
								<h:outputLabel value="ANULACIÓN CARTA DE CREDITO"/>
								<h:outputLabel value=""/>
								<h:outputLabel value=""/>
								<h:outputLabel value=""/>
								
								<h:outputLabel value="Documento No.: " for="txt_ccnumerodoc" />
								<p:inputText id="txt_ccnumerodoc" 
									value="#{tramiteEmbarqueModPagoController.tramiteEmbarqueModPagoSeleccionado.tramiteEmbarqueModPagoSeleccionado.numeroDocumentoacc}"
									style="width: 200px !important;">
								</p:inputText>
								<p:message for="txt_ccnumerodoc"/>
								
								<h:outputLabel value="Fecha Documento:" for="txt_ccfechadoc"/>
								<p:calendar id="txt_ccfechadoc"
									value="#{tramiteEmbarqueModPagoController.tramiteEmbarqueModPagoSeleccionado.tramiteEmbarqueModPagoSeleccionado.fechaDocumentoacc}"
									pattern="dd/MM/yyyy" locale="es">
								</p:calendar>
								<p:message for="txt_ccfechadoc" />
								
								<h:outputLabel value="Fecha Anulación CC:" for="txt_ccfechaacc"/>
								<p:calendar id="txt_ccfechaacc"
									value="#{tramiteEmbarqueModPagoController.tramiteEmbarqueModPagoSeleccionado.tramiteEmbarqueModPagoSeleccionado.fechaAnulacionacc}"
									pattern="dd/MM/yyyy" locale="es">
								</p:calendar>
								<p:message for="txt_ccfechaacc" />
								
								<h:outputLabel value=""/>
								<p:commandButton styleClass="activator boton doc" value="#{messages.lbl_gdocumento}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
										action="#{tramiteEmbarqueFacturaController.generarDocumento}"/>
								<h:outputLabel value=""/>
								
							</h:panelGrid>
							
							<h:panelGrid columns="3">
								<h:outputLabel value="Cargar Documento:" />
								<h:outputLabel value="pendiente" />
								
								<p:commandButton styleClass="boton" value="#{messages.lbl_notificar}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
									action="#{tramiteEmbarqueFacturaController.generarDocumento}"/>
							</h:panelGrid>
							
						</p:fieldset>
						
						<h:panelGrid columns="1">
							<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
								action="#{tramiteEmbarqueModPagoController.guardar}" 
								onsuccess="setTimeout(function(){$('#panelMensajes').html('');},1000);"/>							
						</h:panelGrid>
						
					</p:panel>
					
				</p:tab>
				
				<p:tab title="Registro de Bls" id="tabViewBL">
				<p:commandButton styleClass="crear" value="#{messages.lbl_nuevo}"
								update=":frmPrincipal:tabViewMasterDetail:tablaTramiteBls, :formRegistroBL:panelRegistroBL, @form"
								action="#{tramiteEmbarqueGCCController.guardar}"
								actionListener="#{tramiteEmbarqueRegistroBlController.nuevoRegistro}"
								oncomplete="PF('popupRegistroBL').show()" 
								onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);"/>
					<p:dataTable id="tablaTramiteBls"  rows="10" paginator="true"
						widgetVar="tablaTramiteBls"
						value="#{tramiteEmbarqueRegistroBlController.lTramiteEmbarqueRegistroBls}"
						emptyMessage="#{messages.advertenciaNoHayDatos}" 
						var="tramiteEmbarqueRegistroBl"
						paginatorPosition="bottom"  styleClass="box-info"
						paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
						
						<p:column  headerText="#{messages.lbl_editar}" >
							<p:commandLink
								update=":formRegistroBL:panelRegistroBL"
								oncomplete="PF('popupRegistroBL').show()"
								action="#{tramiteEmbarqueGCCController.guardar}"
								onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);">
								<h:graphicImage value="../resources/images/icons/pencil.png" />
								<f:setPropertyActionListener value="#{tramiteEmbarqueRegistroBl}"
									target="#{tramiteEmbarqueRegistroBlController.tramiteEmbarqueRegistroBlSeleccionado.tramiteEmbarqueRegistroBlSeleccionado}" />
							</p:commandLink>
						</p:column>

						<p:column  headerText="#{messages.lbl_eliminar}" >
							<p:commandButton
								update=":frmPrincipal:tabViewMasterDetail:tablaTramiteBls, @this" icon="ui-icon-trash"
								onclick="PF('widgetDeleteConfirmDialog').show()" title="Eliminar Acción">
								<f:setPropertyActionListener value="#{tramiteEmbarqueRegistroBl}"
									target="#{tramiteEmbarqueRegistroBlController.tramiteEmbarqueRegistroBlSeleccionado.tramiteEmbarqueRegistroBlSeleccionado}" />
							</p:commandButton>
						</p:column>
						
						
						<p:column headerText="BL No." >
							<h:outputText value="#{tramiteEmbarqueRegistroBl.numero}" />
						</p:column>

						<p:column headerText="Fecha BL" >
							<h:outputText value="#{tramiteEmbarqueRegistroBl.fecha}">
								<f:convertDateTime pattern="yyyy-MM-dd"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="Volumen cargado" >
							<h:outputText value="#{tramiteEmbarqueRegistroBl.volumen}" >
				    			<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    		</h:outputText>
						</p:column>
						
						<p:column headerText="Precio barril" >
							<h:outputText value="#{tramiteEmbarqueRegistroBl.valor}">
				    			<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    		</h:outputText>
						</p:column>

						
					</p:dataTable>
					
				</p:tab>
				
				<p:tab title="Descargas" id="tabViewDescarga">
					<p:commandButton styleClass="crear" value="#{messages.lbl_nuevo}"
								update=":frmPrincipal:tabViewMasterDetail:tablaDescargas, :formDescarga:panelDescarga, @form"
								action="#{tramiteEmbarqueGCCController.guardar}"
								actionListener="#{tramiteEmbarqueDescargaController.nuevoRegistro}"
								oncomplete="PF('popupDescarga').show()" 
								onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);"/>
					<p:dataTable id="tablaDescargas"  rows="10" paginator="true"
						widgetVar="tablaDescargas"
						value="#{tramiteEmbarqueDescargaController.lTramiteEmbarqueDescargas}"
						emptyMessage="#{messages.advertenciaNoHayDatos}" var="tramiteEmbarqueDescarga"
						paginatorPosition="bottom"  styleClass="box-info"
						paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
						
						<p:column  headerText="#{messages.lbl_editar}" >
							<p:commandLink
								update=":formDescarga:panelDescarga"
								oncomplete="PF('popupDescarga').show()"
								action="#{tramiteEmbarqueGCCController.guardar}"
								onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);">
								<h:graphicImage value="../resources/images/icons/pencil.png" />
								<f:setPropertyActionListener value="#{tramiteEmbarqueDescarga}"
									target="#{tramiteEmbarqueDescargaController.tramiteEmbarqueDescargaSeleccionado.tramiteEmbarqueDescargaSeleccionado}" />
							</p:commandLink>
						</p:column>

						<p:column  headerText="#{messages.lbl_eliminar}" >
							<p:commandButton
								update=":frmPrincipal:tabViewMasterDetail:tablaDescargas, @this" icon="ui-icon-trash"
								onclick="PF('widgetDeleteConfirmDialogDescarga').show()" title="Eliminar Acción">
								<f:setPropertyActionListener value="#{tramiteEmbarqueDescarga}"
									target="#{tramiteEmbarqueDescargaController.tramiteEmbarqueDescargaSeleccionado.tramiteEmbarqueDescargaSeleccionado}" />
							</p:commandButton>
						</p:column>
					
						<p:column headerText="Fecha inicio Descarga" >
							<h:outputText value="#{tramiteEmbarqueDescarga.fechaInicio}">
								<f:convertDateTime pattern="yyyy-MM-dd"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="Fecha fin Descarga" >
							<h:outputText value="#{tramiteEmbarqueDescarga.fechaFin}">
								<f:convertDateTime pattern="yyyy-MM-dd"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="Volumen descargado" >
							<h:outputText value="#{tramiteEmbarqueDescarga.volumen}">
					    		<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    		</h:outputText>
						</p:column>
						
						<p:column headerText="Puerto" >
							<h:outputText value="#{tramiteEmbarqueDescarga.puertoDescarga.nombre}" />
						</p:column>


					</p:dataTable>
					
				</p:tab>
				
				<p:tab title="Cálculo de Precio" id="tabViewPrecio">
					
				</p:tab>
				
				<p:tab title="Registro de Factura" id="tabViewFactura">
				
					<p:panel>
						<h:panelGrid columns="2">	
							<p:fieldset legend="Registro de Factura" style="margin-bottom:20px">
								
								<h:panelGrid columns="3">
										
									<h:outputLabel value="Factura No.: " for="txt_fanumero" styleClass="requerido"/>
									<p:inputText id="txt_fanumero" 
										value="#{tramiteEmbarqueFacturaController.tramiteEmbarqueFacturaSeleccionado.tramiteEmbarqueFacturaSeleccionado.numero}"
										style="width: 100px !important;" required="true">
									</p:inputText>
									<p:message for="txt_fanumero"/>
									
									<h:outputLabel value="Fecha:" for="txt_fafecha" styleClass="requerido"/>
									<p:calendar id="txt_fafecha"
										value="#{tramiteEmbarqueFacturaController.tramiteEmbarqueFacturaSeleccionado.tramiteEmbarqueFacturaSeleccionado.fecha}"
										pattern="dd/MM/yyyy" required="true" locale="es">
									</p:calendar>
									<p:message for="txt_fafecha" />
								
									<h:outputLabel value="Volumen: " for="txt_favolumen" />  
									<p:inputText id="txt_favolumen" 
										value="#{tramiteEmbarqueFacturaController.tramiteEmbarqueFacturaSeleccionado.tramiteEmbarqueFacturaSeleccionado.volumen}"
										style="width: 200px !important;">
										<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
				    					<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    					<p:ajax event="blur" update="@this" />
									</p:inputText>
									<p:message for="txt_favolumen"/>
									
									<h:outputLabel value="Precio por barril: " for="txt_faprecio" />  
									<p:inputText id="txt_faprecio" 
										value="#{tramiteEmbarqueFacturaController.tramiteEmbarqueFacturaSeleccionado.tramiteEmbarqueFacturaSeleccionado.precio}"
										style="width: 200px !important;">
										<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
				    					<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    					<p:ajax event="blur" update="@this" />
									</p:inputText>
									<p:message for="txt_faprecio"/>
								
									<h:outputLabel value="Flete del buque: " for="txt_faflete" />  
									<p:inputText id="txt_faflete" 
										value="#{tramiteEmbarqueFacturaController.tramiteEmbarqueFacturaSeleccionado.tramiteEmbarqueFacturaSeleccionado.fleteBuque}"
										style="width: 200px !important;">
										<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
				    					<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    					<p:ajax event="blur" update="@this" />
									</p:inputText>
									<p:message for="txt_faflete"/>
									
									<h:outputLabel value="Valor FOB: " for="txt_favalorfob" />  
									<p:inputText id="txt_favalorfob" 
										value="#{tramiteEmbarqueFacturaController.tramiteEmbarqueFacturaSeleccionado.tramiteEmbarqueFacturaSeleccionado.valorFob}"
										style="width: 200px !important;">
										<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
				    					<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    					<p:ajax event="blur" update="@this" />
									</p:inputText>
									<p:message for="txt_favalordat"/>
									
									<h:outputLabel value="Valor DAT: " for="txt_favalordat" />  
									<p:inputText id="txt_favalordat" 
										value="#{tramiteEmbarqueFacturaController.tramiteEmbarqueFacturaSeleccionado.tramiteEmbarqueFacturaSeleccionado.valorDat}"
										style="width: 200px !important;">
										<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
				    					<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    					<p:ajax event="blur" update="@this" />
									</p:inputText>
									<p:message for="txt_favalordat"/>
									
								</h:panelGrid>
								
							</p:fieldset>
									
							<p:fieldset legend="Oficio al Proveedor" style="margin-bottom:20px">
								
								<h:panelGrid columns="3">
															
									<h:outputLabel value="Número de Oficio: " for="txt_faoficioprov" />
									<p:inputText id="txt_faoficioprov" 
										value="#{tramiteEmbarqueFacturaController.tramiteEmbarqueFacturaSeleccionado.tramiteEmbarqueFacturaSeleccionado.numeroOficio}"
										style="width: 200px !important;">
									</p:inputText>
									<p:message for="txt_faoficioprov"/>
									
									<h:outputLabel value="Fecha del Oficio:" for="txt_fafechaprov"/>
									<p:calendar id="txt_fafechaprov"
										value="#{tramiteEmbarqueFacturaController.tramiteEmbarqueFacturaSeleccionado.tramiteEmbarqueFacturaSeleccionado.fechaDocumento}"
										pattern="dd/MM/yyyy" locale="es">
									</p:calendar>
									<p:message for="txt_fafechaprov" />
										
									
									<p:commandButton styleClass="activator boton doc" value="#{messages.lbl_gdocumento}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
										action="#{tramiteEmbarqueFacturaController.generarDocumento}"/>
										
									<p:commandButton styleClass="boton" value="#{messages.lbl_notificar}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
										action="#{tramiteEmbarqueFacturaController.generarDocumento}"/>
									
								</h:panelGrid>
								
							</p:fieldset>
							
						</h:panelGrid>
						
						<h:panelGrid columns="6">
							<p:outputLabel value="Giro Directo No.: " for="txt_fagiro"/>
							<p:inputText id="txt_fagiro"
								value="#{tramiteEmbarqueFacturaController.tramiteEmbarqueFacturaSeleccionado.tramiteEmbarqueFacturaSeleccionado.giro}"
								style="width: 200px !important;">
							</p:inputText>
							<p:message for="txt_fagiro"/>
							
							<p:outputLabel value="Fecha del Giro:" for="txt_fafechagiro"/>
							<p:calendar id="txt_fafechagiro"
								value="#{tramiteEmbarqueFacturaController.tramiteEmbarqueFacturaSeleccionado.tramiteEmbarqueFacturaSeleccionado.fechaGiro}"
								pattern="dd/MM/yyyy" locale="es">
							</p:calendar>
							<p:message for="txt_fafechagiro"/>
						</h:panelGrid>
					
						<h:panelGrid columns="3">
							<h:outputLabel value="Observaciones:" for="txt_faobservacion"/>
							<p:inputTextarea id="txt_faobservacion" cols="160" rows="3"
								value="#{tramiteEmbarqueFacturaController.tramiteEmbarqueFacturaSeleccionado.tramiteEmbarqueFacturaSeleccionado.observacion}"
								maxlength="300">
								<f:validateLength maximum="500" />
							</p:inputTextarea>
							<p:message for="txt_faobservacion" />
							
							<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
								action="#{tramiteEmbarqueFacturaController.guardar}" 
								onsuccess="setTimeout(function(){$('#panelMensajes').html('');},1000);"/>
						</h:panelGrid>
					</p:panel>
					
				</p:tab>
				
				<p:tab title="Ord Desaduanamiento" id="tabViewOrdDesad">
					
					<p:panel>
						<h:panelGrid columns="3">
							
							<h:outputLabel value="Distrito Aduanero: " for="lst_dsaduana" styleClass="requerido"/>
							<p:selectOneMenu id="lst_dsaduana"
								value="#{tramiteEmbarqueDesaduanamientoController.tramiteEmbarqueDesaduanamientoSeleccionado.tramiteEmbarqueDesaduanamientoSeleccionado.distritoAduanero}"
								converter="#{distritoAduaneroConverter}" style="width: 220px !important;" panelStyle="width: 220px !important;" required="true">
								<f:selectItem itemLabel="Seleccione.." itemValue="" />
				            	<f:selectItems value="#{tramiteEmbarqueDesaduanamientoController.aduanas}" var="aduana" 
				            		itemValue="#{aduana}" itemLabel="#{aduana.nombre}" />							
			 				</p:selectOneMenu>
							<p:message for="lst_dsaduana"/>
							
							<h:outputLabel value="Agente Aduanero: " for="lst_dsagente"/>
							<h:outputLabel id="lst_dsagente" value=""/>
							<h:outputLabel for="lst_dsagente" value=""/>
							
						</h:panelGrid>
					
						<h:panelGrid columns="2">
							
							<p:fieldset legend="Datos de Importación" style="margin-bottom:20px">
								
								<h:panelGrid columns="2">
										
									<h:outputLabel value="Proveedor:"/>
									<h:outputLabel value="#{tramiteEmbarqueDesaduanamientoDataManager.proveedor}"/>
									
									<h:outputLabel value="Buque-Tanque:"/>
									<h:outputLabel value="#{tramiteEmbarqueDesaduanamientoDataManager.buque}"/>
									
									<h:outputLabel value="Producto:"/>
									<h:outputLabel value="#{tramiteEmbarqueDesaduanamientoDataManager.producto}"/>
									
									<h:outputLabel value="Volumen:"/>
									<h:outputLabel value="#{tramiteEmbarqueDesaduanamientoDataManager.volumen}"/>
									
									<h:outputLabel value="Flete:"/>
									<h:outputLabel value="#{tramiteEmbarqueDesaduanamientoDataManager.flete}"/>
									
									<h:outputLabel value="Valor DAT:"/>
									<h:outputLabel value="#{tramiteEmbarqueDesaduanamientoDataManager.valorDat}"/>
									
									<h:outputLabel value="Fecha BL:"/>
									<h:outputLabel value="#{tramiteEmbarqueDesaduanamientoDataManager.fechaBl}"/>
									
									<h:outputLabel value="Carta de Crédito:"/>
									<h:outputLabel value="#{tramiteEmbarqueDesaduanamientoDataManager.cartaCredito}"/>
									
									<h:outputLabel value="Adj-Contrato:"/>
									<h:outputLabel value="#{tramiteEmbarqueDesaduanamientoDataManager.adjudicacion}"/>
									
									<h:outputLabel value="Ventana:"/>
									<h:outputLabel value="#{tramiteEmbarqueDesaduanamientoDataManager.ventanaInicio} - #{tramiteEmbarqueDesaduanamientoDataManager.ventanaFin}"/>
									
								</h:panelGrid>
								
							</p:fieldset>

							<p:fieldset legend="Documentos Adjuntos" style="margin-bottom:20px">
								
								<h:panelGrid columns="2">
										
									 <h:panelGrid columns="3" cellpadding="5">
								        <h:outputLabel for="menu" value="Documentos:" />
								        <p:selectCheckboxMenu id="menu" value="#{tramiteEmbarqueDesaduanamientoController.documentosSeleccionados}" label="Documentos Seleccionados"
								                              filter="true" filterMatchMode="startsWith" style="width:600px" panelStyle="width:600px">
								            <f:selectItems value="#{tramiteEmbarqueDesaduanamientoController.documentos}" />
								        </p:selectCheckboxMenu>
								        <p:commandLink value="Actualizar Lista" update="display" rendered="false"/>
								    </h:panelGrid>
								 
								    <p:outputPanel id="display" style="width:300px;padding-left:5px;margin-top:10px" rendered="false">
								        <p:dataList value="#{tramiteEmbarqueDesaduanamientoController.documentosSeleccionados}" var="documento" 
								        	emptyMessage="No se seleccionado ningún documento">
								            #{documento}
								        </p:dataList>
								    </p:outputPanel>
									
								</h:panelGrid>
								
							</p:fieldset>
							
						</h:panelGrid>
						
						<h:panelGrid columns="1">
									
							<p:fieldset legend="Solicitud de Desaduanamiento" style="margin-bottom:20px">
								
								<h:panelGrid columns="9">
								
									<h:outputLabel value="Funcionario que Autoriza: " for="lst_dsfuncionario"/>
									<h:outputLabel id="lst_dsfuncionario" value="Pendiente"/>
									<h:outputLabel value="" for="lst_dsfuncionario"/>
															
									<h:outputLabel value="Número de Oficio: " for="txt_dsoficioaa" />
									<p:inputText id="txt_dsoficioaa" 
										value="#{tramiteEmbarqueDesaduanamientoController.tramiteEmbarqueDesaduanamientoSeleccionado.tramiteEmbarqueDesaduanamientoSeleccionado.numero}"
										style="width: 200px !important;">
									</p:inputText>
									<p:message for="txt_dsoficioaa"/>
									
									<h:outputLabel value="Fecha del Oficio:" for="txt_dsfechaaa"/>
									<p:calendar id="txt_dsfechaaa"
										value="#{tramiteEmbarqueDesaduanamientoController.tramiteEmbarqueDesaduanamientoSeleccionado.tramiteEmbarqueDesaduanamientoSeleccionado.fecha}"
										pattern="dd/MM/yyyy" locale="es">
									</p:calendar>
									<p:message for="txt_dsfechaaa" />

									<h:outputLabel value=""/>
									<h:outputLabel value=""/>
									<h:outputLabel value=""/>
									<h:outputLabel value=""/>
									<h:outputLabel value=""/>
									<h:outputLabel value=""/>
									
									<p:commandButton styleClass="activator boton doc" value="#{messages.lbl_gdocumento}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
										action="#{tramiteEmbarqueDesaduanamientoController.generarDocumento}"/>
										
									<p:commandButton styleClass="boton" value="#{messages.lbl_notificar}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
										action="#{tramiteEmbarqueDesaduanamientoController.generarDocumento}"/>
									
									<h:outputLabel value=""/>
								</h:panelGrid>
								
							</p:fieldset>
							
						</h:panelGrid>
						
						<h:panelGrid columns="1">
							<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}" update=":frmPrincipal, :frmPrincipal:tabViewMasterDetail, @form"
								action="#{tramiteEmbarqueDesaduanamientoController.guardar}" 
								onsuccess="setTimeout(function(){$('#panelMensajes').html('');},1000);"/>
						</h:panelGrid>
					</p:panel>
					
				</p:tab>
				
				<p:tab title="Documentación" id="tabViewDocumentos">
					<p:commandButton styleClass="crear" value="#{messages.lbl_nuevo}"
								update=":frmPrincipal:tabViewMasterDetail:tablaTramiteDocs, :formRegistroDoc:panelRegistroDoc, @form"
								action="#{tramiteEmbarqueGCCController.guardar}"
								actionListener="#{tramiteEmbarqueDocDigitalController.nuevoRegistro}"
								oncomplete="PF('popupRegistroDoc').show()" 
								onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);"/>
					<p:dataTable id="tablaTramiteDocs" rows="10" paginator="true"
						widgetVar="tablaTramiteDos"
						value="#{tramiteEmbarqueDocDigitalController.lTramiteEmbarquesDocDigital}"
						emptyMessage="#{messages.advertenciaNoHayDatos}" var="tramiteEmbarqueDocDigital"
						paginatorPosition="bottom"  styleClass="box-info"
						paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
						
						<p:column  headerText="#{messages.lbl_editar}" >
							<p:commandLink
								update=":formRegistroDoc:panelRegistroDoc"
								oncomplete="PF('popupRegistroDoc').show()"
								action="#{tramiteEmbarqueGCCController.guardar}"
								onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);">
								<h:graphicImage value="../resources/images/icons/pencil.png" />
								<f:setPropertyActionListener value="#{tramiteEmbarqueDocDigital}"
									target="#{tramiteEmbarqueDocDigitalController.tramiteEmbarqueDocDigitalSeleccionado.tramiteEmbarqueDocDigitalSeleccionado}" />
							</p:commandLink>
						</p:column>

						<p:column  headerText="#{messages.lbl_eliminar}" >
							<p:commandButton
								update=":frmPrincipal:tabViewMasterDetail:tablaTramiteDocs, @this" icon="ui-icon-trash"
								onclick="PF('widgetDeleteConfirmDialogDocDigital').show()" title="Eliminar Acción">
								<f:setPropertyActionListener value="#{tramiteEmbarqueDocDigital}"
									target="#{tramiteEmbarqueDocDigitalController.tramiteEmbarqueDocDigitalSeleccionado.tramiteEmbarqueDocDigitalSeleccionado}" />
							</p:commandButton>
						</p:column>
						
						
						<p:column headerText="Documento No." >
							<h:outputText value="#{tramiteEmbarqueDocDigital.numero}" />
						</p:column>

						<p:column headerText="Fecha" >
							<h:outputText value="#{tramiteEmbarqueDocDigital.fecha}">
								<f:convertDateTime pattern="yyyy-MM-dd"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="Fecha Recepción" >
							<h:outputText value="#{tramiteEmbarqueDocDigital.fechaRecepcion}">
								<f:convertDateTime pattern="yyyy-MM-dd"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="Fecha Envio" >
							<h:outputText value="#{tramiteEmbarqueDocDigital.fechaEnvio}">
								<f:convertDateTime pattern="yyyy-MM-dd"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="Tipo" >
							<h:outputText value="#{tramiteEmbarqueDocDigital.tipoDocumento.nombre}" />
						</p:column>
						
						<p:column headerText="Documento" >
							<h:outputText value="#{tramiteEmbarqueDocDigital.ruta}" />
						</p:column>
						

					</p:dataTable>	
					
				</p:tab>

			</p:tabView>

		</h:form>
		
		<!-- formularios para Registro BL -->
		<p:dialog modal="true" widgetVar="popupRegistroBL"
			id="popupRegistroBL">
			<f:facet name="header">
				<h:outputText value="Registro de BL" />
			</f:facet>
			<f:facet name="controls">
				<h:outputLink value="#"
					onclick="PF('popupRegistroBL').hide(); return false;">
					X
                </h:outputLink>
			</f:facet>
			
			<h:form id="formRegistroBL" prependId="false">
				<p:outputPanel id="panelRegistroBL">
					<h:panelGrid id="gridRegistroBL" columns="3">

						<h:outputLabel value="BL No: " for="txt_blnumero" styleClass="requerido" />
						<p:inputText id="txt_blnumero"
							value="#{tramiteEmbarqueRegistroBlController.tramiteEmbarqueRegistroBlSeleccionado.tramiteEmbarqueRegistroBlSeleccionado.numero}"
							style="width: 60px !important;" required="true">
						</p:inputText>
						<p:message for="txt_blnumero" />
						
						<h:outputLabel value="Fecha BL:" for="txt_blfecha" styleClass="requerido" />
						<p:calendar id="txt_blfecha"
							value="#{tramiteEmbarqueRegistroBlController.tramiteEmbarqueRegistroBlSeleccionado.tramiteEmbarqueRegistroBlSeleccionado.fecha}"
							pattern="dd/MM/yyyy" required="true" locale="es">
						</p:calendar>
						<p:message for="txt_blfecha" />
						
						<h:outputLabel value="Volumen: " for="txt_blvolumen" styleClass="requerido" />
						<p:inputText id="txt_blvolumen"
							value="#{tramiteEmbarqueRegistroBlController.tramiteEmbarqueRegistroBlSeleccionado.tramiteEmbarqueRegistroBlSeleccionado.volumen}"
							style="width: 150px !important;" required="true" styleClass="soloNumeros">
    						<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
				    		<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    		<p:ajax event="blur" update="@this" />
						</p:inputText>
						<p:message for="txt_blvolumen" />

						<h:outputLabel value="Precio por Barril: " for="txt_blprecio" />
						<p:inputText id="txt_blprecio"
							value="#{tramiteEmbarqueRegistroBlController.tramiteEmbarqueRegistroBlSeleccionado.tramiteEmbarqueRegistroBlSeleccionado.valor}"
							style="width: 150px !important;" required="true" styleClass="soloNumeros">
							<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
				    		<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    		<p:ajax event="blur" update="@this" />
						</p:inputText>
						<p:message for="txt_blprecio" />


						<f:facet name="footer">
							<h:panelGrid columns="2">
								<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}"
									update=":frmPrincipal:tabViewMasterDetail:tablaTramiteBls, :formRegistroBL:panelRegistroBL, @form"
									actionListener="#{tramiteEmbarqueRegistroBlController.guardar}"/>
								<p:commandButton styleClass="cancelar" value="#{messages.lbl_cancelar}" action="#"
									onclick="PF('popupRegistroBL').hide(); return false;"/>
							</h:panelGrid>
						</f:facet>

					</h:panelGrid>
				</p:outputPanel>
			</h:form>

		</p:dialog>

		<p:confirmDialog message="Está seguro que desea eliminar?"
			widgetVar="widgetDeleteConfirmDialog" header="Advertencia"
			severity="alert">
			<p:commandButton styleClass="boton" value="Si"
				action="#{tramiteEmbarqueRegistroBlController.eliminar}"
				update=":frmPrincipal:tabViewMasterDetail:tablaTramiteBls"
				oncomplete="PF('widgetDeleteConfirmDialog').hide(); return false;" 
				onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);"/>
			<p:commandButton styleClass="boton" value="No"
				oncomplete="PF('widgetDeleteConfirmDialog').hide()" />
		</p:confirmDialog>
		
		<!-- formularios para Descarga -->
		<p:dialog modal="true" widgetVar="popupDescarga"
			id="popupDescarga">
			<f:facet name="header">
				<h:outputText value="Registro de Descarga" />
			</f:facet>
			<f:facet name="controls">
				<h:outputLink value="#"
					onclick="PF('popupDescarga').hide(); return false;">
					X
                </h:outputLink>
			</f:facet>
			
			<h:form id="formDescarga" prependId="false">
				<p:outputPanel id="panelDescarga">
					<h:panelGrid id="gridDescarga" columns="3">

						<h:outputLabel value="Fecha Inicio:" for="txt_defechainicio" styleClass="requerido" />
						<p:calendar id="txt_defechainicio"
							value="#{tramiteEmbarqueDescargaDataManager.tramiteEmbarqueDescargaSeleccionado.fechaInicio}"
							pattern="dd/MM/yyyy" required="true" locale="es">
						</p:calendar>
						<p:message for="txt_defechainicio" />
						
						<h:outputLabel value="Fecha Fin:" for="txt_defechafin" styleClass="requerido" />
						<p:calendar id="txt_defechafin"
							value="#{tramiteEmbarqueDescargaDataManager.tramiteEmbarqueDescargaSeleccionado.fechaFin}"
							pattern="dd/MM/yyyy" required="true" locale="es">
						</p:calendar>
						<p:message for="txt_defechafin" />
						
						<h:outputLabel value="Volumen: " for="txt_devolumen" styleClass="requerido" />
						<p:inputText id="txt_devolumen"
							value="#{tramiteEmbarqueDescargaDataManager.tramiteEmbarqueDescargaSeleccionado.volumen}"
							style="width: 150px !important;" required="true" styleClass="soloNumeros">
							<f:validateDoubleRange minimum="0.00000" maximum="99999999999999.99999"/>
				    		<f:convertNumber locale="es_EC" pattern="####,###.####" minFractionDigits="2"/>
				    		<p:ajax event="blur" update="@this" />
						</p:inputText>
						<p:message for="txt_devolumen" />

						<h:outputLabel value="Puerto:" for="lst_depuertos" styleClass="requerido"/>
						<p:selectOneMenu id="lst_depuertos"  
							value="#{tramiteEmbarqueDescargaDataManager.tramiteEmbarqueDescargaSeleccionado.puertoDescarga}"
							converter="#{puertoDescargaConverter}" style="width: 621px !important;" required="true">
			            	<f:selectItem itemLabel="Seleccione.." itemValue="" />
			            	<f:selectItems value="#{tramiteEmbarqueDescargaController.puertos}" var="puerto" itemValue="#{puerto}" itemLabel="#{puerto.nombre}" />							
   						</p:selectOneMenu>
						<p:message for="lst_depuertos" />

						<f:facet name="footer">
							<h:panelGrid columns="2">
								<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}"
									update=":frmPrincipal:tabViewMasterDetail:tablaDescargas, :formDescarga:panelDescarga, @form"
									actionListener="#{tramiteEmbarqueDescargaController.guardar}"/>
								<p:commandButton styleClass="cancelar" value="#{messages.lbl_cancelar}" action="#"
									onclick="PF('popupDescarga').hide(); return false;"/>
							</h:panelGrid>
						</f:facet>

					</h:panelGrid>
				</p:outputPanel>
			</h:form>

		</p:dialog>

		<p:confirmDialog message="Está seguro que desea eliminar?"
			widgetVar="widgetDeleteConfirmDialogDescarga" header="Advertencia"
			severity="alert">
			<p:commandButton styleClass="boton" value="Si"
				action="#{tramiteEmbarqueDescargaController.eliminar}"
				update=":frmPrincipal:tabViewMasterDetail:tablaDescargas"
				oncomplete="PF('widgetDeleteConfirmDialogDescarga').hide(); return false;" 
				onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);"/>
			<p:commandButton styleClass="boton" value="No"
				oncomplete="PF('widgetDeleteConfirmDialogDescarga').hide()" />
		</p:confirmDialog>
				
		<!-- formularios para Registro de Documentos digitales -->
		<p:dialog modal="true" widgetVar="popupRegistroDoc"
			id="popupRegistroDoc">
			<f:facet name="header">
				<h:outputText value="Registro de Documentos Digitales" />
			</f:facet>
			<f:facet name="controls">
				<h:outputLink value="#"
					onclick="PF('popupRegistroDoc').hide(); return false;">
					X
                </h:outputLink>
			</f:facet>
			
			<h:form id="formRegistroDoc" prependId="false">
				<p:outputPanel id="panelRegistroDoc">
					
					<h:panelGrid id="gridRegistroDoc" columns="3">

						<h:outputLabel value="Tipo Documento: " for="lst_dgtipodoc"/>
						<p:selectOneMenu id="lst_dgtipodoc"
							value="#{tramiteEmbarqueDocDigitalController.tramiteEmbarqueDocDigitalSeleccionado.tramiteEmbarqueDocDigitalSeleccionado.tipoDocumento}"
							converter="#{tipoDocumentoConverter}" style="width: 200px !important;" panelStyle="width:200px !important;" >
							<f:selectItem itemLabel="Seleccione.." itemValue="" />
			            	<f:selectItems value="#{tramiteEmbarqueDocDigitalController.tipoDocumentos}" var="tipodoc" 
			            		itemValue="#{tipodoc}" itemLabel="#{tipodoc.nombre}" />							
		 				</p:selectOneMenu>
		 				<p:message for="lst_dgtipodoc"/>
						
						<h:outputLabel value="Fecha Ingreso:" for="txt_dgfechaIng" styleClass="requerido" />
						<p:calendar id="txt_dgfechaIng"
							value="#{tramiteEmbarqueDocDigitalController.tramiteEmbarqueDocDigitalSeleccionado.tramiteEmbarqueDocDigitalSeleccionado.fecha}"
							pattern="dd/MM/yyyy" required="true" locale="es">
						</p:calendar>
						<p:message for="txt_dgfechaIng" />
					
						<h:outputLabel value="Número de Documento: " for="txt_dgnumero" />
						<p:inputText id="txt_dgnumero" 
							value="#{tramiteEmbarqueDocDigitalController.tramiteEmbarqueDocDigitalSeleccionado.tramiteEmbarqueDocDigitalSeleccionado.numero}"
							style="width: 200px !important;">
						</p:inputText>
						<p:message for="txt_dgnumero"/>
			
						<h:outputLabel value="Proveedor:"/>
						<h:outputLabel value="Pendiente"/>
						<h:outputLabel value=""/>
						
						<h:outputLabel value="Institucion:"/>
						<h:outputLabel value="Pendiente"/>
						<h:outputLabel value=""/>
						
						<h:outputLabel value="Observaciones: " for="txt_dgobservacion"/>
						<p:inputTextarea id="txt_dgobservacion" cols="100" rows="3"
							value="#{tramiteEmbarqueDocDigitalController.tramiteEmbarqueDocDigitalSeleccionado.tramiteEmbarqueDocDigitalSeleccionado.observacion}"
							maxlength="300">
							<f:validateLength maximum="500" />
						</p:inputTextarea>
						<p:message for="txt_dgobservacion" />
						
						<h:outputLabel value="Fecha Envio:" for="txt_dgfechaEnv"/>
						<p:calendar id="txt_dgfechaEnv"
							value="#{tramiteEmbarqueDocDigitalController.tramiteEmbarqueDocDigitalSeleccionado.tramiteEmbarqueDocDigitalSeleccionado.fechaEnvio}"
							pattern="dd/MM/yyyy" locale="es">
						</p:calendar>
						<p:message for="txt_dgfechaEnv" />
						
						<h:outputLabel value="Fecha Recepción:" for="txt_dgfechaRec"/>
						<p:calendar id="txt_dgfechaRec"
							value="#{tramiteEmbarqueDocDigitalController.tramiteEmbarqueDocDigitalSeleccionado.tramiteEmbarqueDocDigitalSeleccionado.fechaRecepcion}"
							pattern="dd/MM/yyyy" locale="es">
						</p:calendar>
						<p:message for="txt_dgfechaRec" />
						

						<f:facet name="footer">
							<h:panelGrid columns="2">
								<p:commandButton styleClass="guardar" value="#{messages.lbl_grabar}"
									update=":frmPrincipal:tabViewMasterDetail:, :frmPrincipal:tabViewMasterDetail:tablaTramiteDocs, :formRegistroDoc:panelRegistroDoc, @form"
									actionListener="#{tramiteEmbarqueDocDigitalController.guardar}"/>
								<p:commandButton styleClass="cancelar" value="#{messages.lbl_cancelar}" action="#"
									onclick="PF('popupRegistroDoc').hide(); return false;"/>
							</h:panelGrid>
						</f:facet>

					</h:panelGrid>
				</p:outputPanel>
			</h:form>

		</p:dialog>

		<p:confirmDialog message="Está seguro que desea eliminar?"
			widgetVar="widgetDeleteConfirmDialogDocDigital" header="Advertencia"
			severity="alert">
			<p:commandButton styleClass="boton" value="Si"
				action="#{tramiteEmbarqueDocDigitalController.eliminar}"
				update=":frmPrincipal:tabViewMasterDetail:, :frmPrincipal:tabViewMasterDetail:tablaTramiteDocs"
				oncomplete="PF('widgetDeleteConfirmDialogDocDigital').hide(); return false;" 
				onsuccess="setTimeout(function(){$('#panelMensajes').html('');},0);"/>
			<p:commandButton styleClass="boton" value="No"
				oncomplete="PF('widgetDeleteConfirmDialogDocDigital').hide()" />
		</p:confirmDialog>
		
	</ui:define>
</ui:composition>
</html>