<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../templates/layout_negocio.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="frmTramiteEmbarqueCPC">
			<p:outputPanel id="panelMensajes" rendered="true" autoUpdate="true">
				<p:messages globalOnly="true" showDetail="false" redisplay="true" closable="true"/>
			</p:outputPanel>
			<p:panel>
			<p:commandButton styleClass="crear" value="#{messages.lbl_nuevo}"
						action="#{tramiteEmbarqueCalculoPrecioController.nuevoRegistro}" />
				<p:dataTable id="tablaRegistro" rows="10" paginator="true"
					value="#{tramiteEmbarqueCalculoPrecioController.ltramiteEmbarqueCalculoPrecios}"
					emptyMessage="#{messages.advertenciaNoHayDatos}" var="tramiteE"
					paginatorPosition="bottom"  styleClass="box-info"
					paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
					
					<p:column >
						<p:commandLink update="@this"
							action="#{tramiteEmbarqueCalculoPrecioController.editar}">
							<h:graphicImage value="../resources/images/icons/pencil.png" />
							<f:setPropertyActionListener value="#{tramiteE}"
								target="#{tramiteEmbarqueCalculoPrecioController.tramiteEmbarqueCalculoPrecioSeleccionado.tramiteEmbarqueCalculoPrecioSeleccionado}" />
						</p:commandLink>
						<p:commandButton update="@this" icon="ui-icon-trash"
							oncomplete="PF('widgetDeleteConfirmDialog').show()" title="Eliminar Acción">
							<f:setPropertyActionListener value="#{tramiteE}"
								target="#{tramiteEmbarqueCalculoPrecioController.tramiteEmbarqueCalculoPrecioSeleccionado.tramiteEmbarqueCalculoPrecioSeleccionado}" />
						</p:commandButton>
					</p:column>
					
					<p:column headerText="Volumen en Barriles" >
						<h:outputText value="#{tramiteE.volumenInicial}" />
					</p:column>
					<p:column headerText="Precio" >
						<h:outputText value="#{tramiteE.precio}" />
					</p:column>
					
					
				</p:dataTable>
			</p:panel>
		</h:form>
	
		<p:confirmDialog message="Está seguro que desea eliminar?"
			widgetVar="widgetDeleteConfirmDialog"
			header="Advertencia" severity="alert">
			<p:commandButton styleClass="boton" value="Si" action="#{tramiteEmbarqueCalculoPrecioController.eliminar}"
				update=":frmTramiteEmbarqueCPC:tablaRegistro" oncomplete="PF('widgetDeleteConfirmDialog').hide()" />	
					
			<p:commandButton styleClass="boton" value="No" oncomplete="PF('widgetDeleteConfirmDialog').hide()" />
		</p:confirmDialog>
		
	</ui:define>
</ui:composition>
</html>
