<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<f:view locale="#{localeBean.locale}" contentType="text/html">
	<h:head>

	</h:head>
	<h:body>
		<h:outputStylesheet library="css" name="template.css" />
		<h:outputStylesheet library="css" name="responsive.css" />
		<h1 class="logo_inicio">
			<h:graphicImage
				value="/resources/images/logos/petroecuador_blanco.png"
				title="Petroecuador" />
		</h1>
		<h2 class="introtitle">Acceder</h2>
		<p:messages id="msgs" showDetail="true" redisplay="true"
			autoUpdate="false" closable="true" severity="true" />
		<h:form>
			<h:panelGroup styleClass="login" layout="block">
				<h:outputLabel styleClass="etiquetas" value="Usuario"
					style="font-family:Verdana" />
				<h:inputText value="#{loginBean.user.username}" />
				<h:outputLabel styleClass="etiquetas" value="Contraseña" />
				<h:inputSecret value="#{loginBean.user.password}" />
				<h:outputLabel styleClass="etiquetas" />
				<h:panelGroup layout="block">
					<h:commandButton value="Ingresar" action="#{loginBean.isLogin}"
						styleClass="inicio1" tabindex="0"  />
				</h:panelGroup>
			</h:panelGroup>
		</h:form>
		<div class="footer">Powered by CONSORCIO QUALITY-CORPORATIVA ©
			2015 - Todos los derechos reservados</div>
	</h:body>
</f:view>
</html>